[2015-08-18 23:12] locks commented on #612
I remember some discussion about potential problems with `<base>`, I was even under the impression it was to be removed.

[2015-08-18 23:14] locks opened #613 "Lint code snippets"
Lint code snippets and fail the build if they don't pass.

[2015-08-19 02:00] greyhwndz commented on #445
I also agree that Routes should first be introduced since it is more fundamental to Ember. Models will come in later. I find a 'slice-of-things' approach important where the new user is exposed to the fundamental Routes --> Template then revealing the Controller and then eventually the Model effective. Ensuring a clear understanding on the functional relationship between these sure does provide a

[2015-08-19 02:16] wldcordeiro commented on #445
I have no particular affinity for the order I suggested. I only threw it out there to get the conversation going as to how to write the tutorial. @locks  @MarkMT

[2015-08-19 02:18] wldcordeiro commented on #445
@greyhwndz

I like that idea, I think it'd be cool to show the new user first how to make an app the straight forward way and then how to port it to use pods?

[2015-08-19 02:18] greyhwndz commented on #445
@wldcordeiro: I think your list is great and should be taken in the context of good intention. It's an important step towards coming up with something and you should be thanked for it :+1:

[2015-08-19 02:20] greyhwndz commented on #445
@wldcordeiro: Exactly. I think the pods have is important in the implementation of Components and in architecting an ambitious Ember app. I hope we also get 'meta' as in we also do an ambitious guide/tutorial to creating ambitious Ember apps :wink:

[2015-08-19 03:04] davidpett commented on #612
To further the confusion, both statements are correct. You use `baseURL` when you are deploying the app (meaning all app assets) to somewhere other than the domain root that it is served on (something like s3). In contrast, `rootURL` is used when the _application root_ is a sub directory on the domain

[2015-08-19 03:24] gjastrab opened #614 "Components > Composing Components Section inconsistently has pod based example"
In the [Data Down](http://guides.emberjs.com/v2.0.0/components/composing-components/#toc_data-down) paragraph/subsection it introduces a template with a pod-based filepath for (I believe) the first time if sequentially reading the guides.

`app/users/template.hbs`

Wouldn't that be more consistent to be `app/templates/users.hbs`?

[2015-08-19 03:33] michaelrkn commented on #614
Good catch! I think it would be `app/templates/components/users.hbs`, right?

@locks can you double-check me here?

@gjastrab could you open a PR to fix this?

Thanks!

[2015-08-19 04:24] gjastrab commented on #614
@michaelrkn no this is referring to the template which uses the component being described.  Looks like all earlier examples always just refer to the main index: `app/templates/index.hbs` - perhaps that would be most appropriate?

[2015-08-19 04:26] michaelrkn commented on #602
Also, as always, many small PRs are better than one large one - easier to review, faster to get feedback, more gets merged faster! Don't wait to open PRs until you are done reviewing your entire section - open PRs as soon as possible. Thanks!!

[2015-08-19 04:34] michaelrkn commented on #614
Oh I see what you're saying. Makes sense to me. But on the subject, are pods used anywhere else in the Guides? If not, we shouldn't use them here.

[2015-08-19 05:19] greyhwndz commented on #449
Would the new Models section follow the sub-sections found in the currently outdated Models guide?

[2015-08-19 05:42] michaelrkn commented on #602
@greyhwndz would you be interested in picking up one of the remaining sections?

[2015-08-19 07:26] greyhwndz commented on #542
I think this may be a good thing for the learning experience of the those who continues or starts to engage in developing ambitious Ember apps. I think part of delivering a framework to the community to create ambitious Ember apps is the delivery of an ambitious Ember guide that will truly serve as a 'guide' on aspects that the framework is trying to make it easy for the developer. I would like to

[2015-08-19 07:33] greyhwndz commented on #560
@kagemusha: I agree this would be helpful since I could see lots of questions regarding this on forums. I was just wondering if a title like "Manipulating Models thru their Relationships" would make this easily understandable?

[2015-08-19 07:41] greyhwndz commented on #602
@michaelrkn maybe Components

[2015-08-19 09:43] locks commented on #614
Pods are not to be used until the RFC lands.

[2015-08-19 09:48] locks commented on #585
I'm closing this issue since we've discussed the topic and decided on our way forward. Thanks for the feedback @MarkMT :)

[2015-08-19 09:48] #585 closed

[2015-08-19 09:49] #582 closed

[2015-08-19 09:56] locks commented on #449
Nope.

I believe we will document how to write custom adapters/serializers to some extent.

[2015-08-19 10:03] locks commented on #604
![screen shot 2015-08-19 at 11 01 19](https://cloud.githubusercontent.com/assets/32344/9353640/c0f1e25e-4661-11e5-842a-27082877b96b.png)

Hm, we already do a 302. I don't think a 301 is the right status here, since we will be constantly changing it with each new release.

[2015-08-19 12:24] MarkMT commented on #585
Best wishes :)

[2015-08-19 12:29] greyhwndz commented on #542
I would just like to clarify my line of thinking and intentions in my comment above because it may appear 'demanding' to some or worse a negative 'critic' of what we have.  Since we have an opportunity to come up with something of an improvement with the guides, I thought I'd give a shot of sharing my line of thought as to why things could be done to improve things. I hope this won't be taken as s

[2015-08-19 13:42] MarkMT commented on #542
I agree that the guides should make it clear that the model() hook is not inherently bound to Ember Data and can return something as simple as a POJO literal. My reason for saying this is less to do with wanting to identify the different ways in which the framework can be used in practice than a belief that it's important for people who are new to the framework to be able to see the key architectu

[2015-08-19 14:15] greyhwndz commented on #449
What I mean is in the illustration @locks

[2015-08-19 14:20] HeroicEric commented on #449
Another thing that I think people run into a lot and should be shown is how to save associated models

[2015-08-19 20:50] greyhwndz commented on #449
I agree with this. And I think not just saving but other type of manipulation of the associated models in the context of a collection/list.

[2015-08-19 20:52] jayphelps commented on #612
Further reading:

* [HistoryLocation doesn't use baseURL correctly](https://github.com/emberjs/ember.js/issues/5334)
* [Kill `<base>` tag](https://github.com/ember-cli/ember-cli/issues/2633)

[2015-08-19 21:27] greyhwndz commented on #614
@locks: What is the state for the Pods RFC?

[2015-08-19 23:21] michaelrkn commented on #507
@mixonic any progress here?

[2015-08-20 00:47] locks commented on #614
@greyhwndz I am not sure, but I haven't had word that the new structure is finalized.

[2015-08-20 02:07] #614 closed

[2015-08-20 02:52] locks commented on #542
@greyhwndz like we discussed on Slack, I was not offended, and we're trying to make the guides development as public as we can exactly so people can give their feedback which is valuable for the team.
What I suggested is trying to focus on actionable items (e.g. "I suggest this structure" and not "this structure should be improved") so we can have discussions about it and improve. I don't think an

[2015-08-20 04:05] josemarluedke opened #621 "Add a list of supported event type name on actions"
Hi there. I think would be very helpful to have the list of events names that we can use when specifying  a action, e.g. `action 'someAction' on="submit"`.

I assume that the best place for it would be here: http://guides.emberjs.com/v2.0.0/templates/actions/#toc_specifying-the-type-of-event Also, I tried out that example with the dash in the name and didn't worked (ember v2.0.0). Digging a little

[2015-08-20 04:20] josemarluedke opened #622 "Component lifecycle hooks"
Would be good to have a clear vision of the component life cycle, at this time I couldn't find a clear one.

We have the events in [API component doc](http://emberjs.com/api/classes/Ember.Component.html) and then we have [this blog post](http://emberjs.com/blog/2015/05/24/another-two-oh-status-update.html#toc_new-lifecycle-hooks) talking about new life cycles that is not in the API. It's confusing

[2015-08-20 10:59] gustavoguichard commented on #621
+1

[2015-08-20 13:04] acorncom commented on #604
@locks Good point about the 301 vs 302.  Guess I was thinking that a redirect from 'stable' to '2.0.0' might be able to be setup though ...  Think it's doable?

[2015-08-20 13:13] acorncom commented on #609
Sounds good, closing it now.

[2015-08-20 13:13] #609 closed

[2015-08-20 13:15] acorncom opened #624 "Document that we support change highlighting"
Ran across this pull request today (https://github.com/emberjs/guides/pull/144).  @locks @michaelrkn did either of you know we support this?  Seems like it could be quite handy for longer guides (probably the tutorial?).

Want me to send in a pull request to document it in the contributing file?

[2015-08-20 13:30] acorncom commented on #624
If we want to start doing this on the site, I'll open a separate issue to track the various places that need updating ...

[2015-08-20 13:31] acorncom commented on #448
@michaelrkn thanks, will do :+1: Should we change the milestone on this then?  I started pitching in here to help because looked like it was desired soon.  Are we using the "help wanted" label for higher priority items?

[2015-08-20 13:34] acorncom commented on #602
@michaelrkn We're still looking for help on Components apparently ...

[2015-08-20 13:45] morganick opened #625 "[Typo] Section: Managing Dependencies"
https://github.com/emberjs/guides/blob/master/source/addons-and-dependencies/managing-dependencies.md#javascript-assets-exporting-a-globals

Was the intent to say "Export Javascript assets as globals"?

[2015-08-20 13:48] morganick opened #626 "[Typo] Section: Configuring Your App"
https://github.com/emberjs/guides/blob/master/source/configuring-ember/configuring-your-app.md

In the third bullet point, `production` is spelled incorrectly.

[2015-08-20 14:05] morganick opened #627 "[Typo] Guide: Disabling Prototype Extensions"
https://github.com/emberjs/guides/blob/master/source/configuring-ember/disabling-prototype-extensions.md

"Or you can choose `class which` you want to disable prototype extension by `added a property` to your application's configuration:"

**Could read:**

"Or you can choose `which class` you want to disable prototype extension by `adding` a property to your application's configuration:"

**Maybe

[2015-08-20 14:24] morganick opened #628 "[Brevity & Clarity] Guide: Configuring Ember CLI"
https://github.com/emberjs/guides/blob/master/source/configuring-ember/configuring-ember-cli.md

"If you wish to make this change a permanent configuration change, change the .ember-cli file like:"

That's too much change. Also, if you already have an `.ember-cli` file with configuration options. You shouldn't change it to the following, but add the port to your current configuration.

**Change to

[2015-08-20 14:27] SaladFork commented on #628
The "the" is still hanging, how about:

[2015-08-20 14:44] michaelrkn commented on #624
Oh interesting. I'm not sure where it would be useful in the Guides besides the tutorial though.

[2015-08-20 14:45] michaelrkn commented on #448
Good call. Removed the milestone. In general, the things we want help with are labelled "help wanted" :) Otherwise they are likely being worked on by somebody else or low-priority.

[2015-08-20 14:53] morganick commented on #628
:+1:

[2015-08-20 14:55] mixonic commented on #507
Yup. Still plowing through the sections leading up to it to get the high-level things in place. Nearly there.

[2015-08-20 15:25] michaelrkn commented on #626
Thanks for catching all of these typos! For little stuff like this, I think we can get it resolved most quickly if you just open PRs with the appropriate changes. In places where you aren't confident if your recommendation is correct, open a PR anyways and then comment about your uncertainty - if it turns out your change is right, we can just merge it in, and if we need to change something, we can

[2015-08-20 15:30] acorncom commented on #624
![screen shot 2015-08-20 at 9 29 08 am](https://cloud.githubusercontent.com/assets/802505/9387484/f23f2616-471d-11e5-8923-d30cc41425c9.png)

?

I've noticed a number of places just looking through the templates where this type of short, additional snippet is added.  Doesn't seem urgent, but does seem like it could be a nice touch to the guides over time.

[2015-08-20 15:31] morganick commented on #626
No problem. I'll create PR's for them later today.

[2015-08-20 15:31] michaelrkn commented on #507
Sweet!

[2015-08-20 16:21] locks commented on #624
@acorncom this ties in with a general confusion about the code snippets in the guides and the fact that most of them are partial (hence no copy pasting), so we have to address it from that angle as well.

[2015-08-20 16:38] locks commented on #622
I believe someone is currently handling the components section, will confirm during today's meeting.

[2015-08-20 16:40] locks commented on #625
Some assets provide globals instead of modules (whether AMD, etc), so that header is about that. But "exporting a globals" seems grammatically wrong :P

[2015-08-20 17:05] morganick commented on #625
I wasn't sure what it was trying to say.

[2015-08-20 17:08] locks commented on #625
Not sure how to phrase it as a short header

[2015-08-20 19:54] #628 closed

[2015-08-20 19:55] #626 closed

[2015-08-20 19:55] #627 closed

[2015-08-20 20:48] trek commented on #612
I'm going to schedule time with @rwjblue to clarify this

[2015-08-20 20:49] trek commented on #501
Will try to get a PR addressing this in the coming week

[2015-08-20 21:07] michaelrkn opened #634 "Change all double quotes to single quotes"
Per https://github.com/emberjs/ember.js/blob/master/STYLEGUIDE.md#strings.

[2015-08-21 03:09] vikram7 commented on #625
Just submitted a PR [635](https://github.com/emberjs/guides/pull/635) to help resolve some of the confusion.

[2015-08-21 04:20] michaelrkn commented on #613
@rwjblue is there something in the Ember.js codebase that could be re-used here?

[2015-08-21 04:29] #560 closed

[2015-08-21 04:30] michaelrkn commented on #449
As noted in #459, on http://guides.emberjs.com/v1.13.0/models/persisting-records/, the second code example under the Promises topic looks almost the same as the first. Let's try to clarify what is going on differently between the two.

[2015-08-21 16:25] HeroicEric commented on #634
@michaelrkn in templates too? I usually use double-quotes in templates because HTML so wanted to clarify

[2015-08-21 16:34] michaelrkn commented on #634
@rwjblue can you give some guidance here?

[2015-08-21 17:20] rwjblue commented on #634
JS === single quotes
HTML / HBS === double quotes

Ember styleguide doesn't really address templates because there are very very few templates in the Ember repo.

[2015-08-21 17:30] HeroicEric commented on #634
working on this now

[2015-08-21 17:45] #625 closed

[2015-08-21 19:02] trek opened #639 "Improve Guides organization"
This reopens discussion around #450 (and supersedes it because it contains a bit more information)

The guides/docs subteam met some time ago and brainstormed a new organization for the guides. This issue tracks those proposed changes and the work to migrate current guides to that. Feedback is very welcome.

## High-level Table of Contents

Below is the proposed "top level" headings for a table of

[2015-08-21 19:07] stefanpenner commented on #639
@iagox86 and myself are interested in working on the security document. Our timeline isn't asap, rather in the next few months. So if someone else has a short term plan, our interest should not block it.

[2015-08-21 19:18] josenberg commented on #634
Why the use of quotes was defined this way?

[2015-08-21 19:41] eccegordo commented on #639
Apologies for the verbosity...

But I think there should be a section called
"The Ember Philosophy"
or
"Architecture and best practices"
or
"How Ember opinions are informed"
or
something along these lines

The idea is that this section would be a general, well thought out, well debated, visually rich (diagrams), overview of the ember system from a 10,000 foot view.

So so so much opinion, contenti

[2015-08-21 20:16] #634 closed

[2015-08-21 20:34] michaelrkn commented on #639
When I look at the proposed Breakout sections, some of them don't seem like they warrant a section all to themselves, especially:

* Installation
* Upgrading
* Security
* Deploying
* Glossary

Each of these is probably short enough to just be a single page within some other section, except for Security, which probably should be a topic covered throughout the Guides wherever appropriate rather than

[2015-08-21 20:43] trek commented on #639
There is nothing to keep a section from being just a single page if that is all the content it needs. The point of the top level of ToC is discoverability.

[2015-08-21 20:46] trek commented on #639
is still true for the tutorial and core sections. It doesn't make sense for more break out to be read in any particular order.

[2015-08-21 21:45] michaelrkn commented on #639
The more sections there are, the less discoverable any section is. In my total uninformed unprofessional personal opinion based only my own experiences, once you get more than around 10 sections, it's overwhelming both for a new person seeing the content for the first time, and for a returning person trying to find what they're looking for. The trade-off of course is when you limit the number of s

[2015-08-21 23:23] eccegordo commented on #639
My experience is that consistency and cogency matter the most at the top level. A well thought top level hierarchy matters in that it helps hint where things beneath it are. When starting out I always felt like it was hard to find things I know I had read before in the second tier. Part of this was a mismatch with my own cognitive map of where I thought things "should be".

Maybe more more cross r

[2015-08-21 23:40] gjastrab opened #643 "Testing Controllers section uses `needs` in example"
This has been removed in 2.0.0 yet is [an example](https://github.com/emberjs/guides/blob/e4e7978542bffa2fb8f8975aa572c60a4e8a8989/source/testing/testing-controllers.md#testing-controller-needs) in the v2.0.0 version of the guides.

[2015-08-21 23:56] gjastrab commented on #643
was `needs` in a controller test also deprecated and replaced with something else?

[code]

[2015-08-22 00:37] michaelrkn commented on #542
Only places left here are routes, which I'm working on; models, which bmac and tomdale are on, and components, which is fixed by #644. Closing.

[2015-08-22 00:37] #542 closed

[2015-08-22 00:40] diogomafra commented on #639
I have a few comments:

- I'd include a section about "Extending Ember". This section should explain how to use ember-cli addons, bower/npm packages and how to properly use jquery components (didInsertElement...).
- Rename the section "Inspector" to "Debugging" (inspector and tips).
- Include a section about the release process. Maybe this can be explained in the section "Upgrading".

[2015-08-22 01:54] locks opened #645 "Improve guides' index"
Currently the guides' index is very barebones and could do with some sprucing.
- [ ] Give an overview of how the guides are structured
- [ ] Explain the "philosophy" of the guides
- [ ] Explain how to read them (there will be "notes", how to follow links/API docs)

cc @eccegordo

[2015-08-22 02:06] locks commented on #639
* http://guides.emberjs.com/v2.0.0/addons-and-dependencies/managing-dependencies/
* how to wrap jQuery components belongs in the a cookbook, like emberwatch.com/cookbook

That should be in http://emberjs.com/builds, not the guides. Especially because said explanation is going to get more expensive with the introduction of TLS.

[2015-08-22 02:45] locks commented on #639
@eccegordo https://github.com/emberjs/guides/issues/639#issuecomment-133539929

...

I believe part of this is to be addressed in a rewritten "Core Concepts" (see https://github.com/emberjs/guides/pull/556#issuecomment-131400832 an related), since the current one is more of a glossary. And another part of it is communicated, possibly in a more implicit way, by both the conventions of Ember/Ember C

[2015-08-22 03:39] eccegordo commented on #639
@locks "Core Concepts" sounds like a good category name. It sounds to me like the high level outline would look like this?

[code]

I just want to see a single jumping off point for all the tangential conceptual stuff. The "why" of things. Along with narrative, this could also link to specific blog posts, RFCs, discussions and other areas where these concepts are enumerated in much more detail.

A

[2015-08-22 15:31] xudaiqing commented on #639
I think breakout section maybe better become a seperate thing, maybe call it handbook.
Because I think there so many can put into it. Remove it from guide will make guide clean and simple. It can also better organized if it isn't part of guide.

[2015-08-22 18:06] jonathanKingston commented on #639
@michaelrkn I agree with your comment somewhat about security, as a desperate section does make it somewhat an afterthought.

**However** I actually think there is room for both. Some topics just won't fit within any other section than a dedicated security page/category. For example CSP and SRI both are in this category and yes! @stefanpenner I will help as much as possible. As part of my CSP RFC

[2015-08-22 18:28] michaelrkn commented on #643
@trek maybe you can address this as part of your review of the Testing section?

[2015-08-22 18:30] rwjblue commented on #643
`needs` in ember-qunit unit tests is not deprecated

[2015-08-22 18:34] michaelrkn commented on #639
This is actually a good point in general - as @trek and I discussed earlier, there are several concepts (installing, upgrading, stylesheets, and CSP come to mind) that are important for every Ember dev to understand, but if they are their own section, they would just be a single page. My suggestion is to have these important but short topics covered in the tutorial - that way, every new Ember dev

[2015-08-22 18:34] michaelrkn commented on #459
Closing since this will be addresses in #449.

[2015-08-22 18:34] #459 closed

[2015-08-22 18:37] michaelrkn commented on #472
@locks can you outline in more detail what needs to be done here?

[2015-08-22 20:57] gjastrab commented on #643
PR opened to at least replace `needs` with `inject` in the controller examples

[2015-08-22 21:37] #643 closed

[2015-08-23 17:56] igorT opened #653 "Automatic caching section needs to be updated for 1.13"
http://guides.emberjs.com/v2.0.0/models/#toc_automatic-caching

[2015-08-23 19:17] josemarluedke commented on #622
I found this issue (emberjs/website#2321) that's related to this subject.

[2015-08-23 19:21] josemarluedke commented on #600
:+1

[2015-08-23 19:34] locks commented on #600
@josemarluedke are you agreeing that we should change or that we shouldn't change? and why?

[2015-08-23 19:37] josemarluedke commented on #600
Sorry, yeah, I think we should flip the order. For me makes more sense to have the newer versions on the top.

[2015-08-24 00:47] Gaurav0 commented on #639
Where would I find information on:

* Helpers
* Computed Properties & Macros
* Dependency Injection
* Initializers

[2015-08-24 01:23] locks commented on #639
@xudaiqing

I'd really like us not to go though another Cookbook thing.

@Gaurav0

API docs, linked from the template section

API docs, linked from whatever "Object Model" ends up as

Serializers

We're not sure we want to discuss initializers in the guides, they might just be in the ember-cli docs for addon developers. As an application developer initializers should be something that you require

[2015-08-24 01:25] locks commented on #639
@eccegordo

Core concepts would be one of the guides inside the Getting Started section.

[2015-08-24 01:34] greyhwndz commented on #639
@locks: won't initializers be tackled in the Core concepts?

[2015-08-24 01:36] locks commented on #639
@greyhwndz initializers are not a core concept, like I said previously application developers mostly don't even need to know about them.

[2015-08-24 02:19] greyhwndz commented on #639
@locks: ok. So where do you suggest is it best placed?

[2015-08-24 02:30] locks commented on #639
@greyhwndz see bottom of https://github.com/emberjs/guides/issues/639#issuecomment-133981820

[2015-08-24 05:51] eccegordo commented on #639
@locks said...

This is one of those things that has historically really irked me about some of the esoteric parts of ember. They are under documented. The are lots of great primitives in the framework (Yehuda refers to them as "maximally flexible primitives").

I am all for keeping a happy path (80% use case) focus within the guides. But long term let's not overlook the advanced stuff.

I think t

[2015-08-24 10:15] locks commented on #639
@eccegordo

I didn't say initializers don't need better (or any) API documentation. In fact, I wrote some of it about the before/after properties because there was no documentation about them.

We are going to address some advanced topics in the guides.

That's what the Ember CLI site is going to focus on. That's why I said initializers will probably be covered in the Ember CLI website instead, th

[2015-08-24 13:26] grapho commented on #639
Hi! is this discussion still ive or are we merging to a discourse page? Anyway, I will help mix the pot too.

Has there been any consideration for exactly _how_ the guides will/can be broken down and organized?

I had a thought that perhaps the guides top level structure should somewhat mimic the directory structure of a typical ember-cli based app... that way there will be a one-to-one match up o

[2015-08-24 14:24] trek commented on #639
Templates & Components

Classes and Objects

Services

Not sure. I kind of hate initializers. Can you think of a few initializer uses that aren't better met by services?

[2015-08-24 14:28] grapho commented on #639
@trek would you think that helpers and mixins warrant their own sections?  mixins especially are not prominently placed anywhere i can see?

[2015-08-24 14:32] josenberg opened #658 "504 Gateway Time-out"
Error happens on this page (http://guides.emberjs.com/v1.13.0/components/passing-properties-to-a-component/)

[2015-08-24 14:37] Gaurav0 commented on #639
@trek So the init method in services often needs to happen earlier if they involve initializing third party JavaScript libraries. I often use instance initializers to "jumpstart" services.

I use initializers to import files that do reopens of Ember library classes.

[2015-08-24 14:49] grapho commented on #639
+1 for initializers guides.  I do not personally use them, but i recognize that a number of people still do.. also some addons.  I feel they could go back in, at least for a time, under the addons and dependencies section?

[2015-08-24 15:56] locks commented on #658
I can't reproduce :\

[2015-08-24 18:29] josenberg commented on #658
Its working now, maybe was something with the server, strange because only this page was affected.

[2015-08-24 22:50] acorncom opened #660 "Should we explain in the controllers section of the guides that controllers will be going away?"
Per a discussion with @locks on Slack, he doesn't think so ...

[2015-08-24 23:43] MarkMT commented on #660
Whether it should be in the controller section I'm not certain, but speaking as a newbie I do think it is important for this to be mentioned somewhere.

The reason I say this is that people reading the guides are not doing so in a vacuum, but rather in the context of a lot of other very visible writing and speaking emanating from the core team and other prominent developers. So inevitably the unde

[2015-08-24 23:45] locks commented on #660
This is material for the blog, like the 2.0 explaining the future of Ember.js.

[2015-08-24 23:45] #660 closed

[2015-08-24 23:52] locks commented on #660
Routable components are still many point releases away, and at the right time a proper deprecation guide should be introduction with information on how to move, as well as an update of the relevant sections in the guide.
In my experience dealing with the subject, it would not be beneficial to say that routable controllers are going away. In fact, I wrote a blog post trying to clarify the meme that

[2015-08-25 00:17] MarkMT commented on #660
That's great, though I can't say I recall seeing it, which maybe illustrates the challenge I'm talking about.

No disrespect intended... I'm just trying to give you a perspective from someone who has tried to use the guides recently. I think there are some opportunities in the guides to make life easier for people approaching the framework for the first time.

[2015-08-25 00:22] locks commented on #660
I'd hug all the cats, but no one can do that :P I've talked to several people about ways to mitigate discoverability of community content, namely how to improve emberwatch.com.

[2015-08-25 13:53] ofridagan opened #664 "Computed Property as setter"
in http://guides.emberjs.com/v2.0.0/object-model/computed-properties/
it says:
"so if you want to use a computed property as a setter, you'll need to check the number of arguments to determine whether it is being called as a getter or a setter"

Is this still true?
It looks like the documentation doesn't fit the code example which shows a new syntax for defining a computed property setter:
[code]

[2015-08-25 14:01] rwjblue commented on #664
Looks like the prose needs to be updated there.  Would you mind taking a look and submitting a PR?

[2015-08-25 14:37] ofridagan commented on #664
OK, sure I can give it a shot.
I'm wondering myself though, is this now the only way to define a setter?
What about the Function's "Prototype Extensions" version? - ```(function(){}).property()```
how do you define a setter with it?

[2015-08-25 14:41] rwjblue commented on #664
Yep.

You are correct, you cannot.

[2015-08-25 14:44] ofridagan commented on #664
ok. thanks. let me prepare a PR

[2015-08-25 14:57] ofridagan commented on #664
ah looks like it is already fixed on github:
https://github.com/emberjs/guides/commit/4aad8ea3cee8291b03ce448a15dd06db268192c5

Though I'm not sure why the part about "the previous value" was removed.
From the code, it looks to me like the setter is being called with the cached value - https://github.com/emberjs/ember.js/blob/v2.0.1/packages/ember-metal/lib/computed.js#L464

[2015-08-25 16:48] acorncom commented on #441
Just tested this and this isn't exactly accurate.  If you don't have a language specified for your code blocks, if you visit the offending page, you will get an error at the top of the page:

![screen shot 2015-08-25 at 10 46 52 am](https://cloud.githubusercontent.com/assets/802505/9473172/9f1b7a8c-4b16-11e5-9013-48c474ec05f3.png)

However, if you don't navigate to the page, you'll get the error w

[2015-08-25 16:52] rwjblue commented on #441
Since we have Travis setup to run `bundle exec middleman build --verbose`, we can basically ensure that PR's don't introduce issues for us here (as long as we wait until they are green).

[2015-08-26 06:34] greyhwndz commented on #639
Most practice that is being shared in the ember communities usually use initializers to boot their services. With services playing a significant role in lieu of the routable controllers towards routable components I guess it would be safe to say that documentation/guide on that matter would be helpful.
Leveraging addons as a means to further modularize and re-use functionality seems to be coming a

[2015-08-26 07:49] locks commented on #639
initializers to boot their services. With services playing a significant
role in lieu of the routable controllers towards routable components I
guess it would be safe to say that documentation/guide on that matter would
be helpful.

Most practice was written before the dependency injection mechanism was
introduced. And instance initializers.

[2015-08-26 08:09] greyhwndz commented on #639
@locks: I see your point. If there won't be anymore use case that merits the initializers as part of the tools to create great ember apps because of better mechanisms that are in place, then I think you have a sensible point in not including it anymore in the docu/guides.

[2015-08-26 11:34] Gaurav0 commented on #639
@locks @greyhwndz It is true we no longer need initializers for dependency injection. However, there are still many use cases for them, e.g. reopening Ember classes and bootstrapping third party libraries, so I do think they should be documented somewhere.

[2015-08-26 11:37] locks commented on #639
@Gaurav0 https://github.com/emberjs/guides/issues/639#issuecomment-133995373

[2015-08-26 11:43] locks commented on #639
@grapho

This issue is called "Improve Guides organization", and OP suggests one possible new break down.

That would the API documentation be like. Guides should focus on concepts and use cases, and not on implementation details.

[2015-08-26 13:05] ofridagan commented on #664
if "the previous value" argument was indeed removed in Ember 2 then we can close this issue

[2015-08-26 16:03] bantic commented on #501
@trek I'd be happy to write up a PR for this tonight if there's not one already in progress

[2015-08-26 21:21] mattgrannary commented on #562
I'm also having an issue trying to stub a service that's being injected in a component. I have a couple ideas of how to do this, but they all seem hacky. Would be nice to have some clarification on how to achieve stubbing services.

[2015-08-26 23:40] greyhwndz commented on #639
@Gaurav0: actually I am for having initializers, dependency injection and even addons included as part of guides. I was just somehow asking @locks if there is really merit in disregarding it despite the need.

But I think he agrees by principle that they will be included but depending on the details like if it is an implementation details then if I am getting his line of thought, he finds that det

[2015-08-27 00:08] locks commented on #639
@grapho @Gaurav0 @greyhwndz send a PR that can convince both me an trek that initializers should be in the guides, and move the discussion there

[2015-08-28 16:42] josenberg opened #671 ""Understanding Ember.js" Broken Link"
There is a broken link on the page (http://guides.emberjs.com/v1.13.0/).
Is the first link in the text, the broken page is http://guides.emberjs.com/v1.13.0/understanding-ember

(Same issue posted now in the correct place: https://github.com/emberjs/website/issues/2332)

[2015-08-29 08:33] jornh commented on #671
Looks like the fix is already in the 1.13 branch: https://github.com/emberjs/guides/commit/c27e642cee223bcbc7520d64af7d160968fd61b9 as well as in 2.0.0 where it's already on the site. Apparently all what's needed to fix this is pushing a new 1.13 guide build to http://guides.emberjs.com/v1.13.0/

(For already done reasoning to remove the link altogether see https://github.com/emberjs/guides/pull/4

[2015-08-29 10:58] locks commented on #671
I'm leaving this open until we redeploy 1.13.

[2015-08-30 04:39] #658 closed

[2015-08-30 05:05] greyhwndz commented on #410
@michaelrkn: should the 2.0 Guides be using DS.JSONAPIAdapter instead of DS.RESTAdapter?

[2015-08-30 05:22] michaelrkn commented on #441
Right you are. I opened this before we had Travis and the build failed when we tried to deploy because somebody didn't put the language in. Don't know how they missed the exception, but we shouldn't have this problem again. Thanks for figuring this out, @acorncom!

[2015-08-30 05:22] #441 closed

[2015-08-30 06:00] greyhwndz commented on #449
FWIW, I have asked around forums and our slack channel about their pain points when using Ember Data and also their feedback on the guides. The following are the consolidated concerns that they believe would make it easier on them:

1. Store methods for creating/reading/mutating data in the store
2. when & how Adapter & Serializer methods are invoked by the Store
  * hooks to override them
  * how

[2015-08-30 18:48] zacharywelch commented on #445
:+1:

[2015-08-30 19:16] michaelrkn commented on #472
I've opened #679 to add appropriate links to more info. I'm going to close this out for now since it feels like an extremely low priority, but feel free to re-open with more detail about what needs to be done if you feel it's appropriate.

[2015-08-30 19:16] #472 closed

[2015-08-30 19:17] michaelrkn commented on #514
Hey @qhoxie - any word on this? Thanks!

[2015-08-30 19:40] locks commented on #472
The only thing left is the API documentation methinks, something like https://github.com/emberjs/ember.js/pull/12211

[2015-08-30 20:36] rwjblue commented on #472
@locks the Ember public API surface for Backburner is *much* reduced from Backburner's own public API.  We should ensure that all the `Ember.run` and `Ember.run.*` family of methods are fully documented (including return values, params, callback args, etc).

[2015-08-31 00:49] foxnewsnetwork opened #681 "Service eager injection section is incorrect"
To content at:
http://guides.emberjs.com/v2.0.0/services/#toc_injecting-services-eagerly

Suggests that:
`app/instance-initializers/whatever.js`
[code]

Is the proper way of eagerly doing a service injection.

This is incorrect because the instance of app passed to an instance-initializer doesn't have the `inject/3` method.

The correct way of doing this is with the regular initializer like so:

`

[2015-08-31 00:58] rwjblue commented on #681
@foxnewsnetwork - The goal of initializers is to "set things up so that when they are looked up, they can be instantiated properly", so `inject` is definitely supposed to be done by initializers (not instance initializers).

[2015-08-31 04:43] foxnewsnetwork commented on #681
got it, I will submit pr momentarily.

[2015-08-31 06:16] greyhwndz commented on #622
I think this is worthy to be a Guide on its own under the Section Components. What do you think @locks?

[2015-08-31 16:46] acorncom commented on #449
@greyhwndz :+1: thanks for compiling that

[2015-08-31 17:01] anthias commented on #514
Hey @michaelrkn. I posted this PR https://github.com/swiftype/swiftype-search-jquery/pull/20. Does that change work for you? If so, I'll release ASAP.

[2015-08-31 17:53] greyhwndz commented on #449
@acorncom You're welcome! :D. The intention is just to let the doc team know what people I have gathered from the community members in our slack channel and in some forums. I asked them about their pain points in going about using Ember Data. We hope that it should not be taken as a demand to really have it that way. The assumption is just that maybe the doc team would be interested to know about

[2015-08-31 20:20] locks commented on #664
According to http://emberjs.com/blog/2015/05/13/ember-1-12-released.html#toc_new-computed-syntax it doesn't, so I'm closing this for now.

[2015-08-31 20:20] #664 closed

[2015-08-31 20:25] michaelrkn commented on #514
Awesome! Looks good to me. If I understand right, this will let us do:

[code]

If so, that will work perfectly.

[2015-08-31 20:58] anthias commented on #514
Great. I just merged it. One note on your code above, I believe you'll need to change `var defaultOnComplete = function` to `var onComplete = function`. Otherwise onComplete will be undefined.

[2015-08-31 23:52] #681 closed

[2015-09-01 00:16] michaelrkn commented on #514
Thank you!!

@acorncom want to keep going with getting this implemented in the Guides?

[2015-09-01 00:18] acorncom commented on #514
@michaelrkn Thought I could yes.  Might have time tomorrow.  If someone else beats me to it I won't complain though, would like to see this fixed! :-)

[2015-09-01 01:18] locks commented on #622
As per https://github.com/emberjs/website/issues/2321#issuecomment-135024955 they will be addressed when made public, which should be when glimmer components land.

[2015-09-01 01:25] locks commented on #621
This used to be referred to at http://guides.emberjs.com/v1.12.0/views/handling-events/, but it's gone since Views are gone. Would be very helpful if someone updated that for components and submitted a PR.

[2015-09-02 01:31] michaelrkn commented on #612
@trek @rwjblue any progress figuring this out?

[2015-09-02 04:05] michaelrkn commented on #602
@acorncom I've ended up working on Controllers - could you take on Components?

[2015-09-02 04:27] acorncom commented on #602
@michaelrkn I can *help* with Components, but don't think I'll have enough time to be the only one working on them :-)

[2015-09-02 05:11] michaelrkn commented on #602
No worries! I'll take the Intro page for starters. Why don't you let me know what pages of the remaining ones you can get to, and I can figure out somebody else (likely me ;) to take the rest.

[2015-09-02 09:11] bravely commented on #445
There should also be somewhere in the tutorial where we're actively using Computed Properties, and Computed Property Macros, especially those like filter.

Also, I'd love to be involved in this.

[2015-09-02 14:55] michaelrkn commented on #445
@bravely Thanks for offering to help! There are already a couple people working on the tutorial, but we'd love to get your help with any issue labeled [help wanted](https://github.com/emberjs/guides/labels/help%20wanted).

[2015-09-02 23:27] michaelrkn commented on #328
Fixed by #699.

[2015-09-02 23:27] #328 closed

[2015-09-03 11:34] githubshrek opened #700 "add ultra-basic one-page app"
I know that folk are working on a "tutorial for building your first Ember app" https://github.com/emberjs/guides/issues/445. I think the example you're discussing there sounds great. I don't know enough Ember to comment on the detail, but I trust you!

However, I think though, for total Ember beginners, as I was a week ago, that the documentation desperately needs an ultra-basic one-page app (in a

[2015-09-03 11:47] githubshrek opened #701 "Explain, at least a little, the "my-new-app""
Going through the tutorial as a newbie to Ember (but as an experienced web developer), looking back at the past week, I realise one of the things which is missing is a very simple overview of the "my-new-app" which is created on http://guides.emberjs.com/v2.0.0/getting-started/first-app/.

The documentation currently just says "Navigate to http://localhost:4200 to see your new app in action.". Tha

[2015-09-03 12:06] githubshrek opened #702 "Add very beginner view of the file structure of an app"
One of the things which, I realise is totally missing from the very start of the http://guides.emberjs.com/v2.0.0/getting-started/first-app/ pages is a total beginner guide to the file structure of an Ember app.

Since I don't understand lots of the Ember stuff yet, I eventually figured out the things which are really relevant to me at this beginner stage of learning:
* in the my-new-app directory

[2015-09-04 04:35] shaunc commented on #449
btw doc in API and guide on store.push is completely wrong for 2.0 -- it doesn't take `(type, record)`. I have looked through the code and seem to have figured it out for my case, but (though you seem to be doing an extensive rewrite) -- perhaps a hotfix for this issue would be in order?

[2015-09-04 06:07] greyhwndz commented on #449
@shaunc It would be really help if you can do a PR on that knowing htat you have already figured the fix :+1:

[2015-09-04 14:55] louim opened #705 "Swiftype search broken for v1.13.0 of the guides"
Hello,

When I try to use the search on the v1.13.0 of the guides, I get:

[code]
in the console, and the search obviously doesn't work. It works correctly with all other version of the guides.

[2015-09-04 17:25] josemarluedke commented on #705
Same problem as emberjs/website#2359.

[2015-09-04 18:46] locks commented on #449
It's fixed in master, I believe.
On 4 Sep 2015 07:07, "greyhwndz" <notifications@github.com> wrote:

[2015-09-05 02:04] shaunc commented on #449
... I just looked at [master of doc](https://github.com/emberjs/guides/blob/master/source/models/pushing-records-into-the-store.md)... hmm... (is this what you meant, or did you mean fixed in master of ember-data?) doc is changed, but:

1) what is the difference between `push` and `pushPayload` ?

2) What worked for me is looking up the jsonapi spec. The new examples don't seem to have that form.

[2015-09-05 08:29] wecc commented on #449
@shaunc:

`store.push()` accepts a _normalized_ JSON API document. What I mean with _normalized_ is **camelCased** attribute/relationship members and **singular dasherized** types. This is the internal Ember Data JSON API format.

It's important to note that this has nothing to do with the built-in `JSONAPIAdapter/Serializer` which defaults to **dasherized** attribute/relationship members and **pl

[2015-09-05 13:47] shaunc commented on #449
@wecc -- Thanks! Are both `push` and `pushPayload` still part of the public API?

It also seems a bit of a shame that if we have model `Foo`:

    name: DS.attr('string'),
    bar: DS.belongsTo('bar')

We have to do:

    store.push({
      id: '1', type: 'foo',
      data: {
        attributes: { name: 'foo' },
        relationships: { bar: { data: { id: '2', type: 'bar' } } }
      }
    });

Ra

[2015-09-05 13:58] wecc commented on #449
Confirm.

`store.push()` accepts a JSON API Document conforming to the normalization rules described above. None of your examples are valid JSON API. You would have to do something like this:

[code]

I believe using `store.pushPayload()` (and `store.normalize()` for single resources) are better options since you delegate the normalization and transformation to JSON API format to the serializer.

[2015-09-06 11:50] greyhwndz commented on #600
Having the recent version on top would be :+1:

[2015-09-07 20:53] ononotofu opened #711 "Improve selectability of text in guides"
Text is generally difficult to select/highlight in the current version of the guides. A working example of this issue can be found at http://guides.emberjs.com/v2.0.0/object-model/enumerables/ -- try selecting the last paragraph of the opening section:

The selection is pretty much only possible if you start from the left, at the beginning of the paragraph, and select until the end. If you try fro

[2015-09-07 22:56] digitalfrost commented on #711
I am not able to reproduce this issue in Chrome Version 45.0.2454.85 on Windows 8.1
nor in Firefox 40.0.3 on Ubuntu.

[2015-09-07 23:56] ononotofu commented on #711
@digitalfrost Just tried it in Firefox (40.0.3) on Ubuntu and was able to reproduce, but because of style differences the ending period isn't completely aligned to the div's right edge as it is in OS X so the behavior is harder to trigger. The header example should still be illustrative as it is left-aligned.

[2015-09-08 01:13] michaelrkn commented on #700
This will be addressed by #445.

[2015-09-08 01:13] #700 closed

[2015-09-08 01:13] michaelrkn commented on #701
This will be addressed by #445.

[2015-09-08 01:14] michaelrkn commented on #702
This will be addressed by #445.

[2015-09-08 01:14] #701 closed

[2015-09-08 01:14] #702 closed

[2015-09-08 01:16] michaelrkn commented on #711
I can't reproduce either on Chrome/Yosemite. The markup for this page is very standard. Feel free to upload a video demonstrating the problem and re-open.

[2015-09-08 01:16] #711 closed

[2015-09-08 02:31] michaelrkn commented on #705
This is true. Sorry about that. We will be re-deploying before too long and it will be fixed then.

[2015-09-10 09:01] githubshrek commented on #445
"we'll hopefully have something to show before too long!". When, more or less, do you expect this to be?

I would favour having bits which are ready released sooner rather than waiting for something perfect later. Perfect is the enemy of the good and all that.

[2015-09-10 09:08] githubshrek opened #714 "No idea given where the "Person" object needs to be located"
On the http://guides.emberjs.com/v2.0.0/object-model/classes-and-instances/ page, there is currently no idea given where the "Person" object code needs to be put. I tried sticking it in the following place, which makes my Ember app not work any more. The example which follows has "app/components/todo-item.js" as a header to the example. Can the same thing be put above the "Person" code?

import Em

[2015-09-10 10:31] locks commented on #714
It's just a snippet of code, there is no specific place to put it. If you want a person object, use ES6 modules like normal: create a person file where you think it should go, export the object, import with the correct path.

[2015-09-10 10:31] #714 closed

[2015-09-10 15:18] michaelrkn commented on #445
@githubshrek We all would. Please be patient - the people working on this are all volunteers, and it is a big project. Several people have volunteered to help out and then not been able to do so, but we have someone actively working on it right now and the first PRs should come in next week.

[2015-09-10 17:17] wldcordeiro commented on #445
@michaelrkn is there a branch they're working on or in a fork?

[2015-09-14 04:49] #222 closed

[2015-09-14 05:12] michaelrkn commented on #602
I went ahead and dealt with Services.

[2015-09-14 06:30] MaximAbramchuck opened #731 "Broken links"
Hey, guys, I want to contribute to emberjs.com, so, I'm looking through issues at this repository and at the https://github.com/emberjs/website.
50% of all the issues is just broken links because of the versioning. What do you think about this problem?
Or how to determine where to redirect user if page with documentation is ready yet? Remove the link or redirect to the latest one stable release?
H

[2015-09-14 16:55] knownasilya commented on #602
Ah, was just getting stated on them. Sorry for the long delay. Thanks for tackling it.

[2015-09-14 16:59] michaelrkn commented on #602
@knownasilya if you've got some bandwidth, we could use a hand on Testing and Components. If you'd prefer Components, just coordinate with @acorncom; if you'd prefer Testing, coordinate with me :)

[2015-09-14 18:35] morganick opened #734 "API: Missing method or broken link?"
The following link should take you to the method `replaceRoute`, however, that method no longer exists.

http://emberjs.com/api/classes/Ember.ControllerMixin.html#method_replaceRoute

The link is in the text "See also replaceRoute" at the bottom of the `transitionToRoute` method.

[2015-09-14 23:20] josescasanova commented on #602
I don't have much experience with Ember (~3 months), but am willing to help. Anything I can do?

[2015-09-15 00:47] acorncom commented on #602
@josescasanova I'd suggest pulling down the Git repo and reading through the components pages (starting with "Wrapping Content in a Component").  If you notice any items that use a lot of jargon you don't understand, either create an issue (and mention me) or send in a pull request to fix it. Thanks!

[2015-09-15 01:02] locks commented on #734
I can't find any reference to that link in the Guides, if you meant to open an API documentation issue, that's on emberjs/ember.js instead.
That method is still there though, it's just private so you have to have that toggled on.

[2015-09-15 01:02] #734 closed

[2015-09-15 01:09] morganick commented on #734
:+1:

[2015-09-15 01:09] michaelrkn commented on #731
Hey @MaximAbramchuck! Thanks for your interest in helping. There are two things that need to be done. First, you could audit the guides for broken links. Second, you could work on #598 to help this from becoming an issue again. Let us know if you have any other questions!

[2015-09-15 01:09] #731 closed

[2015-09-17 21:02] lukesargeant commented on #562
The easiest work around/fix is to use Ember.inject.service in your component and remove the initializer.

[2015-09-17 21:05] lukesargeant commented on #501
Why are we refactoring component unit tests? Don't component integration tests perform a different role?

[2015-09-17 21:16] #449 closed

[2015-09-17 21:17] #599 closed

[2015-09-17 21:18] michaelrkn commented on #671
I'm redeploying shortly.

[2015-09-17 21:18] #671 closed

[2015-09-17 21:18] #705 closed

[2015-09-17 21:29] #448 closed

[2015-09-17 21:49] michaelrkn commented on #653
Fixed by #752.

[2015-09-17 21:49] #653 closed

[2015-09-18 07:00] eccegordo opened #757 "confusion about model hook and components and attr proxies"
Here:
http://guides.emberjs.com/v2.0.0/components/passing-properties-to-a-component/

It shows

[code]

and suggests you can do the following in your templates

[code]
or

[code]

This bare `title` attr is surprising to me. I thought this only worked this way with the ObjectController and proxy behavior.

Isn't the proper form this

[code]

I think some more substantive clarification on exactly ho

[2015-09-18 13:28] toddjordan commented on #501
At my day job, we are starting to incorporate integration-component tests as we develop new components.  Some things we are working through are how to deal with things like service dependencies, as well as convert/adapt our existing component unit tests to things like closure actions.  I've got time today and this weekend, so I'll start writing up a guide page.  I'll PR that into here if help is s

[2015-09-18 14:59] #757 closed

[2015-09-18 15:00] michaelrkn commented on #757
Thanks for the heads up on this! In the future, for such a simple problem, it would probably be faster for both you and the guides maintainers if you just open a PR to fix the problem. Thanks!

[2015-09-18 16:26] edgenard opened #762 "Getting Started Component tutorial magical listing?"
I am going through the getting started guide, more specifically, the tutorial on adding a component. In [this](http://guides.emberjs.com/v1.13.0/getting-started/component-hide-show-image/#toc_hiding-and-showing-an-image) section there is a code snippet:
[code]
This code snippet introduces `listing`,  where does that come from? How would the template have access to that data? Especially if it wasn'

[2015-09-18 20:56] toddjordan commented on #501
A couple of notes on how I'm going about it...
* I'm using the same examples that are currently there (pretty-color, magic-title, comment-form), just now doing it the integration way (rendering with hbs).  Creating a simple app on the side to verify them.
* In the testing actions section I'll be using closure actions instead of sendAction
* I might also add a section on external services.  For exa

[2015-09-18 21:12] locks commented on #762
This is part of the tutorial (https://github.com/emberjs/guides/pulls/kellywerks), I merged it too early.

[2015-09-19 05:17] michaelrkn commented on #762
I'll be re-deploying without this commit in a moment.

[2015-09-19 05:17] #762 closed

[2015-09-19 05:41] michaelrkn opened #771 "Pausing the boot process example doesn't work"
http://guides.emberjs.com/v2.0.0/services-and-initializers/initializers/#toc_pausing-the-boot-process

`container.lookup('store:main')` is not only private but doesn't work in 2.0.

Can someone come up with another example to use here?

[2015-09-19 10:58] locks commented on #771
I believe you simply can't defer readiness, so this section would be removed.

[2015-09-19 18:03] stefanpenner opened #775 "What should be done with the Run Loop guide?"
This seems sideways.

<img width="452" alt="screen shot 2015-09-19 at 11 03 03 am" src="https://cloud.githubusercontent.com/assets/1377/9977466/048c4300-5ebe-11e5-8b1e-81bac0870521.png">

[2015-09-19 18:08] stefanpenner opened #776 "run-loop guide has mistakes"
`once` and `scheduleOnce` require stable functions, anonymous ones are new on each invocation and as such are run multiple times

https://github.com/emberjs/website/commit/ddbc9bc047cba3f4648d708b3b8d45e9b08480f2

My recommendation is:

* to remove the current incorrect usage of `once`, the [API docs](http://emberjs.com/api/classes/Ember.run.html#method_scheduleOnce) explain it correctly.

[2015-09-19 18:32] locks commented on #775
https://github.com/emberjs/guides/issues/570

[2015-09-19 18:34] stefanpenner commented on #775
restoring it to the only thing in "concepts" seems better then this.

[2015-09-19 20:46] mattmarcum commented on #771
@locks you can defer readiness in an application initializer but not in an instance initializer.  I think these concepts have not been documented in the guides or api at all.  I can't even figure out where this stuff is in the api at all.  The only thing I've been able to find is a blog post, but it doesn't work in ember2.0 either: http://emberjs.com/blog/2015/05/13/ember-1-12-released.html#toc_in

[2015-09-19 21:23] mattmarcum commented on #771
Update: for ember 2.0.2 I found the code that call the different initializers:

https://github.com/emberjs/ember.js/blob/v2.0.2/packages/ember-application/lib/system/application.js#L679

so it looks like the signature for app initializers is `function(registry, app)` like I assumed and for instance initializers it is just `function(instance)`

Hope that helps - it would be great to get both initia

[2015-09-20 00:24] toddjordan commented on #501
Created a pull request for converting existing component unit test examples to integration tests: https://github.com/emberjs/guides/pull/774

[2015-09-20 01:49] bmichelsen commented on #598
I think having something like [link-checker](https://github.com/endymion/link-checker) is a great idea. However, the project doesn't seem to be that active lately with latest commit back in February 2013. With that, I started looking for alternatives.

The first one I came across was [rawler](https://github.com/oscardelben/rawler), but it looks like it's in the same state as link-checker. Judging

[2015-09-20 01:54] michaelrkn commented on #775
@stefanpenner can you elaborate?

[2015-09-20 01:54] michaelrkn commented on #776
Sounds good to me. Can you open a PR?

[2015-09-20 20:04] steveklabnik commented on #445
A new tutorial is very much needed, and something that I really missed when trying to learn Ember recently. Will go through and read the other PRs and leave some comments :+1:

[2015-09-20 20:31] SERVANT14 commented on #445
+1 from an Ember newbie

[2015-09-21 04:20] toddjordan commented on #602
@michaelrkn since I'm looking at updating the component testing guide, I'd be willing to go through the rest of the testing section and make sure things are up to date and the examples are working.

[2015-09-21 04:48] michaelrkn commented on #602
@toddjordan That would be amazing! While you're looking at them, can you keep an eye out for anything that could use some cleanup to per the [Style Guide](https://github.com/emberjs/guides/blob/master/CONTRIBUTING.md#style-guide)? I took a quick first pass, but it could benefit from a more experienced set of eyes. Thank you!

[2015-09-21 05:08] toddjordan commented on #602
No problem. Will do!

[2015-09-21 21:23] alvinvogelzang commented on #621
Interesting question. Maybe you can ask in the ember slack what's the correct way to specify event names. In http://guides.emberjs.com/v1.12.0/views/handling-events/ I see a link to the event names which are defined in the API http://emberjs.com/api/classes/Ember.View.html#toc_event-names. Maybe you can write a short section, as part of the components guide, about handling events. Because the Embe

[2015-09-21 21:30] locks commented on #621
I disagree. That's an implementation detail, and views are legacy, users probably shouldn't need to know about them. Hm, we need to figure how best to update the documentation.

[2015-09-22 03:56] michaelrkn commented on #612
@SaladFork is on this!

[2015-09-22 06:53] alvinvogelzang commented on #621
True that. That can be quite confusing.

[2015-09-22 15:18] michaelrkn commented on #464
@thriqon Sorry for the delayed reply - can you do that? Thanks!!

[2015-09-23 04:49] michaelrkn opened #785 "Add a "Working With Relationships" guide to Models"
Right now, there's scant documentation of how to work with related Ember Data models in the Guides. We should add a page called Working With Relationships that documents:

* how to create a new instance of a model that `belongsTo` another model
* how to update a model so that it `belongsTo` another model
* how to update a model that `hasMany` of another model
* how to work with relationships, espe

[2015-09-23 13:54] workergnome opened #788 "Node version in "Getting Started""
On the [Getting Started](http://guides.emberjs.com/v2.0.0/getting-started/) page, it talks about testing the current version of node.  It says:

It looks, though, like Node has jumped a bunch of versions [see here](https://medium.com/node-js-javascript/4-0-is-the-new-1-0-386597a3436d), and is now **v 4.1.0**.  That's a big enough change that it might be worth updating the docs?

[2015-09-23 15:11] acorncom opened #789 "Update initializers page to match 2.1 initializer changes"
Per https://github.com/emberjs/ember.js/issues/12336, there are changes come to the `initializers` page that will need to be put in.

@locks @michaelrkn Seems like we'd need to wait until 2.1 lands (and guides have split) to do this, but do we want to have a pull request pending to make the needed changes as soon as possible?

[2015-09-23 15:16] michaelrkn commented on #789
@acorncom see https://github.com/emberjs/ember.js/issues/12336#issuecomment-142636333. A PR would be very welcome!!

[2015-09-23 16:04] benoittgt opened #791 "Missing json payload for EmbeddedRecordsMixin"
Hello

It seems we are missing json payload when explaining [EmbeddedRecordsMixin](http://guides.emberjs.com/v2.0.0/models/customizing-serializers/#toc_embeddedrecordmixin)

Atfer "For example if your post model contained an embedded author record" we should add json as used in other parts of the guide like  " the JSONSerializer expects the response to be a JSON object that looks similar to this:"

[2015-09-23 16:24] githubshrek commented on #445
I understand that there are volunteers writing. But isn't it possible to do things in a wiki style, where every change gets put live straight away. It was 13 days ago that it was said above "the first PRs should come in next week.".

I had a week to work on EmberJS and that has now gone and been lost because there was nothing to help me get started. It would be better at least if there was a 1-lin

[2015-09-23 16:34] michaelrkn commented on #445
@githubshrek there are a bunch of open PRs for this here: https://github.com/emberjs/guides/pulls/kellywerks

[2015-09-23 16:48] locks commented on #788
Make sure everything works under `4.x` and make the relevant PR if that is the case please.

[2015-09-23 16:54] locks commented on #791
That JSON is incorrect, it should be in the [json:api format](http://jsonapi.org/).

[2015-09-23 18:02] dgeb commented on #789
As requested by @michaelrkn, I'll work on this.

[2015-09-24 04:33] michaelrkn commented on #789
@dgeb, can you also take care of #771/#772 while you're at this? It seems like this will supplant/fix those.

[2015-09-24 04:33] toddjordan commented on #602
status: I'm working through the testing guides as follows:
* I created an ember project to run the test examples.  Its still a work in progress, but I wanted to make sure the examples ran and that the instructions were clear enough to get things running.  I plan to also install suave on it to make sure they are up to style standards.  Examples are here: https://github.com/toddjordan/ember-testing-

[2015-09-24 04:35] michaelrkn commented on #602
@toddjordan Sweet!!! The 2.1 release is scheduled for 1 week from today - if you're able to get a PR open by early next week so we can get the changes in before the release is cut, that would be super awesome.

[2015-09-24 08:36] benoittgt commented on #791
Hello @locks. Hope everything is going good since RubyConfpt :smile:

For the json you're right maybe something like that. What do you think about it @bmac ?

I understand now why it's not in the documentation...

[code]

[2015-09-24 14:37] mtthgn commented on #613
I'm interested in this issue. Here's my initial thoughts after doing a little digging

1. It doesn't look like there's a good (and by "good", I mean maintained) jshint wrapper for ruby. I don't like the idea of having a dependency outside of the `Gemfile`, tho.

2. Every jshint I looked at operated on files and directories. The ideal situation for this issue would be to operate against a string. W

[2015-09-24 15:19] michaelrkn commented on #613
@mtthgn Thanks for your interest in helping out with this! I don't know that I can add anything to points 1 and 2, but for 3, I'd suggest checking out https://github.com/emberjs/ember.js. My understanding is that PRs against ember.js are linted against their [style guide](https://github.com/emberjs/ember.js/blob/master/STYLEGUIDE.md), but I don't know where the style guide is tested against and if

[2015-09-24 15:21] michaelrkn commented on #613
Actually, regarding 1, what about https://github.com/damian/jshint?

[2015-09-24 17:58] bmac commented on #791
Currently the `EmbeddedRecordsMixin` does not support working with the `JSONAPISerializer`. The guides code example @benoittgt linked shows the `EmbeddedRecordsMixin` being combined with the `JSONSerializer` so I think his original json payload is correct.

[2015-09-24 21:08] michaelrkn commented on #622
This is being worked on in #754.

[2015-09-24 21:08] #622 closed

[2015-09-25 05:10] michaelrkn commented on #775
I'm pretty against having an "Understanding Ember" section, especially if it only has one page in it - the Guides should be focused on the practicality of how to build Ember apps, and any content about those practical applications should fit into the existing sections. On the docs call today, someone mentioned that Glimmer Components will make the run loop even less important to understand for mos

[2015-09-25 07:51] benoittgt commented on #791
If I understand properly what you said @bmac I made a PR with [the initial json](https://github.com/emberjs/guides/issues/791#issue-107953194)

[2015-09-25 12:02] #791 closed

[2015-09-25 12:02] locks commented on #791
Fixed by #803.

[2015-09-25 12:03] #788 closed

[2015-09-25 15:09] mtthgn commented on #613
@michaelrkn dunno how I didn't see that one! I'll see what I can get done on this over the weekend.

[2015-09-25 15:43] michaelrkn commented on #613
:) Also, maybe instead of extracting the code snippets from our Markdown files, saving them into files, and then having the linter check them, you could fork the linter and add a way to create new input sources. Something like creating an API that can be passed a string of JavaScript to be linted, and then separating out the actually getting of the JS into another class, so that anybody can provid

[2015-09-25 15:51] #501 closed

[2015-09-25 15:57] #776 closed

[2015-09-25 23:30] Joelkang commented on #445
Between this tutorial and the getting started guides, I was wondering if there's place to discuss concepts in greater detail -- the biggest issue I had when starting was that I didn't quite understand how everything worked together.

It would be nice to have a one pager that has a (fairly detailed) lifecycle diagram (or explanation) from literally when you hit a url to what gets rendered on the pa

[2015-09-25 23:33] locks commented on #445
@Joelkang a related pertinent question is who would write that ;)

[2015-09-25 23:33] michaelrkn commented on #445
@Joelkang like [this](https://github.com/emberjs/guides/blob/tutorial/source/images/ember-core-concepts/ember-core-concepts.png)?

[2015-09-25 23:35] acorncom commented on #445
Gosh @michaelrkn, **I** was going to link to that image Can't you give me three minutes headstart? ;-)

[2015-09-25 23:36] michaelrkn commented on #445
@acorncom no way! ;)

[2015-09-26 08:37] cyjia opened #810 "Invalid links on page "defining-models""
On page [defining-models](http://guides.emberjs.com/v2.0.0/models/defining-models/), following links are invalid:

- [Creating and Deleting Records](http://guides.emberjs.com/v2.0.0/models/creating-and-deleting-records/)
- [Persisting Records](http://guides.emberjs.com/v2.0.0/models/persisting-records/)
- [Working with Records](http://guides.emberjs.com/v2.0.0/models/working-with-records/)
- [The

[2015-09-26 08:44] amrdraz opened #811 "Each-in is not in ember 1.13"
I'm using Ember.js 1.13.10

I get an Assertion Error helper 'each-in' could not be found

I searched the code in my bower components and indeed the each-in helper is not in the codebase

I thought ember 1.13 is identical to 2.0 minus the depreciations.
but perhaps I misinterpreted the [change log](http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_each-in-helper)

that said it's mis

[2015-09-26 13:58] locks commented on #810
Hi, thanks for spotting it! Can you submit a PR fixing it?
The fix is linking to the new sections instead, since the current ones are outdated.

[2015-09-26 14:01] locks commented on #811
This guide slipped through, thanks for pointing it out.

[2015-09-26 15:41] michaelrkn commented on #811
This is my fault. `each-in` is in 2.1. I recently re-released 1.13 and 2.0 to backport a number of important Guides changes and didn't properly remove `each-in` (or `with` for that matter). When 2.1 is released we'll fix this.

[2015-09-26 16:59] Joelkang commented on #445
@michaelrkn yisss. Because I'm largely a visual learner these things help me so much -- more detailed lifecycle diagrams for routers (before/afterModel, redirecting, storing and replaying transitions) and components (didReceiveAttrs etc.) would all be super useful. And I'm more then willing to help add / edit /  illustrate.

[2015-09-26 17:08] michaelrkn commented on #445
Awesome! Feel free to open PRs.

On Saturday, September 26, 2015, dudboi <notifications@github.com> wrote:

[2015-09-26 18:58] mtthgn commented on #613
@michaelrkn I've got a PR opened [here](https://github.com/damian/jshint/pull/34) to add the ability to lint JS strings as opposed to only files. In the meantime, I'll reference my fork of the gem and get started on linting our snippets.

What's the process normally like for opening PRs? Does the team like "In Progress" PRs to be opened against issues, or would you rather wait to have a completely

[2015-09-26 19:40] michaelrkn commented on #613
@mtthgn Awesome! Generally early PRs are better so that you can get feedback on any potential problems before heading too far down the wrong path :)

[2015-09-27 05:45] cyjia commented on #810
I would like to fix it, but I didn't know how to do it.

I tested `bundle exec middleman` with branch `v2.0.0` in my local environment, and the links above were on `index` page of `models` section, but our on-line version didn't have those links.

[2015-09-27 05:52] toddjordan commented on #602
Quick update on things with the testing guide... basic unit test, acceptance test, model, routes, and component guides are updated and in.  I passed over controllers because I thought their lives might be short, but I can go ahead an update things there if we think its worthwhile.  Also, I just submitted a PR on the test guide's intro, adding the concept of integration test, since that's more of a

[2015-09-27 12:44] #464 closed

[2015-09-27 13:06] kevinkucharczyk commented on #785
I'd gladly help out with this, but I'm not quite sure on what the best practices in Ember are.

First of all, when creating a new model (let's say a *comment* model that `belongsTo` a *post* model), is the following okay?

[code]
Is it necessary to also call `save()` on the *post* model after having saved the comment? I believe this would not be needed, as the backend should update the relationshi

[2015-09-27 13:15] locks commented on #785
@kevinkucharczyk make the PR and we can discuss there ;) I would check with the ED peeps on Slack first.

[2015-09-27 15:10] michaelrkn commented on #785
@kevinkucharczyk Thanks a bunch for jumping in on this! I have many of these same questions myself :) Just to give you a heads up, 2.1 is being released on Wednesday, so we have a hard deadline to close this issue by Tuesday 5pm Pacific (so that we have the evening to get ready to deploy); we're looking to have a PR open by Monday night so there is time to fix any problems. If there's any reason y

[2015-09-27 15:47] michaelrkn commented on #602
@toddjordan Good stuff! If you have the time to do quick review of the Controllers page, that would be nice, since we're actually going to re-release this stuff for 1.13 and 2.0 (we normally don't re-release old versions of Guides, but since 1.13 will be supported for a long time, we're making an exception). Thanks for your good work!

[2015-09-27 16:42] toddjordan commented on #602
👍Sure.  I'll work on it this evening.

[2015-09-27 17:40] michaelrkn commented on #785
@bmac maybe you know the answer to some of @kevinkucharczyk's [questions above](https://github.com/emberjs/guides/issues/785#issuecomment-143548037)? Could you also review #818 and make sure those questions are addressed appropriately there?

[2015-09-27 19:00] #810 closed

[2015-09-28 02:39] toddjordan commented on #602
Updated the testing intro guide based on comments, also created a new pr on the testing controllers guide

[2015-09-28 03:01] #506 closed

[2015-09-28 04:53] michaelrkn opened #823 "Update "Configuring Ember.js" section"
The "Configuring Ember.js" section of the Guides could use some love. A couple things jump out at me.

"Configuring Your App" should probably list out configuration options or at least link to an API reference of where to find those options.

The sections following "Configuring Your App" and "Configuring Ember CLI" feel like a grab-bag of configurations (prototype extension disabling, URL type, em

[2015-09-28 04:57] michaelrkn opened #824 "Update "Addons and Dependencies""
This section is a great start, but probably needs more information:
- I think there could probably be a page with more info on how to install and use Bower dependencies, including walking through an example.
- Ditto for Ember add-ons.
- Ditto for the `vendor` folder.
- There should probably be some documentation on authoring add-ons, or a link to where to find that documentation.

There may be oth

[2015-09-28 10:26] #785 closed

[2015-09-28 10:28] locks commented on #824
Wasn't there something about Bower that we didn't want to address?

[2015-09-28 10:28] locks commented on #824
I believe we can grab some of this from ember-cli.com?

[2015-09-28 10:38] #645 closed

[2015-09-28 15:05] michaelrkn commented on #824
Re: Bower, I don't recall, but that doesn't mean it didn't happen :)

[2015-09-28 15:08] dgeb opened #827 "Expand coverage of applications and their lifecycles"
While working on #789, I've come to realize that the entire "Services and Initializers" section needs a refresh.

I propose that we expand this section to cover applications, application instances, registrations (via `RegistryProxy` methods) as well as lookups (via `ContainerProxy` methods).

This whole section should probably be titled something like "Application Lifecycle" or simply "Application

[2015-09-28 15:23] dgeb commented on #827
And of course this area of the guides is also directly related to the [engines](https://github.com/emberjs/rfcs/pull/10) work I'm starting.

[2015-09-28 22:09] michaelrkn commented on #827
This sounds great!

[2015-09-29 01:55] michaelrkn commented on #562
I'm going to close this out for now - I'm not totally sure whether this belongs in the Guides, API docs, or a blog post/etc outside of official Ember stuff, but it doesn't seem like a high priority. I'm totally happy to review a pull request if somebody wants to put something together, although it might be best to start it as a blog post and then open a PR.

@toddjordan you've been super helpful w

[2015-09-29 01:55] #562 closed

[2015-09-29 02:08] michaelrkn commented on #612
Closing in favor of https://github.com/ember-cli/ember-cli/issues/4905.

[2015-09-29 02:08] #612 closed

[2015-09-29 02:12] michaelrkn commented on #827
I like "Application Lifecycle" - @locks what do you think? Let's settle on it before 2.1 Guides are released so we don't bork version switching when 2.2 come out.

[2015-09-29 02:26] dgeb commented on #827
I've been working on this a bit today and came up with "Application Concerns" as an alternative umbrella term. I thought this might be more inclusive of Services (although it's arguable that Services should just be moved into a separate section instead).

[2015-09-29 02:37] michaelrkn commented on #827
Yeah, and "lifecycle" implies death of applications too ;) I don't know about "concerns"... I don't have super strong feelings though.

[2015-09-29 03:43] toddjordan commented on #562
@michaelrkn
For the issue of helpers for integration tests, it should be the same way you do it for unit tests.  You don't get the acceptance test helpers in component integration tests.  Therefore I believe creating a helper is as easy as dropping your helper file in the tests/helpers directory and just importing it into your tests.  The helper would be a simple object or function with the logic

[2015-09-29 03:45] michaelrkn commented on #562
@toddjordan :+1: on both counts!

[2015-09-29 11:02] kevinkucharczyk commented on #824
How detailed should these guides be? Isn't most of this explained in the Ember CLI user guide?

[2015-09-29 15:08] michaelrkn commented on #789
@dgeb What's the status here? I believe 2.1 ships in the next couple days, so we need this ASAP to get it in!

[2015-09-29 15:18] michaelrkn commented on #824
@kevinkucharczyk Now that Ember has embraced Ember CLI as a first-class part of the project, we don't want users to have to look outside the Guides to get the information they need to be productive with Ember CLI. The guides shouldn't be exhaustive, but should cover the most common scenarios that all Ember developers need to understand.

[2015-09-29 15:22] jaydson opened #837 "Broken link: Defining a Model"
In the page `Using Fixtures` (http://guides.emberjs.com/v1.10.0/models/the-fixture-adapter/) the section `Define Your Model` have a broken link.

`Defning a Model` is pointing to http://guides.emberjs.com/guides/models/defining-models (404 error), but te correct link should be http://guides.emberjs.com/v1.10.0/models/defining-models/

[2015-09-29 15:43] rwjblue commented on #789
I am generally shooting for release on Sunday, but it might end up being Monday (depends on this and a few other factors).

[2015-09-29 16:02] michaelrkn commented on #789
Sounds good!

[2015-09-29 17:59] michaelrkn commented on #837
Thanks for reporting! Unfortunately, because of the amount of work required, old versions of Guides aren't maintained. You should use the latest: guides.emberjs.com/v2.0.0/.

[2015-09-29 17:59] #837 closed

[2015-09-29 18:14] dgeb commented on #789
I'm seeing how much of #827 I can complete before the release, since the initializer docs will be much improved by additional context. Given @rwjblue's schedule, I'll shoot for a PR by Friday.

[2015-09-29 18:19] dgeb commented on #827
Hmmm ... I share your concerns about "concerns". It's rather generic, but this is a grab bag of application-related topics after all. I suppose I could just use `/applications/` as the URL slug to start and then we could change the title text to anything application-related later.

[2015-09-29 19:47] michaelrkn commented on #789
Sounds good. If you have the bandwidth, it would be great to get a PR by Thursday so we have Friday to review (the weekends are often pretty quiet in terms of folks helping out with docs).

[2015-09-29 19:47] michaelrkn commented on #827
Good thinking on the slug!

[2015-09-29 20:36] mike-post opened #838 "Document how to handle empty JSON response"
Using ember-data, if you receive an empty response (such as if you're dealing with a dumb API which returns just an HTTP status code upon success), the proper way to handle it is by having your API return an HTTP 204. (Returning a 200 with no response gives you a JSON.parse() exception.) It took me forever to find this information so I'm thinking it's a good candidate for somewhere in the guide.

[2015-09-29 21:19] dgeb commented on #789
ok, will try!

[2015-09-29 21:39] anotheredward commented on #775
I needed this page today and had to expand every tab to find it.

I found this statement unclear "Relying on autoruns is not a rigorous or efficient way to use the runloop. Wrapping event handlers manually is preferred."

Does that mean wrapping event handlers with Ember.run as in this example:

[code]

[2015-09-30 01:39] mixonic commented on #775
@anotheredward you understand the meaning correctly.

[2015-09-30 02:34] michaelrkn commented on #838
This feels like a corner case that affects a small minority of users and is probably better suited for the API docs or a blog post.

[2015-09-30 02:34] #838 closed

[2015-09-30 03:07] toddjordan opened #840 "Add a section in Testing Components for stubbing services"
With the onset of component integration tests, I'm seeing a lot of questions between the slack testing channel and the discuss forum on how one should stub services.  This is a common enough requirement where I think a guide section is warranted.

[2015-09-30 03:09] toddjordan commented on #840
I have a PR to go along with.  I'd like some feedback, especially around the way I'm registering and looking up the stub service.

[2015-09-30 13:46] mike-post commented on #838
Are the cookbooks coming back? I figured it was a candidate for that section.

[2015-09-30 14:01] locks commented on #838
Cookbooks were handed to the community, currently at http://emberwatch.com/cookbook.html

[2015-09-30 15:27] acorncom commented on #514
@michaelrkn Not sure if you know anyone else who can whip this out prior to the merge this weekend.  I'd hoped to get it done (it's been on the list for the last month), but I'm headed out to a business conference today and won't be able finish it off before the merge window :-/

[2015-09-30 15:34] michaelrkn commented on #514
I just put a call for help in the docs Slack channel.

[2015-10-01 05:46] #602 closed

[2015-10-01 12:54] kevinkucharczyk commented on #514
I did some digging and I think this issue doesn't have much to do with the [search plugin](https://github.com/swiftype/swiftype-search-jquery) after all.

What's happening is: we are [including the Swiftype Widget](https://github.com/emberjs/guides/blob/master/source/javascripts/app/swiftype.js.erb#L20-L25) by adding a Swiftype embed.js script. This script will then proceed to add further Swiftype

[2015-10-01 17:09] kevinkucharczyk commented on #514
![screenshot-swiftype com 2015-10-01 18-25-49](https://cloud.githubusercontent.com/assets/3127419/10227369/35341c5e-686d-11e5-93c8-fd6a32729865.png)

So we've tried using the Swiftype dashboard to configure the widget (thanks to @michaelrkn for helping out here!). Unfortunately, since the Guides contain multiple Document Types (one for each Guides version), it is not possible to use the new widget

[2015-10-01 17:12] qhoxie commented on #514
Hi everyone,

Quin from Swiftype here.  I'm going to loop in some folks from our team to see how we can help get this sorted out.

Best,
Quin

[2015-10-01 18:12] michaelrkn commented on #514
Since we're currently using multiple content types, which seems to be discouraged, maybe we should look at another way to structure our data? It might be a pain to go back and re-architect our search for past versions, but it sounds like it's going to be a pain no matter what ;)

Since we are releasing this Sunday, we might need to go the dirty hack route for now, and then figure out and implement

[2015-10-01 18:45] kevinkucharczyk commented on #514
Maybe @qhoxie will come back with something useful soon. If not, I can open a PR with the hacky solution tomorrow or Saturday.

[2015-10-01 19:58] anthias commented on #514
Hey Guys,
I took a look at your configuration. I think the best way forward is to keep the javascript you're already using and modify it to consider version numbers like below:

The code below changes the document type to search over based on `window.currentRevision`. It looks like that's the correct variable to use.
[code]

The function below overrides the url used for result clicks. The version

[2015-10-01 20:34] #840 closed

[2015-10-02 03:21] #827 closed

[2015-10-02 03:22] #789 closed

[2015-10-02 03:23] #771 closed

[2015-10-02 03:26] #775 closed

[2015-10-02 03:27] michaelrkn commented on #600
Closed by #600.

[2015-10-02 03:27] #600 closed

[2015-10-02 08:20] kevinkucharczyk commented on #514
Thank you for your help, @anthias!

Unfortunately, overriding the `getUrlFromItem` function doesn't seem to have any effect. I think the search overlay is rendered using the request data directly - so the urls are populated just as they are received from the server.

Furthermore, I don't know how we could execute code after Swiftype has loaded - we are appending embed.js, which again is appending

[2015-10-02 16:33] pixelhandler commented on #621
So I'm curious, all the dom events that we had on view are still usable on components right? so perhaps just move the #toc_event-names section into the components guides.

Would be helpful, e.g. there are no guides (docs) for browser events in a framework to build browser apps, seems weird right. How does one know how to use drag / drop events in my components if I want to? Or, are events only sup

[2015-10-02 16:57] locks commented on #621
Yup, that's what I'm going to do.

[2015-10-02 19:43] pixelhandler commented on #621
@locks I'll take a stab at a PR for moving the events page back into the components section.

[2015-10-03 11:28] #621 closed

[2015-10-03 22:08] michaelrkn opened #853 "Update component actions"
Several items didn't get addressed in #834. We should add in this content:

- [x] Threading actions through multiple layers of components
- [x] Passing arguments
- [x] Argument currying
- [x] Return values
- [x] `target`?
- [x] `value`?
- [ ] Bubbling to routes?

[2015-10-04 02:24] #507 closed

[2015-10-04 02:25] locks commented on #824
Just realized, won't we touch on this in the Tutorial?

[2015-10-04 03:23] michaelrkn commented on #824
I don't think we'll cover all these topics (eg vendor folder and authoring addons), and we'd probably cover them in more depth in a section of their own. But I dunno. Maybe the tutorial would be enough. Nobody's written anything yet ;)

[2015-10-06 18:04] toddjordan opened #857 "Explain the difference between running your tests via ember server and ember test --server"
Interesting discussion in the Slack testing channel today where I learned that running your tests through ember server (via localhost:4200/tests)  could give you different results then running them through ember test --server.

Really the difference comes down to `ember server` runs in `environment=development`, while running via `ember test --server` runs in `environment=test`.  This can have run

[2015-10-06 19:34] michaelrkn commented on #857
:+1: thanks @toddjordan!!!

[2015-10-06 19:50] pixelhandler commented on #857
@toddjordan yeah cool perhaps create a PR on the ember-cli project gh-pages branch to indicate the use of /tests and how that is representative of your dev env vs ember t -s uses test env.

[2015-10-06 20:12] HeroicEric opened #858 "Document all available config options for .ember-cli"
There really isn't any place to see all of the options that can be specified in `.ember-cli` and I've seen people ask about it a lot.

I would make  PR instead of just this issue but I must first figure out what they are :smile: This is a reminder.

- `disableAnalytics`
- `usePods`
- `proxy`

If anybody knows any that are missing off the top of their head, please comment here.

[2015-10-06 23:19] locks commented on #858
I personally don't want to document pod usage until the final structure is here.
The other PRs are welcome ;)

[2015-10-07 04:40] toddjordan commented on #857
@pixelhandler will do both

[2015-10-07 05:42] #857 closed

[2015-10-07 05:44] michaelrkn commented on #858
@HeroicEric this ties in with #823 - do you think you could look into the issues brought up there while you're at it?

[2015-10-07 13:19] Panman8201 opened #861 "Add section about get and mut helpers on input helpers"
Just had a [discussion](https://embercommunity.slack.com/archives/needhelp/p1444223216002500) with @rwjblue and @kamilbiela on the Slack channel about using the `(get)` helper with an `{{input}}` helper and requiring the `(mut)` helper to enable two way binding. Although there is an example in the [API docs](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_get), I think it would

[2015-10-07 13:23] locks commented on #861
Reference: https://github.com/emberjs/guides/pull/438 https://github.com/emberjs/guides/pull/594

[2015-10-07 13:43] rwjblue commented on #861
I agree with #594 (`get` helper shouldn't have its own section for sure), but this technique of using `{{input value=(mut (get model.foo somePropOnFoo))}}` should be documented with the input helper (tiny blurb is totally fine).

We can also reference the API docs on `(get` [here](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_get) which shows the usage with `{{input}}`.

[2015-10-07 17:02] ChangJoo-Park opened #863 "Broken markdown syntax in Component page."
I have seen [defining-a-component](http://guides.emberjs.com/v2.1.0/components/defining-a-component/) page.

I found `app/routes/index.js` source syntax highlighting was broken.
`Given the above template, you can now use the {{blog-post}} component:`
below this line, you will see exposed markdown syntax.

[code]

[2015-10-07 17:13] pythonquick opened #864 "Search feature shows broken links"
Some search results on the guides result in broken links (HTTP 404).

Here's how to reproduce:

1. Visit the Guides page for version 1.13.0: http://guides.emberjs.com/v1.13.0/
2. Type "Setting up a Controller" into the search box (without the quotes)
3. Do NOT select the suggestion; just hit Enter to go to the search results page
4. A page with search results appears. Click the top link titled "SE

[2015-10-07 17:43] locks commented on #863
Thanks for reporting, this is already fixed in master by https://github.com/emberjs/guides/pull/856.

[2015-10-07 17:43] #863 closed

[2015-10-07 21:56] michaelrkn opened #865 "Document component events"
We should add a page that documents component events, like `didInsertElement`.

[2015-10-08 20:11] michaelrkn commented on #864
Thanks for the heads up! This is a dup of #514, which was mistakenly closed.

[2015-10-08 20:11] #864 closed

[2015-10-08 20:15] michaelrkn commented on #861
@mixonic did a nice revamp of the [conditionals](http://guides.emberjs.com/v2.1.0/templates/conditionals/) page that explains all three ways of invoking a helper, included nested invocation.

Maybe we should rename that page "Conditionals and Helper Forms" or something to make it clear that it also gives the high-level overview?

[2015-10-08 20:19] michaelrkn commented on #514
Hey @anthias - just wanted to ping you on this. We're using a hacky workaround for now, but if you have any insight into @kevinkucharczyk's comment above, we'd be really grateful!

[2015-10-08 23:36] acorncom commented on #514
I hate to even suggest this, but would shifting to a different search system help us at all?  I've been using Algolia for a few other jobs and it's pretty powerful.  Believe it's free for open source projects (but would take some work to shift everything over ...)

[2015-10-08 23:49] locks commented on #514
@acorncom I don't think so, because part of the problem is that each version of the Guides it's its own site, thus being fixed in 2.0 / 2.1.0 [afaik].

[2015-10-09 01:41] anthias commented on #514
Hey Guys. I'm looking into this. Search doesn't work for me locally either. Is this a know issue? Is there a way to seed the version number?

[2015-10-09 01:59] locks commented on #865
mupkoo [2:56 AM]
Guys, why `didInitAttrs` and family are not documented?

rwjblue [2:57 AM]
@mupkoo: because the hooks are not 100% finalized

rwjblue [2:58 AM]
@mupkoo: they will be documented as part of angle bracket components

[2015-10-09 07:52] kevinkucharczyk commented on #514
@anthias just set the currentRevision variable to 'v2.1.0' in https://github.com/emberjs/guides/blob/master/source/javascripts/app/swiftype.js.erb - this should enable search.

[2015-10-10 01:35] michaelrkn commented on #865
@locks not glimmer component events, [classical component events](http://emberjs.com/api/classes/Ember.Component.html).

[2015-10-13 16:51] #811 closed

[2015-10-13 16:52] locks commented on #811
Fixed!

[2015-10-13 16:53] locks opened #877 "Firebase and Tutorial"
Switch to Mirage, put Firebase and Divshot on an optional "Extra credits" section.

[2015-10-13 17:07] acorncom commented on #877
As was being discussed on Slack, another option was to use [LocalStorage](https://github.com/locks/ember-localstorage-adapter).  Per @locks though:

Is Ember-CLI-Mirage the option we want to be blessing as we introduce folks to Ember?  I've been liking it a bunch, but am not on the core team ;-)

[2015-10-13 17:11] acorncom commented on #877
**/cc** @samselikoff, an FYI

[2015-10-13 17:13] acorncom opened #878 "Migrate from Divshot to Firebase"
Looks like Divshot is joining Firebase (http://docs.divshot.com/migrate), does this affect guides deployments in any way?

[2015-10-13 17:14] acorncom commented on #878
Per the Divshot website

[2015-10-13 17:36] samselikoff commented on #877
Interesting. Fwiw I'm planning on switching the default serializer to JSON API, so it will work with Ember out of the box. This would be in a 1.0 or 2.0 release, not too far away.

I'm also planning on making a screencast for ember-cli-mirage.com's home page, once I finish the serializer + updated factory layer. So, we could also direct users there if we decide to go with something more barebones

[2015-10-13 19:12] michaelrkn commented on #811
Thanks!!!

[2015-10-13 19:20] michaelrkn commented on #877
Another option is to build a very simple Node.js app that users can deploy with a Heroku button. This has the advantage of using the JSON API adapter/serializer, which is the happiest path, and giving people a "real" public site.

I was initially in favor of Firebase, but we've been using it at Epicodus for a while and the adapter has a couple serious problems - you have to [save both sides of eac

[2015-10-13 19:44] josenberg commented on #858
From [Ember-cli Docs](http://www.ember-cli.com/#runtime-configuration).

[code]

[2015-10-13 22:30] locks commented on #878
Yes, guides are deployed to Divshot.

[2015-10-13 22:37] acorncom commented on #878
From their write-up, it sounded like the deploy process might be fairly similar, so wasn't sure if we would need to do a lot of work on updating deployment infrastructure ...

[2015-10-13 23:49] anthias commented on #514
Hello everyone. I added the pull request above to resolve this issue. Please let me know if it works for you.

[2015-10-14 17:11] #514 closed

[2015-10-15 03:47] Dundonian commented on #878
If you end up deciding to look elsewhere for hosting your guides, we'd ([Aerobatic](http://aerobatic.com)) be happy to host you for free, if you don't mind using our Bitbucket add-on for now. The Bitbucket add-on uses our latest hosting platform which we open-sourced under the [4front](http://4front.io/) project. Our old [yoke-cli](https://www.npmjs.com/package/yoke-cli) is using an older version

[2015-10-15 05:22] michaelrkn commented on #878
Thanks @Dundonian!

[2015-10-15 15:57] HeroicEric opened #883 "Include imports in code snippets"
I see that the decision was made to remove all imports in https://github.com/emberjs/guides/pull/580

I think this causes a lot of confusion for people trying to get started by following the examples in the guides. Not sure I understand why the decision was to omit the code that people actually need to make the snippets work.

For example, I want to learn how to pass a property to a component and

[2015-10-15 16:47] locks commented on #883
Using the generator is encouraged throughout the guides, so the expectation is that people will mostly understand when a code sample is partial. I have some ideas how to signal this better.

I'm closing this issue because we already have a plan to address the matter when the final modules land, which is still TBD.

[2015-10-15 16:47] #883 closed

[2015-10-15 20:21] mshindal opened #885 "Markdown parser combines two consecutive code blocks into one"
Or at least I'm pretty sure that's what's happening. Go to http://guides.emberjs.com/v2.1.0/components/defining-a-component/ and look at the second block of code: it's actually supposed to be two separate blocks of code, but the markdown parser combined it into one.

[2015-10-15 20:24] michaelrkn commented on #885
Thanks for catching this!

[2015-10-15 20:32] mshindal commented on #885
Made a PR that just adds some extra text in between the two code blocks so that it doesn't render incorrectly.

[2015-10-15 20:43] michaelrkn opened #887 "Add API links throughout Guides"
Someone should go through all of the Guides and add links to the API docs, following the format at the bottom of the [contributing guidelines](https://github.com/emberjs/guides/blob/master/CONTRIBUTING.md).

[2015-10-15 22:46] locks commented on #887
@acorncom

[2015-10-15 22:49] locks commented on #885
This is already fixed in master, it was a missing code fence, not the parser combining samples: https://github.com/emberjs/guides/pull/856.

[2015-10-15 22:49] #885 closed

[2015-10-16 03:59] acorncom commented on #887
I would suggest we break things up by major section of the guides and have people take them in chunks as desired.  In addition, I was trying to link the first mention of a new concept to the API guides, but in a paragraph where it gets mention 2 or 3 times, it seems redundant to link every single time ...

- [ ] Getting Started
- [ ] The Object Model
- [ ] Routing
- [ ] Templates
- [ ] Components

[2015-10-16 04:05] acorncom opened #889 "Add a note about the `ember-cli-deprecation-workflow` to the site"
Under `Configuring Ember.js` -> `Debugging`, seems like it would be well worth mentioning https://github.com/mixonic/ember-cli-deprecation-workflow

[2015-10-16 04:10] acorncom commented on #887
I'm going to recommend skipping linking to APIs on the Controllers pages, as they link to older docs that reference Controllers and Views.

[2015-10-16 04:12] acorncom commented on #887
Everything else here is up for grabs.  I'm going to work away on this as I have time, but would love to get help! ;-)

[2015-10-16 15:45] michaelrkn commented on #889
I'm not sure debugging is the right place for this; maybe it deserves its own page?

[2015-10-16 15:47] acorncom commented on #889
Not sure about the placement either, just thought it'd be good to have that recommendation documented somewhere ...

[2015-10-16 21:49] derekbassett commented on #889
I agree with adding this to the Deprecation page would be a great way to communicate this tool to the community.

[2015-10-16 22:07] mixonic commented on #889
Somewhere we should document the conventional process to upgrade an app to a new version of Ember.

[2015-10-16 22:11] derekbassett commented on #889
:+1:

[2015-10-17 15:13] ryrych opened #893 "Observer doesn't fire in`Getting started / Observers`"
I tried to run the [first example](http://guides.emberjs.com/v2.1.0/object-model/observers/) both with Chrome snippet and 'regular' console, but every time I change `firstName` or `lastName` the `fullNameChanged` doesn't fire:

[code]

[2015-10-17 15:46] acorncom commented on #893
@ryrych Further down the page, it mentions

Does that fix your issue?  Might be worth asking on Stackoverflow unless you're sure this is a bug in Ember / guides

[2015-10-18 03:58] EricSchank opened #898 "Doc how and where to specify inflectors for pluralization of adapters"
Currently the model guide is vague on where or how to handle non-standard pluralization.

[2015-10-18 17:26] joeltrew opened #900 "Services page 404s on 2.1.0 guide"
The services page here ( http://guides.emberjs.com/v2.1.0/services ) 404s, it is linked at the botttom of this page ( http://guides.emberjs.com/v2.1.0/controllers/dependencies-between-controllers/ )

[2015-10-19 04:03] #900 closed

[2015-10-19 04:08] #893 closed

[2015-10-19 09:38] benoittgt commented on #877
ember-cli-mirage should be something great but maybe too powerful to start, specially with JSON API.

On the documentation of Mirage you can read

But @samselikoff should know more on this subject than I.

I think we just have to use the simpliest and the more 'local'.

[2015-10-19 11:03] samselikoff commented on #877
I actually just merged the [JSON:API serializer](https://github.com/samselikoff/ember-cli-mirage/commit/9927a7f7a2232ddf8df15e01991e538eefadee9c) last night, so this will be ready + documented soon; though, it does add a bit more mental complexity, since you'll need a model/serializer definition in mirage, too.

Maybe there's a blueprint that could help out here.

[2015-10-19 15:16] #861 closed

[2015-10-19 18:28] grapho commented on #865
I will volunteer some time to integrate dome data from the initial blog post into a guides section..

Im thinking a section titled "The Component Lifecycle"

[2015-10-19 18:29] michaelrkn commented on #865
@grapho awesome! Am I understanding you correctly that you already have a blog post on this? If so, can you share it here?

[2015-10-19 18:31] grapho commented on #865
grapho dont blog.

I was refering to the emberjs/bog that most ppl refer to for info

[2015-10-19 18:36] michaelrkn commented on #865
If you're referring to [this post](http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html), keep in mind that most of those hooks are for Glimmer Components, not classical components. This issue is only to document classical component events (see the [API docs](http://emberjs.com/api/classes/Ember.Component.html)).

Also, for new contributors, we recommend starting with a blog post or other

[2015-10-19 18:39] grapho commented on #865
@michaelrkn  duly noted. the section will focus on the basic ones for now

[2015-10-20 00:28] acorncom commented on #887
@michaelrkn @locks We're finally finished here.  Can we get this pushed up to the live site, I'd love to see it in action ;-)

[2015-10-20 00:31] locks commented on #887
:computer: says :no_entry:

[2015-10-20 00:31] #887 closed

[2015-10-20 00:36] acorncom commented on #639
Per a comment of wycat's as part of a discussion on angle-bracket components (https://github.com/emberjs/guides/pull/764#discussion_r39921829):

Can I suggest `Upgrading` -> `Transitioning` or some equivalent?  I prefer the term `Upgrading` myself (as it's far clearer), but saying `Upgrade from Angular` (while we might all think that's the case) might be less than friendly ;-)

Not sure I'm a fan

[2015-10-20 00:36] acorncom commented on #889
Seems to be dependent on https://github.com/emberjs/guides/issues/639

[2015-10-20 00:38] acorncom commented on #598
@michaelrkn @locks thoughts?  I'm a fan ... :smile:

[2015-10-20 02:54] michaelrkn commented on #887
@acorncom you are a true hero!!!

[2015-10-20 03:20] michaelrkn commented on #889
Personally I don't want #639 to hold anything up. I am in favor of incremental change to the Guides until there is some major pressing need to force us to make a big change. Big changes are costly to implement and even more costly in the time to reach consensus.

I think this could be included under Configuring or in the Getting Started tutorial.

[2015-10-20 03:29] michaelrkn commented on #598
Crap! So sorry I missed this. @bmichelsen that looks great! Do you want to take a crack at opening a PR?

Also, if there's a way to make it throw an exception while using the Middleman development server, that would be ideal so that contributors can catch mistakes before Travis does (most people don't run `middleman build` on their own before pushing).

[2015-10-20 15:03] locks commented on #889
#639 is an "idea" issue.

[2015-10-20 15:04] grapho commented on #865
@michaelrkn

https://github.com/emberjs/guides/pull/902

I am working on the dialog to make it more use-case oriented for the guides

[2015-10-20 15:11] grapho commented on #898
I think
http://guides.emberjs.com/v2.1.0/models/customizing-adapters/#toc_path-customization
and
http://guides.emberjs.com/v2.1.0/models/customizing-adapters/#toc_pluralization-customization
cover most usecases.

Is there something missing from these examples that dont cover your use case?

[2015-10-20 15:33] rnsloan opened #907 "phantomjs2 install step fails on debian/ubuntu"
From this install step: http://guides.emberjs.com/v2.1.0/getting-started/#toc_installation

The binary it tries to download does not exist: https://github.com/zeevl/phantomjs2/pull/3 the repo and npm package have not been updated in 4 months.

Happy to create a PR to amend the docs if given direction on what amendments to make.

[2015-10-20 15:43] michaelrkn commented on #865
:+1:

[2015-10-20 15:45] michaelrkn commented on #898
@grapho those guides show the code to use, but not where to put it. See #899.

[2015-10-21 09:05] bmichelsen commented on #598
Sure! I'll have a go at it during the weekend.

[2015-10-21 12:52] rnsloan commented on #907
This phantomjs PR contains a list of binaries people have built for various linux distributions https://github.com/ariya/phantomjs/issues/1294 .

[2015-10-21 16:00] michaelrkn commented on #907
Hrm, I hate to have to change our docs because of a temporary situation where somebody isn't updating the NPM package for one platform. I don't know anything about that situation - is there any chance of it being resolved any time soon?

@rnsloan that issue you linked to gives a 404 - can you double-check the link?

[2015-10-21 16:18] rnsloan commented on #907
Updated the issue link that was giving a 404.

Fine for no change to be made to the doc, just letting you know that the npm package `phantomjs2` has not been updated in 11 months; the github repo in 4 months; and, as of at least some point in September going by a [stackoverflow comment](http://stackoverflow.com/questions/30084690/how-to-install-phantomjs-v2-with-npm#comment-53353397), the package

[2015-10-21 16:28] michaelrkn commented on #907
Maybe we should encourage installing phantomjs through the OS's package manager instead? Is that in a better state?

[2015-10-21 16:47] rwjblue opened #909 "Add examples of ember-test-helpers `wait` helper."
This was added in https://github.com/switchfly/ember-test-helpers/pull/112 (and is available in ember-qunit 0.4.13 and higher).  The largest benefit here is the ability to wait for pending async in your component integration tests.

Example from the above PR (assumes the component does some async in an action triggered by the button click):

[code]

[2015-10-21 18:52] toddjordan commented on #909
cool, I'd be happy to get something in there :+1:

[2015-10-21 18:59] locks commented on #907
Can we punt that to phantomjs' documentation?

[2015-10-21 19:02] michaelrkn commented on #909
@toddjordan, Ember Guides testing mastermind :)

[2015-10-21 19:03] michaelrkn commented on #907
That seems ideal, if we can link somewhere that phantomjs keeps updated with installation instructions. @rnsloan do you know of any such resource?

[2015-10-21 19:52] toddjordan commented on #909
@michaelrkn is it an *evil* mastermind? 😼

[2015-10-21 20:29] michaelrkn commented on #909
:scream:

[2015-10-22 00:38] locks commented on #909
let's test it and find out!

[2015-10-22 05:08] rnsloan commented on #907
@michaelrkn From memory, using the OS's package manager for Ubuntu is not advisable as it is out-of-date.

Linking to PhantomJS's documentation is a better step http://phantomjs.org/download.html

if `npm -g phantomjs2

[2015-10-22 16:00] michaelrkn commented on #907
@rnsloan Good idea. Opened #910.

[2015-10-22 19:35] michaelrkn commented on #878
Update: the plan is to simultaneously deploy to Divshot and Firebase for 2.2, and then try to switch to Firebase and see how it goes. This seems the simplest path for the moment, and will provide an easy fallback if something goes wrong.

[2015-10-23 16:00] #898 closed

[2015-10-23 19:32] #907 closed

[2015-10-27 15:30] SaladFork commented on #889
It should take into account the [existing guide under Ember Inspector that covers handling deprecations](http://guides.emberjs.com/v2.1.0/ember-inspector/deprecations/). We may also want to mention [ember-cli-template-lint](https://github.com/rwjblue/ember-cli-template-lint).

[2015-10-28 12:16] gouthamvel opened #925 "Wrong template name in docs"
http://guides.emberjs.com/v2.1.0/routing/specifying-a-routes-model/

the template name ```app/templates/favorite-post.hbs```  seems to be wrong shouldn't it be ```app/templates/favorite-posts.hbs```  ? i.e, with an "s"

[2015-10-28 15:47] michaelrkn commented on #925
Thanks for catching this! Want to open a PR?

[2015-10-29 19:31] acorncom commented on #909
This issue should be closed

[2015-10-29 19:33] #909 closed

[2015-10-29 20:15] michaelrkn commented on #624
As discussed on the docs call today, we aren't going to do this.

[2015-10-29 20:15] #624 closed

[2015-10-29 21:01] #925 closed

[2015-10-29 21:03] #639 closed

[2015-10-30 18:06] acorncom opened #932 "Make sure else if handlebars template expression is noted in the guides"
Was listening to a talk yesterday and Yehuda mentioned that `{{else if isAdmin}}` is a valid expression in `.hbs` files.  I'd never heard of it before and hadn't seen it in the guides.

It's listed here in the API docs though: http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_if

We should note this on the conditionals page: http://guides.emberjs.com/v2.1.0/templates/conditionals/

[2015-10-30 23:45] locks commented on #932
I'm not too bothered if only the API docs mention it, it's usually a crutch that can be better solved some other way

[2015-10-30 23:51] acorncom commented on #932
Should we close this then?

[2015-10-30 23:54] #932 closed

[2015-11-02 01:21] michaelrkn commented on #865
Closed via #902.

[2015-11-02 01:21] #865 closed

[2015-11-02 01:25] michaelrkn opened #934 "Add ability to backport JS"
@SaladFork and @rwjblue came up with a solution to help us add features to past releases of the Guides:

1. Add a universal JS file to https://github.com/emberjs/guides.emberjs.com/tree/master/snapshots, so that it is available to all versions.
2. Add that universal JS file to the present version of https://github.com/emberjs/guides/, as well as all past versions.
3. In the universal JS, detect wh

[2015-11-02 16:22] toddjordan commented on #889
I've been working through this for my team's large application moving from 1.13 to 2.0, using the deprecation-workflow, template-lint, and deprecation handlers polyfill addons.  I could take a stab at writing something up this week, that would also include the existing inspector doc.  I was in process of writing all this up for a blog post anyways.

[2015-11-02 16:43] acorncom commented on #889
@toddjordan :+1:

[2015-11-02 16:47] michaelrkn commented on #889
@toddjordan that would be awesome!

[2015-11-04 07:48] szines commented on #853
We suggest more places in the guide, that a special event name should use dasherized version. A code snippet for example:

http://emberjs.com/api/classes/Ember.Templates.helpers.html#toc_specifying-dom-event-type
[code]

My experience that this feature works only if we use the original camelCase version. Should we update these sections or it is already updated just not released yet?

This instruct

[2015-11-05 01:57] ozanmuyes opened #937 "Mistake on documentation"
Hello,

Thanks for the awesome framework. I've been reading the documentation and I found a mistake. In the last topic of the page http://guides.emberjs.com/v2.1.0/object-model/classes-and-instances/ set method referred as accessor, while it's a mutator.

Regards,
Ozan MÜYESSEROĞLU

[2015-11-05 06:21] locks commented on #937
Hi @ozanmuyes, this isn't a mistake.
The `get`/`set` pair are called get accessor, and set accessor. You can see the same nomenclature being used in C#: https://msdn.microsoft.com/en-us/library/aa287786(v=vs.71).aspx.

[2015-11-05 06:21] #937 closed

[2015-11-05 15:05] ozanmuyes commented on #937
Hi @locks,

I am truly shocked by your OOP design ancestor preference (for the terminology at least). Sorry for my misunderstanding, I thought you follow Java guidelines.

Regards,
Ozan MÜYESSEROĞLU

[2015-11-05 16:42] toddjordan commented on #889
Should have a first draft PR, by end of day.  Just adding some screen shots/code snippets...

[2015-11-05 20:41] acorncom commented on #853
Here's a Twiddle demo showing the problem:

https://ember-twiddle.com/ee3626653d2777a75678

[2015-11-05 20:42] michaelrkn commented on #853
@szines thanks for reporting this! If you can open a PR on the Guides and the API docs to fix this that would be awesome.

[2015-11-05 21:26] michaelrkn opened #944 "Update syntax highlighting"
We currently use a fork of [CodeRay](https://github.com/rubychan/coderay) with support for Handlebars. CodeRay isn't well-maintained and doesn't support ES6. The Ember homepage uses [highlight.js](https://highlightjs.org/) client-side. We should probably switch to highlight.js.

If somebody can investigate this and make sure it's a good idea, and then implement it, that would be awesome!

---

Edi

[2015-11-05 21:29] acorncom commented on #944
And we may want this to be a universal JS file as mentioned on #934

[2015-11-05 21:31] michaelrkn commented on #944
I'm not sure about that. This isn't something we want to backport.

[2015-11-06 00:34] acorncom opened #945 "Tweak the pushing records example for pushPayload"
Under Pushing Payloads (http://guides.emberjs.com/v2.1.0/models/pushing-records-into-the-store/#toc_pushing-records) the second example is an example of a JSON-API payload.  It might make more sense to demonstrate a non-JSON API payload in the interests of explaining clearly that the store can handle other payloads and serialize them for the user ...

[2015-11-06 17:06] acorncom opened #948 "Add spell checking as an optional failing test for our Travis build"
Best bet might be to use Hunspell (http://hunspell.sourceforge.net), but other suggestions welcome.

It'd also be nice to be able to make automated suggestions over time (as outlined here: http://minds.coremedia.com/2014/02/17/automated-documentation-check-with-languagetool/)

[2015-11-07 05:36] michaelrkn commented on #948
Preferably this would also raise an exception when using the development server, so that contributors can get feedback as they're working.

[2015-11-07 05:43] locks commented on #948
:+1: :+1: :+1: :+1: :+1:

[2015-11-08 07:19] #889 closed

[2015-11-08 12:45] szines commented on #853
@michaelrkn I opened a PR on the Guides. Hope it is fine. Let me know if it should improve further.

I feel, there could be a little confusion, because in the following case, we have to use the dasherized even name: http://guides.emberjs.com/v2.1.0/templates/input-helpers/#toc_actions

[2015-11-08 15:56] michaelrkn commented on #853
@szines Hrm, perhaps. I'm not sure what to do about it. We could add a note to the Input Helpers guide just saying that it's different than the `action` helper syntax.

[2015-11-09 03:24] faeronsayn opened #962 "The code provided in the stubbing services section for testing components leads to an error"
Hi,
I've noticed that the code provided in the [Stubbing services](http://guides.emberjs.com/v2.1.0/testing/testing-components/#toc_stubbing-services) section leads to the following error: `Uncaught TypeError: this.register is not a function` in the beforeEach block.

[2015-11-09 04:58] michaelrkn commented on #962
cc @toddjordan

[2015-11-09 06:08] toddjordan commented on #962
I have a working setup of the testing guides example here: https://github.com/toddjordan/ember-testing-guide-examples

Make sure your ember-qunit is up to date (0.4.15)

[2015-11-09 06:25] michaelrkn commented on #962
Thanks @toddjordan. I'm going to close this out; @faeronsayn, if you have trouble getting things to work and can put together an Ember fiddle or other example showing the problem, feel free to re-open.

[2015-11-09 06:25] #962 closed

[2015-11-09 06:58] faeronsayn commented on #962
Seems to have been the ember-qunit outdated version! Thanks!

[2015-11-09 09:18] jsangilve commented on #945
I just opened PR #963  to improve that example.The thing is, if you use a non-JSON API payload, the model must use something different from JSONAPISerializer (RESTSerializer) which is the default one since 2.0. So, I've included a simple custom RESTSerializer.

[2015-11-09 15:45] #945 closed

[2015-11-09 21:15] mwils commented on #948
I think I would like to take a stab at this.

[2015-11-09 21:41] mwils commented on #948
I am working on a solution. I will run Aspell via Middleman in order to satisfy @michaelrkn's suggestion.

[2015-11-10 00:36] mwils commented on #948
I have the spell checker working. I just need to fix some false hits and I will be good to push it.

[2015-11-10 01:15] michaelrkn commented on #948
Awesome @mwils! Can't wait to see it.

[2015-11-11 19:53] nahtnam commented on #878
There is also https://www.pagefronthq.com/ which is also very similar to divshot.

[2015-11-12 02:03] mwils commented on #948
Been a busy past few days. I hope to get some time to work on this soon.

[2015-11-12 07:12] faeronsayn opened #975 "ember testing helpers"
So I see that we have the ember-testing-helpers in v1.10.0 of the ember guides, the helpers are documented pretty well: http://guides.emberjs.com/v1.10.0/testing/test-helpers/

So in v2.1.0 of ember that section disappears from the guides. The test helpers are defined in the Ember Testing module, but I'm unable to use them in a v2.1.0 ember app, don't actually know where I can import them, do they

[2015-11-12 07:23] locks commented on #975
They are documented at http://guides.emberjs.com/v2.1.0/testing/acceptance/

[2015-11-12 07:23] #975 closed

[2015-11-12 08:11] faeronsayn commented on #975
@locks seems like the helpers come from using the startApp, is it possible to use these helpers in integration tests where startApp isn't used at all in any of the examples (in the guide)

[2015-11-12 21:17] michaelrkn opened #976 "Search links have wrong URL structure"
1. Visit http://guides.emberjs.com/v2.1.0/.
2. Enter a search term and press Enter.
3. Click a link on the search results.

The URL looks like http://guides.emberjs.com/v2.1.0/v2.1.0/object-model. It should look like http://guides.emberjs.com/v2.1.0/object-model.

I believe the relevant code is in https://github.com/emberjs/guides/blob/master/source/javascripts/app/swiftype.js.erb. If somebody cou

[2015-11-13 17:20] dustyburwell commented on #944
I'm not sure how valuable the line numbers in the code formatting are, or if they're ever referenced throughout the rest of the documentation, but I came across this: https://highlightjs.readthedocs.org/en/latest/line-numbers.html

If the line numbers are important to anyone, then highlight.js is clearly not a good choice.

[2015-11-13 17:21] dustyburwell commented on #944
@michaelrkn can you elaborate on what features are important/necessary in the code highlighting? From the description above, it sounds like HBS and ES6 support are a must. What else should be considered requirement?

[2015-11-13 17:52] acorncom commented on #944
@dustyburwell On my end, I think one of the main "features" we'd be after is to have the plugin keeping fairly up-to-date with Babel features as they start landing.  There are a number of Babel items that Ember is helping lead the charge on, so once something hits about Stage 2, we'll probably start seeing it get adopted by the Ember core team.

[2015-11-13 19:26] alexG53090 opened #979 "Core Concepts infographic for next generation documentation"
Hey @acorncom,

I made a graphic to represent the core concepts of Ember.js  - I think it will be a good addition to the next round of Ember docs. Please let me know if there are bugs in the image and I can edit accordingly. Note: I have .svg and .ai files for these images as well.

The images below are intentionally huge and can be scaled down for production:

![ember-app-core-concepts](https://c

[2015-11-13 20:05] acorncom commented on #979
@locks @michaelrkn Thoughts?  I think we'd replace the image we've got on the tutorial branch ...
http://development.ember-guides.divshot.io/tutorial-v2.2.0/getting-started/core-concepts/

[2015-11-13 20:53] michaelrkn commented on #944
@dustyburwell line numbers aren't important. HBS and ES6 are... I'm not sure there's anything else we need to keep in mind. Might be worth taking a quick flip through the Guides and see if anything jumps out.

[2015-11-14 03:44] mwils commented on #948
I am using a for the spell check, but I had to make some mods (read hacks) to the gem in order to remove some false positives and also I had to fix a bug. I made a pull request (pending) to the repo owner for the bug, however I am not sure if the other code would make sense to include in the spellchecker main repo.

My questions are:
1. Should I just point the Guides Gemfile at my repo forked repo

[2015-11-14 14:48] rwjblue opened #982 "Add Ember.getOwner section to Factory Lookup section."
http://guides.emberjs.com/v2.1.0/applications/dependency-injection/#toc_factory-lookups

In the 2.3 guides we should also explain how to use `Ember.getOwner` to do the same things from within an instance of a class that was instantiated by the container.  See the [deprecation guide entry](http://emberjs.com/deprecations/v2.x/#toc_injected-container-access) for a few more details.

[2015-11-14 16:47] michaelrkn commented on #979
@alexG53090 this looks really nice! Thanks for putting it together. A few typos:

Under `Route Handler`, it should say `routes/rentals.js`, not `router/rentals.js`. Also, in that same area, `return rentals;` should be indented two more spaces. `Persistent: data source` should be `Persists: data source` should change to something like `Persists to: web server`. Under Template, `[rental]` should be

[2015-11-14 17:10] michaelrkn commented on #948
Thanks for getting this going @mwils!

1. The ideal thing would be to get your changes merged into the original repo. The `if` statement fix looks pretty straightforward and general-purpose, so hopefully that can get merged in easily. Ignoring anything in the `table.CodeRay` class seems pretty specific to our project, though - maybe you can add an option to skip spell checking based on element and

[2015-11-14 19:16] alexG53090 commented on #979
@michaelrkn @acorncom  Awesome! Thanks for the thoughtful edits! :+1:  I have made the corrections.
Here are the results:

##### link to svg.

https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-app-core-concepts_1.svg

`Note: If the official fonts of Ember, 'Menlo' and 'Lato', do not come through in the .svg file as is, it is because the font dependencies are not there but will be if add

[2015-11-14 19:31] michaelrkn commented on #979
Thanks @alexG53090! I'm taking another look and have found a few more issues; sorry I didn't catch these the first time around.

* `https://super-rental/rentals` should be `http://localhost:4200/rentals`
* "Maps URL to a router" should be "Maps: -URL to a route handler"
* `Router.map(function(){` should be `Router.map(function() {` (space between `)` and `{`)
* `model(){` should be `model() {`
* `

[2015-11-14 19:35] alexG53090 commented on #979
No worries on it now!

[2015-11-14 19:54] alexG53090 commented on #979
@michaelrkn Thanks for the quick turn-around! Made the second round of edits. Here are the results. If you could help edit for the use of colors in the code that would be much appreciated!

##### .svg link:

https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-app-core-concepts-edits.svg

##### .png link:

https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-app-core-concepts-edits

[2015-11-14 20:12] michaelrkn commented on #979
Awesome! We'll shortly be switching to the same syntax highlighter used on http://emberjs.com/, so you can follow the examples there for colors.

[2015-11-14 20:24] alexG53090 commented on #979
Sweet, like the scheme, will color accordingly!

[2015-11-14 22:10] alexG53090 commented on #979
Hey! OK, got the new colors in. I am not confident that the colors are 100% correct. Made a few minor design changes. I Increased the size of the font in "Components",  updated the color on the left-hand bar to be Ember official, and made the boxes rectilinear. Please let me know what you think in terms of content, clarity, and overall design (or if there's anything that you just don't like) and w

[2015-11-14 22:24] michaelrkn commented on #979
That looks great! The only other thing I notice is that it looks like maybe some of the code is indented 3 spaces instead of 2? It's a little hard for me to tell.

[2015-11-14 22:27] alexG53090 commented on #979
Ah, I see what you are saying! Just one moment!

[2015-11-14 22:37] alexG53090 commented on #979
Indeed, the code was indented 3 spaces! Great catch @michaelrkn! :+1:
Here are some of the links, let me know what you think!

https://s3-us-west-2.amazonaws.com/ember-core-concepts/undefined/ember-app-core-concepts-edits-2.jpg
https://s3-us-west-2.amazonaws.com/ember-core-concepts/undefined/ember-app-core-concepts-edits-2.png
https://s3-us-west-2.amazonaws.com/ember-core-concepts/undefined/ember-

[2015-11-14 22:47] acorncom commented on #979
Hmm, I'm getting an `Access Denied` message for that file, could you upload it here directly on the issue?

[2015-11-14 22:51] alexG53090 commented on #979
Oh, Sorry about that!
![ember-app-core-concepts-edits-2](https://cloud.githubusercontent.com/assets/9002289/11166193/a02a0aea-8ae7-11e5-86e5-222eaab58d85.jpg)
![ember-app-core-concepts-edits-2](https://cloud.githubusercontent.com/assets/9002289/11166194/a02d60e6-8ae7-11e5-9d51-a83c4e1b018b.png)

[2015-11-15 01:11] michaelrkn commented on #979
Looks great! Want to open a PR?

[2015-11-15 02:38] mwils commented on #948
1. Yes it is a good idea to make that a configurable option. I will do that and make a pull request
2. Sounds good
3. Will do
And your welcome. I've enjoyed learning about gems and ruby in general.

[2015-11-15 02:52] alexG53090 commented on #979
Definitely! Thanks for working on this project with me!

[2015-11-15 23:37] #979 closed

[2015-11-16 04:15] 892399698 opened #988 "how to update ember version"
when i installed ember-cli.The version of ember is 1.13.12.How can i update the vertion to 2.x

[2015-11-16 12:38] locks commented on #988
You need to update the versions in your `bower.json` and then run `bower install`. Please use the [Slack channel](https://ember-community-slackin.herokuapp.com/) or post on something like [Stack Overflow](http://stackoverflow.com/) if you have further questions.

[2015-11-16 12:38] #988 closed

[2015-11-19 07:13] pwnall opened #992 "npm install -g phantomjs2 is stuck on OSX 10.11"
The [Installing Ember page](http://guides.emberjs.com/v2.2.0/getting-started/) asks the users to run `npm install -g phantomjs2`. This runs forever on OSX 10.11. After some googling around, I saw that phantomjs 2 doesn't build on 10.11 yet, and the effort of getting it to work is stalled.

However, `npm install -g phantomjs` works. Is phantomjs 1.x sufficient for ember? If so, will you please cons

[2015-11-19 09:03] filipecrosk commented on #976
Hi @michaelrkn
It's my first time here. :)
I found the problem and how to fix. But I saw that the error change in each version.
i.e: if you open _v1.13.0_ and search, the links will redirect to something like this: http://guides.emberjs.com/ember-inspector/routes (without **/version**).
And for versions _1.10.0_ and _1.11.0_ the modal doesn't open.

Could you help me to understand how this site wo

[2015-11-19 09:57] locks commented on #976
@filipecrosk each version of the guides is a separate site, see https://github.com/emberjs/guides.emberjs.com/tree/master/snapshots, hence the different errors!

[2015-11-19 10:03] filipecrosk commented on #976
Thanks @locks
So how to fix this issue for each version?

[2015-11-19 10:08] locks commented on #976
You don't :P

[2015-11-19 16:00] michaelrkn commented on #976
@filipecrosk Thanks for getting involved! You're right, there are two different bugs. In 2.x guides, the version is added twice. In 1.x guides, the version isn't added at all. (On average, we got it right!) To start, only worry about fixing the 2.x guides - we can redeploy 2.1 and 2.2, and probably easily backport to 2.0. For earlier versions, we can fix them as @locks alluded to, using the approa

[2015-11-19 19:44] Frozenfire92 opened #995 "binding element class names with conditional example"
An example appears in the 1.13 docs [here](http://guides.emberjs.com/v1.13.0/templates/binding-element-class-names/#toc_conditional-values)

but beyond that version an example of binding class name with conditionals is gone [see here](http://guides.emberjs.com/v2.0.0/templates/binding-element-attributes/)

[2015-11-19 19:48] robbiespeed commented on #995
+1

[2015-11-19 19:56] michaelrkn commented on #995
Conditionals have their [own guide](http://guides.emberjs.com/v2.2.0/templates/conditionals/). Class names are strings, just like the examples in the conditionals guide.

[2015-11-19 19:56] #995 closed

[2015-11-19 20:04] Frozenfire92 commented on #995
Good call, don't know how I missed that, sorry!

[2015-11-19 20:09] michaelrkn commented on #995
No worries!

[2015-11-22 18:05] Lxrd-AJ commented on #858
In addition to what @josenberg wrote
[code]

[2015-11-23 03:28] #992 closed

[2015-11-23 07:22] Lxrd-AJ commented on #858
Can we also include config options for `config/environment.js` @michaelrkn

[2015-11-23 15:54] michaelrkn commented on #858
@Lxrd-AJ I think we should have one page for Ember CLI, and another page (or pages) for other configuration options. This issue is in particular for Ember CLI, but I've also opened #823 for documenting configuration more generally.

[2015-11-24 16:12] michaelrkn commented on #878
I've done a deployment of the Guides to https://ember-guides.firebaseapp.com/. I've gone through and it seems to work just fine. I did get this message during the migration:

[code]

But I don't actually see any problems.

@rwjblue I've invited you to the app, since I think you know something about the emberjs.com DNS and what needs to happen there. Let me know if there's anything I can do to help

[2015-11-24 19:38] wifelette commented on #878
Is anyone particularly connected to the Firebase folk? Or is there someone @sararob could perhaps introduce us to?

@michaelrkn I'll ping you RE: DNS.

[2015-11-25 17:28] #598 closed

[2015-11-25 22:32] michaelrkn commented on #877
The tutorial branch is now updated with Mirage.

[2015-11-25 22:32] #877 closed

[2015-11-27 20:26] #948 closed

[2015-11-27 21:00] michaelrkn commented on #976
This is actually fixed on master and 2.2. I'm closing this in favor of #934.

[2015-11-27 21:00] #976 closed

[2015-11-28 12:03] leo commented on #604
Can we please find a solution for this? :blush:

It's so annoying to always get results for `1.10.0` rather than for the latest version. Even when searching for something like "ember 2 routing", you'll still get the docs for `1.10.0` at first.

[2015-12-03 22:22] tomdale commented on #982
@mixonic Is this something you can tackle?

[2015-12-04 01:33] toddjordan commented on #853
@michaelrkn I'll spend some time rounding out component actions over the next week or two

[2015-12-04 02:07] michaelrkn commented on #853
@toddjordan hooray!

[2015-12-04 04:33] michaelrkn commented on #604
On the docs team call today, we agreed on a solution for this, along the lines proposed by @rtablada. Here's how it should work, more or less:

* When we deploy, we copy the most recent build into `/2.x.x` as well as `/current`. This could probably be automated by updating https://github.com/emberjs/guides.emberjs.com/blob/master/tasks/update-versions.js.
* When a page in the Guides is renamed, mo

[2015-12-04 04:54] rtablada commented on #604
@michaelrkn :+1: for the idea of build check for failing builds if no redirect or substantial replacement is listed.

[2015-12-04 23:35] #445 closed

[2015-12-05 00:05] acorncom opened #1018 "[Tutorial] Autocomplete component"
See https://github.com/emberjs/guides/pull/801 for info on where this goes in an outline

[2015-12-05 00:05] acorncom opened #1019 "[Tutorial] Google Maps service and component"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

[2015-12-05 00:06] acorncom opened #1020 "[Tutorial] Helpers"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

Suggested helpers

- Format currency
- Moment for formatting time?

[2015-12-05 00:06] acorncom opened #1021 "[Tutorial] CSP"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

[2015-12-05 00:07] acorncom opened #1022 "[Tutorial] Deploying"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

We may want to introduce barebones deploys (copying the `dist/` folder to start with) and then discuss `ember-cli-deploy` as a more advanced option

[2015-12-05 00:08] acorncom opened #1023 "[Tutorial] Add-ons"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

- dotenv
- pagefront

[2015-12-05 00:08] acorncom opened #1024 "[Tutorial] Upgrading"
See https://github.com/emberjs/guides/pull/801 for where this goes in our outline

[2015-12-05 00:09] acorncom commented on #1018
@rtablada were you wanting to work on this?

[2015-12-05 15:48] kimroen opened #1025 "Update core concepts image with higher quality"
The nice new image was submitted by @alexG53090 in #987 (and originally #983), but it has a problem:

This image is of fairly low quality and doesn't look that great in practice, unfortunately - at least not on a retina screen. In use here: http://guides.emberjs.com/v2.2.0/getting-started/core-concepts/

Some possible solutions:

- Make it twice the size and serve that with width set on the `img`-

[2015-12-05 15:54] michaelrkn commented on #1025
@alexG53090 and I had talked about adding a folder to `source/images` called `originals` where we'd put the originals for future editing, but I think we forgot about it. Let's definitely add that folder to make this process easier in the future!

[2015-12-05 16:33] michaelrkn commented on #1025
Also just FYI it looks great on a non-retina screen. Life is tough for you retina folks! ;)

[2015-12-05 17:58] kimroen commented on #1025
The struggle is real

[2015-12-05 19:03] alexG53090 commented on #1025
Hey! Thanks for the feedback! I still have all the high-quality images in every img. file type (.svg, .jpeg, .gif, .png). With proper implementation, the images should appear crystal clear on any device. I'll create a new PR with all the assets and if they get approved, I am more than happy to help with formatting, etc.

[2015-12-05 20:07] alexG53090 commented on #1025
Still having trouble figuring out how to make the proper PR. In the interest of time please have these images.

https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-core-concepts-master.jpg
https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-core-concepts-master.gif
https://s3-us-west-2.amazonaws.com/ember-core-concepts/ember-core-concepts-master.png
https://s3-us-west-2.amazonaws

[2015-12-05 20:11] michaelrkn commented on #1025
Thank you!!

On Sat, Dec 5, 2015 at 11:03 AM, Alex <notifications@github.com> wrote:

[2015-12-05 20:13] alexG53090 commented on #1025
for sure! thank you @michaelrkn for not forgetting about this project :+1:  :)

[2015-12-06 17:42] mixonic commented on #982
I'm feeling fairly swamped by getting the actions/events stuff fixed up, sorry. Will keep it in mind though.

[2015-12-06 19:40] mitchlloyd commented on #982
I just started using this API in an addon and I'm excited about it. I can take a shot at it today.

[2015-12-06 20:20] rwjblue commented on #982
Awesome! Thank you!

[2015-12-07 11:14] Lewiscowles1986 opened #1033 "Add Analytics to tutorials"
So most of Google links to an incredibly old Analytics setup for Ember on your old docs, or addons for something that seems basic, and unnecessary.

http://guides.emberjs.com/v1.10.0/cookbook/helpers_and_components/adding_google_analytics_tracking/

I would be great to add an updated tutorial.

**index.html**
[code]

**app.js**
[code]

[2015-12-07 16:09] michaelrkn commented on #1033
Yes, unfortunately all of our Google-juice goes to the oldest version of the Guides. We only recently came up with a [solution](https://github.com/emberjs/guides/issues/604#issuecomment-161872837) for the versioning problem; once that's in place, we can look at adding `rel="canonical"` to get Google pointing towards the latest version.

As for this particular page, it has been removed from the Gui

[2015-12-07 16:09] #1033 closed

[2015-12-07 16:10] #982 closed

[2015-12-07 17:48] rtablada commented on #1020
@acorncom are we using accounting.js or something else for currency?

And are we set on moment for time formatting? Seems like passing in a native date object could give us the ability to `getMinutes`, `getSeconds`, etc

[2015-12-07 18:31] acorncom commented on #1020
@rtablada As far as I know, the helpers above aren't set in stone. So if you've got other ideas for helpers that fix well with the rental idea, I think it'd be fine to use those instead.  We use monetary / currency helpers both on the writing helpers page (http://guides.emberjs.com/v2.2.0/templates/writing-helpers/) and for the actual API docs (http://emberjs.com/api/classes/Ember.Helper.html#meth

[2015-12-07 18:34] acorncom opened #1036 "[Redesign] Fix responsive design issues on mobile with the new guides"
The new design is supposed to collapse as the screen size shrinks (and does on desktop screens when the browser window is shrunk), but when viewed on an iPhone the full page is shown.  We probably just need to add a screen-size meta tag to the header to trigger this

[2015-12-07 20:35] michaelrkn commented on #1020
@acorncom is spot on.

[2015-12-07 23:44] gpluta opened #1038 "[The Object Model] - Classes and instances - description of the .create() method"
In the guides it says:
For performance reasons, note that you ___cannot___ redefine an instance's computed properties or methods when calling create(), nor can you define new ones. You should only set simple properties...

Should it not state:
For performance reasons, note that you ___should not___ redefine...
?

Cheers,

[2015-12-08 01:47] michaelrkn commented on #1038
I'm not sure about this. @locks?

[2015-12-08 09:34] gpluta commented on #1038
The thing is that you technically CAN redefine methods and you CAN create new methods while instantiating a class using .create(). You can NOT redefine computed props (errors when trying to do so). This works just fine:

[code]

Trying to overwrite a computed property throws an error, as expected.

The way this is described in the guides at the moment is a bit misleading. :)

Cheers,

[2015-12-10 04:19] michaelrkn commented on #1038
Sounds good! Will you open a PR to fix it?

[2015-12-10 04:25] michaelrkn opened #1042 "Something is wrong with Typekit"
Pop open the dev console and you'll see:

[2015-12-10 11:48] gpluta commented on #1038
https://github.com/emberjs/guides/pull/1043

[2015-12-10 16:17] #1038 closed

[2015-12-10 21:22] nicholalexander commented on #1036
@acorncom i was taking a look at this and a simple view port fixes the issue - but it seems like it'd be nicer to have the menu collapse into a hamburger (or slide out from the side).  Is that something you would like me to add?

[2015-12-10 21:39] mattw59 commented on #1018
I'm going to take this one unless somebody has already done so.

[2015-12-10 21:41] rtablada commented on #1018
@mattw59 go ahead I'm working on helpers I think

[2015-12-10 21:43] acorncom commented on #1042
@wifelette Looks like this issue may be related to Tom's addition when he was working on the footer (here are the offending lines: https://github.com/emberjs/guides/blob/master/source/layout.erb#L12-L14), any ideas on why we'd be getting a 403?

[2015-12-10 21:48] michaelrkn commented on #878
@wifelette @tomdale Divshot shuts down in 4 days. How are things going with making the switch?

[2015-12-10 21:50] michaelrkn commented on #1019
@toddjordan You had mentioned interest in helping on the tutorial - would you be game to take this part on?

[2015-12-10 21:54] mattw59 commented on #1018
@rtablada will do

[2015-12-10 21:57] michaelrkn commented on #1020
Also there was an initial effort made at https://github.com/ember-denver/guides/commit/ff6c1120766f78577087570ff2440bc6f43c9d19.

[2015-12-10 21:59] mellatone commented on #1024
@acorncom what the scope of upgrading? It could end up covering a _lot_ of ground.

[2015-12-10 22:09] rtablada commented on #1020
Ok will check.

—
Sent from Mailbox

On Thu, Dec 10, 2015 at 3:57 PM, Michael Kaiser-Nyman
<notifications@github.com> wrote:

[2015-12-10 22:09] michaelrkn opened #1047 "Document hash helper and contextual components"
It appears these features have landed and are in the 2.3 beta releases. Are they appropriate for inclusion in the Guides? If so, that documentation needs to be written.

/cc @Serabe @mmun @mixonic

[2015-12-10 23:01] acorncom commented on #1024
@mellatone True that :-)

Maybe some significantly simplified version of these tutorials?

- http://www.jordanhawker.com/posts/128580938346
- http://www.jordanhawker.com/posts/128657408146
- http://www.jordanhawker.com/posts/128725196501

Or a slightly expanded version of the Ember-CLI upgrade docs?  Given this is a tutorial, the later might be a better fit with the tutorials above going in under

[2015-12-10 23:02] acorncom commented on #1036
@nicholalexander Yes please!  Might be worth doing in two pull requests so we get the first one done while you work on the addition ...

[2015-12-10 23:02] acorncom commented on #1036
Oh, and thanks! :+1:

[2015-12-11 00:50] acorncom commented on #878
Just got an email from Divshot stating that we've actually got until December 22nd.  So we have a bit more time (but I'm planning on being out of the office by that point ;-)

[2015-12-11 01:20] michaelrkn commented on #1024
I would suggest holding off on this until CLI 2.x is released, and/or write it targeting CLI 2.x, since the process for upgrading Ember and ED will be different than 1.x (and easier).

For the tutorial, I think we should cover upgrading Ember, ED, and Ember CLI, and dealing with deprecations.

[2015-12-11 02:38] wifelette commented on #1042
Hmm. I verified that that code snipped is correct, could be some other issue.

What's the domain we're trying to access this from? Maybe we're missing some silly variant that I need to list on the whitelist? Current list:

`emberjs.com,localhost,www.emberjs.com`

Just guessing. No idea what else might be going wrong.

[2015-12-11 02:55] toddjordan commented on #1019
Sure!  It will probably be about a week until I can start on it, but I'd be happy to take it on.

[2015-12-11 03:28] michaelrkn commented on #1019
Sweet!

[2015-12-11 03:34] michaelrkn commented on #1042
Ah, can you whitelist guides.emberjs.com?

[2015-12-11 03:35] wifelette commented on #1042
...but it's done :)

[2015-12-11 03:36] michaelrkn commented on #1042
Thank you!! It works now for me!

[2015-12-11 03:36] #1042 closed

[2015-12-11 13:17] rtablada opened #1050 "[Proposal] Removal of `e.g`"
While working through areas of the guides other than the tutorial, I have been noticing a lot of `(e.g.` usage.
I think this is a bit unapproachable for quick reading and comes off with the wrong tone.

Instead I think we should consider each `e.g` and try to replace it with a `such as` statement or similar.

[2015-12-11 16:03] michaelrkn commented on #1050
Sounds good to me!

[2015-12-11 16:04] michaelrkn commented on #1050
The one thing I'll add is that it is very difficult to enforce rules like this when we have many different contributors, especially when many of them make are one-time contributors. I've leaned towards correcting gross mistakes/style violations but not nitpicking over smaller things like this.

[2015-12-11 16:06] rtablada commented on #1050
Yup which is why sometimes it just needs a long weekend and a good pass through every so often.

[2015-12-11 17:07] michaelrkn commented on #1050
:+1:

[2015-12-11 20:21] #1025 closed

[2015-12-12 18:23] michaelrkn opened #1058 "Remove font smoothing"
Currently, our styles use font smoothing, which is [non-standard and should not be used](https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth). This should be removed, and the styles updated so that the font still looks good.

The relevant properties are `-webkit-font-smoothing` and `-moz-osx-font-smoothing`, and they are in `_highlight.scss`, `_typography.scss`, and `_buttons.scss`.

[2015-12-12 18:25] michaelrkn commented on #1058
@nicholalexander @josemarluedke either of you feel like you could take this on?

[2015-12-13 02:30] skaterdav85 opened #1061 "Add more details to the Transforms section"
@acorncom mentioned on Twitter that I could improve the transforms documentation. I'd like to include more details under the transform section of the guide Defining Models about number, boolean, and date transforms similar to my blog post. Also, maybe it'd be useful to add a guide "Creating Custom Transforms" under Models, similar to the example in my blog post.

[2015-12-13 07:28] JonForest opened #1062 "Issue using the Mirage Component in the Ember Data section"
The content of ```app/mirage/config.js``` is shown as:
[code]

When I use this, I get the following output in my Chrome console:

I changed ```data``` to ```rentals``` in the rentals array. I.e.
[code]

In the sample data used in the config.js, the data required is organised like this:

[code]
type: "rentals",
id: 2,
title: "Urban Living",
 ....
}
[code]

[2015-12-13 11:56] nightire commented on #1058
@michaelrkn I've taken this.

[2015-12-13 14:22] locks commented on #1062
It seems like you are using Ember Data 1.x, which has RESTAdapter as the default adapter. You need to update your Ember Data to 2.x, which uses JSONAPIAdapter as the default instead.

[2015-12-13 14:22] #1062 closed

[2015-12-13 17:13] michaelrkn commented on #1061
Awesome! Go ahead and open a PR.

[2015-12-13 19:58] JonForest commented on #1062
Ah.. thank you.  Would have been helpful if that's the version the Ember CLI component listed in the guides actually installed.

[2015-12-13 20:02] locks commented on #1062
@JonForest it's a long story :\

[2015-12-13 20:07] JonForest commented on #1062
:+1:  I should probably spend more time googling this, but how do I update the Ember data component?  I updated the versions to 2.2.0 in the package.json and re-ran npm.  Still no dice with the {data:...} rentals structure.

[2015-12-13 20:10] locks commented on #1062
It's the `bower.json` that at the moment controls the version of the libraries that are used.

[2015-12-13 20:11] rtablada commented on #1062
@locks thoughts on maybe running `ember g adapter application` and explicitly setting `DS.JSONAPIAdapter`? I think it's best practice to have an adapter created to allow for `host` and `namespace` customization later down the road anyway.

[2015-12-13 20:16] JonForest commented on #1062
@locks - Cheers.  That's got it after installing Bower and a bit of updating various versions.  Not quite sure what the solution is, but I reckon everyone following the guide as a brand new introduction to Ember will run into this.

[2015-12-13 21:35] michaelrkn commented on #1062
@rtablada Generally we try to stick to the "happiest path"/least amount of configuration in the Guides. Until we actually want to explain how to customize something, we'll stick with the defaults. We're in an unfortunate situation with Ember CLI right now, but that should be resolved before too long. Also, the Guides do include [instructions on upgrading to the correct versions](http://guides.embe

[2015-12-14 15:46] acorncom commented on #1050
:+1:

[2015-12-14 15:46] acorncom commented on #1050
Might be worth adding to the contributing guidelines as well so if folks read them prior to contributing we don't have to do additional work ;-)

[2015-12-14 15:54] rtablada commented on #1050
I would say that it is kind of part of the "write examples" area, but that might be expanded on?

[2015-12-14 17:54] skaterdav85 commented on #1061
@acorncom Do you think it'd be useful adding a new guide "Creating Custom Transforms" under Models?

[2015-12-14 18:56] acorncom commented on #1061
@skaterdav85 Seems like it fits better in context on the "Defining Models" page, don't you think?  Seems like if we added another section beneath Transforms called "Custom Transforms" that that would give us the needed space.  What we might end up doing as I look at the pages would be to split out simple attributes from relationships (which could go on their own separate page).

@michaelrkn @locks

[2015-12-14 20:41] skaterdav85 opened #1071 "Customizing Serializers enhancements"
I think it would be useful to add a couple sections to the Customizing Serializers guide for the JSONSerializer and RESTSerializer. I wrote about it in a blog post because I had a hard time finding it in the guides: http://thejsguy.com/2015/12/05/which-ember-data-serializer-should-i-use.html

What do you think?

[2015-12-14 22:56] acorncom commented on #1071
I'm a :+1: on that. I believe we've already got JSONSerializer info here: http://guides.emberjs.com/v2.2.0/models/customizing-serializers/ but not much mention of the RESTSerializer.

locks @michaelrkn ?

[2015-12-14 22:57] skaterdav85 commented on #1071
Cool, let me know when I can proceed =)

[2015-12-14 23:23] locks commented on #1071
I don't particularly care about documenting RESTSerializer, and there's your blog post already.
I believe JSONSerializer is documented in the guides because it's the base one for the others.

[2015-12-14 23:47] skaterdav85 commented on #1071
I just noticed JSONSerializer in the guides. I guess I missed that before.

I think having RESTSerializer would be useful because a lot of tutorials on the web use the RESTSerializer format. For someone new to Ember, finding out this expected format can be a little frustrating. Also, since both JSONAPISerializer and JSONSerializer are documented, it seems fitting to have the other commonly used se

[2015-12-14 23:52] locks commented on #1071
@skaterdav85 the guides aren't meant to be exhaustive. The API docs however, are a very good home for documentation about the format.

[2015-12-15 01:20] acorncom commented on #1071
Seems like what we might want to do is link these initial mentions of the serializers to the appropriate serializer api pages.  We could then improve those API docs as needed.
![screen shot 2015-12-14 at 6 18 45 pm](https://cloud.githubusercontent.com/assets/802505/11799205/23903e18-a28f-11e5-992a-c286eac53fce.png)

@skaterdav85 Would you be willing to send in a pull request for that?

[2015-12-15 01:21] skaterdav85 commented on #1071
sure thing!

[2015-12-15 01:35] wifelette commented on #878
The Firebase plan has been comped and set up (with the $49 plan, thanks Firebase!).

I added the requested TXT records to the DNS for verification and it was successful. So we _should_ be basically set up. The custom domain is also set up for https://guides.emberjs.com.

Anything else I need to be doing for this?

[2015-12-15 01:38] michaelrkn commented on #878
@wifelette It looks like we have to wait 24 hours for SSL to finish provisioning (it says they will email you when it completes). Then you can follow the directions at https://ember-guides.firebaseio.com/?page=Hosting# for setting up the CNAME record.

[2015-12-15 01:38] wifelette commented on #878
Ah, not quite yet. We're set up and verified, but waiting for SSL to be provisioned ("This process can take up to 24 hours."). Once THAT happens, I can do the final DNS setup :)

[2015-12-15 01:38] wifelette commented on #878
@michaelrkn Heh, yep. I'm right there with you. Only slower... ;)

[2015-12-15 01:38] michaelrkn commented on #878
:ship: :night:

[2015-12-15 01:45] wifelette commented on #878
Got the email that SSL is ready, updated the DNS.

_Now_ we should be good to go :)

[2015-12-15 01:49] michaelrkn commented on #878
It's alive and working! I'll update the deploy instructions.

[2015-12-15 01:49] #878 closed

[2015-12-15 01:50] michaelrkn commented on #878
@wifelette Can you create a new Firebase app called ember-guides-staging and add me as a collaborator?

[2015-12-15 01:52] #1071 closed

[2015-12-15 01:53] michaelrkn commented on #1061
@acorncom sounds good to me!

[2015-12-15 03:17] wifelette commented on #878
Done. Note: from my limited poking around, it looks like payments are pre _app_ not per _account_, so this will be on the free tier. Will that work for our purposes?

[2015-12-15 03:17] skaterdav85 commented on #1061
What do you think about taking the "Defining Relationships" section under Models and moving it to its own guide right before "Working with Relationships"?

[2015-12-15 03:19] rtablada commented on #878
![It's alive!](http://www.riotgames.com/sites/default/files/Alive.gif)

[2015-12-15 03:20] #1061 closed

[2015-12-15 03:21] locks commented on #1061
@skaterdav85 that would be a different issue

[2015-12-15 03:21] skaterdav85 commented on #1061
ah yes, sorry. will open that.

[2015-12-15 03:23] skaterdav85 opened #1076 "break out "Defining Relationships" section"
@acorncom As discussed in #1061, what do you think about taking the "Defining Relationships" section under Models and moving it to its own guide right before "Working with Relationships"?

[2015-12-15 03:27] acorncom commented on #1076
Yes, I think that'd be fine. We should check the pages before it in the guides to make sure they don't use relationships though ...

[2015-12-15 03:34] michaelrkn commented on #878
@wifelette yup!

[2015-12-16 15:41] tsteuwer opened #1084 "API missing Component's "attributeBindings""
It's available [in the Guide](https://guides.emberjs.com/v2.2.0/components/customizing-a-components-element/#toc_customizing-attributes), however, it's not documented [in the API](http://emberjs.com/api/classes/Ember.Component.html).

[2015-12-17 00:44] locks commented on #1084
It's documented in the parent class: http://emberjs.com/api/classes/Ember.View.html#toc_html-attributes.
I believe the course of action is to open an issue with emberjs/ember.js instead. cc @rwjblue

[2015-12-17 02:01] steveszc commented on #1036
I'll take a shot at the menu. I'll aim to submit a PR by christmas, if not sooner.

[2015-12-17 15:46] zachfedor commented on #1062
@michaelrkn I totally agree that the path of least resistance should be explained in the Ember guides. That's a perfect philosophy for beginner's to get up and running.

However, as a beginner I'm tripping all over myself because I haven't explicitly created an adapter to get Ember Data up and running (similar to what @rtablada was proposing). Going through the basic tutorial for Ember 2.2.0, my a

[2015-12-17 15:49] michaelrkn commented on #1036
Thanks @steveszc!

[2015-12-17 15:55] michaelrkn commented on #1062
@zachfedor Try posting on Stack Overflow with your Mirage config and a link to your project on Github. Feel free to ping me on Slack and I can take a look.

[2015-12-17 16:14] zachfedor commented on #1062
I just used `ember g adapter application` and it created a RESTAdapter, even though I'm on 2.2 across the board. This leads to the original issue that @JonForest faced. I manually changed that to use JSONAPIAdapter and all is well.

Here is the [StackOverflow question](http://stackoverflow.com/questions/34339280/basic-ember-app-not-working-with-default-adapter).

I can create a separate issue here

[2015-12-17 18:33] steveszc commented on #1036
Just submitted a PR to fix this: https://github.com/emberjs/guides/pull/1090

[2015-12-17 22:27] michaelrkn commented on #1018
@mattw59 we're shooting to get this stuff out with 2.3, which is scheduled for the end of December. Do you think you'll be able to get to this by then?

[2015-12-17 22:31] DSheffield commented on #1062
Could somebody please explain how to get the tutorial working?  I'm another ember beginner that's run into this problem.  Followed all the discussion here, and now I don't get any errors but no data is displayed.

I've been going around in circles on this for several hours now, and this is a bit ridiculous that one of the first steps in the basic tutorial doesn't work.

[2015-12-17 22:35] mattw59 commented on #1018
Yeah, I've gotten a start. I should have something by Monday, I think.

On Thursday, December 17, 2015, Michael Kaiser-Nyman <
notifications@github.com> wrote:

[2015-12-17 22:37] rtablada commented on #1062
@DSheffield can you check your console and let us know if you have any information in the console?

[2015-12-17 22:38] michaelrkn commented on #1018
Sweet!

[2015-12-17 22:39] JonForest commented on #1062
@Dsheffield I'm a bit flat out right now fitting a door. But I'm happy to
lend a hand tomorrow a little earlier than now if it helps? I'll see if I
can get on the slack channel later.
On 18/12/2015 11:35 AM, "DSheffield" <notifications@github.com> wrote:

[2015-12-17 22:44] michaelrkn commented on #1062
Hey folks - this isn't a great medium to ask for tech help with the tutorial. The [Slack channel](embercommunity.slack.com) or Stack Overflow are more appropriate. Thanks!

[2015-12-17 22:47] jrhorn424 opened #1092 "How can I help?"
See https://github.com/emberjs/website/issues/2126

I initially wanted to help update Twiddles, but since the guides are moving away from Twiddles, I'm happy to make myself useful in other ways. 😄

[2015-12-17 22:47] acorncom opened #1093 "Improve search results by displaying results from api, blog posts and guides separately"
Per a suggestion by @szimek at https://github.com/emberjs/website/issues/2213, it'd be lovely to have search results split results by type:

[2015-12-17 22:48] rtablada commented on #1092
@jrhorn424 stick your head in #documentation on Slack and we'll be able to talk more. Github isn't a great forum for longer discussions.

[2015-12-17 22:48] michaelrkn commented on #1092
Thanks for your interest, @jrhorn424! Check out an [issues tagged with "Help Wanted"](https://github.com/emberjs/guides/labels/help%20wanted).

[2015-12-17 22:48] #1092 closed

[2015-12-17 22:56] jrhorn424 commented on #1092
Thanks @rtablada and @michaelrkn!

[2015-12-17 23:14] locks opened #1094 "Update "Upgrading Ember" section for Ember CLI 2.x"
https://guides.emberjs.com/v2.2.0/getting-started/ember-cli/#toc_upgrading-ember needs to be updated for Ember CLI 2.x.

I consider this to be a blocker for the merging and releasing of 2.3 guides.

[2015-12-17 23:16] rtablada commented on #1094
Are we hinging this on a stable release or will 2.3 guides ship with a beta CLI?

[2015-12-17 23:17] locks commented on #1094
@rtablada stable Ember CLI 2.x

[2015-12-18 05:18] michaelrkn commented on #1093
I'm taking "help wanted off" since this isn't something the general community can help with. We need somebody who has access to our Swiftype account to dig around to figure this out.

[2015-12-18 05:19] #1076 closed

[2015-12-18 05:20] michaelrkn opened #1100 "[Tutorial] Nested routes"
We need a page in the tutorial that explains nested routes, including `index` routes and the `application` route.

[2015-12-18 05:26] michaelrkn opened #1101 "Feature flags"
This moves https://github.com/emberjs/website/issues/2311 over to the proper repo. All of the below content is from @wycats:

To make it possible to do documentation work for features that have not yet landed, we should have a feature-flag infrastructure in guides.

For example, you could imagine:

[code]

An alternative approach would be to preprocess the guides with Handlebars, and do something

[2015-12-18 19:26] acorncom commented on #1093
Good point.  For the record, who has access to our Swiftype account? ;-)

[2015-12-19 00:28] michaelrkn commented on #1093
Me and locks and you shortly :)

[2015-12-19 03:52] locks opened #1105 "Keep spell checker exceptions file clean"
We should have a script that's run, preferably with the tests, to make sure that every word in the spell checker exception file is actually used.

While this may lead to some churn in the future if said word is reintroduced by another commit, I think the benefit of making the writer more aware outweighs it.

[2015-12-19 04:09] locks opened #1106 "[Tutorial] Reference codebase for tutorial"

[2015-12-19 04:12] locks commented on #1047
I'm taking the hash helper.

[2015-12-19 04:15] locks opened #1107 "Add import statements"
According to @tomdale we are good to go on the new module shims, so we can start adding import statements.

Here are the shims for reference: https://github.com/ember-cli/ember-cli-shims/blob/master/app-shims.js

Example. In https://guides.emberjs.com/v2.2.0/controllers/dependencies-between-controllers/ the second code sample would go from

[code]

to

[code]

I need further confirmation before la

[2015-12-19 04:29] rwjblue commented on #1107
Unless this just changed, we have not agreed on the final shim paths.

@tomdale - Was this something just discussed today (sorry for being absent)? If not, how did you reach the conclusion that we were all onboard with the current shims?

[2015-12-19 04:31] locks commented on #1107
Might be my misunderstanding, hence wanting confirmation. Apologies if I generate any confusion.

[2015-12-19 04:37] rwjblue commented on #1107
No worries! I also want this to be ready to go. Hoping to discuss at the next F2F (in January) if it isn't resolved before then.

[2015-12-19 04:50] locks commented on #1107
I've put it in the "Future" milestone to signal that it's still upcoming, and I'll leave the issue open to document the need to do it.

[2015-12-19 22:48] jrhorn424 commented on #1024
Happy to take this when contingencies are met.

[2015-12-21 00:33] #1036 closed

[2015-12-21 02:39] rwjblue commented on #1094
For Ember 2.3.0 and Ember Data 2.3.0, we need to change to indicate that users should update `ember-data` in `package.json` (and not `bower.json`).

[2015-12-21 02:41] locks commented on #1094
And for the 2.2.0 releases?

[2015-12-21 02:47] rwjblue commented on #1094
2.2.0 releases still need to be updated in `bower.json` as the current section suggests

[2015-12-21 16:03] IsaacLessard opened #1110 "Translations for Docs"
Thoughts on doing translations of the docs into other common languages? I understand that the current docs are still growing, but I am willing to start/lead a team for translation into French, Spanish, Japanese, or another suggested language. We can keep the translation open source as well.

[2015-12-21 16:04] tomdale commented on #1107
@rwjblue We've been shipping `ember-cli-shims` with Ember CLI for awhile now. They've become de facto standardized by that, IMO. Unless someone has specific objections, I think it's past time we document them. If we need to change them later, the backwards-compat strategy is pretty straightforward.

[2015-12-21 16:15] michaelrkn commented on #1110
@IsaacLessard This sounds great. First, through, we need to figure out the infrastructure for the translations. Will they live in this repo or a fork for each language? If here, what will the directory structure be? If elsewhere, will they be deployed separately? How will the translations be kept in sync?

[2015-12-21 16:28] acorncom commented on #1110
Agreed on working out the infrastructure first.

For reference on which languages people might be interested, the below screenshots show traffic patterns on the Ember sites in 2015:

![2015-12-17_17-29-42](https://cloud.githubusercontent.com/assets/802505/11935428/095d06bc-a7c5-11e5-87cf-2d9dc8e001d8.png)

![2015-12-17_17-30-47](https://cloud.githubusercontent.com/assets/802505/11935435/0dd3b72c-a

[2015-12-21 16:43] IsaacLessard commented on #1110
Awesome. Agreed on figuring out infrastructure, I am open to suggestions for best practice. Hopefully interest in Ember will increase more globally with access in their native languages. Interesting that German/Russian/French are the top languages after English. Most open source translations that I have seen floating around have been Chinese or German.

[2015-12-21 20:53] locks commented on #1110
Where's that CMS when we need it.

For reference: https://github.com/emberjs/guides/issues/188.

I myself proposed translations a long while back, but we do not have nearly enough bandwidth to do them "internally" at the moment. The good news is that the translation projects can get well underway without the docs team ;) There is an informal effort going on for [pt-BR](https://github.com/EmberJSBr

[2015-12-21 21:42] acorncom commented on #1110
This tool might be useful as well: https://crowdin.com  Per a tweet I saw this morning, BabelJS just got comped its use, so there might be hope for us as well ...

[2015-12-23 00:55] filipecrosk commented on #1100
Hi @michaelrkn, I can do this. Just a question, is there a guide/format to write these tutorials?
I think I'll need to cover these:
- Action Bubbling
- Alias
- Templates structure/directories

[2015-12-23 01:08] locks commented on #1100
@filipecrosk what do you mean by action bubbling? you should be using closure actions as much as possible.

[2015-12-23 01:18] filipecrosk commented on #1100
@locks you right, my bad.

[2015-12-23 01:21] locks commented on #1100
@filipecrosk no problem! just trying to clear things out to avoid unnecessary work on your part :smile:

[2015-12-23 01:50] michaelrkn commented on #1100
@filipecrosk Thanks for your interest in helping out! Just to warn you, we have a much higher bar for the tutorial content than other parts of the Guides, so be prepared for a lot of feedback and back-and-forth. I'd strongly suggest opening a PR as soon as possible after you start so you can immediately get pointed in the right direction.

As far as format, start by reading the [contributing guide

[2015-12-26 16:05] rwjblue commented on #1047
@locks - How is this going?

[2015-12-26 16:07] rwjblue commented on #1094
I'll try to tackle this early in the week.

[2015-12-26 17:13] michaelrkn commented on #1021
Closing as [CSP has been removed from Ember CLI by default](https://github.com/ember-cli/ember-cli/pull/5247).

[2015-12-26 17:13] #1021 closed

[2015-12-28 09:53] tyleryasaka opened #1119 "Ember Data guide issue"
I ran into an issue following the [Ember Data](https://guides.emberjs.com/v2.2.0/tutorial/ember-data/) guide (in the Tutorial section) where the data was not being loaded from mirage. I found that the issue was that the JSON API Serializer was not being used, causing the data to be read incorrectly (see console error message below). Once I specified that that JSON API be used as the serializer, th

[2015-12-28 15:29] HeroicEric commented on #1119
@tyleryasaka The JSON API adapter and serializer weren't used by default until ember-data 2.0+. I'm guessing you're still using ember-data 1.13.15, since that's what is provided by default in a new app generated with the latest release of ember-cli (v1.13.13).

I think we should either update the tutorial to include the step of updating ember-data or specifying the adapter/serializer.

Also worth

[2015-12-28 15:43] michaelrkn commented on #1119
Looks like you missed the section on [upgrading to the latest version of Ember Data](https://guides.emberjs.com/v2.2.0/getting-started/ember-cli/#toc_upgrading-ember).

[2015-12-28 15:43] #1119 closed

[2015-12-28 15:45] tyleryasaka commented on #1119
Yep I totally missed that. My bad.

[2015-12-28 22:34] JasperKamp opened #1120 "config.js example not working"
Hello. I could not get the mirage example to work, neither on a mac nor on a linux setup.
The website url is: https://guides.emberjs.com/v2.2.0/tutorial/ember-data/

I ended up looking at other examples on the internet which caused me to change the content of the <code>config.js</code> to <code>[config.js.txt](https://github.com/emberjs/guides/files/73594/config.js.txt)</code>

[2015-12-28 23:56] michaelrkn commented on #1047
@locks ping

[2015-12-28 23:57] michaelrkn commented on #1018
@mattw59 How is this coming along?

[2015-12-28 23:57] michaelrkn commented on #1019
@toddjordan How is this coming along?

[2015-12-28 23:57] michaelrkn commented on #1020
@rtablada How is this coming along?

[2015-12-28 23:59] toddjordan commented on #1019
I'm planning on starting this week.  @locks mentioned that these weren't going out with 2.2.

[2015-12-28 23:59] michaelrkn commented on #1020
Just noticed/made the connection between this and your open PR.

[2015-12-29 00:03] michaelrkn commented on #1019
Ah, I missed that news ;)

[2015-12-29 00:19] michaelrkn commented on #1120
This isn't a great place to ask for help - please try stackoverflow.com.

[2015-12-29 00:19] #1120 closed

[2015-12-29 01:52] mattw59 commented on #1018
Sort of slowly with the holidays. Will try to get you something to look at
tomorrow. The code is close to done.

On Monday, December 28, 2015, Michael Kaiser-Nyman <notifications@github.com>
wrote:

[2015-12-29 06:52] JasperKamp commented on #1120
@michaelrkn This was not a request for help. Instead, it was a correction (answer) of an issue I encountered on the Getting Started guide.

Perhaps I should have rephrased the original issue.

Anyways it is working for me, just wanted to share my findings with the rest.

[2015-12-29 06:59] michaelrkn commented on #1120
Sorry for the misunderstanding. You should not need to rename config.js to config.js.txt (see http://www.ember-cli-mirage.com/docs/v0.1.x/server-configuration/). If you believe there is a bug that require you to rename your file like this, could you please provide the steps to reproduce the issue? Thanks!

[2015-12-29 07:50] JasperKamp commented on #1120
Now I understand the confusion. I was not renaming the file to config.js.txt, but I was using an *text-file attachment* of a corrected config.js to demonstrate the full version of config.js that was working for me.

Allow me to be more elaborate.

The following code, as posted on the guide, was **not** working for me:
[code]
After seeking help in other examples, I altered the config.js to a workin

[2015-12-29 16:06] michaelrkn commented on #1120
Looks like you missed the section on [upgrading to the latest version of Ember Data](https://guides.emberjs.com/v2.2.0/getting-started/ember-cli/#toc_upgrading-ember).

[2015-12-30 00:35] locks commented on #1047
@rwjblue @michaelrkn it'll get done this week, sorry

[2015-12-30 04:39] mozeryansky opened #1122 "Warn users they are reading old documentation for < V2.0"
After reading a few pages of the guide for 1.10 I realized that I was on the wrong version. Is there a way the guides could warn readers they are reading old versions? Maybe something like symfony does: http://symfony.com/legacy

I was taken to the guide from google searching and started reading about resource and route and was very confused.

[2015-12-30 04:44] mozeryansky commented on #1122
Ha, I just saw that all 2.0 versions do warn that I'm reading old document but not for 1.0 versions. Could a change be made to the old versions to include this warning as well? (Would you welcome a pull request?)

[2015-12-30 05:44] jdmarshall commented on #853
The section on bubbling is inaccurate at least in 1.13 and beyond.  You have to have an action on the component or you get an error.  It implies a default behavior you should rely on but that behavior no longer exists, and it provided no alternative.

I'm trying to have one component that has a list of items to select and another that displays the currently selected item, and the guides provide no

[2015-12-30 06:05] michaelrkn commented on #853
@jdmarshall The section on bubbling has [been removed](https://guides.emberjs.com/v2.2.0/templates/actions/). There's [no attempt is made to update content, layout, or styles for older versions](https://github.com/emberjs/guides/blob/master/CONTRIBUTING.md). I'm not sure what you mean by "it implies a default behavior"; it would help the discussion if you could be a bit more specific.

[2015-12-30 06:12] michaelrkn commented on #1122
Thanks for getting involved here, @mozeryansky! A pull request would be very welcome, but this is a thorny issue. Old versions of the Guides are [generally not updated](https://github.com/emberjs/guides/blob/master/CONTRIBUTING.md). We've made exceptions for a couple important changes, such as this. However, backporting can involve difficult rebasing, and the person who [implemented the old versio

[2015-12-30 06:33] mozeryansky commented on #1122
I've having a ton of issues with ruby but I'll attempt to `copy the code over and make a new commit` if I can test it locally.

[2015-12-30 07:23] michaelrkn commented on #1122
There are likely folks in the [documentation slack](https://embercommunity.slack.com/messages/documentation/) who can help you out with your Ruby woes.

[2015-12-30 07:26] mozeryansky commented on #1122
Thanks, I'm using RVM instead of OS X's native ruby. Plus I need to use different command line tools `sudo xcode-select -switch /Library/Developer/CommandLineTools`. Macport isn't happy with that, but all is good. I literally just got the middleman server running.

[2015-12-30 09:02] mozeryansky commented on #1122
I don't know if you get a notification for references, but I attempted the fix and sent a pull request

[2015-12-30 09:07] tsing80 opened #1124 "numeric character displayed as square on google chrome on windows"
Environment : Windows 10 x64
Browser : Google chrome  47.0.2526.106 m

All the numeric character is shown as square for the latest guide :
![before](https://cloud.githubusercontent.com/assets/9977225/12048513/fc28aca4-af16-11e5-8ae1-3574a7f080ce.png)

After removing the "pnum" element from the below style highlight in blue, (changed to '-webkit-font-feature-settings: "kern", "liga"')

![css-style]

[2015-12-30 20:05] toobulkeh commented on #1094
Might I suggest including a small paragraph [here](https://guides.emberjs.com/v2.2.0/getting-started/#toc_installation) before saying "you're good to go"?

It's misleading and hidden otherwise, and has caused us a lot more trouble than it's worth.

I realize it would make the homepage more wordy, but it's a bit misleading to not have those steps there, since everything is lagging behind so much st

[2015-12-30 20:47] rtablada commented on #1094
@toobulkeh I that page is referring to installing Ember CLI and don't talk about working within an actual project.

[2015-12-30 20:50] toobulkeh commented on #1094
I disagree -- that page is Ember's guide to "installing Ember". It says nothing about installing the latest/proper version of Ember. It's been that way for 5+ months too -- which is when Ember 2.0.0-prod was released.

[2015-12-30 21:04] toobulkeh opened #1125 "Add (temporary) note to Getting Started about upgrading Ember"
At the end of [The Getting Started / Installing Ember Guide](https://guides.emberjs.com/v2.2.0/getting-started/) it says "You're good to go", but at this point in onboarding you're using Ember 1.13 and Ember-CLI 1.13. While Ember-CLI 2+ hasn't been production released yet, Ember is on 2.2.1 as of this writing.

It took us, as new users to Ember, way too long to figure out that a few extra steps we

[2015-12-30 22:25] cafreeman commented on #1125
+1 It totally seems trivial now, but it took several different false starts and a lot of googling to finally find an article that actually mentioned how to get Ember and Ember Data up to the current version.

[2015-12-30 23:09] locks commented on #1125
This has been previosuly discussed and rejected. It is not trivial to update older versions of the guides (which 2.2.0 would be by then).

[2015-12-30 23:09] #1125 closed

[2015-12-30 23:11] michaelrkn commented on #1125
@locks We have not added anything 2.3-specific yet. Several issues have been opened by people going through the tutorial accidentally using old versions of Ember and especially Ember Data. I think this is a real problem and we should get this in before we add anything 2.3-specific.

[2015-12-30 23:12] locks commented on #1125
@cafreeman https://guides.emberjs.com/v2.2.0/getting-started/ember-cli/#toc_upgrading-ember shows how to update said versions

[2015-12-30 23:12] locks commented on #1125
@michaelrkn 2.3 of the guides won't be released until after CLI 2.2 so that is a moot point

[2015-12-30 23:15] michaelrkn commented on #1125
rwjblue [8:07 AM]
Most likely going to release 2.3 final next weekend (by the 4th).

michaelrkn [4:00 PM]
is cli 2.3 going to be released simultaneously?

rwjblue [4:03 PM]
Beta most likely, but ya

[2015-12-30 23:38] toobulkeh commented on #1125
Guides trailing CLI trailing Ember?

[2015-12-31 06:55] mozeryansky commented on #604
Could /current just be a page with a js redirect which opens http://guides.emberjs.com/versions.json gets the latest version then redirects to that url? One file and done.

[2015-12-31 06:56] mozeryansky commented on #604
More like do a redirect with /current/ replaced with the version number so all urls work.

[2016-01-02 17:58] toddjordan commented on #853
ok, back around to looking at this...  I'm willing to take it on but gonna need some more information on these items.  Will do some research, but any further explanations on what the items in the above list mean (or links!) would be helpful.

I assume return values means returning things like promises from closure actions, so the component can handle conclusions to synchronous calls.

Does passing

[2016-01-02 18:05] toddjordan commented on #1019
@locks @michaelrkn starting to look at this.  I'm assuming this fits into the fuller tutorial "Super Rentals" example?  Is there a codebase I can build this example onto?

[2016-01-05 11:04] jackfranklin commented on #1105
@locks I'm going to take a stab at this if that's OK, hoping to get a PR in soon :+1:

[2016-01-06 16:14] rovo79 opened #1140 "Routes and Templates Confusion"
https://github.com/emberjs/guides/blob/881b4850705402c1535d64a8ac3721996a5b853f/source/tutorial/routes-and-templates.md

On line 90, it shows correctly, localhost:4200/about

but on the public site guide it still shows localhost:4200:
https://guides.emberjs.com/v2.2.0/tutorial/routes-and-templates/

[2016-01-06 18:51] thejameskyle commented on #1110
I wrote this about the setup Babel uses for translations https://github.com/thejameskyle/crowdin-sync

[2016-01-06 21:25] toddjordan commented on #853
ok, found some information on `target` and `value` here: http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html#toc_closure-actions  I believe there are also some tests exercising it in source

[2016-01-06 21:28] toddjordan commented on #853
I also think I get the curry behavior as well from the same link in my last comment.  I'll start on this by creating a running example of these

[2016-01-06 21:53] locks commented on #1140
This will be fixed during the 2.3 release.

[2016-01-07 01:19] acorncom commented on #1110
@thejameskyle Thanks! :+1:

[2016-01-07 08:16] mozeryansky opened #1146 "Run loop example has a mixed content error from the iframe src"
https://guides.emberjs.com/v2.2.0/applications/run-loop/#toc_an-example-of-the-internals

In source/applications/run-loop.md, the iframe points to a http url:
`http://emberjs.com.s3.amazonaws.com/run-loop-guide/index.html`
But the site is served on a https connection, so the console reports a mixed content error and doesn't load the url. Testing in Firefox and Chrome.

I would submit a PR for http

[2016-01-07 12:13] nightire commented on #1110
Yeah, I'm one of the translators in Babel Plugin Handbook, I would say Crowdin is a good option for Ember as well.

[2016-01-07 13:14] rovo79 opened #1147 "Mirage Path Not Found 404"
Hello,

I've followed the Tutorial Guide very closely but I am running into an issue trying to complete the Ember Data section. https://guides.emberjs.com/v2.2.0/tutorial/ember-data/

Index is coming up blank. When I inspect in Chrome I'm receiving a 404 for the rentals path.
`GET http://localhost:4200/rentals 404 (Not Found)     --- jquery.js: 9664`

Greatly appreciate any insights. Would love to

[2016-01-07 14:41] rovo79 commented on #1147
After researching more, I'm guessing this is maybe somehow related to Ember CLI not producing a JSONAPIadaptor? I'm completely new to this, and not sure.

https://github.com/ember-cli/ember-cli/issues/4787

[2016-01-07 16:17] acorncom commented on #1147
@rovo79 That could be it or you may need to update your jQuery to 2.x (for Mirage).  Could we move this discussion to the Slack `#needhelp` channel or Stackoverflow though?  If it's a bug in the guides, we should fix it, but other folks have done the guides and haven't run into this issue, so it's more likely to be your local setup :-)

[2016-01-07 16:19] rovo79 commented on #1147
Definitely. Thank you for the hint. I will try adjusting my jQuery.

Do I need a Slack invite to get into ?
https://embercommunity.slack.com

[2016-01-07 17:00] acorncom commented on #1147
@rovo79 Yes, you can get it by visiting https://ember-community-slackin.herokuapp.com/ (referenced on the http://emberjs.com/community/ page, but it's a bit buried).  See you shortly! :-)

[2016-01-07 17:00] rovo79 commented on #1147
Thank you!

[2016-01-07 17:00] #1147 closed

[2016-01-07 19:38] ioev opened #1149 "Mirage tutorial step code example has an error"
https://guides.emberjs.com/v2.2.0/tutorial/ember-data/

The code example for "Let's now configure Mirage to send back our rentals that we had defined above by updating" returns an object with a "data" property.  The Ember Chrome plugin console will complain that there are no models with the name "datum".  Changing this property to "rentals" fixes the example.

Edit:  Sorry, I just realized that my

[2016-01-07 20:08] locks commented on #1149
Yes, this is a problem with `npm install -g ember-cli` installing Ember CLI 1.13.13 instead of the latest 2.2.0 beta. This means that the Ember Data version will be 1.13.x, and in this version the default adapter is RESTAdapter, hence it trying to find the `datum` model.
In Ember Data 2.x.x, the default adapter is JSONAPIAdapter, which uses the format in the tutorial.

[2016-01-07 20:08] #1149 closed

[2016-01-07 22:15] acorncom commented on #1106
Initial repo setup here, more work on it welcome: https://github.com/acorncom/super-rentals

[2016-01-07 22:46] locks opened #1150 "New content types in the guides"
Warning, sidenote

[2016-01-08 04:50] acorncom commented on #1125
#1153 should help resolve this.  Looks like ember-cli is likely to be in beta through at least Ember 2.4 as final items are cleaned up with it (per rwjblue on Slack in the last few days)

[2016-01-08 14:16] rovo79 opened #1155 "Using Mirage with Ember Data"
I've been struggling to successfully complete this guide for a few days now, stuck each time at the Ember Data section. After I installed ember-cli-mirage, I would try to proceed through the rest of the guide, but http://localhost:4200 would return a blank page in the browser, with an error http://localhost:4200/rentals 404 not found.

What seemed to fix it for me: in super-rentals/package.json I

[2016-01-08 14:21] acorncom commented on #1155
@rovo the thing that actually fixes it is restarting your Ember server. Sent you some details on Slack. Glad you're up and running!

[2016-01-08 14:21] #1155 closed

[2016-01-08 14:29] rovo79 commented on #1155
@acorncom  I did try restarting Ember to fix it, but that didn't seem to resolve it for me. So I looked again at all my JSON files, and noticed no mention of Mirage in there. Maybe my build was erroring out causing it not to be added?

Thank you very much for all the help you provided me in getting up and running.

[2016-01-08 17:13] #1094 closed

[2016-01-08 19:42] pixelhandler opened #1157 "Tip on testing Error substates"
I think it may be a good idea to add to the testing guides how to test fault tolerant behaviors in acceptance tests. For example, writing an acceptance test with a mocked XHR error with status 502 (Bad Gateway) which can be handled using the application-error substate to display a friendly message to visitors instead of a blank screen.

However, because an error is thrown and the env is testing Em

[2016-01-08 21:11] acorncom commented on #1157
I'm inclined to think this is more in-depth than we would want for the guides, but would make a great blog post somewhere (or possibly something to add to the API docs somehow).  @locks ?

[2016-01-09 01:13] pixelhandler commented on #1157
@acorncom thanks, I agree prolly not needed in the guides, thx.

[2016-01-09 01:13] #1157 closed

[2016-01-09 01:15] locks commented on #1157
@pixelhandler I would suggest submitting it to https://github.com/emberwatch/emberwatch as a recipe

[2016-01-11 16:17] kdhquickitt opened #1161 "Improve documentation on async test helpers' return values"
The "looks like they are blocking calls" aspect of async test is extremely cool, and clearly requires a great deal of internal magic.  Unfortunately, the complexity of that magic makes it difficult for mere mortals to understand.  In addition, one cannot be certain what portions of existing behavior are part of the API "contract" and what might be implementation details subject to change.

The roo

[2016-01-11 16:33] jsmestad opened #1162 "Core Concepts lacking notes about Controllers"
It seems that controllers are still required as part of the Ember.JS stack. However the current [Core Concepts](https://guides.emberjs.com/v2.2.0/getting-started/core-concepts/) page has no reference to controllers even for usage with things like Query Parameters. Is this an oversight or intentional?

I was surprised going through the guides section by section to see Controllers start to pop up wi

[2016-01-11 18:04] locks commented on #1162
This is intentional as controllers play less of a significant role in the stack nowadays, and they are going to evolve into routable components somewhere down the 2.x branch. Which is mostly what's explained in the introduction of controllers.

The current limbo until routable components land made us do some compromises in the guides.

[2016-01-11 18:04] #1162 closed

[2016-01-11 18:10] locks opened #1163 "Improve feature flags guide"

[2016-01-11 18:19] jsmestad commented on #1162
Thanks for the clarification @locks

[2016-01-12 00:23] wifelette commented on #1110
I've been chatting with somone from the Japanese Ember community very interested in helping get things started on the Japanese front, who also says he has experience working on this kind of effort before. Going to see if I can get Tim (GH handle currently unknown) to jump in here.

[2016-01-12 00:25] IsaacLessard commented on #1110
Awesome, crowdin looks great. I am also very interested in helping getting the Japanese translations started as well, I would love to talk with him.

[2016-01-12 01:38] acorncom commented on #1140
Closing this as it'll be handled during release

[2016-01-12 01:38] #1140 closed

[2016-01-12 01:39] acorncom commented on #1163
@locks Any more details on this so other folks can help on it?

[2016-01-12 01:48] locks commented on #1163
@acorncom I'm going to re-organize the guide to explain the several stages that a feature goes through, and how to use it in each stage.

[2016-01-12 01:55] timoth3y commented on #1110
I few members of the Japanese Ember community are interested in helping out with the localization. Crowdin is fine. Regardless of platform, the secret to making these projects work is communication with the core team and setting up lots of small wins early on.

[2016-01-12 04:35] mitchlloyd opened #1166 "Add documentation for `{{#each key="something"}}` back to "Displaying a List of Items""
I noticed that the documentation for `key` usage in the [Displaying a List of Items](https://guides.emberjs.com/v2.2.0/templates/displaying-a-list-of-items/) has been removed from the guides. It was removed in [this PR](https://github.com/emberjs/guides/pull/629).

In a Canary app (2.2.0-beta.3) I changed rerender performance from ~650ms to ~90ms by adding `@index` to `{{#each}}` when rendering an

[2016-01-12 04:40] rwjblue commented on #1166
Usage of `@index` is complicated. If you example used local component state and then the items are reordered, you are in for a very bad time.  This is definitely not "the happy path", and I'm not convinced it belongs in the guides.

Lets fix that!

Having a link from the `Displaying a List of Items` section (or other applicable place where we talk about the `{{each}}` helper) to the API docs, seem

[2016-01-12 04:54] mitchlloyd commented on #1166
Sounds like a good compromise given that there are pitfalls to using this feature. I can create a PR in this repo to link to the correct API section, but I'm probably not the right person to update the API documentation. Just looking at the Ember and HTMLBars isn't giving me a picture of what is going on. I've _always_ seen an increase in rerender performance when adding a key -- even if it is som

[2016-01-12 14:07] mdentremont commented on #1122
Wooot, looks fixed to me!
<img width="983" alt="screen shot 2016-01-12 at 10 07 03 am" src="https://cloud.githubusercontent.com/assets/1106324/12265606/5760ad54-b914-11e5-84a0-e08ae5a3b908.png">

[2016-01-12 14:11] mdentremont opened #1167 "Header on guides tab is styled differently than other emberjs.com tabs"
Very minor, but just noticed that on https://guides.emberjs.com/v2.2.0/ has a different header than any other tab on Emberjs.com (see screenshots). Also, when on https://guides.emberjs.com/v2.2.0/, the "Guides" tab is not styled to show that "Guides" is selected.

<img width="684" alt="screen shot 2016-01-12 at 10 08 53 am" src="https://cloud.githubusercontent.com/assets/1106324/12265651/9461f5d2-

[2016-01-12 21:44] locks commented on #1167
Yup, it's a bit jarring but it's due to our architecture. Each version of the guides is effectively its own website, hence the disparity. The older versions won't be fixed, but the website itself is going through the redesign process and will soon be matched. Thanks for raising the issue all the same!

[2016-01-12 21:44] #1167 closed

[2016-01-12 21:45] locks commented on #1122
@mdentremont you're on v2.0.0, this is for < v1.13.0

[2016-01-14 00:24] timoth3y commented on #1110
Is this project going to be moving forward? There is already a great (but small) community in Japan and Japanese language tutorials and docs would really help it grow.

[2016-01-14 01:12] thejameskyle commented on #1110
I'm happy to set everything up on my server to sync translations from crowdin if thats what is wanted. Just needs a project structure and `crowdin.yaml` file setup like this one: https://github.com/thejameskyle/babel-plugin-handbook/blob/master/crowdin.yaml

[2016-01-14 03:57] acorncom commented on #1110
@timoth3y Yes, we're interested in having it move forward, mainly working on figuring out the logistics on it.  Planning on discussing it in our meeting tomorrow.  If you'd like to drop in to the Slack `#documentation` channel, we can discuss in more detail.

@thejameskyle Thanks, much appreciated!

[2016-01-14 22:30] jsmestad commented on #944
I'll take a stab at this. Been using highlight.js lately on some other projects.

[2016-01-14 22:31] jsmestad commented on #1058
@michaelrkn this looks like this can be closed now that #1034 was merged.

[2016-01-15 15:09] toddjordan commented on #853
Once this PR #1148 gets merged we can check off all but "Threading actions through multiple layers.." and "Bubbling to routes".  I'll work on those next.

[2016-01-15 19:43] alejandropc commented on #1147
I experienced the same issue while following the tutorial.

version: 2.2.0-beta.6
node: 4.2.4
npm: 2.14.10
os: win32 x64

[2016-01-15 21:26] acorncom commented on #1147
@alejandropc The latest docs (not yet deployed) have an extra bit of info them, but you'll need to restart your ember-cli server.  Doing that should fix things for you.  If it doesn't, please ask on Slack or StackOverflow. Thanks!

[2016-01-15 21:57] alejandropc commented on #1147
It worked! just as you mention: Restarting the ember-cli web server

Thanks!

[2016-01-16 15:52] ryrych opened #1173 "Setting properties on the component in didInsertElement() triggers a re-render - not clear"
In [Integrating with Third-Party Libraries with didInsertElement](https://github.com/emberjs/guides/blob/master/source/components/the-component-lifecycle.md#integrating-with-third-party-libraries-with-didinsertelement) it is not clear **which properties trigger re-render**:

- `this.$().attr(…)
- this.set('componentAttribute', 'foo')

I tried both:

[code]

and

[code]

and no exception has been t

[2016-01-18 02:34] locks commented on #1173
@ryrych the test right after is for non-top level views: https://github.com/emberjs/ember.js/blob/d69b2f75b8bfa509a7146b2f1efe44ba5bb6c35f/packages/ember-views/tests/views/view/view_lifecycle_test.js#L124-L142

`this.$().attr('contenteditable', true);` isn't setting an attribute of the component's JavaScript though, which is what's meant afaik. Meaning, your last snippet should throw a warning.

[2016-01-18 20:02] ryrych commented on #1173
Thanks, I'll check that out!

[2016-01-19 12:56] kevinkucharczyk opened #1174 "Sidebar section links may wrap on hover"
I'll start with a gif:

![emberguides](https://cloud.githubusercontent.com/assets/3127419/12419060/ee154c4c-beb3-11e5-9723-9f26e1542c71.gif)

Some section name lengths may cause wrapping the link to another line when hovered, but are short enough to stay on one line otherwise. This can be disruptive while navigating through the Guides.

[2016-01-19 15:56] locks commented on #1174
Hm, what do you propose? I personally don't mind the current behaviour. Maybe ellipses instead?

[2016-01-19 16:30] kevinkucharczyk commented on #1174
This behaviour is a little bit annoying when I'm moving the cursor from the top - imagine trying to move the cursor from "Wrapping Content in a Component" and wanting to click "Handling Events" - the target would move down a little bit :)

Ellipses should work, though I'm not sure if cutting off a section name is desirable. I was also thinking of `white-space: nowrap`, but then again this might ca

[2016-01-19 17:15] eccegordo commented on #1174
Perhaps adjust the margin on hover to account for thicker border on hover state of left div side.

I can guess what the CSS might be just need to look at it. I think left margin on hover should be negative a couple pixels probably.

[2016-01-19 21:27] ryrych commented on #1173
@locks you're right, this triggers a deprecation warning. I'm closing the issue.

[2016-01-19 21:27] #1173 closed

[2016-01-19 22:49] nightire commented on #1110
...and this awesome walk-through guid: thejameskyle/crowdin-sync

[2016-01-21 04:33] #1174 closed

[2016-01-21 04:37] acorncom commented on #1163
@locks Seems like we could open this up as a "help wanted", no?

[2016-01-21 04:39] acorncom commented on #1166
@mitchlloyd Would you be willing to send in a PR to this repo and then open an issue on the main https://github.com/emberjs/ember.js/issues repo about the need for API docs on this?

[2016-01-21 04:43] acorncom commented on #1050
I'm closing this to clear it from the tracker, but looking forward to seeing more work on this!

[2016-01-21 04:43] #1050 closed

[2016-01-21 04:46] acorncom commented on #1161
@kdhquickitt Looking at it, it looks like you're asking that:

Is that a good summary?

[2016-01-21 04:46] acorncom commented on #1019
@toddjordan How's progress on this going?

[2016-01-21 04:48] acorncom commented on #1047
@locks Did this ever get written?

[2016-01-21 04:50] acorncom commented on #1058
@jsmestad There's been some debate back and forth about whether to remove the font-smoothing altogether (see https://github.com/emberjs/guides/pull/1034#issuecomment-164554578)  Based on docs team discussions, we're not opposed to removing it, but would like to see the design not take a hit in the process.  And it's not an urgent priority IMO.

So would love a PR if someone wants to send one in! :

[2016-01-21 04:51] acorncom commented on #1084
Closing this, as it's an API docs issue.  @tsteuwer if you can open an issue over there, that'd be great!

[2016-01-21 04:51] #1084 closed

[2016-01-21 05:00] acorncom commented on #1146
@mozeryansky Thanks, looks like we can shift to using a folder name instead of the `emberjs.com.s3.amazonaws.com` path, which fixes both the SSL issue and eliminates the need to put everything on Firebase :-)

[2016-01-21 05:04] #1146 closed

[2016-01-21 05:04] toddjordan commented on #1019
Working on it.  Developing a service onto the super-rentals repo.  Been working on some other prs as well, but I'm down to this.  We can discuss at the meeting.

[2016-01-21 05:33] acorncom commented on #1019
:+1:

[2016-01-21 05:49] acorncom commented on #944
@jsmestad Cool!  Look forward to seeing it, we've needed it for a while :-)

[2016-01-21 17:40] jeradg opened #1183 "Search is broken in 2.3.0 guides"
Using the search field in the header is broken in the 2.3.0 version of the guides. Works in other versions and in the API docs.

Stacktrace from Chrome:

[code]

[2016-01-21 17:44] locks commented on #1183
I didn't deploy the resources for 2.3 search
[5:42]
we're going to redeploy and the only way I know is to manually delete the search indices
[5:42]
so I didn't deploy it :angel:

[2016-01-21 17:48] jeradg commented on #1183
Well, I guess I just volunteered myself to look into automating it.

[2016-01-21 18:00] acorncom opened #1184 "Setup Algolia documentation search and see how it works"
[code]

If this works well, I imagine we're going to want to add it to the API pages and the main website as well.  Probably worth putting in a separate JS file that we'll aim to make global (and have it read the versions.js file for the appropriate version tag to use).

[2016-01-21 18:01] jeradg commented on #1184
I'll investigate this afternoon.

[2016-01-21 18:11] jeradg commented on #1183
Will possibly be addressed by https://github.com/emberjs/guides/issues/1184.

[2016-01-21 18:44] kdhquickitt commented on #1161
Yes, that's a good summary.

[2016-01-21 19:22] acorncom opened #1185 "Improve search results on Google"
Currently, all Google links point to `/v1.10.0` guides instead of more recent guides. In order to fix that, we need to work out how to have a guides page that Google ends up looking at as more "authoritative" (probably by keeping the link the same).  Additional context and discussion is available here: #604

Once we've worked through that, we'll also need to inform Google that the v1.10.0 guides a