[2016-01-21 19:27] acorncom commented on #1183
@jeradg If you don't have time, we'll understand.  But would love to have the help if you're able :

[2016-01-21 19:37] acorncom commented on #1107
Per @rwjblue on Slack, tldr from the the last core team call:

I'm going to close this issue and we'll revisit when they've shipped

[2016-01-21 19:50] tomdale commented on #1107
For context, that should be in the next release IIRC.

[2016-01-21 21:51] mitchlloyd commented on #1166
@acorncom Added a PR: https://github.com/emberjs/guides/pull/1187

[2016-01-21 22:06] mitchlloyd commented on #1166
@acorncom Also added an [issue to emberjs/ember.js](https://github.com/emberjs/ember.js/issues/12853).

[2016-01-21 23:20] acorncom commented on #1107
@tomdale Can we request a ping when that lands?  We'll organize a scavenger hunt when it does :-)

[2016-01-21 23:42] acorncom commented on #1107
I've been hauled onto the mat for closing this issue, I hereby duly repent of my errant ways ...

Thanks @locks :smile:

[2016-01-22 01:19] rwjblue commented on #1107
Yes, I will definitely let y'all know when we get a PR up for moving the shims/modules into Ember itself.

[2016-01-24 00:09] jansegre opened #1190 "Wrong version on Getting Started / Installing Ember"
[Getting Started / Installing Ember](https://guides.emberjs.com/v2.3.0/getting-started/#toc_installation) for version 2.3.0, the `ember-cli` version shown there is `2.2.0-beta.6`, I would expect `2.3.0-beta.1`.

I would open a PR, but I'm just not sure to what branch I should request the pull, or if this actually temporary until `ember-cli` is out of beta.

[2016-01-24 01:09] locks commented on #1190
Hi, @jansegre. This will be addressed by https://github.com/emberjs/guides/pull/1176 when it gets merged.
Ember CLI 2.x won't come out of beta until a couple of behind the scenes changes are made, namely addonifying Ember (Ember Data is fully addonified in 2.3). That explains the beta-ness.

To explain why the PR hasn't been merged, we deployed a temporary version of the 2.3 guides while we merge

[2016-01-24 01:47] jansegre commented on #1190
:+1:

[2016-01-24 03:06] acorncom commented on #1190
I'll go ahead and close now

[2016-01-24 03:06] #1190 closed

[2016-01-24 21:35] ChrisMiami opened #1191 "Tutorial stops working when Mirage is introduced"
This may be user error, but I have done what I can to try to find it and cannot.

Going through the tutorial page-by-page (including installation from scratch on a new OS X box) leaves me with a non-functioning app when I complete this page: https://guides.emberjs.com/v2.3.0/tutorial/ember-data/ . Presumably, the data is supposed to display in place of the non-mirage version that was previously wo

[2016-01-24 22:57] locks commented on #1191
From the deprecation and the `data` error message, I believe this is a duplicate of: https://github.com/emberjs/guides/issues/1149 https://github.com/emberjs/guides/issues/1062 https://github.com/emberjs/guides/issues/1119

Check the linked threads and if you continue having problems, reach out to us at #documentation or #needhelp on Slack!

[2016-01-24 22:57] #1191 closed

[2016-01-25 04:26] samsebastian opened #1192 "EmberData and multi-word model names"
All the guides really only relate to a single word model name.

I'm pulling my hair out trying to figure out the right conventions by trial and error.

At first I had models and API endpoints named like `contact.js`, `contact-group.js` but the relationships were refusing to link up even after they loaded and populated both models.

I then found the issue below and went and renamed everything to ca

[2016-01-25 15:06] locks commented on #1192
Everything is dasherized.

[2016-01-25 19:26] gandalfar opened #1193 "Filtering Deprecations example uses underscores"
This example:
https://guides.emberjs.com/v2.3.0/configuring-ember/handling-deprecations/#toc_filtering-deprecations

Doesn't work out of the box, because it uses `_` from underscores.js. It might be better to either mention this dependancy or rewrite it in a way that doesn't need underscores.

[2016-01-25 22:31] acorncom commented on #1193
@toddjordan Here's that underscore issue that was getting discussed on the Slack `#documentation` channel

[2016-01-25 23:53] samsebastian commented on #1192
One big thing that caught me out was that it wasn't immediately clear that if you want to use a trimmed down relationship name ie in contact model having `groups: DS.hasMany('contact-group')` means you need to match up to `"groups"` out of your API endpoint as the relationship *name* rather than `"contact-group`", but include `"contact-group"` as the *type*.

That is probably the biggest thing tha

[2016-01-26 00:29] eccegordo commented on #1192
@locks perhaps there needs a table that enumerates the specific conventions here including interesting corner cases. I think for many people a clear reference table would help. And probably makes sense to map to concrete examples that stem from the unit tests in ember JS, ember cli and ember data.

@samsebastian I have always used singular dasherized strings for model types. One thing to be aware

[2016-01-26 03:25] samsebastian commented on #1192
@eccegordo I thought the same, and just converted all my models singular dasherized now as well (coming from Laravel on the other side where Models are singular it seemed more natural), but I'm finding that the JSONAPI serializer in Ember seems to convert them to plurals in the payload when sending requests back?

ie `"relationships":{"groups":{"data":[{"type":"contact-groups","id":"22"}]}},"type"

[2016-01-26 05:45] eccegordo commented on #1192
@samsebastian you raise a good point.

*CAVEAT* I am not a regular ember data contributor so don't know the design intentions of the core team

But when I think about this, it seems logically consistent when you consider the following:

1.) Ember shares a convention over configuration design philosophy that owes a lot to Rails. And Rails has a lot of automagical pluralization behavior.

2.) Before

[2016-01-26 05:55] ppcano commented on #1161
1) I also missed a better description on how the `async test helper` works when the `helper` returns  `app.testHelpers.wait()`.

I am not sure if the [wait documentation](http://emberjs.com/api/classes/Ember.Test.html#method_wait) wants to provide this kind of low-level description, but IMHO, this could also be reviewed:

- Add to the [registerAsyncHelper documentation](http://emberjs.com/api/clas

[2016-01-26 06:01] locks commented on #1192
@samsebastian just realized this is actually addressed in [relationship guide](https://guides.emberjs.com/v2.3.0/models/customizing-serializers/#toc_relationships):

[2016-01-26 06:23] locks commented on #1192
@eccegordo

It's not automagical, it's [code](https://github.com/rails/rails/tree/master/activesupport/lib/active_support/inflector).

From [Identification](http://jsonapi.org/format/#document-resource-object-identification):

Ember Data expects the `type` key to be plural.

That level of detail is for the [API documentation](http://emberjs.com/api/data/classes/Ember.Inflector.html).

I recommend

[2016-01-26 06:47] eccegordo commented on #1192
@locks I think that inverse relationship information is slightly inconsistent or ambiguous in some corner cases unless you serialize some of the rules yourself under the meta key.

https://github.com/json-api/json-api/issues/804

Also, I didn't mean to be disparaging with my use of "automagical" I just meant that the implementation details were automatically handled (e.g. the inflector code). Some

[2016-01-26 07:06] locks commented on #1192
I was specifically talking about the `type` key in the payload. Like the adage goes, naming is one of the hardest problems! I'm not too keen on that convention myself, I inquired about it once but the logs are lost in Slack-land.

[2016-01-26 07:20] eccegordo commented on #1192
Ah ok.

So what is the proper term for 'post' as in
`this.store.findAll('post');`

- Model type?
- Model name?
- Model type key?
- Model class name?

It seems that in most cases the model name is also the type key singularized, with some special cases when describing relationship keys (hasMany and belongsTo).

[2016-01-26 08:54] samsebastian commented on #1192
So as a new comer to Ember and JSONAPI spec, the thing that really broke things for me was implementing the relationship names incorrectly.

I'm still not super clear if the convention is to make the relation name the same as the relation type, or if it's acceptable (from a pattern point of view), to use shortened versions of the type as the name.

Example
[code]
Which would mean I can access in t

[2016-01-26 09:26] eccegordo commented on #1192
I don't believe the attribute name and the type keys have to be exactly the same. Just have to make sure you are consistent on the type keys when using stuff like model hooks and store methods. I personally would follow this pattern
[code]
The plural form of the attr signals in your code that you are dealing with an array or hasMany. And the type key `contact-group` is consistent.

I do that in my

[2016-01-26 09:54] eccegordo commented on #1192
Note that the default implementation in ember data JSON API serializer is going to automatically dasherize the model attribute.

https://github.com/emberjs/data/blob/v2.3.0/addon/serializers/json-api.js#L352

The dasherize behavior comes from Ember.String
http://emberjs.com/api/classes/Ember.String.html#method_dasherize

I believe that this means that if your code was under specified and looked li

[2016-01-26 17:20] ChrisMiami commented on #1191
Thank you @locks - I followed the steps in the upgrading guide referenced by #1149.  Since all this is fresh install for me, I think instead of a *"oh, by the way, just in case"* type of section, that upgrade should be a ***"This is a Mandatory First Step"*** - until the npm installer gets fixed to install the latest version.

So, `npm install bower` is not useful, but you have to add the -g: `npm

[2016-01-26 17:21] ChrisMiami commented on #1191
By the way, I don't think you should close this issue until a new tutorial is published on the site, but that's just my opinion.

[2016-01-26 17:24] locks commented on #1191
An update was published to the website, in [Installing Ember](https://guides.emberjs.com/v2.3.0/getting-started/#toc_installation) we now direct people to install the beta, avoiding the version mismatch.
There are further improvements on the pipeline to make it clearer, we'll release them as soon as they get merged.

[2016-01-27 02:10] peterramsing opened #1196 "ES6/ES2015 in Getting Started Guide"
While going through the [Getting Started](https://guides.emberjs.com/v2.3.0/getting-started/ember-cli/) section I noticed that the reference to ES6 didn't also reference ES2015.

There is a [line](https://github.com/emberjs/guides/blame/master/source/getting-started/ember-cli.md#L100) that says:

I think it might be worth adding "...ECMAScript 6 (or ES6 for short **or also referred to as ES2015**)

[2016-01-27 02:21] locks commented on #1196
Hm, technically the name is `ECMAScript 2015`, so maybe switch it around and have "(also known as ES6)"?

cc @acorncom

[2016-01-27 02:21] rtablada commented on #1196
Peter, submit a pr. I always appreciate feedback like this. We aim to make the docs clearer and to developers of all experience with JS and Ember!

On Jan 26, 2016, 8:10 PM -0600, Peter Ramsing<notifications@github.com>, wrote:

[2016-01-27 03:28] acorncom commented on #1196
@peterramsing welcome to Ember and thanks for the suggestion. Nice to get positive feedback, we mainly heard negative things for quite a while :smile: And yes, please do send in a PR.

@locks personally I prefer the original suggestion, as I see more references across JS tutorials, etc to ES6 than ES2015 even though that may not be quite as correct ...

[2016-01-27 03:29] acorncom commented on #1193
Closed by the PR above, thanks for the feedback!

[2016-01-27 03:29] #1193 closed

[2016-01-27 04:36] peterramsing commented on #1196
To be technically correct but also having ES6 in there, how does this feel:

code.

Off to go for a run and will submit the PR later tonight or in the AM.

[2016-01-27 07:00] peterramsing commented on #1196
Closing for #1197

[2016-01-27 07:00] #1196 closed

[2016-01-27 14:49] acorncom commented on #1166
Closing this issue, PR has been merged. Thanks!

[2016-01-27 14:49] #1166 closed

[2016-01-28 17:53] acorncom commented on #1184
This has been merged, thanks!

[2016-01-28 17:53] #1184 closed

[2016-01-28 21:40] toddjordan commented on #1019
I'm concerned about google maps being used as a service here.  Seems more tailored for a component/utility combo.  There's not a need for a singleton available across components.  I'm looking for other ideas of potential services for super-rentals at the moment.  Shopping cart would seem logical, but its already used in the services section of the guides.  Might be good to show off something else.

[2016-01-28 21:42] knownasilya commented on #1019
I use google maps as a service, this guarantees that the map is initialized before you place it in the dom, making using it from routes possible.

[2016-01-29 17:19] sotojuan opened #1203 "[Tutorial] Route generator output is wrongly inlined"
In the second paragraph of [this](https://guides.emberjs.com/v2.3.0/tutorial/routes-and-templates/#toc_an-index-route) section, the code after "We can see the now familiar output for the route generator" should be in a box, like the other shell output or code examples. When looking at [the Markdown](https://github.com/emberjs/guides/blob/master/source/tutorial/routes-and-templates.md#an-index-rout

[2016-01-29 18:20] locks commented on #1203
I believe the fix was merged after we deployed. Should get fix soon.

[2016-01-29 18:21] sotojuan commented on #1203
Sounds good! Closing the issue for now.

[2016-01-29 18:21] #1203 closed

[2016-01-30 17:10] toddjordan commented on #853
All the checkboxes in the original issue are addressed by PRs, except "Bubbling to routes".  Does this need an example in the guide?

[2016-02-01 06:36] tsing80 commented on #1124
Just find out if you enable "Disable DirectWrite" feature in chrome://flags,  there will not be square anymore  but the font display is not as nice with the feature disabled

[2016-02-01 17:15] acorncom opened #1207 "Remove Bower from customizing serializers page"
https://guides.emberjs.com/v2.3.0/models/customizing-serializers/#toc_community-serializers

[2016-02-01 17:17] acorncom opened #1208 "Figure out how to handle 1.13 docs when Ember-CLI 2.x hits stable on NPM"

[2016-02-01 17:25] locks commented on #1207
I'd say Ember Observer is enough.

[2016-02-02 00:04] acorncom commented on #1192
Closing this issue, as it seems like the take-away is "we need dasherized examples".  Will aim to add another issue to track that

[2016-02-02 00:04] #1192 closed

[2016-02-03 01:04] acorncom commented on #1207
Update the description above

[2016-02-03 01:09] acorncom opened #1213 "Document how dasherized model names work in relationships / store calls"
Some folks get confused without clarification on this (see https://github.com/emberjs/guides/issues/1192).  Suggested locations:

- `models/finding-records` (in addition to our `post` we might want to alternate with `blog-post`)
- `models/relationships` (again, might be worth changing `post` to `blog-post` under One to Many)

[2016-02-03 02:54] samsebastian commented on #1192
From a new user perspective, it would also help to include a note explaining how whatever you use as your relationship name, needs to be mirrored on the JSONAPI response.

Ie if you use the shorthand relationship *name* `groups` instead of matching the relationship *type* `contact-groups` the API needs to send the relationship name as `groups`. This was my biggest pain point because I was assuming

[2016-02-03 03:01] locks commented on #1192
@samsebastian where did that assumption come from? The thing on the left (whether attr or relationship) is the name that shows up in the payload, the name on the right (whether transform or model type) is what's used by Ember Data to make sense of the data. What I mean by this explanation is that both APIs behave the same way.

[2016-02-03 15:38] #1207 closed

[2016-02-04 01:50] locks commented on #1101
I don't think this is happening in a foreseeable future.

[2016-02-04 01:50] #1101 closed

[2016-02-04 02:17] #853 closed

[2016-02-04 02:22] #1018 closed

[2016-02-04 02:23] #1020 closed

[2016-02-04 02:24] locks commented on #1106
https://github.com/emberjs/super-rentals

[2016-02-04 03:44] locks opened #1219 "Weekly Newsletter"
I'd like to bring more attention to our contributors, and would like help coding some tools to that effect.

I was thinking of having a script that would partially generate a newsletter with the contributors for the week/month, and a link to the relevant core-notes minutes. The newsletter would also make a note of first-time contributors specifically.

[2016-02-04 03:57] locks commented on #1183
:shipit:

[2016-02-04 03:57] #1183 closed

[2016-02-04 05:21] acorncom opened #1221 "Fix illegible + / - setup in the new Quick Start"
In the new Quick Start that just got merged, the background behind the code blocks makes it very hard to read.  Parts of it look great, but others definitely do not ;-)  /cc @locks

![screen shot 2016-02-03 at 10 20 35 pm](https://cloud.githubusercontent.com/assets/802505/12806559/61e2e104-cac4-11e5-83db-acd719b290d6.png)

[2016-02-04 14:16] locks commented on #1221
Looks fine to me.

[2016-02-04 17:49] acorncom commented on #1221
Hmm, this is Safari 9.0.2 (or Chrome 47) on 10.9.5.  I'll see about checking on a different OS in a bit ...

[2016-02-04 17:57] acorncom commented on #1221
I'm seeing the same issues with same browser versions on OS 10.10.  Initial few code blocks look fine but the later ones don't look so good ...

[2016-02-04 18:56] locks commented on #1221
I forgot :trollface: .

[2016-02-04 19:51] acorncom opened #1223 "Write up docs on component integration tests combined with closure actions"
Right now, we don't have anything documented about how to pass in closure actions to a component in an integration test.

[2016-02-04 20:07] toddjordan commented on #1223
I'm having an internal debate on whether you would want to pass a closure action to your component under test, as opposed to a regular function.

For example:
this:
[code]
is the same to your component under test as this:
[code]
If I understand correctly, the component gets a function either way

by using the action helper you are not testing anything we don't already know works.  I'd be intereste

[2016-02-04 20:27] jeradg commented on #1223
@toddjordan: On the other hand, there's the view that tests also serve as de facto documentation of how to use code. So if a given component is likely to receive an action that's declared in an `actions` hash, then it could be useful to write the test to reflect that.

[code]

[2016-02-04 20:36] rwjblue commented on #1223
FWIW, I generally do this:

[code]

[2016-02-04 20:50] toddjordan commented on #1223
wow.  4 ways to skin this cat :-P  They're all just giving the component a function right?

[2016-02-04 21:02] rwjblue commented on #1223
`this.on` puts it in `actions` hash

[2016-02-04 21:04] toddjordan commented on #1223
yeah, but in the actions hash of your test, not the component under test, right?

[2016-02-04 21:10] rwjblue commented on #1223
confirm

[2016-02-05 01:39] #1221 closed

[2016-02-05 06:35] samsebastian commented on #1192
@locks
Oh it was completely my bad, I wouldn't say it was necessarily based on anything other than perhaps assuming Ember did it's own magic around the arbitrary "name" of things, but the underlying connection / relationship was still defined and serialized on the more specific "type" when dropping to JSONAPI format. I'd say it was more from not really having any obvious guidelines and just taking

[2016-02-07 02:06] cllns opened #1231 "Install Guide - wrong version"
On: https://guides.emberjs.com/v2.3.0/getting-started/

When I run
[code]
I get version `1.13.15`:
[code]

I didn't realize I was on the wrong version until I got to the Mirage section, when it just didn't work.

The Getting Started page says:
[code]
Maybe it should be more specific? I didn't even run `ember -v` to check, but if I did, it would've shown *a* version number, but not the correct one.

[2016-02-07 02:35] locks commented on #1231
If you ran `ember -v` inside a project you got the version that the project depends on, not the global one.
I just tried `npm install -g ember-cli@beta` and it correctly installed `2.3.0-beta.2`.

We don't want to be more specific because we don't change older versions of the guide, and those specific versions would need to be changed, especially for security releases.

[2016-02-07 02:55] cllns commented on #1231
When I first ran that install command, I was using node `v0.12.2` instead of a more recent one. Maybe that's why it installed `1.13.15`?

[2016-02-08 16:16] locks opened #1232 "Improve Services page"
- [ ] Reorganize content so injection conventions are explained in the same place
- [ ] Remove mention of being able to inject in an initializer. [? I don't really agree with the idea xD] Or expand on it.
- [ ] Fill out prose

[2016-02-09 03:21] locks commented on #1231
@cllns `latest` is the latest _stable_, that is why it will also install `1.13.x`. If try try `@beta` like we currently suggest in the guides, you should be good to go.

[2016-02-09 03:21] #1231 closed

[2016-02-09 03:40] cllns commented on #1231
I think this should be re-opened. I ran `npm install -g ember-cli@beta`, like the guides say, and got `1.13`. I didn't realize it until a later step inexplicably didn't work.

At least 2 other people reported this same thing: https://github.com/emberjs/ember.js/issues/12837

[2016-02-09 03:42] locks commented on #1231
That's impossible. I advise asking for help in the Slack channel, something might be off in your env.
The other report was before we updated the guides with the beta instruction.

[2016-02-09 03:54] cllns commented on #1231
Ok, thanks for you help

[2016-02-09 20:08] ChangJoo-Park opened #1236 "[Tutorial] Autocomplete after delete input"
I am following ember.js 2.3.0 guide.

now I read and code autocomplete method.
https://guides.emberjs.com/v2.3.0/tutorial/autocomplete-component/

In this page, **app/controller/index.js** make undefined error when empty input string.

I don't want to leave it.

So.

is it right code to solve?
I find Ember.isEmpty().

[code]
I want to know someone who have elegant solution.

**add 2016-02-09**
I s

[2016-02-09 20:27] ChangJoo-Park opened #1237 "[Tutorial] Need consistency name of rentalUnit"
In tutorail, I see the word **rentalUnit**, **rental-unit** in each syntax.

**rentalUnit** is in the  (A Simple Component)[https://guides.emberjs.com/v2.3.0/tutorial/simple-component/]

**rental-unit** is in the (An Autocomplete Component)[https://guides.emberjs.com/v2.3.0/tutorial/autocomplete-component/]

It need to be change to same name.

[2016-02-09 22:22] ChangJoo-Park commented on #1237
Pull request #1238

[2016-02-09 22:24] #1237 closed

[2016-02-09 22:24] locks commented on #1237
PR merged :)

[2016-02-09 22:25] ChangJoo-Park commented on #1237
Thank you!

[2016-02-10 18:02] tundal45 opened #1241 "Run Loop guide has `MIXED CONTENT` HTTP & HTTPS error"
https://guides.emberjs.com/v1.13.0/understanding-ember/run-loop/#toc_an-example-of-the-internals & https://guides.emberjs.com/v2.0.0/applications/run-loop/#toc_an-example-of-the-internals both seem to be unable to load some content in an iFrame or somesuch. The error I get in Chrome console is below:

![ember js - understanding ember js_ the run loop 2016-02-10 09-56-16](https://cloud.githubuserco

[2016-02-11 03:54] bencodezen opened #1244 "Guides give JSON API data but default is REST API"
Worked with @spencer516 on this issue when going through the tutorial and discovered that there is a missing step since the default adapter and serializer is using the REST API as opposed the JSON API which is being used in the guide.

![screen shot 2016-02-10 at 10 52 37 pm](https://cloud.githubusercontent.com/assets/4836334/12969061/00a2e364-d049-11e5-995c-ae36134e58ce.png)

The two suggested wa

[2016-02-11 04:00] locks commented on #1244
@bencodezen your project has the wrong versions, you probably installed CLI `v1.13` instead of the `v2.x` beta like we instruct in https://guides.emberjs.com/v2.3.0/getting-started/#toc_installation.

[2016-02-11 04:00] #1244 closed

[2016-02-11 04:04] locks commented on #1244
Still trying to figure how to make it less error-prone without putting notices all over :\

[2016-02-11 04:05] bencodezen commented on #1244
@locks Ah. My mistake! I think my confusion was in glossing over the `@beta` part of the command and reading the last line which just says "if a version number shows up, you're good!"

Maybe the appropriate route is to change the verbiage to say, "If your version is v2.x or higher, you're good to go!"

[2016-02-11 04:09] locks commented on #1244
It's a good suggestion, the potential problem is that we need to specify both the major and minor versions since that's what the guides are synced to. I'll bring it up at the meeting today.

[2016-02-11 16:04] toddjordan commented on #1232
I can pick this up after I get the service tutorial in, which is this week

[2016-02-11 17:59] spencer516 opened #1249 "Concat Helper is missing"
After digging through the guides, I couldn't find any place where the concat helper is discussed. With some talk of `classNameBindings` being deprecated (source needed — maybe a Stef Penner tweet?), having good examples of how to use the concat would be great to add.

I'd be happy to create a PR for adding this if there's some guidance on wether to include and where to include.

[2016-02-11 18:29] acorncom commented on #1241
The fix for this is shown here: https://github.com/emberjs/guides/pull/1182

[2016-02-11 19:04] rtablada opened #1250 "[Quick Start] - Video screencast"
I want to offer my time to help contribute a free version of the quick start as a screencast to follow.
I think the early video of Tom creating a small app with Ember helped sell it to a lot of people early on.

A few things as discussed in the docs team meeting:

* Release updates with LTS releases
* Follow Quick Start instead of full Tutorial section to allow the video to stay up to date

I have

[2016-02-11 19:05] acorncom opened #1251 "[Meta] Shift to Ember as a CMS"
This is a placeholder issue for making a shift from Middleman to Ember (with a docs API backend).  It will grow over time, but these are the first thoughts on what we need to tackle:

### Phase 1
- [ ] build an initial Ember app to handle versioned apis (and multiple languages) (see #1257 for todos)
    - [ ] use pre-rendered HTML built using Middleman as part of builds
    - [ ] work through how

[2016-02-11 19:09] rtablada commented on #1251
In a similar vain, I've built todomvc.embergrep.com as an ember app that is serving markdown generated content.

Right now it is just a set of MD strings that are shoved in to an ENV variable but I'm hoping to actually make this a bit more stable and have an Ember addon that allows for a list of markdown files, publishing over to the final build, and lists of what posts are available as a static J

[2016-02-11 19:26] locks commented on #1251
We could phase this.

* Phase 1, render HTML from `guides.github.com`
* Phase 2, render Markdown from `guides`
* etc

[2016-02-11 19:35] locks commented on #1249
Hi @spencer516. The `concat` helper is listed in the [API documentation](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_concat). I don't know about `classNameBindings` being deprecated, what I do know is that with glimmer components they won't be necessary due to the change in semantics.

I can help you improve the API documentation if you feel they're lacking.

[2016-02-11 19:38] robbyrussell commented on #1185
Perhaps we can lean on what the [Read the Docs](https://readthedocs.org/) folks are doing. It appears that they're doing something to option 1 on previous versions always referencing the latest as the canonical.

For example, looking at [Sphinx 1.3.5 docs](http://www.sphinx-doc.org/en/1.3.5/), I see the following:

[code]

Found this after looking through http://docs.readthedocs.org/en/latest/vers

[2016-02-11 19:59] spencer516 commented on #1249
You're right that it's there; but getting to that list of helpers is hard to find. I don't think the documentation there is lacking necessarily. It's something I'd expected to find in the guides, but didn't.

(I actually didn't realize there _was_ a concat helper until I tried to create my own and wondered why it wasn't working and then spent a bit trying to find where helpers were in the API Docs

[2016-02-11 20:03] tonycoco commented on #1185
Agree that option #1 seems the most legit. Plus, in reading http://read-the-docs.readthedocs.org/en/latest/versions.html#redirects-on-root-urls they recommend that a redirect is placed in the root to the "latest" doc branch.

[2016-02-11 20:10] Gaurav0 opened #1252 "New Quick Start Guide claims new app out of box has CSS preprocessing"
Not true. You must install an addon.

[2016-02-11 20:31] locks commented on #1252
Hm, I guess they mean minifying/concating?

[2016-02-11 20:44] tomdale commented on #1185
@robbyrussell One potential problem with the `<link rel="canonical">` approach is that it makes it difficult for users of an older version.

I'll give you a concrete example from my own experience. I've been writing Node.js apps that target AWS Lambda, which only supports Node 0.10. The latest release of Node is v5, so if I search for e.g., `node child_process spawn` on Google, it gives me the Nod

[2016-02-11 20:49] rinti commented on #1185
Djangos documentation solves it by making it very easy to change version of the documentation. E.g. https://docs.djangoproject.com/en/1.9/ref/models/querysets/ at the bottom right you can switch between different versions of that documentation without losing context.

Also when browsing old docs it shows a red border at the top with "This document is for an insecure version of Django that is no lo

[2016-02-11 21:53] acorncom commented on #1249
I'm inclined to think we don't want to specifically list this helper in the guides (as we're aiming for the guides to be a good, thorough introduction to Ember's API but not an exhaustive documenting of it).

@spencer516 Maybe what we could do is add a note to the bottom of the Input Helpers page (https://guides.emberjs.com/v2.3.0/templates/input-helpers/) with a link to the API page for helpers (

[2016-02-11 21:57] acorncom opened #1253 "The "edit pencil" icon for suggesting a guides change is broken"
post file moves due to our translations work.  We'll want to fix this soon ... <sigh>

[2016-02-11 22:01] acorncom commented on #1250
Re questions above:

- review of the script: I think as long as we stick reasonably close to what we've got we should be fine @locks ?
- how we do the review: post it here or on a video system somewhere?  that or send it over on Slack (either in the `documentation` channel or privately to the docs folks)
- where do we host: the 1.10 video (https://guides.emberjs.com/v1.10.0/) was on Youtube on Tom

[2016-02-11 22:02] acorncom commented on #1185
Although yes, doing a redirect is far easiest (and we could have done it already), we're trying to avoid stranding folks on older versions with a poor search experience (as @tomdale described).  Any suggestions on how to do that well? :-)

[2016-02-11 22:03] #1252 closed

[2016-02-11 22:36] locks commented on #1253
We will indeed!

[2016-02-11 23:09] locks commented on #1249
I had a similar thought, the thing is that they're not input helpers. I don't know where to put the `hash` helper either. I'll whip up a new helper guide for you to review.

[2016-02-12 06:37] locks commented on #1110
We are hooked up, people! Time to get busy translating.

[2016-02-12 06:37] #1110 closed

[2016-02-12 06:40] nightire commented on #1110
@locks Cool, where to join now?

[2016-02-12 14:30] acorncom commented on #1251
Agreed on phasing. For phase 2, I just checked and highlight.js will run in Node, so we'll be able to do that on the Fastboot side when we get to that point.

[2016-02-12 14:31] rondale-sc commented on #1251
Had a thought this morning on this.  Would having this as an Ember app without fastboot cause it to be less visible?

[2016-02-12 14:33] acorncom commented on #1251
Yes, Fastboot is a requirement for this to be feasible. But per our docs meeting yesterday (still need to send in the minutes), Fastboot will be available for this project

[2016-02-12 14:35] rondale-sc commented on #1251
Ooh, neat!  What API system is currently the plan?

[2016-02-12 15:11] acorncom commented on #1251
Haven't figured that out yet ;-)  I've wondered about using Firebase (we already have an account), but haven't thought through it.  We'd need it to work with both Fastboot and in-browser, want to take a look at that?  I spent some time last night working up a prototype and it's working pretty nicely so far.  Will link in the PR in a minute

[2016-02-12 16:19] acorncom commented on #1251
Just posted a bunch of issues in my fork (and linked to the list from my PR).  This is going to be fun ;-)

[2016-02-12 16:25] acorncom commented on #1110
If you'd like to help with translating, please contact us on the Slack `#documentation` channel (after signing up for a Crowdin.com account) and we can give you access

[2016-02-12 17:36] locks commented on #1251
PouchDB would make it offline-accessible, which should be a goal IMO.

[2016-02-12 21:46] acorncom commented on #1251
@locks I think that's a far-future goal though.  Let's ship v1 before worrying about that too much :-)

[2016-02-12 21:59] locks commented on #1251
@acorncom I think it's as far-future as our API planning, due to the characteristics of PouchDB/CouchDB. CouchDB has a REST API already, PouchDB replication, should handle files/whatnot pretty well, scales well, it's a `document` oriented DB ;P
We're definitely shipping the "turbolinks" MVP first though.

[2016-02-12 23:18] nightire opened #1258 "Crowdin could not parse markdown code block correctly"
Unfortunately, our guide uses an advanced markdown syntax that Crowdin couldn't fully understand, here are some examples:

![image](https://cloud.githubusercontent.com/assets/1104018/13023013/d970182e-d21f-11e5-8208-6b10d1c032bc.png)

---

![image](https://cloud.githubusercontent.com/assets/1104018/13023091/64ce005c-d220-11e5-8510-af358bdc983e.png)

Since we append file path and diff info after th

[2016-02-15 18:42] andela-ooranagwa opened #1260 "[Tutorial] Wrong sample shown for "ember g help rental-property-type""
I'm following the ember 2.3.0 guide.

The screenshot in the Handlebars Helper section: https://guides.emberjs.com/v2.3.0/tutorial/hbs-helper/ shows the wrong entry for the result of running

It shows
[code]
instead of

[code]

[2016-02-15 19:27] locks commented on #1260
Hi, thanks for reporting the issue but this has already been addressed by a contributor, but have been deployed.
The deploy should happen during the next release at the latest.

[2016-02-15 21:48] toddjordan opened #1261 "[Tutorial] Incorporate test examples for items generated during the tutorial"
We should incorporate examples of adding ember tests into the tutorials, not in their own section, but rather embedded in each existing tutorial chapter.  This will jive more with the workflow developers will use (or that we want them to).

[2016-02-16 00:04] fredguth opened #1262 "Improve guide writing style: lists"
There is no standard in how the list items of the guides are written today.
Take for instance: https://github.com/emberjs/guides/blob/master/source/localizable/getting-started/index.md

The first list has items which end with an end point and others with nothing.

One suggestion is to use ";", "; and" and ".".  Example:

Or just don't use punctuation in the end of a list item. Example:

[2016-02-16 09:14] andela-ooranagwa commented on #1260
Ok. I'll close this then.d

[2016-02-16 09:14] #1260 closed

[2016-02-16 15:45] acorncom commented on #1262
I'm partial to the second option (lists without punctuation at the end) over the first option.  However, what we may find if we audit the guides is that our normal use of lists actually already follows that style and it's only the "Getting Started" lists that have punctation at the end.  @fredguth would you be interested in vetting the guide lists and sending in PRs to update as needed?

[2016-02-16 22:33] #1253 closed

[2016-02-17 05:12] acorncom commented on #1251
@locks think we should close this as well or leave for now?

[2016-02-17 05:47] locks commented on #1251
Leave it for brainstorming ;)

[2016-02-17 09:32] fredguth commented on #1262
@acorncom sure.

[2016-02-17 09:32] #1262 closed

[2016-02-17 21:58] mswanson commented on #1251
I am currently converting our marketing site which is a Middleman generated site into an Ember app. I'm basing my work loosely on what the Ember Weekend guys have done; using mirage & fixtures for the "backend". Eventually we need to move to something like a Firebase backend and I want to get Fastboot working asap. I'm still learning parts of Ember but it would be very interested in helping out wi

[2016-02-18 02:52] camskene opened #1266 "Example component results in error"
I created the example component 'comment-form' given here:
https://guides.emberjs.com/v2.3.0/testing/testing-components/#toc_testing-actions

However an error is displayed when clicking the button: `this.get(...) is not a function`

Here is a twiddle of said component:
https://ember-twiddle.com/2e4996604e14a2d461ad?openFiles=comment-form.component.js%2Ccomment-form.template.hbs

If you click the b

[2016-02-18 03:15] camskene commented on #1266
The problem was with the way the component was used in the template ie `{{comment-form}}` without the action defined so `this.get(...)` would indeed not be a function. :tired_face:

[2016-02-18 03:15] #1266 closed

[2016-02-18 13:24] locks commented on #1251
Hi @mswanson. I also pinged the Ember Weekend crew to brainstorm with us in trying to find the easiest migration path. Currently, we decided to first try to tweak Middleman into the structure we want (with versions and translations.) This should make it to maintain the current guides, and any future architecture migration.
If you'd like to discuss in more detail, come by #documentation on the Slac

[2016-02-18 15:50] frunjik opened #1268 "The pencil link is broken"
The link under the pencil - used to make suggestions on the guide pages is broken (v2.3.0)

[2016-02-18 16:21] acorncom commented on #1268
Thanks!  We've actually got a fix in for this, it just hasn't been deployed to the live site yet (#1255).  Closing this now.

[2016-02-18 16:21] #1268 closed

[2016-02-18 17:53] acorncom commented on #1236
@toddjordan Could you take a look at this?

[2016-02-18 18:14] mswanson commented on #1251
@locks Sorry I just saw this. I joined the channel, but will miss the appear.in meeting today. I'll watch the slack channel, but just let me know how I can help.

[2016-02-19 02:05] mswanson commented on #1258
@locks and I found a related issue with the translated markdown files. in many places the code blocks are being rendered incorrectly causing the following syntax error when running `middleman build`:

[code]

as an example this markdown from `addons-and-dependencies/managing-dependencies.js`

[code]
  You will need to add `"moment": true` to the `predef` section in `.jshintrc` to prevent JSHint er

[2016-02-19 02:08] nightire commented on #1258
@mswanson they say this will be take care of:

https://twitter.com/crowdin/status/698306618384064512

[2016-02-19 02:12] mswanson commented on #1258
@nightire thanks

[2016-02-19 19:02] acorncom opened #1273 "Setup issue and PR templates?"
Per https://help.github.com/articles/helping-people-contribute-to-your-project/ we've now got the option to setup issue and PR templates.  Do we want to do this?  Could be helpful / friendly, but don't want to make this overwhelming either (especially for guides).  @locks ?

[2016-02-19 19:29] acorncom commented on #1273
See also https://github.com/emberjs/ember.js/pull/12976

[2016-02-19 21:02] locks commented on #1273
Sounds like a good idea! Let's come up with ideas and discuss it at the next meeting.

[2016-02-20 21:59] edeis53 commented on #1185
What is the user-experience design goals for SEO + the docs?

It seems to me that the use-case for the Ember website should most likely be disseminating the current version information. It is much more suitable to make someone who is searching for outdated information have to navigate the site to their outdated version.

How about no-index on the some of the old docs? As a new ember developer, I a

[2016-02-21 17:21] locks opened #1280 "Improve "Wrapping content in a component""
Add some mention of block params and passing arguments to `{{yield}}`.

* https://guides.emberjs.com/v2.3.0/components/wrapping-content-in-a-component/
* https://github.com/emberjs/guides/pull/845

[2016-02-21 17:35] edeis53 opened #1281 "Components: Documentation missing for yield and block params"
It would be very useful to have an example somewhere in the docs that explains:

1. explaining + example of using `{{yield param1 param2}}` in the component template.
2. Assigning the output in your handlebars helper via as pipes. `{{#neko-cat phrase1="Siamese” phrase2=“Tabby” as |param1 param2|}}

Logical places would be in the in a section immediately following "wrapping content in a component"

[2016-02-21 17:36] locks commented on #1281
Related:

* https://guides.emberjs.com/v2.3.0/components/wrapping-content-in-a-component/
* #845

[2016-02-21 17:37] locks commented on #1280
Superceded by #1281.

[2016-02-21 17:37] #1280 closed

[2016-02-22 16:57] tomdale commented on #1185
@edeis53 Thank you so much for taking the time to write that up. I'm sorry it was such a frustrating experience for you. Concrete examples like this make it much easier to improve.

I actually think there was a double-fail on our part in your example. First, yes, the old documentation showed up before the new documentation, which sucks. The second thing that happened is we have two things called "

[2016-02-23 19:21] acorncom opened #1285 "Setup a 404 error page to replace default Firebase page"
If you visit a nonexistent page (https://guides.emberjs.com/v2.3.0/object-model2/) you'll see a Firebase 404 page instead of something that matches our current design.  It would be nice to have a 404.html page built that would display some text that's a bit more friendly (and in the Ember theme) instead.

More details on what we would need are here: https://www.firebase.com/docs/hosting/guide/url-

[2016-02-23 23:48] locks commented on #1285
Let's ship the english 404 first, feed it to our translators, and then improve on the 404.

[2016-02-23 23:54] acorncom commented on #1285
@locks suggested using http://emberjs.com/images/tomsters/fishy.png as part of this design.  For the record, @wifelette would like to double-check what we're doing on this prior to merging it.  So please add a screenshot of the finished design as part of a PR here ...

[2016-02-25 15:31] toddjordan commented on #1232
@locks  is this good to close?

[2016-02-25 15:38] locks commented on #1232
Yup, good catch.

[2016-02-25 15:38] #1232 closed

[2016-02-26 13:51] rtablada opened #1291 "Making Guides Available as PDF (mobi, ePub, etc)"
I have begun to do some preliminary work to make the Ember guides available as PDF.
My initial attempt was to use gitbook for this export process, I think this still may be the easiest path to making a PDF version of the guides.
However, there are a few hurdles that I found in my initial assessment that would have to be addressed in the export process:

* [ ] Gitbook prefers pages to end in `.html

[2016-02-29 09:42] locks commented on #1291
Related:
* https://killercup.github.io/trpl-ebook/
* http://edgeguides.rubyonrails.org/ (see the sidebar for the Kindle book)

[2016-03-01 13:18] Fryie opened #1296 "Some feedback about the "Core Concepts" page"
https://guides.emberjs.com/v2.4.0/getting-started/core-concepts/

I'm trying to work on the translations and there were a couple of things that tripped me up a bit, so I want to just give my take on this.

That sentence in the parens is really long, and if you translate it into German it just gets longer (that's just how German works :P). Additionally, there's not really a word for "deprecated" an

[2016-03-03 11:48] okket opened #1302 "Forwarder links to old docs"
The link from  http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_input to http://emberjs.com/guides/templates/input-helpers/ looks ok, but ends up on https://guides.emberjs.com/v2.0.0/templates/input-helpers/

[2016-03-03 18:02] acorncom commented on #1106
Closing this, we have the codebase

[2016-03-03 19:04] ryanlabouve opened #1303 "Living Styleguide"
In the docs meeting we talked about developing a living style guide.

This would be useful for:
* DRY up styles between multiple Emberjs projects and
* Smaller marketing / project page rapid development (i.e. Here's how you can make a page acceptable Ember enough)
* Help with transitioning older apps to consistent Ember style

It was also mentioned that we could potentially generate style guides u

[2016-03-03 19:25] acorncom commented on #1303
@ryanlabouve The style guide thing I mentioned was this (http://bitters.bourbon.io)  Not sure if would help generate a style guide or not (haven't looked at it too carefully)

[2016-03-04 03:55] ryanlabouve commented on #1303
Sweet @acorncom!

(sry, I meant to /cc you previously!)

[2016-03-04 08:40] ryanlabouve opened #1305 "Should Ember logo be centered on narrow screen?"
All of the other UI in the nav is centered on narrow screens. I feel like doing the same with the Ember logo creates an improved balance.

Here's a screenshot comparing the two:
![ember_js_-_guides_and_tutorials_and_ember_js_-_guides_and_tutorials_and_new_issue_ _emberjs_guides](https://cloud.githubusercontent.com/assets/1318878/13521963/14532f52-e1b2-11e5-85a6-0d690540edd0.jpg)

I'll go ahead and

[2016-03-04 10:00] filipecrosk commented on #1285
Hi @acorncom take a look at this screenshot, I used the same text that I found on 404 page from Ember's site, i.e: (http://emberjs.com/builds/asdfa):
<img width="1276" alt="screenshot 2016-03-04 01 57 49" src="https://cloud.githubusercontent.com/assets/194257/13523831/a8064bea-e1ac-11e5-854d-794a586997ad.png">

Let me know what do you think

[2016-03-04 11:55] locks commented on #1305
Yup, I like this.

[2016-03-04 12:31] locks commented on #1285
@filipecrosk can you PR?

[2016-03-04 14:05] acorncom commented on #1285
I like it! Could you float the image to the left like we're doing here? https://github.com/locks/ember-welcome-page/pull/7

And what does it look like on a small mobile screen? And yes, a PR would be great!

David

[2016-03-04 14:06] acorncom commented on #1305
Yes

[2016-03-04 17:10] filipecrosk commented on #1285
Based on the firebase's documentation I created this page as a regular HTML page on the root of our project. Let me know if I'm wrong :)

Desktop version:
![screenshot 2016-03-04 08 57 41](https://cloud.githubusercontent.com/assets/194257/13534174/bc25dd5c-e1e8-11e5-8974-5664deaf457f.png)

Mobile version:
![screenshot 2016-03-04 08 57 25](https://cloud.githubusercontent.com/assets/194257/13534176/

[2016-03-04 17:24] acorncom commented on #1285
@wifelette You'd wanted to be pinged about the use of the Tomster on the 404 page, this look ok to you?

[2016-03-04 17:27] acorncom commented on #1305
Closing this, as the PR just merged

[2016-03-04 17:27] #1305 closed

[2016-03-04 17:53] wifelette commented on #1285
Ah, yep! It looks good, but the Tomster image version isn't most current. Give me a couple hours to days to get the corrected one, brb...

[2016-03-04 17:56] wifelette commented on #1285
Also, I could swear I saw a comment about adding some more whitespace between the Tomster and the headline, but now I'm not seeing it. Can we make that happen?

[2016-03-04 18:03] filipecrosk commented on #1285
@wifelette it's already updated, take a look:
![screenshot 2016-03-04 09 30 47](https://cloud.githubusercontent.com/assets/194257/13534816/d8904a88-e1eb-11e5-8abf-3fce5669c474.png)

[2016-03-04 18:34] acorncom commented on #1285
@wifelette Yes, the discussion is over on the PR here: #1307 Can we move all discussion of this over there so it's just in one place where the code is being changed? ;-)

[2016-03-04 19:16] wifelette commented on #1285
Ugh, yes. And I can stop thinking I'm losing my mind :p

[2016-03-04 21:01] #1302 closed

[2016-03-05 10:26] ersuryapurohit opened #1308 "createRecord in store gives no data"
When we createRecord in from store in any model, it does not give the data in response, in the _internalModel>_data & _attributes, bothe are empty. I found that in store.js, the funtion **buildInternalModel** accepts 3 parameters but when we call createRecord, it's calling **buildInternalModel** with 2 parameters, and not sending the data to the function. I've create a pull reqeust https://github.

[2016-03-06 01:41] locks commented on #1308
Hi @ersuryapurohit.
Thank you for reporting this issue, but the emberjs/data repository was the right place to report it, since it doesn't seem to impact the guides.

[2016-03-06 01:41] #1308 closed

[2016-03-07 04:03] ryanlabouve opened #1311 "The search box is off center on mobile"
The search box on mobile still has a margin on the right hand side that looks like it was intended solely for mobile.

I'm suggesting we go ahead and center it on mobile and leave it the same on desktop. I'll make a quick PR to demonstrate.

Here's what it looks like currently:
![off-center-issue](https://cloud.githubusercontent.com/assets/1318878/13560619/114a8f76-e3e7-11e5-97e4-56812397a2f9.jpg)

[2016-03-08 03:58] #1311 closed

[2016-03-08 09:43] stocksr opened #1318 "Incorrect example in writing helpers"
in source/localizable/templates/writing-helpers.md line 263 there is meant to be an example of a class based helper format, for the is-authenticated helper instead there is a copy of a previous example format-currency.

[2016-03-10 17:53] acorncom commented on #1318
Confirmed, things are currently worded a bit confusingly.  Looks like that's due to the insertion of the `is-authenticated` helper example **above** the `format-currency` instead of after it.  If we shift the example that was introduced in this https://github.com/emberjs/guides/commit/9e392679485d7cb412e7c62f706bdc873281210f to after the `format-currency` helper (and then introduce the aspect of u

[2016-03-10 19:03] acorncom commented on #1296
@rtablada Would you have a chance to take a look at smoothing out some of these wrinkles?

[2016-03-12 19:19] namack commented on #1303
Hi @ryanlabouve, somewhat related, here is a PR to extract the style code to a gem that can be shared with the website.

#1323

[2016-03-13 13:25] estani commented on #1236
2.4 tutorial still has this issue.

`this.set('filteredList').clear();` makes no sense to me and I think it requires some explanation
(calling a set method with no value and expecting it to return something upon which `clear()` may be called is everything but self describing, furthermore it doesn't seem to work at least in this case).

[2016-03-13 16:10] locks commented on #1236
More discussion on this https://github.com/emberjs/guides/pull/1264

[2016-03-14 22:58] acorncom commented on #1185
Spent some time discussing options with @trek and we've basically come down to two options:

1. Use `current` or some equivalent and setup canonical urls that then redirect to the current version (a sample setup is [discussed here](http://stackoverflow.com/questions/29603839/versioned-urls-how-can-i-tell-search-engines-about-more-recent-versions-of-the))
2. Leave things as they are

If we go the f

[2016-03-14 23:43] edeis53 commented on #1185
We could also take a Redhat or Centos approach, where versions have a lifespans, and focus to improve search for active (stable) versions.

Also, perhaps use data instead of guessing. Ember-cli send reports to Google Analytics every time "ember server" is run, or analytics from the ember guides/api. That would give a sense of what versions developers are actually using and optimize for those versi

[2016-03-15 15:01] earthquakesan opened #1327 "[Quick Start] ember build --env production -- /scientist route returns 404"
Nodejs/npm installed with nvm: v5.8.0

Using the last version of the guide available at https://guides.emberjs.com/v2.4.0/getting-started/quick-start/

To reproduce the problem create a route "scientists" and try to navigate it as written in [Quick Start], when app is served after building it:
[code]

The main page has no problem (by default http://localhost:8000/), however http://localhost:8000/s

[2016-03-15 23:18] acorncom commented on #1327
That's the default (and normal way for an Ember app to be setup).  It's by no means the only option (and there are ways of retrofitting Ember into other systems as you're displaying), but I don't think we want to be documenting those as part of the Quick Start.  We're aiming to have the Quick Start be a quick and dirty overview instead of a comprehensive setup.

@locks Thoughts?  We could potentia

[2016-03-15 23:38] locks commented on #1327
@earthquakesan that is how all client-side routing works, you still need your server to respond to the URLs expected so it can serve the app. Here's the [Specifying the URL type](https://guides.emberjs.com/v2.4.0/configuring-ember/specifying-url-type/) guide, which is somewhat related. Like @acorncom says, we understand it might be a bit confusing, but we don't want too many details in the Quickst

[2016-03-15 23:38] #1327 closed

[2016-03-16 09:42] earthquakesan commented on #1327
@acorncom @locks at least a note that you can not just serve the dist/ folder and references for the further reading are required in the section imo.

[2016-03-17 18:19] acorncom commented on #1185
Per a discussion in the docs meeting today, we're going to explore whether schema.org markup might aid with this.

Background on Google's support for it is available here: https://developers.google.com/structured-data/

Potential schemas to use: https://schema.org/Article or https://schema.org/CreativeWork

cc @wycats

[2016-03-17 20:43] locks opened #1333 "Improve https://guides.emberjs.com/v2.4.0/routing/defining-your-routes/#toc_wildcard-globbing-routes"
Mention how to access the wildcard segment.

[2016-03-21 15:20] tomdale commented on #1185
@acorncom Sorry I missed the meeting. For those of us that weren't there, can you provide some more context about how schemas will help address the issue?

[2016-03-22 16:00] acorncom commented on #1185
@tomdale Sure, sorry those notes weren't more detailed.

Re: how schemas will help address the issue.  We're not actually sure they will, but Yehuda was saying there had to be a way to help search engines understand versioned documents and he suggested that schemas might be the answer.  He was going to ping Paul Irish to ask about that (I would assume after EmberConf).  My job was to do the initia

[2016-03-23 13:46] adam-knights opened #1340 "Property brace expansion in computed properties"
I only found out about property brace expansion by luck. The only official link to it that I can see is in the 1.4 blog post (http://emberjs.com/blog/2014/02/12/ember-1-4-0-and-ember-1-5-0-beta-released.html#toc_property-brace-expansion).

Suggest that a section is added to computed properties in the guide to show this handy shorthand syntax.

[2016-03-23 13:56] remkoboschker opened #1341 "add explanation for pluralization-customization of multi-word terms"
about: https://guides.emberjs.com/v2.4.0/models/customizing-adapters/#toc_pluralization-customization

I think it would be very helpful to point out that for multi-word irregular inflection you need to specify a rule for the word that changes number and not the whole multi-word. Ember.Inflector flattens the capitalization and will not inflect correctly. An example from the Ember.Inflector tests wo

[2016-03-23 15:54] acorncom commented on #1340
Sounds good to me.  @adam-knights if you'd like to send in a PR, we'd be happy to take it :smile:

[2016-03-24 03:07] acorncom commented on #1285
Closing this issue because the PR merge didn't merge it automatically

[2016-03-24 03:07] #1285 closed

[2016-03-24 03:20] acorncom commented on #1022
Another option that has been discussed here was to deploy to Firebase

[2016-03-26 13:10] MarkMT opened #1345 "Inconsistency in specifying actions?"
In the section '[Templates - Actions](https://guides.emberjs.com/v2.4.0/templates/actions/)' the type of event to be handled by an action is specified using the `on` option inside the action helper as shown by this example -

`<button {{action "select" post on="mouseUp"}}>✓</button>`

A little further down the page, there's an explanation of how the `value` option can be used in the `action` helpe

[2016-03-26 20:59] acorncom commented on #1345
Thanks for bringing this up.  For your first question - "is it `{{action on="mouseUp"}}` or `<input onmouseup={{action}}`" - from what I'm able to track down it's both ;-)

Specifically, I'm looking at the API docs here under **Passing functions with the action helper**: http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action

That section was updated as part of this PR (https://

[2016-03-28 18:52] mattmazzola commented on #1124
It looks like it's fixed in latest Chrome: Version 49.0.2623.110 m

![image](https://cloud.githubusercontent.com/assets/2856501/14086718/63e0cef8-f4db-11e5-8dd8-955823e593e8.png)

[2016-03-28 21:00] acorncom commented on #1124
Thanks, will close.  If someone else sees this, we'd be happy to open this again

[2016-03-28 21:00] #1124 closed

[2016-03-28 21:53] #1318 closed

[2016-03-28 22:41] boztek commented on #1022
If the goal is to show an "easy" install and we don't mind referencing services like Firebase then surge.sh would be a possible beginners option too.

[2016-03-28 23:32] boztek commented on #1022
Are we thinking just one page with a bunch of simple deployment options?

I have an example here: https://github.com/boztek/guides/blob/1022-deploy-tutorial/source/localizable/tutorial/deploying.md

[2016-03-28 23:42] acorncom commented on #1022
@boztek Yes, that type of page was what we were thinking.  Send over a PR when you're ready and we'll mark it up! ;-)

[2016-03-29 02:35] tsing80 commented on #1124
confirmed latest version of chrome solve the issue. Thanks

[2016-03-29 17:37] #1340 closed

[2016-03-29 20:17] boztek commented on #1022
Thanks @acorncom. Is there a way to run the spellcheck tester locally? Apparently ```scp``` is not in the dictionary. :smile:

[2016-03-29 21:07] acorncom commented on #1022
@boztek If I remember right, when you do a build locally (as shown here: https://github.com/emberjs/guides/blob/master/.travis.yml#L9) it should run the spelling setup automatically.  But you should be able to update this file and re-push an amended commit and have things work:

https://github.com/emberjs/guides/blob/master/data/spelling-exceptions.txt

[2016-03-29 23:38] boztek commented on #1022
@acorncom Quite right. Thanks.

[2016-03-31 00:27] vtambourine commented on #1236
Confirm the issue. It is really annoying when copypasted code from official tutorial doesn't work expected way. I suggest to add demo repository with all working examples in the very beginning of tutorial.

[2016-03-31 16:05] eighteight commented on #1327
Is there a an example rewrite rules for apache2 somewhere? The motivation for the quick start guide to be "quick" is understandable, but not at the expense of it leading to a broken deployment, right?

[2016-03-31 16:35] acorncom commented on #1327
@eighteight We don't currently have example rewrite rules for Apache2.  If you work out what that takes, sending in a PR to http://emberwatch.com/recipes would be much appreciated!

[2016-03-31 16:43] acorncom commented on #1281
Closed by #1351

[2016-03-31 16:43] #1281 closed

[2016-03-31 16:48] acorncom commented on #1327
@eighteight Just saw some discussion of Apache2 rewrite rules here: http://builtbykrit.com/blog/deploying-ember-apps-to-aws-digitalocean-with-deploybot  Would you mind sending in a PR over on EmberWatch to save those for other folks in the future?  Thanks!

[2016-03-31 18:12] eighteight commented on #1327
@acorncom Thanks for the link. It will take me sometime to test that solution. If it works, I will submit a PR.

[2016-04-01 15:00] acorncom opened #1352 "Document loading states more thoroughly"
We want to clarify and improve documentation about loading states more clearly, as they are fairly confusing.  See this Twiddle from Robert Jackson for examples: https://ember-twiddle.com/a77b3db275d91c7f34c2?numColumns=0

[2016-04-01 15:00] acorncom commented on #1352
Here's a StackOverflow question about the same problem: http://stackoverflow.com/questions/36346518/ember-loading-template-never-displaying

[2016-04-01 15:01] acorncom commented on #1352
Other background here: https://github.com/emberjs/ember.js/issues/13072#issuecomment-194605112

[2016-04-02 00:35] acorncom commented on #1273
At a docs meeting last week during EmberConf we decided to skip this for now.  Closing

[2016-04-02 00:35] #1273 closed

[2016-04-02 04:41] toddjordan commented on #1236
Putting general autocomplete improvements on my list for this week.

[2016-04-04 16:15] alexspeller commented on #1352
I did a recent talk on this, it might be helpful for an overview of the current state of affairs (I've been meaning to PR the guides but I got super ill and am way behind on real work):

http://alexspeller.com/loading-and-error-substates-in-ember/

[2016-04-04 21:00] acorncom commented on #1352
Sweet, thanks!

On Apr 4, 2016, at 10:15 AM, Alex Speller <notifications@github.com> wrote:

[2016-04-05 02:00] rwjblue commented on #1352
https://github.com/emberfest/diagonal-routes is a great resource also (thanks once again @alexspeller!).  It would be great to tackle [these issues](https://github.com/emberfest/diagonal-routes/issues) and update that demo with the current version...

[2016-04-05 23:46] acorncom opened #1358 "Setup markdown tests for our code samples"
Looks like there is a really nifty tool here to help test code in markdown:
https://github.com/Widdershin/markdown-doctest

We'd love to use this as part of our build system, it will take research to see if it's even doable

[2016-04-06 16:50] toddjordan commented on #1236
@ChangJoo-Park I've added a fix to the super-rentals working example repo here: https://github.com/emberjs/super-rentals/pull/12/files

I largely went with your approach but with a couple improvements:

[code]

[2016-04-07 03:06] locks opened #1361 "Improve "Contributing""
# Contributing

Possibly introduce a new guide that covers more of the meta, explains the Ember family of projects, etc.

## [Main Repositories](https://guides.emberjs.com/v2.4.0/contributing/repositories/#toc_main-repositories)

Link to each project's contributing, maybe include a snippet or somesuch. If the project doesn't have a clear process, work with the maintainers to try and come up with o

[2016-04-07 03:07] locks commented on #1047
Fixed by https://github.com/emberjs/guides/pull/1335.

[2016-04-07 03:07] #1047 closed

[2016-04-07 18:57] acorncom commented on #1333
@locks Could you provide a little more detail here so we can have other folks help here?

[2016-04-07 18:58] acorncom commented on #1352
Closing this as the PR linked in above is merged.

[2016-04-07 19:25] acorncom commented on #1219
Closing this for now, we'll revisit it later

[2016-04-07 19:25] #1219 closed

[2016-04-07 19:29] #1022 closed

[2016-04-07 19:29] jeradg commented on #1333
You mean something like:

[2016-04-07 19:32] jeradg commented on #1333
You mean something like:

[code]

[2016-04-07 19:36] jeradg commented on #1333
(And yes, that's me volunteering to make a PR.)

[2016-04-07 19:52] #1352 closed

[2016-04-07 19:53] acorncom commented on #1361
Per our docs meeting today, we're going to try to keep issues in guides to more actionable items unless we open RFC-type issues.  Closing this for now

[2016-04-07 19:53] #1361 closed

[2016-04-07 19:57] acorncom commented on #1358
Closing in favor of #613

[2016-04-07 19:57] #1358 closed

[2016-04-07 20:00] acorncom commented on #1258
@nightire Do you know if this has been resolved at this point?

[2016-04-08 16:56] pixelhandler opened #1364 "Clarify use of dynamic segments when defining routes"
Need clarification on Dynamic Segments section, here:

- https://guides.emberjs.com/v2.4.0/routing/defining-your-routes/#toc_dynamic-segments
- https://github.com/emberjs/guides/blob/master/source/localizable/routing/defining-your-routes.md#dynamic-segments

Regarding: https://github.com//emberjs/ember.js/issues/13254

"constraint intuitive not obvious" for unique names of dynamic segments, consid

[2016-04-09 02:05] MarkMT opened #1365 "Clarify recommended places to store assets"
In [Managing Dependencies](https://guides.emberjs.com/v2.4.0/addons-and-dependencies/managing-dependencies/), under the h2 heading 'Other Assets', it says -

Later on the same page there's an h3 heading with the same name, 'Other Assets' (and the same link url) with this -

Yet the [Ember-CLI documentation](http://ember-cli.com/asset-compilation) states that raw assets should go in `public/assets`

[2016-04-13 18:39] Gaurav0 commented on #1249
@locks Are you still working on this? If not I could try writing up something.

[2016-04-15 02:07] HeroicEric opened #1372 "Add example of using `{{some-component class="some-class"}}`"
I think it would be useful to show an example of using `{{some-component class="some-class"}}` style of specifying classes for components [Customizing a Component's Element](https://guides.emberjs.com/v2.5.0/components/customizing-a-components-element/) section of the guides.

There are examples for customizing via `classNames` prop inside the component class but not from the template.

I'll have

[2016-04-15 03:03] acorncom commented on #1372
Let's do it

[2016-04-15 11:14] locks opened #1373 "Update Tutorial section to use new Ember Data ES6 modules"
They are currently a mismatch to the generated code. See http://stackoverflow.com/questions/36643088/ember-cli-2-4-3-not-generating-ds-models for more context.

[2016-04-15 14:28] toddjordan commented on #1019
I've had a pull request out on this: #1289 , but I think it actuall might be a bit much for the tutorial (it displays a map, as well as charts directions by city).  I'm going to make a second pass at this with a simple service example.

[2016-04-15 14:50] toddjordan commented on #1236
Closing as fixed by #1359

[2016-04-15 14:50] #1236 closed

[2016-04-15 19:47] toddjordan opened #1374 "Ember Tutorial"
This is a continuation of what started in issue https://github.com/emberjs/guides/issues/445

Goal: to create guided tutorial, geared towards people new to Ember.  This will be some people's first experience with the techology, so we want to make it show off the basics of creating an application from scratch.  At the end of the tutorial the developer should have an understanding of the basic conce

[2016-04-15 19:50] toddjordan commented on #1261
Issue #1374 is swallowing this issue up.  Closing.

[2016-04-15 19:50] #1261 closed

[2016-04-15 19:51] toddjordan commented on #1100
Issue #1374 is swallowing this issue up.  Tutorial stuff will be tracked there going forward.

[2016-04-15 19:51] #1100 closed

[2016-04-15 19:53] toddjordan commented on #1024
Issue #1374 is swallowing this issue up.  Tutorial stuff will be tracked there going forward.

[2016-04-15 19:53] #1024 closed

[2016-04-15 19:54] toddjordan commented on #1023
Issue #1374 is swallowing this issue up.  Tutorial stuff will be tracked there going forward.

[2016-04-15 19:54] #1023 closed

[2016-04-15 19:56] toddjordan commented on #1019
Issue #1374 is swallowing this issue up.  Tutorial stuff will be tracked there going forward.

[2016-04-15 19:56] #1019 closed

[2016-04-15 19:56] toddjordan commented on #1106
Issue #1374 is swallowing this issue up.  Tutorial stuff will be tracked there going forward.

[2016-04-15 19:56] #1106 closed

[2016-04-15 20:59] Gaurav0 commented on #1373
This can be closed.

[2016-04-15 21:29] acorncom commented on #1373
👍 Thanks

[2016-04-15 21:29] #1373 closed

[2016-04-15 21:58] nfriedly opened #1376 "Broken link for Ember CLI Deploy"
Both http://ember-cli.com/user-guide/#deployments and http://ember-cli.com/user-guide/#deployments and link to http://ember-cli.com/ember-cli-deploy/ for Ember CLI Deploy but that's a 404.

[2016-04-15 22:10] acorncom commented on #1376
Hmm, that's correct, they moved their website to a different location (http://www.ember-cli-deploy.com).  Would you be willing to open an issue over on the Ember-CLI repo (https://github.com/ember-cli/ember-cli/issues)?  We'll update our Quick Start here to fix the links in guides ...

Thanks!

[2016-04-15 22:10] acorncom commented on #1376
All links found in this search need to be updated as outlined above (https://github.com/emberjs/guides/search?utf8=✓&q=ember-cli-deploy)

[2016-04-15 22:15] nfriedly commented on #1376
Done. Want to close this one, or keep it open for now?

[2016-04-15 22:37] acorncom commented on #1376
We'll keep it open, the above items have to be fixed as well.  If you've got a minute, I'd be happy to merge a PR ;-)

[2016-04-15 22:38] nfriedly commented on #1376
Yea, I was going to send one that pointed to http://ember-cli.com/user-guide/#deployments but then I saw that it also had a Ember CLI Deploy link, and then I realized that one was broken too.. so I'm not sure where it should actually point.

[2016-04-15 23:10] acorncom commented on #1376
They should all point to http://www.ember-cli-deploy.com as I believe they'll keep that going for a long time ... ;-)

[2016-04-18 18:37] toddjordan commented on #1374
![image](https://cloud.githubusercontent.com/assets/3609063/14615278/db2851dc-0572-11e6-8f0e-9e576261499e.png)
Slack discussion on the addon piece.  Current thinking is we will do the css addon as the installing an addon example, and put it early on in the tutorial.  That way, as a developer builds the app things will be styled as you go.

[2016-04-18 21:10] ctcpip opened #1381 "Initializer code example results in failing test"
By following the example here:

https://guides.emberjs.com/v2.5.0/applications/dependency-injection/#toc_using-an-application-instance-within-an-instance-initializer

The result is an error in the test (automatically generated unit test) for the instance initializer:  undefined is not an object (evaluating 'logger.log')

[2016-04-19 00:18] locks commented on #1381
@ctcpip I'm not sure I understand the issue. `logger:main` is just an example name for a factory that the user might have registered in their application.

I'm not sure how to make that clearer, any suggestions?

[2016-04-19 14:29] ctcpip commented on #1381
If you register logger:main in the application initializer, and try to access it from the instance initializer (both exactly as described in the examples), the boilerplate unit test for the instance initializer fails when executing initialize() within test(), with the error message:

[2016-04-20 21:36] sethbrasile opened #1386 "Click helper accepts context"
Looks like the `click` helper

http://emberjs.com/api/classes/Ember.Test.html#method_click
https://guides.emberjs.com/v2.5.0/testing/acceptance/#toc_asynchronous-helpers

Accepts context as a second arg. Don't see anything about it in the guides. Just want to make sure that's on purpose!

[2016-04-20 21:38] sethbrasile commented on #1386
I don't see it here either https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-testing/lib/helpers.js#L347-L349

But I do know of multiple cases of it working properly.

[2016-04-20 23:30] joetidee opened #1387 "Make names of variables and actions different between the component and the controller."
From reading the tutorial, it was difficullt to discern which name related to either the component or the controller:

[https://guides.emberjs.com/v2.5.0/tutorial/autocomplete-component/](https://guides.emberjs.com/v2.5.0/tutorial/autocomplete-component/)

I had some assitance understanding this on the Slack forum, however, I think it would be advatangeous to newbies like myself if some naming adj

[2016-04-21 02:59] #1372 closed

[2016-04-21 15:05] acorncom commented on #1387
@joetidee Those sound like good suggestions, would you be able to send in a PR with your changes?

[2016-04-21 15:08] acorncom commented on #1386
Hmm, interesting.  Would you mind opening an issue in the https://github.com/emberjs/ember.js repo asking about whether we want to document it?  If we do, then yes, we'll update the guides ;-)

[2016-04-21 16:21] toddjordan commented on #1374
4/21 Update:
@kidgodzilla is working on developing a css addon for the tutorial, and the addons section.
@toddjordan is working on the services section and has a simplified example he's PR'ing to the super rentals repo for feedback.  Targeting Monday for the services example to be merged.

[2016-04-21 18:11] joetidee commented on #1387
No idea how to do this.

[2016-04-21 19:39] acorncom commented on #1381
Hmm, yes, the boilerplate unit test would fail, as you've made a change to the instance initializer 😄 .  The error is related to the fact that the `logger:main` object which was registered in the container is not being properly mocked (or setup) in the test.  We need a page written about testing instance initializers, so if you have the time or inclination to send in a PR for that, it would be muc

[2016-04-21 19:39] #1381 closed

[2016-04-21 19:41] acorncom opened #1390 "Write up a page on testing initializers / instance initializers"
Now that Ember includes instance initializer test blueprints (as well as instance initializer blueprints), it would be helpful to explain how to test them in the guides.  Folks are starting to hit some bugs with tests failing (see #1381) as they follow along with the guides and there isn't currently anything in guides to point them to ...

[2016-04-22 03:53] acorncom opened #1391 "Update Models section to use the new import syntax"
In the new Ember Data blueprints, apparently things have changed to this:

[code]

Whereas we still have `DS.Model` and `DS.attr` mentioned here: https://guides.emberjs.com/v2.5.0/models/defining-models/

[2016-04-22 03:53] acorncom commented on #1391
@locks how do we get folks to let us know about this ahead of time?  seems like something we missed on the 2.5 update?

[2016-04-22 07:34] locks commented on #1391
@acorncom ¯\_(ツ)_/¯

[2016-04-22 14:27] toddjordan commented on #1391
@acorncom should be like core has been doing - no docs no ship

[2016-04-22 15:17] pangratz commented on #1391
Sorry, I should have addressed this once emberjs/data#4331 got merged 😔 . I will create a PR to update this in the guides this weekend.

Also, I will try to remember this for future things, so this doesn't become an issue anymore!

Thanks btw for the hard work on keeping the guides up to date! 🚀

[2016-04-22 15:19] pangratz commented on #1391
Oh, looks like good guy @Gaurav0 already took care of this in #1375 ❤️

[2016-04-22 15:22] locks commented on #1391
We might try bridge the gap with some tooling, but it's such an unspecific space that I worry about adding even more overhead.
If everything was implemented in TS, maybe we could check the types :trollface:
@pangratz ping us on Slack if you have any ideas.

[2016-04-22 15:22] #1391 closed

[2016-04-22 16:35] acorncom commented on #1391
Sorry, hadn't checked `master` before posting ...

[2016-04-23 07:19] Barnoid- commented on #1327
Following the Quickstart I have been hit by same problem. Wasted a couple of hours on rewrite rules but didn't get it to work. What finally did the trick was the directive
  FallbackResource index.html
in the virtual host configuration of the Ember app. This should work for Apache 2.2.16 and above.

I would strongly suggest to put this information in the Building For Production section at the end

[2016-04-24 20:07] hankfanchiu commented on #1387
@acorncom Wanted to help out. See my PR ^

[2016-04-25 02:29] toddjordan commented on #1387
Commented on the PR. Would prefer that the component not have knowledge of the controller and be agnostic on who its parent is.  There may be other ways to make this clearer, such as removing the actions from the component.

[2016-04-25 22:29] locks opened #1404 "Mention multi-word routes"
Related: https://github.com/emberjs/ember.js/issues/11487

[2016-04-26 06:40] #1150 closed

[2016-04-26 06:43] locks commented on #858
@HeroicEric @josenberg @Lxrd-AJ could one of you send a PR so it can get reviewed and merged? thanks!

[2016-04-26 06:45] locks commented on #1376
Fixed by https://github.com/emberjs/guides/pull/1395.

[2016-04-26 06:45] #1376 closed

[2016-04-26 06:47] locks commented on #1303
Tracked at https://github.com/locks/ember-styleguide

[2016-04-26 06:47] #1303 closed

[2016-04-26 06:48] locks commented on #1251
Tracked at https://github.com/locks/guias.

[2016-04-26 06:48] #1251 closed

[2016-04-26 06:48] locks commented on #1333
@jeradg waiting for that PR ;)

[2016-04-26 08:15] locks commented on #1258
https://twitter.com/crowdin/status/724862924385357824 fffiixxeedd

[2016-04-26 08:15] #1258 closed

[2016-04-26 09:09] hankfanchiu commented on #1387
If this https://github.com/emberjs/super-rentals/pull/17 makes sense then I'll update the PR for the guide accordingly.

[2016-04-27 19:34] toddjordan commented on #1387
Closing as fixed by #1401
Thanks!

[2016-04-27 19:34] #1387 closed

[2016-04-29 20:11] acorncom commented on #1093
Once we've merged our Algolia work ( #1184 ), we'll work on adding in search of the blog posts as well.

[2016-04-29 20:14] acorncom commented on #1185
Based on further discussions at our learning team meeting yesterday, due to the headaches we're having, we've decided to use `<link rel="canonical">` despite the fact it eliminates the ability to do Google searches on old versions of the guides.  We'll wait to make these changes until we've replaced the search system on guides (see #1184 for details) so that people on old versions can at least sea

[2016-05-04 00:18] acorncom commented on #944
Just did some initial work on thinking through this, here's what I think we need to do to get this working:

- [ ] Re-implement `_highlight` to produce HTML in a format that highlight.js (or other comparable, well-maintained JS library that supports ES6 and HBS) supports.  [Our current implementation](https://github.com/emberjs/guides/blob/master/lib/highlighter.rb#L15-L30) uses CodeRay but we don

[2016-05-04 00:18] acorncom commented on #944
@jsmestad Think you'd still have time to work on this?

[2016-05-05 14:21] toddjordan commented on #1374
5/5 Update:
- @toddjordan taking over finishing addon section
- open PRS for complex component revamp and services section
- started on nested routes.  Will focus on getting addons done first
- added a task for acceptance testing

[2016-05-06 21:32] ml242 opened #1417 "Tutorial Final Stage: Deploying to Surge (build error?)"
This might be a Surge issue but I came across it within the context of the tutorial.

I have completed 'Super Rentals' and there are no errors in the server, but when I go to deploy I only get a blank page... I believe that there is a problem with the build process which returns the minified file, but I can't figure out what it is.

The error is:  "while processing route: index Unexpected token <

[2016-05-06 22:46] acorncom commented on #1417
hey @ml242 , would you try it against https://www.pagefronthq.com and let us know if you have problems there too?  If you have problems with PageFront, it's likely to be your setup.  If you don't, then there may be some glitches with `surge.sh` ...  Thanks!

[2016-05-06 23:41] locks commented on #1417
That error is usually when you try to reach an external API and it returns an HTML error page instead of JSON, which would explain the `<` at position 0, since it would start with `<html doctype>`.

[2016-05-07 12:34] ml242 commented on #1417
@acorncom Same error, thanks for the help.

[2016-05-07 12:44] ml242 commented on #1417
@locks not sure where to begin debugging that.

In short, Ember server still works but ember build then deploy fails.

[2016-05-07 12:55] locks commented on #1417
Check the network tab when you're booting the deployed application.
If you come by your Slack we'll be able to help you better, not sure it's a problem with the guide :/

[2016-05-07 13:04] ml242 commented on #1417
@locks agreed - probably not a guide issue.

[2016-05-07 13:04] #1417 closed

[2016-05-07 13:29] locks commented on #1417
You can join at https://ember-community-slackin.herokuapp.com/, good luck!

[2016-05-09 21:09] jacobq opened #1423 "Searching for 'resources' produces broken link"
Reproduction steps:
1. Go to emberjs.com
2. Click 'Guides' link
3. Search for 'resources' in top-right search bar.
4. Click first link ("Managing Dependencies Between Controllers")
5. At this point you will see a 404 error page

https://guides.emberjs.com/v2.5.0/#stq=resources&stp=1 (search page that produces broken link)
https://guides.emberjs.com/controllers/dependencies-between-controllers/ (br

[2016-05-09 23:54] acorncom commented on #1423
Thanks @jacobq we're actually working on replacing our search system (see #1184) so this issue should go away at that point.  I'll close this for now

[2016-05-09 23:54] #1423 closed

[2016-05-11 23:21] #1404 closed

[2016-05-13 16:39] toddjordan commented on #1374
5/13 update
* service and complex component sections merged!
* addon PRs out for review.  Need to make some minor updates to the code of existing pages to update markup.  Plan on doing that by end of weekend
** super rentals pr: https://github.com/emberjs/super-rentals/pull/21
** guides pr: #1424
* starting on acceptance test section next week.

[2016-05-13 21:17] sbatson5 commented on #1374
As someone who spent the last year learning Ember, I'd love to help contribute. I'd be willing to take a couple stabs at the nested-routes tutorial. I actually did a screencast of a similar scenario:
https://www.youtube.com/watch?v=ljLxZw-XStw

Was thinking of a details route that takes the `id` as a param to pull up a specific listing. Then a search route to find listings of a certain type.

An e

[2016-05-13 21:23] acorncom commented on #1374
Re: a PR against super-rentals, we’ve been trying to keep things in sync, but having the PR to guides is probably more important.  Happy to have you work on the tutorial if you’d like.  Fair warning: we’re **quite** hard on those tutorials (text, code, etc) because they’re so central.  Todd Jordan has been getting a ton of feedback on his PRs ;-)  So we’d love to get the help, but look out if you

[2016-05-15 16:10] sbatson5 commented on #1374
Thanks for the quick response @acorncom.  I thought I would start with the PR against super-rentals just to make sure I'm on the right path.  Here is a quick stab at subroutes:
https://github.com/emberjs/super-rentals/pull/24

I changed my mind on an edit sub-route. I thought we would add an `admin` route where the user could see all the listings, click one and edit it.  Rather than adding a save

[2016-05-16 05:11] toddjordan commented on #1374
Hi @sbatson5 ,  Thanks for your willingness to help.   We would love it!  Here are some of my thoughts from the subroute tutorial:

* Since its purpose is a beginner's tutorial, I don't think we need to add a ton of functionality.  Just enough to introduce developers to the concept
* I think we should add a rentals route that will show the homescreen, so that when the user goes to index, or when t

[2016-05-16 08:30] ykaragol opened #1430 "At The Component Lifecycle page, 11 hooks are shown, but only some of them are described"
[At page where the Component Lifecycle is defined](https://guides.emberjs.com/v2.5.0/components/the-component-lifecycle/) there are 11 hooks are shown. But some of them doesn't have any description.

On Initial Render:

1. **init : No definition**
2. didReceiveAttrs : Defined
3. **willRender : No definition**
4. didInsertElement: Defined, also when to use is described by an example.
5. didRender:

[2016-05-16 09:34] locks commented on #1430
This is mostly by design. The Guides are not exhaustive, and they're mostly driven by use cases. As the [Lifecycle Hook Examples](https://guides.emberjs.com/v2.5.0/components/the-component-lifecycle/#toc_lifecycle-hook-examples) says, they're only some examples of how to use the hooks.

The API docs are the exhaustive ones, though at the moment the lifecycle hooks aren't thoroughly documented for

[2016-05-16 09:36] #1430 closed

[2016-05-16 09:42] locks commented on #1208
I think we've kinda figured this out, confirm?

[2016-05-16 09:43] #1208 closed

[2016-05-16 09:47] ykaragol commented on #1430
Sure. But then we need the following use cases:

1. How to set up initial values?
2. In case of parent component passing undefined as a property value, how to keep stable the state of the component?

Also, is `init` really a hook?

[2016-05-16 09:50] locks commented on #1430
`init`, like a regular object and like shown in the code sample you linked.

Sorry, I don't understand this question.

Yes, it's a method that's called by JavaScript/Ember that you can override to supply your own additional logic.

[2016-05-16 09:53] ykaragol commented on #1430
OK. Thank you.

[2016-05-16 09:54] locks commented on #1430
If you want to discuss this further, and help fleshing out the API documentation, reach us at `#-learning` on the Slack group.

[2016-05-17 15:30] acorncom commented on #1208
Confirm

[2016-05-20 15:15] acorncom commented on #1365
@locks comments here?

[2016-05-20 15:16] acorncom commented on #1364
Agreed.  I've heard various people say this is a non-obvious, very painful bug to track down

[2016-05-20 15:35] locks commented on #1365
The usual distinction is that `vendor` -> third-party assets, `public` -> your assets. That's basically what I have to say on the subject :P

[2016-05-21 01:31] #1364 closed

[2016-05-21 02:38] Tonkpils opened #1436 "Emphasize Ember.Service life span"
I saw a question today about whether Services were persisted across full page refreshes. Reading the guides for `Ember.Service`, it states that the "service will persist until the application exists" but it's further ahead in reading and separated from a statement that says the service is a long lived object.

It would help to move the sentence about the service being persisted until the applicati

[2016-05-21 20:38] sbatson5 commented on #1374
@toddjordan Was going to try a first draft this weekend. If you have time, would you mind looking over the PR here to see if I am on the right track as to what you envisioned: https://github.com/emberjs/super-rentals/pull/24/files.

Not sure I follow what you mean by using `Ember.String.dasherize` in the `params` for a subroute.  I assume I would have to add `dasherize` to the ember-cli-mirage con

[2016-05-21 22:13] locks commented on #1436
Hey @Tonkpils ;)

So, I'm a tad ambivalent on this. On the one hand, I do understand your initial confusing, and I want to make sure the documentation is as clear as possible. On the flip side, I include knowing that the JavaScript gets wiped when doing a page refresh in the "working knowledge" of browser stuff. I wonder if part of the problem is thinking that `Ember.Service` might be "special" an

[2016-05-21 22:24] Tonkpils commented on #1436
To be honest it may just be the wording on the `long-lived object` may have swayed my thinking to think that `Ember.Service` is a special object. When I saw the question, I originally thought that the object would be wiped on the refresh, but the documentation made me doubt my original thought...that's why I think maybe being specific would help others clear up similar concerns

Here's I ran into

[2016-05-23 12:43] toddjordan commented on #1374
Hi @sbatson5 thanks! I commented in the PR.  Lets discuss over there.

[2016-05-23 13:00] toddjordan commented on #1374
5/23 Update
* Merged installing addons section 💥
* Work in progress with the acceptance testing section
* Started work on an accessibility section for Global Accessibility Awareness Day (GAAD)
* @sbatson5 is working on the beginnings of a subroutes section, while @kidgodzilla is providing markup/style for a listing details page to complement the subroute functionality.

[2016-05-25 13:36] Gaurav0 commented on #1249
Fixed.

[2016-05-25 13:41] #1249 closed

[2016-05-26 19:36] acorncom opened #1441 "Work out how to make actions easier to learn about"
We've got string actions documented https://guides.emberjs.com/v2.5.0/templates/actions/ and then passing actions between components is documented here: https://guides.emberjs.com/v2.5.0/components/triggering-changes-with-actions/

I was trying to find the docs on passing actions to share with a guy and it took me longer to find then I'd like.  Should we add a note about "more advanced usage of ac

[2016-05-31 15:37] acorncom opened #1445 "Code block text does not match line number spacing at smaller resolutions"
When viewed on an iPhone 6 (not in a browser at smaller browser widths), code block text does not match up with the line numbers, leading to it being quite distracting ...
![large-text](https://cloud.githubusercontent.com/assets/802505/15680432/ff03bae4-2712-11e6-9e7d-c015af35339d.jpg)

[2016-06-04 03:28] carlbennettnz opened #1449 "Inconsistency: run loop vs runloop"
https://guides.emberjs.com/v2.5.0/applications/run-loop/

This page uses "run loop" 22 times and "runloop" 13 times.

[2016-06-04 03:33] carlbennettnz opened #1450 "Not enough contrast between links and other text"
I'm very, very mildly color-blind, but I can't distinguish links at all. It all looks the same to me. A higher contrast color combination or a simple underline would help.

[2016-06-04 18:38] nathanhammond commented on #1450
@carlbennettnz Thank you for bringing this up! Our color stack is on our list of things to address, and we're working toward a resolution over here: https://github.com/ember-a11y/issues/issues/1

For now, we can fix this here: https://github.com/emberjs/guides/blob/a1bbe899a2224449557c4c1b615e12a0a0ffa36f/source/stylesheets/base/_typography.scss#L47

By adding: `.chapter a { text-decoration: under

[2016-06-04 21:26] #1449 closed

[2016-06-06 00:26] carlbennettnz commented on #1450
❤️

[2016-06-06 18:53] Gaurav0 opened #1469 "Update 'Application Concerns' sections to discuss fastboot"
So some of the problems people run into with fastboot are that:

1. Instance initializers are run in parallel for each user connecting within fastboot. You should not share state between them.

2. Despite its name, the `afterRender` run loop queue is executed in fastboot, unless triggered from someplace that isn't run, like `didInsertElement`

3. Services are no longer singletons, and now exist pe

[2016-06-07 19:32] sotojuan opened #1470 "Super Rentals app doesn't work when deployed with Surge"
If you follow the guide correctly and deploy to surge, you get a blank screen with these errors in the console:

<img width="582" alt="screen shot 2016-06-07 at 2 32 27 pm" src="https://cloud.githubusercontent.com/assets/8217766/15871959/b1913df4-2cbc-11e6-8fcc-1d95f6873452.png">

[2016-06-08 13:55] gossi opened #1472 "Models/Customizing Serializers"
Hey guys,

I just copied a malfunction code sample from the guides. It is from: https://guides.emberjs.com/v2.5.0/models/customizing-serializers/

The relevant code sample is:

[code]

See the difference between _JSONSerializer_ and _JSON**API**Serializer_, which wouldn't work. There are some examples on this page, that I see are wrong. I'm a beginner, so I don't know which is the proper serialize

[2016-06-08 16:37] sukima commented on #1223
Isn't this issue resolved by commit [9a33b31e](https://github.com/emberjs/guides/commit/9a33b31e66b85d78c29a121c3ac91cddefe44790)? Or is this specifically about converting `this.set('actionName', …)` to `this.on('actionName', …)`?

[2016-06-08 16:41] #1223 closed

[2016-06-08 21:56] sotojuan commented on #1470
Closing because it works now.

[2016-06-08 21:56] #1470 closed

[2016-06-08 22:53] locks commented on #1470
Glad it resolved :) I reached out on the Slack channel, but you may have missed it.

[2016-06-08 22:55] locks commented on #1472
This is currently addressed in https://github.com/emberjs/guides/pull/1471. Thanks for pointing it out, and sorry about the inconvenience!

[2016-06-09 11:47] toddjordan opened #1474 "Assorted tutorial issues"
I walked through the tutorial from scratch last night and found the following updates need to be made:

### Acceptance Test
- [x] "you'll see one successful test" => "you'll see a successful acceptance test"
- [x] “should link to the about page” => “should link to information about the company"
- [x] Remove “.results” class from listings test

### Routes
- [x] Remove “ember new super-rentals
- [x]

[2016-06-09 16:01] jzaefferer opened #1476 "Installing Ember fails, specified version can't be found"
Quick start ( https://guides.emberjs.com/v2.6.0/getting-started/quick-start/ ) currently recommends this:

[code]

That immediately failed with this error:
[code]
Apparently the guide recommends installing a beta version, which doesn't work like that.

I went with `$ npm install -g ember-cli@latest` instead. Not sure yet what that installs (still working), I guess it'll be 2.5.1. (yep, it is)

[2016-06-09 16:09] toddjordan commented on #1476
Thanks for reporting. Yup.  CLI 2.6 isn't coming until next week.  Looking at patching the docs...

[2016-06-09 19:38] #1476 closed

[2016-06-09 20:12] jzaefferer commented on #1476
Nice. Now just need to deploy it ;-)

[2016-06-09 23:41] #1474 closed

[2016-06-10 03:30] acorncom commented on #1469
We're still working out how / whether to integrate Fastboot docs into guides (seems like we should, but how remains a question).  Will get to this at some point, but not right away (Fastboot hasn't hit v1.0 yet)

[2016-06-10 10:29] gr2m opened #1481 "Tutorial: Creating a Handlebars Helper – issue with template update"
I started the tutorial yesterday and am continuing today, maybe you changed something or I missed something, but on the [Creating a Handlebars Helper](https://guides.emberjs.com/v2.6.0/tutorial/hbs-helper/) part, the update to `app/templates/components/rental-listing.hbs` breaks things for me.

- For one the code does not show added / removed lines like in the pages before.
- It changes the CSS cl

[2016-06-10 13:15] gr2m opened #1482 "Tutorial: Building a Complex Compoment not working for me"
After I followed the instructions to add the complex component, no rentals are shown any longer. Here is the diff (together with two steps before, bu they were minor and worked): https://github.com/gr2m/super-rentals/commit/7b03bd67811287c996bd5832964232c5660c7927

![dafuq](https://cloud.githubusercontent.com/assets/39992/15965514/68244602-2eec-11e6-95fe-a533a76cc3ab.gif)

[2016-06-10 14:05] toddjordan commented on #1482
@gr2m we made some fixes to the tutorial yesterday afternoon and I think one should address that.  Can you verify?

[2016-06-10 14:14] toddjordan commented on #1482
I'll try the tutorial steps out for this and make sure too.

[2016-06-10 14:17] courajs commented on #1482
https://github.com/gr2m/super-rentals/commit/7b03bd67811287c996bd5832964232c5660c7927#commitcomment-17822592

[2016-06-10 14:24] toddjordan commented on #1482
yeap, that's it.  Good find.  That fix didn't make it back.

[2016-06-10 14:29] toddjordan commented on #1482
@courajs @gr2m can you review the pr and make sure it works for you?

[2016-06-10 14:31] gr2m commented on #1482
@toddjordan yes, @courajs’ fix makes it work again

[2016-06-10 14:32] toddjordan commented on #1482
sorry, I meant my PR https://github.com/emberjs/guides/issues/1483

[2016-06-10 14:33] gr2m commented on #1482
done. I applied the exact change to my local code and it fixed it: https://github.com/gr2m/super-rentals/commit/f71b880275d1c6d62b99e7de57d6e73d840ccbb1

[2016-06-10 14:34] toddjordan commented on #1482
Thank you so much for reporting this.  We'll try to get it back on the site asap

[2016-06-10 14:49] toddjordan commented on #1481
hmm.  I'll take a look.  That file should not have been updated yesterday :-(

[2016-06-10 15:00] toddjordan commented on #1481
ok, I get what's going on...

We made lots of updates to improve the tutorial for style, but the handlebars helper section was not updated.  Plus it was updated when we added the service, but should not have been with the map.

To fix, make the markup similar to what was defined in simple-component.md (except now with the helper callouts) and remove the map component call.

[code]
Then updated the

[2016-06-10 15:10] gr2m commented on #1481
Okay on it, thanks for the advise! I’ll leave in the image, as it was added on the step before:
https://guides.emberjs.com/v2.6.0/tutorial/simple-component/#toc_hiding-and-showing-an-image

[2016-06-10 15:12] toddjordan commented on #1481
updated the snippet above to add in the image

[2016-06-10 15:26] #1481 closed

[2016-06-10 16:57] jsmestad opened #1485 "Why use a component (Tutorial)"
I was reading the updated [simple-components](https://github.com/emberjs/guides/blob/master/source/localizable/tutorial/simple-component.md) tutorial which is a great improvement. There is something going unsaid though.
- What functionality makes a good candidate for a component exactly?
- What functionality is too minor or small in scope to justify moving to a component?
- Can using a component t

[2016-06-10 17:54] gr2m commented on #1470
not working for me? https://calm-shop.surge.sh/ I guess because of the data mocking locally? @sotojuan did you do anything to make it work?

[2016-06-10 17:58] toddjordan commented on #1482
fix merged... closing issue.

[2016-06-10 17:58] #1482 closed

[2016-06-10 18:33] sotojuan commented on #1470
No, just tried it again later. @GavinJoyce had the same experience, maybe he can help.

[2016-06-10 18:38] gr2m commented on #1470
`ember build --env=development` did the trick for me

[2016-06-10 18:48] sotojuan commented on #1470
Maybe that should be added to the docs or looked into? @locks

[2016-06-10 19:07] acorncom commented on #1470
See #1487  , we've got a PR in for that :-)

[2016-06-10 19:14] acorncom commented on #1476
@jzaefferer This was deployed yesterday, but 2.6 was deployed this morning, so we're going to be taking our fix out later today 😄

[2016-06-11 00:02] acorncom commented on #1485
@toddjordan Got any thoughts here?

[2016-06-11 00:05] acorncom commented on #1374
Looks like we need to get the nested routes section into the tutorial and super rentals whipped into better shape and then we'll be done here.  Nice! 🎉

[2016-06-11 00:05] acorncom commented on #1365
@MarkMT Is that discussion above clear enough?  Would you want to write something up for the guides on this?

[2016-06-11 00:09] acorncom opened #1490 "Setup continuous deployment for old versions of our code"
We should be able to cherry-pick in the deploy setup to each old branch and set it to overwrite the appropriate folder.  Then we would be able to have people send in PRs to each branch and have those automatically re-deploy to the appropriate version of the guides on production.

/cc @toddjordan @locks thoughts on the above?

[2016-06-11 00:10] acorncom commented on #1490
This would help address https://github.com/emberjs/guides/issues/1241

[2016-06-11 12:10] jzaefferer commented on #1476
Alright, that also works 👍

[2016-06-11 14:02] acorncom commented on #1490
Further thoughts: we will need to make commits to the guides.emberjs.com repo at a minimum, as without that, on the next change on master the old version will be reset ...

[2016-06-11 15:21] atsheehan opened #1491 "application.hbs missing from quick-start tutorial"
I'm new to Ember so I'm not sure if I'm missing something obvious, but I ran into a slight snag during the quick-start tutorial at [https://guides.emberjs.com/v2.6.0/getting-started/quick-start/](https://guides.emberjs.com/v2.6.0/getting-started/quick-start/).

In the [Create a New Application](https://github.com/emberjs/guides/blob/a20a8f57d12e1f2b1e49c21630dcbe5fb895d1a4/source/localizable/getti

[2016-06-11 15:59] vjrngn commented on #1491
You're right. I'm going through the guide as well and don't see the Application.hbs file.

[2016-06-11 21:23] acorncom commented on #1491
Confirmed. That's a new change in 2.6 that we haven't put in yet. For now, do a "ember g template application" and you should be set

[2016-06-12 22:37] locks commented on #1485
It's the only way to abstract a piece of your template. In other words, it's the only way to give a piece of your template a name.

None.

Yes, as with anything.

[2016-06-13 10:20] #1445 closed

[2016-06-14 14:51] toddjordan commented on #1374
6/14 Update

* Merged Acceptance testing section ✨
* Accepance testing, installing addons, and services deployed along with Ember 2.6 🎉
* @sbatson5 currently working on a subroutes section for the tutorial

[2016-06-15 13:57] sbatson5 commented on #1374
Just need to address this styling nitpick I have and we should be good on sub-routes:
https://github.com/emberjs/super-rentals/pull/24#discussion_r67165383

The tutorial should be mostly finished if people want to take a first pass-through:
https://github.com/emberjs/guides/pull/1443

[2016-06-15 22:42] jzaefferer opened #1497 ""Building for production" step fails"
I followed the [Getting Started / Quick Start guide](https://guides.emberjs.com/v2.6.0/getting-started/quick-start/). The last section is about Building for production. Running the command `ember build --env production` fails with this output:

[code]
Being new to Ember, that's a rather cryptic/useless error. I can't even tell what it was trying to do when it failed.

Since this happened while fol

[2016-06-15 22:46] jzaefferer commented on #1497
Not sure if this is going to help... I tried again (while installing watchman elsewhere, so that warning disappeared, and it worked:

[code]
I then wanted to go back to running the dev server... which failed:
[code]
Trying that again, and it... worked!

Not sure what's going on there. Let me know if there's other info I can share to help track this down.

[2016-06-15 22:58] jzaefferer opened #1498 ""Creating your app" step is a little outdated"
At the end of https://guides.emberjs.com/v2.6.0/tutorial/ember-cli/ the guide says: "If we navigate to localhost:4200, we'll see our brand new app displaying the text "Welcome to Ember"."

Instead, in Ember(-cli) 2.6.0, it shows the Ember mascot with a hardhat and "Congratulations, you made it!" and some more text. Also `app/templates/application.hbs` is gone (the quickstart guide relies on that f

[2016-06-16 01:12] locks commented on #1497
This is sounding like a bad npm install, or somesuch. Hm, not sure we can do anything about it.

[2016-06-16 03:53] claubacher opened #1500 "Unable to override model hook in error substate route"
@f3ndot Reopening your issue emberjs/ember.js/issues/11321 in the guides repo.

@pixelhandler suggested:

https://github.com/emberjs/guides/blob/master/source/localizable/routing/loading-and-error-substates.md#error-substates

[2016-06-16 06:00] gabzilla opened #1502 "Red/Green syntax in Guides is not clear."
It would be helpful in the Guides examples to clarify what the green and red highlighting means.  Let me know how I can help!

[2016-06-16 10:36] locks commented on #1502
They are added (green) or removed (red) lines of code from the previous code sample.
A nice place for this would be in the index (https://guides.emberjs.com/v2.6.0/), similarly to "Organization". We could also explain file paths and their meaning.

[2016-06-16 11:29] toddjordan commented on #1502
Would it be more clear if instead of (or in addition to) writing a section to explain, we put a +/- character at the start of each green/red line indicating addition/removal?  That would probably b more accessible as well (given green/red is difficult for colorblindness)

[2016-06-16 13:09] acorncom commented on #1498
@jzaefferer Thanks, it's something we've known was in there, but hadn't had a chance to fix yet.  Would you be able to send in a PR with a note about creating the application.hbs file?

And yes, all tickets are helpful, PRs are even better ;-)

[2016-06-16 13:10] acorncom commented on #1497
@jzaefferer I'll close this for now, but if you end up having a steady way of reproducing this issue, please let us know!

[2016-06-16 13:10] #1497 closed

[2016-06-16 13:13] #1441 closed

[2016-06-16 16:40] jzaefferer commented on #1498
So ember-cli doesn't create that template anymore, but the user should create it as part of the tutorial?

[2016-06-17 10:25] #1500 closed

[2016-06-17 21:34] djsegal opened #1505 "Request: cookie to know I always want the newest docs"
I know this is a known problem, but whenever I get to guides from google, they are always the out-of-date ones.

Could you guys add a cookie that remembers that I always want to be transtionedTo the newest docs?

[2016-06-19 13:24] thardraved commented on #1491
Typing "ember g template application" not working

[code]

[2016-06-20 20:56] fredguth opened #1512 "Suggestion: Example showing defaultValue as a function in defining-models"
In:
https://github.com/emberjs/guides/blob/master/source/localizable/models/defining-models.md

there should be an example showing that default value can also be a function.  As in: http://emberjs.com/api/data/classes/DS.html#method_attr

[2016-06-20 22:34] bambery opened #1513 "bower, installation, and upgrading"
I'm following through the tutorials and I'm wondering if there might want to be a line in [Getting Started > Dependencies](https://guides.emberjs.com/v2.6.0/getting-started/#toc_dependencies) section about bower.

Bower is a dependency for Ember, but in the tutorial, the assumption is a global install in the section for [upgrading ember](https://guides.emberjs.com/v2.6.0/tutorial/ember-cli/#toc_up

[2016-06-20 23:23] locks commented on #1512
@fredguth why? the API documentation seems like the proper place for it

[2016-06-21 03:05] acorncom commented on #1498
Correct.  There is a new add-on that we added to Ember-CLI (https://github.com/ember-cli/ember-welcome-page).  As part of that, the standard `templates/application.hbs` was removed from Ember-CLI's standard blueprint.

[2016-06-21 03:09] acorncom commented on #1505
The simplest way to do this would be to add some additional Javascript that checks to see if the `currentRevision` is the same as the latest JSON.  But the hard part is going to be working out how to default to not transitioning to the newest docs while allowing folks to opt-in to that behavior.

@djsegal, would you have the time to dive in and work through how we could add this?  I'm working on s

[2016-06-21 13:31] CodingItWrong opened #1514 "Inconsistent localhost links"
I've noticed some inconsistencies with the way `localhost` links are presented in the guides, and I'd like to do a quick PR to make them consistent. Just wanted to see if anyone had a preference first. The two styles I've seen are:

1. Not linked, `http://` not shown, backticks, e.g. `localhost:4200/about`
2. Linked, `http://` shown, no backticks, e.g. [http://localhost:4200/about](http://localhos

[2016-06-21 13:41] rwjblue commented on #1514
I personally like the last option, but any consistency is better than mixed...

[2016-06-21 15:23] fredguth commented on #1512
@locks: Only because when you want to set the defaultValue of an attr without transform, it is not clear that the options is not the second parameter, but the only param.

Maybe the right place is the API, anyway, or there could be a link from this guide to http://emberjs.com/api/data/classes/DS.html#method_attr

[2016-06-21 17:53] #1514 closed

[2016-06-21 18:50] jamesskyoung commented on #1491
Looking at Angular 2 vs Ember.  Started the tutorial and ran into this.  First impressions are important.  You'd be amazed at how such a small thing can influence people.

[2016-06-21 20:14] locks commented on #1491
@jamesskyoung we are doing the best we can, but we're only human

[2016-06-21 20:32] keinchy commented on #1491
ran into the same issue but ran into this thread with answer fairly quickly. Maybe less then 5 minutes... no complains here.

[2016-06-22 03:31] #1512 closed

[2016-06-22 03:52] acorncom commented on #1512
@fredguth We just put in a link to `attr`, thanks for the suggestion

[2016-06-22 20:48] NegativeIQ opened #1527 "Ember install 2.6 and Quick Guide"
Hey guys, just started learning Ember and i already love it, but i run into a few problems at the very start. Fist, Ember install 2.6 is missing default application.hbs and guide actually depends on its existence and containing {{outlet}} inside it for other routes to work, actually to show up.
Also we need to remove welcome page from npm (package.json) dependency, but its not mentioned in guide a

[2016-06-22 23:14] locks commented on #1527
Hi @NegativeIQ, thank you for the feedback. We are aware and dealing with the issue soon, we just need to take care of some other loose ends first.

I'm closing this as it's a duplicate of https://github.com/emberjs/guides/issues/1491 and https://github.com/emberjs/guides/issues/1498, you can track the evolution there.

[2016-06-22 23:14] #1527 closed

[2016-06-23 03:34] acorncom opened #1528 "Change instructions for the tutorial re: application.hbs file"
On this page (https://guides.emberjs.com/v2.6.0/tutorial/routes-and-templates/#toc_adding-a-banner-with-navigation).  It's gone now (see https://github.com/emberjs/guides/issues/1491)

[2016-06-23 17:13] djsegal commented on #1505
@acorncom ill take a stab at it.

this might seem like a stupid question, but what framework is this written in? is this sinatra?

[2016-06-23 18:27] bambery opened #1529 "Building a complex component - why am I using a component?"
I am on the step of [creating a complex component](https://guides.emberjs.com/v2.6.0/tutorial/autocomplete-component/), but I am confused as to the value of this component. The component itself appears only to pass through the arguments to the controller, where the logic lives - even the `#each` for displaying results is on the index's template.

Also, controllers are introduced for the first time

[2016-06-23 19:11] #1491 closed

[2016-06-23 20:00] toddjordan commented on #1529
Hi @bambery thanks for the feedback.  I don't feel we need to change the example, but we possibly could explain it better.

"list-filter" is made to be a generic component, meaning its job is to take a function that returns a list of things based on a user input query.  The component provides the input query and simply invokes the closure action (function) based on the the value of the input, and

[2016-06-26 20:14] iezer opened #1535 "Document Radio Buttons in Input Helpers"
It was suggested in this [ticket on the website repo](https://github.com/emberjs/website/issues/2574) that it would be great to give an example of using radio buttons.

[2016-06-27 00:24] faizaanshamsi commented on #1386
I've opened a PR on ember.js, can update the guides as well if necessary. https://github.com/emberjs/ember.js/issues/13397

[2016-06-27 00:56] thomascchen opened #1538 "Fix links to Ember Inflector source code in API docs"
The links to the Ember Inflector source code in the API docs are broken. This is true for all of the methods on the [Ember.Inflector](http://emberjs.com/api/data/classes/Ember.Inflector.html) page and the [Ember.HTMLBars.helpers](http://emberjs.com/api/data/classes/Ember.HTMLBars.helpers.html) page.

Clicking on the link, for example, to [node_modules/ember-inflector/addon/lib/system/inflector.js:

[2016-06-27 15:28] dhiachou opened #1541 "Typo in Building a simple component tutorial"
I am sure that the line 153 of the file `source/localizable/tutorial/simple-component.md` should become :
[code]
instead of
[code]

[2016-06-28 14:30] locks commented on #1386
Having checked out the guide in question, it should be simplified to only the helpers. They already link to the API docs, which should be consulted or details. This also avoids having the description get out of sync, as when the `click` API docs get updated.

[2016-06-28 14:33] locks commented on #1538
Thank you for bringing this to our attention @thomascchen, but this should be filed under https://github.com/emberjs/ember.js, as the API documentation, and related links, are extracted from inline JSDoc comments.
I've moved the issue there and mentioned you.

[2016-06-28 14:33] #1538 closed

[2016-06-28 15:32] thomascchen commented on #1538
Thank you @locks !

[2016-06-28 18:10] djsegal commented on #1505
@acorncom any updates on this? i gave it a try but haven't heard back from any mods.

[2016-06-29 21:08] yawboakye commented on #1541
Fixed in https://github.com/emberjs/guides/pull/1543. Issue can be closed.

[2016-06-30 00:52] toddjordan commented on #1541
Thanks @yawboakye and @dhiachou for catching/fixing!  Closing as fixed by #1543.

[2016-06-30 00:52] #1541 closed

[2016-07-04 04:02] bambery opened #1553 "variable shadowing in guides for google map service"
in https://guides.emberjs.com/v2.6.0/tutorial/service/#toc_accessing-the-google-maps-api
[code]

The `title` for creating the new google maps marker is looking for the original string name of the city which was passed in to `pinLocation` via `location` to. However, within the if block, `location` is shadowed to represent a google maps object. When creating the marker, a console error will be throw

[2016-07-04 04:10] bambery commented on #1553
nevermind, I went to submit a pr but I see [it's already solved](https://github.com/emberjs/guides/commit/fea9032e7d1951d58df25f303b9e781674d4dbdf). Should have also searched closed issues!

[2016-07-04 04:10] #1553 closed

[2016-07-05 07:06] EvanKnowles opened #1554 "Google Maps requires API key - tutorial broken"
The tutorial is currently broken, with the message:

testem.js:785 This service requires an API key.  For more information on authentication and Google Maps Javascript API services please see: https://developers.google.com/maps/documentation/javascript/get-api-key

It seems that, in general, the Google Maps API should be loaded from Google and not cached locally in  any case.

[2016-07-14 01:38] steveszc commented on #1502
This would be straight forward to implement with CSS pseudo elements. Inserting the +/- with css content wouldn't necessarily improve screen reader accessibility but would certainly improve things for users with red/green color blindness and add clarity for sighted users. I'm happy to prepare and submit a PR if this approach is deemed to be acceptable.

The following CSS rules would do the trick:

[2016-07-14 13:27] ksin commented on #1502
I think the +/- would be an improvement for red/green color blindness and syntax clarity overall, but it doesn't help others for which there is insignificant color contrast between the red/green highlight and gray text.

[2016-07-14 15:58] nathanhammond commented on #1502
@steveszc Obviously in favor of adding `+`/`-`. One caveat: it looks like your approach with pixel locations may break if the line counts reach multiple digits. Can you come up with a "relative" positioning away to achieve this?

[2016-07-14 16:50] toddjordan commented on #1554
@EvanKnowles The tutorial seems to work for me, but I do get the message you mention above.  I believe this is because Google will give you a certain number of map lookups without a key for your server (and then requires you to pay them).  For the purpose of an intro tutorial, I'm ok with that limitation.

It will probably be simpler for people downloading the tutorial source to just have a link t

[2016-07-14 16:52] toddjordan commented on #1528
closing since fix is merged

[2016-07-14 16:52] #1528 closed

[2016-07-14 18:40] vkoves opened #1560 "404 Page Links are Wrong"
I was stumbling around trying to see if there was a newer version of an old Ember Cookbook article, and ended up on the 404 page. It turns out the 404 page links to the Ember guides using [this link](https://guides.emberjs.com/guides) which also yields a 404 page, yielding a 404 loop.

Super tiny issue, but just wanted to pointed it out.

[2016-07-14 18:57] acorncom opened #1561 "Finish shift to Algolia search"
We are wanting to continue our shift to Algolia search, so are opening this up to ask for help :-)  An example PR showing the code changes that were needed for versions 2.3-2.6 of the guides can be found here (https://github.com/emberjs/guides/pull/1433)

Remaining items to get resolved (ordered by priority):
- [x] shift main website search to Algolia (@acorncom - https://github.com/emberjs/websit

[2016-07-14 19:04] acorncom commented on #1560
@vkoves Ouch, sorry to hear it.  Could you send over a link to the specific page where you found the broken link?  And hopefully a screenshot too?  That'd help us track things down quicker ;-)

[2016-07-14 20:45] steveszc commented on #1502
@nathanhammond Since -/+ is added as a pseudo element into the line number container, using relative positioning causes the -/+ to take up space in the line number container and it pushes the line number digit to the left and messes up the alignment of the digits with a -/+ next to them. The absolute position allows the -/+ to be positioned between the line numbers and the code without impacting t

[2016-07-14 22:39] locks commented on #1560
This has been addressed in https://github.com/emberjs/guides/pull/1422. Did we muck up the deploy?

[2016-07-15 03:02] nathanhammond commented on #1502
@steveszc Good points, all of them. Can you open a PR to land your proposed simple CSS change? We shouldn't let "perfect" be the enemy of "good" here.

[2016-07-15 08:05] locks commented on #1502
Going to keep it open to advance the discussion.

[2016-07-18 14:08] shawnam opened #1566 "New greens for hbs code are hard to read"
The greens in the handlebars templates are hard to read against white. I think this changed relatively recently? Though I looked through the latest merged PRs and didn't find an obvious change for this in particular off hand.

![screen shot 2016-07-18 at 9 06 35 am](https://cloud.githubusercontent.com/assets/747707/16917377/f8f48082-4cc6-11e6-8007-1536de715c71.png)

[2016-07-18 15:00] toddjordan commented on #1566
seems to be more a problem with the API doc than the guides (which use a black background), but yeah, yuck.

[2016-07-18 15:22] toddjordan commented on #1566
Seems to be related to some new styles brought in to support search.  will need to tweak the styles.  https://github.com/emberjs/website/commit/8d509c72a393670cb12e1bf2666d0aae4df53c0f

[2016-07-18 15:52] shawnam commented on #1566
Thanks, Todd. Should I re-file my issue over in the other repo, then?

[2016-07-18 17:00] toddjordan commented on #1566
already fixed https://github.com/emberjs/website/pull/2646  You should see it better now on the site

[2016-07-18 17:01] #1566 closed

[2016-07-20 22:07] ryanolsonx opened #1568 "Tutorial Services and Utilities: Unit Tests Don't Pass for location-map"
In the beginning of the [Fetching Maps With a Service](https://guides.emberjs.com/v2.6.0/tutorial/service/#toc_fetching-maps-with-a-service) section, the tutorial mentions that "Now we have a passing component integration test" we can continue on.  The test for this component isn't working for me, even after I copy and paste the test code and component code to ensure accuracy.  All of my other tes

[2016-07-20 23:09] locks commented on #1568
Can you paste the message of the failing test please?

[2016-07-20 23:18] locks commented on #1291
Tracking this off-GitHub.

[2016-07-20 23:18] #1291 closed

[2016-07-20 23:21] ryanolsonx commented on #1568
Sorry, I meant to add that.. here it is:

[2016-07-21 14:07] toddjordan commented on #1568
@ryanolsonx the tutorial is in github at https://github.com/emberjs/super-rentals and all tests pass.  Hopefully that can give you some insight into what's going wrong.

[2016-07-21 14:08] toddjordan commented on #1568
I'll also try to see if there's a discrepancy between the github repo and guides

[2016-07-21 14:27] Serabe commented on #1568
The failing test is the acceptance test. That test is fixed later in the section [Stubbing services in acceptance tests](https://guides.emberjs.com/v2.6.0/tutorial/service/#toc_stubbing-services-in-acceptance-tests).

The paragraph you link states:

But does not say that the acceptance test now is failing. Maybe adding a few words about it would make it clearer. What do you think, @toddjordan, @lo

[2016-07-21 14:30] toddjordan commented on #1568
Thanks @Serabe !  Yeah I'm for clarifying there.  We can keep this issue open to track making this clearer.

[2016-07-22 01:15] ryanolsonx commented on #1568
OK this makes sense. Thanks for looking into this @Serabe . It just really confused me and I would imagine that it could confuse others as well.  I think that it would make things much more clear to mention that our other test will be failing now.

[2016-07-22 11:45] AndriusZid commented on #1529
Hi, I have an issue on this tutorial with filtering.

When I filter city, San in results i see only Grand Old Mansion, but when i delete filter field quickly I don't see all results, but in console.log I see that GET request returns correct results with all three cities. It seems that UI missed it and didn't updated as expected.

UI test are passed okay.

![filter-ui](https://cloud.githubuserconte

[2016-07-22 19:57] toddjordan commented on #1529
Hi @AndriusZid, thanks for reporting. can you open you comment in its own issue?

[2016-07-22 20:40] AndriusZid opened #1572 "Building a Complex Component - filtered results are not displayed on UI when typing/deleting fast"
Hi, I have an issue on this tutorial with filtering.

When I filter city, San in results i see only Grand Old Mansion, but when i delete filter field quickly I don't see all results, but in console.log I see that GET request returns correct results with all three cities. It seems that UI missed it and didn't updated as expected.

UI test are passed okay.

![filter-ui](https://cloud.githubuserconte

[2016-07-22 20:40] AndriusZid commented on #1529
Hi @toddjordan , opened new issue with same comment here #1572

[2016-07-26 23:59] chris-morgan opened #1579 "`ember new` requires git, but the quick start guide doesn’t mention this"
[code]

[No one](https://guides.emberjs.com/v2.7.0/getting-started/quick-start/) told *me* I had to have Git installed.

(I use WSL and have Git installed on the Ubuntu side, but on the Windows side I hadn’t gotten around to installing Git yet.)

[2016-07-27 13:31] locks commented on #1579
The [Installing Ember](https://guides.emberjs.com/v2.7.0/getting-started/#toc_git) does, though it comes after. Going to suggest something, one sec.

[2016-07-27 13:39] locks commented on #1579
@chris-morgan do you think https://github.com/emberjs/guides/pull/1581/files#diff-41d19b956479ca7b821c55def80da82b would be sufficient?
You are sort of an edge case, since most users seem to have git installed, so thank you for bringing this to our attention. I will also investigate the possibility of making git a soft requirement.

[2016-07-27 14:51] alexwilkinson commented on #1213
I think this issue can be resolved now! : D

[2016-07-27 15:33] #1213 closed

[2016-07-28 11:07] chris-morgan commented on #1579
@locks: Well, the NPM requirement is already written out and Git is the only other actual *requirement*. (Bower gets installed into node_modules). It’d be kinda nice to mention Git explicitly. But yeah, it’s fine.

[2016-07-28 11:32] locks commented on #1579
I'm following up with the Ember CLI on the question of making Git a soft dependency, thanks for your feedback.

[2016-07-28 11:32] #1579 closed

[2016-07-28 15:08] rwjblue commented on #1579
It should not be required. We used to detect git was missing and just carry on nicely, if we now blow up when there is no fit global then that is a regression.

[2016-07-29 14:55] motocarota opened #1584 "Google leads me too often into the older versions of the docs"
I know It's partly my fault for not being more focused, but it happens frequently that I spend a good minutes reading old version of the docs sometimes with parts that now are totally deprecated.

This happens because google sends me directly into the docs, IMHO you should try to avoid this to help newcomers not getting confused, maybe discouraging search engines to crawl old versions of the docs

[2016-07-29 14:58] motocarota commented on #1584
Another solution could consist in styling older version of the docs with a different visual

[2016-07-29 17:02] locks commented on #1584
We have a big red warning at the top of the page warning that it's an older version already, and anything below `v2.1.0` is pre-redesign so it's visually different. Bad Google results is an old and fuzzy problem that we have, but there isn't a clear solution still.
Since we're already tracking this in a [similar issue](https://github.com/emberjs/guides/issues/604), I am going to close this one. @a

[2016-07-29 17:02] #1584 closed

[2016-07-29 18:28] acorncom commented on #1584
@motocarota Short answer is: we're working on it ;-)  Lots of details / background here (https://github.com/emberjs/guides/issues/1185) if you're interested.

TL/DR: We're adding better search to all older guides pages (https://github.com/emberjs/guides/issues/1561) so we don't totally strand folks on older versions of Ember.  Once that's done, we'll tell Google to only index `/current`, which doe

[2016-07-29 19:06] pixelhandler opened #1585 "Clarify RSVP use in an Ember app"
When reading the API Docs and the Guides, the ready has to take a leap regarding the use of RSVP… the API docs don't mention "Ember.RSVP" only "RSVP" and the guides sprinkle in "Ember.RSVP" so when you look at the API docs you have to insert "Ember." when you read if you know to do so.

Per chat in Slack, We should `import RSVP from 'rsvp'` (or whatever it is) and remove "`Ember.`" from "`Ember.RS

[2016-07-29 23:40] acorncom commented on #1502
@locks to clarify, what else do you think this discussion needs?

[2016-07-29 23:41] acorncom commented on #1498
This was closed by the PR referenced above ...

[2016-07-29 23:41] #1498 closed

[2016-07-29 23:42] acorncom commented on #1386
@locks that sounds like a vote to close this then and open a new issue re: adjusting guides content?

[2016-07-29 23:42] acorncom commented on #1490
I'm going to close this now, we may revisit later

[2016-07-29 23:42] #1490 closed

[2016-07-29 23:50] acorncom commented on #604
Re: https://github.com/emberjs/guides/issues/604#issuecomment-168137300, confirmed, that is the plan. I'm going to close this in favor of #1185

[2016-07-29 23:50] #604 closed

[2016-08-01 14:09] #1341 closed

[2016-08-01 23:44] yawboakye commented on #1585
@pixelhandler I'm glad to take up this work. But first I need to confirm that Ember doesn't change `RSVP` in any way that makes it not a good idea to use `RSVP` right out of `rsvp` package. I'm looking at https://github.com/emberjs/ember.js/blob/master/packages/ember-runtime/lib/ext/rsvp.js and comment on [#L93](https://github.com/emberjs/ember.js/blob/master/packages/ember-runtime/lib/index.js#L9

[2016-08-02 01:32] pixelhandler commented on #1585
@yawboakye we had a chat discussion on this issue on slack last Friday. @locks liked the idea of removing the "Ember." from the RSVP use in guides.

See: https://github.com/emberjs/ember.js/blob/master/packages/ember-runtime/lib/index.js#L209

The comment you mentioned `import RSVP from 'ember-runtime/ext/rsvp';     // just for side effect of extending Ember.RSVP` I think means `Ember.RSVP = RSVP;

[2016-08-02 02:15] pixelhandler commented on #1585
@locks @yawboakye here is an example of a change I'm making to an addon based on this "clarification" https://github.com/pixelhandler/ember-jsonapi-resources/pull/90/files (tests are passing via Travis builds use Ember v1.13 - Canary v2.9) and running the branch in my app works fine)

[2016-08-02 04:32] raphaelcuba opened #1589 "Fix the tutorial of routes and templates"
I'm a new developer using Ember and excited by the news changes at the new version of the framework.

So, i'm following the docs and looked the diff between the code generated and the tutorial.

Follow the pr #1588

Thanks!

[2016-08-02 09:07] locks commented on #1589
Keen eye! :) PR approved, thank you for your contribution, and let us know of any other bug you encounter.

[2016-08-02 09:07] #1589 closed

[2016-08-02 19:37] yawboakye commented on #1585
:+1: @pixelhandler I'll have the changes pending while I wait for comments from core. Then the PR will be on its way :smile:

[2016-08-03 00:59] pixelhandler commented on #1585
@yawboakye See #1590 I commented on a few places we can use imports for `RSVP`.

[2016-08-03 08:34] yawboakye commented on #1585
@pixelhandler Seen. They should go in separate PRs though
cc/ @locks

[2016-08-03 13:44] pixelhandler commented on #1585
@stefanpenner @rwjblue can you please confirm we should use imports for RSVP use in the guides cc/ locks, @yawboakye would like confirmation.

[2016-08-03 14:14] pixelhandler commented on #1585
@yawboakye thanks!

[2016-08-03 14:16] pixelhandler commented on #1585
Fixed by #1591

[2016-08-03 14:16] #1585 closed

[2016-08-03 21:18] acorncom opened #1597 "Redo the DS import lines"
We had an Ember Data mixup that made it into the guides.  We need to clean things up at this point:

Revert the changes:
- [x] 2.3 (https://github.com/emberjs/guides/pull/1595)
- [x] 2.4 (https://github.com/emberjs/guides/pull/1594)
- [x] 2.5 (https://github.com/emberjs/guides/pull/1596)
- [x] 2.6 (already done)

Rebuild the docs and commit changes to the guides.emberjs.com repo
- [x] 2.3
- [x] 2.

[2016-08-04 09:40] fewstera opened #1598 "ERR_BAD_SSL_CLIENT_AUTH_CERT error"
When I visit https://guides.emberjs.com/ I get an SSL error `ERR_BAD_SSL_CLIENT_AUTH_CERT` .

[code]

This has only started happening today.

I do have some client authentication certificates installed on my machine, but these don't effect any other HTTPS sites.

When I attempt to make the connection using curl (which won't be using my client certificates) I get:
[code]

[2016-08-04 09:56] fewstera commented on #1598
This seems to have been resolved now.

[2016-08-04 09:56] #1598 closed

[2016-08-07 23:48] toddjordan commented on #1568
closing as fixed...

[2016-08-07 23:48] #1568 closed

[2016-08-09 01:20] ladyleet commented on #1491
this thread was super helpful! almost had a panic attack and thought something drastic had changed after upgrading to 2.7.0!! hahaha :)

[2016-08-16 05:16] etherelly commented on #1560
Choosing a different version from this page returns a 404: https://guides.emberjs.com/v1.13.0/understanding-ember/dependency-injection-and-service-lookup/ and the 404 loop is still there. Cheers!

[2016-08-17 09:51] locks opened #1615 "Add helper unit test example"
http://stackoverflow.com/questions/38985836/unit-test-for-helpers-ember-cli

[2016-08-23 00:54] mrosata opened #1618 "A code example has incorrect language for syntax highlighting selection"
At LN 55 in the file `the-component-lifecycle.md`, there is a handlebars example that is demonstrated in a code fence labeled as javascript.

`/app/templates/components/profile-editor.hbs`
\`\`\`js

rather than

`/app/templates/components/profile-editor.hbs`
\`\`\`hbs

The same error is present in `components-lifecycle.de-DE.md` file, but I didn't make a change to that because `CONTRIBUTING.md` st

[2016-08-23 02:14] #1618 closed

[2016-08-23 02:14] acorncom commented on #1618
Closed by #1619

[2016-09-01 06:10] ve3 commented on #1147
I have the same issue. restart the ember server don't fix anything.

I'm on this tutorial step and can't get /rentals
https://guides.emberjs.com/v2.7.0/tutorial/installing-addons/

[2016-09-01 07:57] locks commented on #1147
@ve3 visit our Slack group for more help, thanks.

[2016-09-02 06:04] ve3 commented on #1554
I confirm this error. Does anyone show an example how to set the Google Maps API key?

[2016-09-02 13:15] toddjordan commented on #1554
@ve3 I/you do not need the api key to get the tutorial working locally.  You'll get a warning but the maps should show.  If the maps do not show you may need to re-run the curl command.  You shouldn't need a key for the purposes of initial running the tutorial.  The curl approach may not be the best way to incorporate the google maps library, but it was done to demonstrate how one might include a

[2016-09-02 13:19] ve3 commented on #1554
If no API key, the maps do not show. Re-run curl nothing change.
For me, it needs API key.

[2016-09-02 13:34] toddjordan commented on #1554
odd.  historically you've been allowed to use the api without a key up to a per day limit.  I just tried it on a local copy of the super-rentals repo and map display works still.  will have to research some more.  An alternative would be to update index.html with maps in one of the script tags and delete the js file from vendor.  You can see this in the super-rentals repo: https://github.com/ember

[2016-09-02 17:56] acorncom opened #1632 "[META] Improve the testing guides"
We'd like to see the discussion of testing in guides fleshed out in more detail (to encourage folks to test a variety of places).  Please comment here as you see things that need to be done in more detail and we'll add them to the checklist below:

- [ ] add helper unit test example (https://github.com/emberjs/guides/issues/1615)
- [ ] ??

[2016-09-02 18:07] toddjordan commented on #1632
need to add documentation on unit test `needs` as well

[2016-09-02 18:08] toddjordan commented on #1632
when/why use use `Ember.run`  (link to run loop explanation)

[2016-09-02 18:08] toddjordan commented on #1632
troubleshooting test failures

[2016-09-02 18:09] toddjordan commented on #1632
unit testing a mixin, serializer, adapter

[2016-09-02 18:10] toddjordan commented on #1632
writing test helpers for unit, integration tests,

[2016-09-02 21:41] acorncom commented on #1632
@toddjordan I've moved your comments above into the main description, deleting the individual comments here ...

[2016-09-05 21:34] toddjordan commented on #1615
We should close this guy and just track with #1632

[2016-09-06 13:45] GabrielCW opened #1636 "Clarify service properties usage limitations"
Hi there,

Referring to these guide pages, I have attempted to use services' properties as  a basis for a controller's queryParams: [Accessing services](https://guides.emberjs.com/v2.7.0/applications/services/#toc_accessing-services) and [Specifying query parameters](https://guides.emberjs.com/v2.7.0/routing/query-params/#toc_specifying-query-parameters).

I was getting outdated service values in

[2016-09-06 18:53] acorncom commented on #1615
Sounds good

[2016-09-06 18:53] #1615 closed

[2016-09-07 21:10] jsArgus commented on #1560
Yep 404 loop still exists as described above. Screenshot:
![404_loop](https://cloud.githubusercontent.com/assets/573477/18328685/2e7d016e-7550-11e6-9b0c-eafac72d88bf.png)

[2016-09-08 20:53] rwjblue opened #1637 "Flesh out documentation for component lifecycle hooks."
Add information to the guides (likely in [The Component Lifecycle](https://guides.emberjs.com/v2.7.0/components/the-component-lifecycle/)) that explains the concept that all DOM interaction should be focused in specific hooks and that those hooks are not ran in FastBoot.

This is a guide specific issue for the work discussed in https://github.com/emberjs/ember.js/issues/14235.

[2016-09-10 09:03] Letladi opened #1642 "Do we need the mirage namespace in v2.8.0?"
Hi guys, I just started exploring ember yesterday and I'm currently doing the super rentals tutorial. In the 'Installing Addons' section, the reader is instructed to install the 'mirage' add-on and add the following code to 'mirage/config.js';
[code]
... with the following comment;

And the reader is instructed to generate an adapter, which I did. Unfortunately this causes the following error;
[co

[2016-09-10 09:54] Serabe commented on #1642
Hello, @letladi. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-09-10 09:56] Serabe commented on #1642
(BTW, my nick is the same in Slack :+1:)

[2016-09-10 10:07] Serabe commented on #1642
Wrong repo, my bad.

[2016-09-10 10:08] Letladi commented on #1642
Thank you Serabe, I will do that!

[2016-09-10 10:55] #1642 closed

[2016-09-10 10:55] Serabe commented on #1642
Solved the issue in Slack. It started working after a hard-reload of the page.

[2016-09-12 23:45] toddjordan commented on #1374
9/12 Update
* Nested routes section merged 💥
* Added a new todo for forms

[2016-09-17 12:47] #1636 closed

[2016-09-19 11:48] jhilden commented on #505
We were also bitten by this issue :(

Looking deeper, the Ember behavior seems to be in accordance with the underlying functionality in Javscript (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/every):

Even if the behavior might be "correct" (in some hard to understand way), I strongly think that it is semantically counter-intuitive and therefore should be

[2016-09-19 17:25] acorncom commented on #505
@jhilden this isn't something we would document in guides (as it's too specific) but might be worth putting into API guides.  Would you open an issue on for this repo: https://github.com/emberjs/ember.js (prefix the title with [DOC]) and we can see what the core team thinks?  Thanks!

[2016-09-20 14:04] mdentremont opened #1657 "Guides should mention to use packages assets with application"
With the recent deprecation of `baseURL`, we ran into trouble while making the switch.

The release notes suggest prefixing asset URLs with `/`, but this didn't work when hosting our app with a `rootURL` other than `/`. We had to prepend `rootURL` to all of our asset URLs used in our templates.

Even after this changes, we can't seem to find any documentation which validates what we have done.

Th

[2016-09-20 14:37] vedraan opened #1658 "Question: did emberjs 1.6.1 have a guide"
The oldest guide branch I could find was 1.10, so just wanted to check if there was even an emberjs guide prior to 1.10?

If yes, where could I dig it out since I'm working on a project which uses that version? Would help a lot. Thanks!

[2016-09-20 15:35] mdentremont commented on #1657
Here is a relevant question in the 2.7 baseURL announcement: http://disq.us/p/1aedkqi

[2016-09-21 03:24] acorncom commented on #1658
@vedraan There were guides at that time, but they weren't versioned until 1.10.  So you'll need to go dig up the old docs by hand.  The best way to do that would be to clone down the `emberjs/website` repo (guides were a part of that repo at the time) and checkout this commit (which was when 1.6.1 was released): https://github.com/emberjs/website/tree/c9a169efa76dac70979509b73ddb24481313c7b4

Have

[2016-09-21 03:24] #1658 closed

[2016-09-21 17:11] vedraan commented on #1658
@acorncom Thank's a lot! My spelunking expedition was a great success. Was able to recreate the entire Ember 1.6.1 website using `bundle exec middleman` and then scrape it for easy access.

[2016-09-22 19:46] jkarsrud commented on #944
Is the idea to use Prism in the browser, or is this something that could be built into the build steps of the website? I like the idea of doing this on the server, as it would only require a tiny bit of extra CSS, and wouldn't require any more JS to be added to the guides at all.

That said, going the client-side route might be easier, as it would only require a small amount of changes to the mark

[2016-09-23 13:37] gnowoel opened #1661 "Problems encountered in Adding Nested Routes"
I had some small problems when following the [Adding Nested Routes](https://guides.emberjs.com/v2.8.0/tutorial/subroutes/) section of the tutorial.

### Generating a Nested Index Route

This seems no longer true. After running the `ember g route rentals/index` command, the route entry for `rentals` would be changed from:

    this.route('rentals');

to this:

    this.route('rentals', function() {

[2016-09-24 07:32] sarbbottam opened #1662 "❓w.r.t autocomplete-component.md"
[autocomplete-component.md](https://github.com/emberjs/guides/blob/master/source/localizable/tutorial/autocomplete-component.md) suggests the following.

[code]

---

Is it `index` controller or `rentals` controller.

If it is `index` controller, could there a little explanation why is it called so.

_Please excuse my ignorance, I have just started w/ ember_

Thanks!

[2016-09-26 21:03] sbatson5 commented on #1662
Nice catch! That was revised as part of the subroutes tutorial, where we intended to make the `rentals` route the default route.  It looks like the text should be revised to show this.

[2016-09-26 21:52] #1250 closed

[2016-09-27 14:52] ingobecker opened #1665 "Inconsistent testname"
At the end of the section [The Model Hook](https://guides.emberjs.com/v2.8.0/tutorial/model-hook/) the tutorial reffers to a test named `should initially list 3 rentals`. I guess it's reffering to the test actually named `should list available rentals.` on the page [Setting up Tests](https://guides.emberjs.com/v2.8.0/tutorial/acceptance-test/).

[2016-09-27 20:26] toddjordan commented on #1665
Good catch!  If you have some time would love help updating that text :-)  if not will get to it soon...

[2016-09-28 10:30] ingobecker commented on #1665
Should the text be changed or should i make a new screenshot reflecting the names in the text? I also found a minor issue in [Installing Addons](https://guides.emberjs.com/v2.8.0/tutorial/installing-addons/), reffering to an incomplete path for the mirage config which i could fix as well. Should i make changes to the english version only or correct the translations as well?

[2016-09-29 00:01] #1662 closed

[2016-09-29 00:19] sarbbottam opened #1669 "autocomplete-component.md instruction needs to be updated."
https://github.com/emberjs/guides/pull/1668 has introduced a discrepancy.

<img width="747" alt="controller" src="https://cloud.githubusercontent.com/assets/949380/18936772/26f833e6-859f-11e6-8431-03f1544d18a4.png">

Also, it needs to be `controllers/rentals.js` and not `controllers/index.js`.

[code]

and updating `controllers/index.js` breaks the application.

---

I guess https://github.com/emb

[2016-09-30 00:06] acorncom commented on #1665
@ingobecker if you could send in a new screenshot, that'd be great.  Re: your other issue, just make your changes to the english version, the translations sync automatically

[2016-09-30 18:26] toddjordan commented on #1669
fixed by #1674 and #1675

[2016-09-30 18:29] toddjordan commented on #1665
Thanks! make sure you run the screenshot through a program like https://tinypng.com  to ensure fast loading of the image :-)

[2016-09-30 18:33] #1669 closed

[2016-10-05 07:01] locks commented on #934
Unless I'm misunderstanding, this is partially implemented.

[2016-10-05 07:01] #934 closed

[2016-10-05 07:02] #1107 closed

[2016-10-05 07:05] #858 closed

[2016-10-05 07:07] #1436 closed

[2016-10-05 07:09] #1472 closed

[2016-10-05 07:11] locks commented on #1469
1. Sounds like good advise, regardless.
2. Why wouldn't `afterRender` run?
3.  I need some clarification

[2016-10-05 07:11] #1365 closed

[2016-10-05 07:13] #1513 closed

[2016-10-05 07:14] #1529 closed

[2016-10-05 18:41] locks commented on #1560
Fixed, appreciated!

[2016-10-05 18:41] #1560 closed

[2016-10-05 20:29] Gaurav0 commented on #1469
2. I (and plenty of others) had assumed it wouldn't because of its name, 'afterRender' (hey, the element is rendered to the DOM!) and that most of the time I used it to do jQuery stuff after DOM was rendered. It is also commonly used to get around deprecation warnings and cause double renders. (Not that these uses were good ideas!)

3. Very often when writing Ember, services are used as places to

[2016-10-06 09:23] GavinJoyce opened #1686 "Ember Inspector Introduction page isn't displayed"
I'm not sure what changed, but https://guides.emberjs.com/v2.8.0/ember-inspector/ is currently a 404.

`indroduction.md` was introduced in https://github.com/emberjs/guides/pull/1671 and it did display correctly on production for a few days. It also works on master locally:

<img width="780" alt="screen shot 2016-10-06 at 10 22 32" src="https://cloud.githubusercontent.com/assets/2526/19147168/d4f2

[2016-10-06 09:38] fknoll opened #1687 "Use of "filter" property in the examples for store.queryRecord() and store.query(). Why?"
Reference: https://guides.emberjs.com/v2.8.0/models/finding-records/

I am confused about the use of the `"filter"` property in the examples for `store.queryRecord()` and `store.query()`. Why?

In addition, it does not match examples in the API documentation.

[2016-10-06 10:37] locks commented on #1687
As the API documentation indicates, you can pass an object with arbitrary keys, including nested as in the Guides, as the second parameter to both methods and it will serialize it as query params.
I will look into how to make it clearer, without replicating the API documentation.

[2016-10-06 12:30] fknoll commented on #1687
Hi @locks

Yes, you are right! The API documentation for `query(modelName, query)` specifies the query parameter to be "an opaque query to be used by the adapter" - whatever that means?

For:

[code]

I realize that the generated output from the default JSONAPI Serializer will be:

`GET /persons?filter[name]=Peter`

I think somewhere in the documentation it would be fine to present some thoughts a

[2016-10-07 14:35] shatran opened #1690 "IN simple-component page, wrong lines are marked as added and removed in app/templates/rentals.hbs snippet"
In [simple-component page](https://guides.emberjs.com/v2.8.0/tutorial/simple-component/) in app/templates/rentals.hbs snippet. It's not really a problem with the markup code, It's a problem with the way it's being displayed. Line 12 is not shown as added (+) and line 30 is not shown as removed (-) although in the markup code they are. this mentioned snippet:
[code]

[2016-10-07 14:44] locks commented on #1690
@shatran can you send a PR for the relevant section, please?

[2016-10-07 14:47] shatran commented on #1690
I can send but I'm afraid it will be just a hack around it.

[2016-10-07 14:52] locks commented on #1690
This was fixed by https://github.com/emberjs/guides/commit/d472ce95c9ff2bd64828395622b587d698e85007#diff-3edfc48f157f70b0c0c757a3d1c49ace, just not deployed yet. Thanks for reporting!

[2016-10-07 14:52] #1690 closed

[2016-10-08 12:51] GavinJoyce commented on #1686
It seems to be back now. Is there anything that documents how the guides are deployed? I wonder if there is a bug.

I'll close this for now and reopen if I see this happen again

[2016-10-08 12:51] #1686 closed

[2016-10-08 14:11] sbatson5 commented on #1661
I believe this can be closed @toddjordan

[2016-10-08 15:08] locks commented on #1686
@GavinJoyce https://github.com/emberjs/guides.emberjs.com/#publish let us know if we can add more detail

[2016-10-08 15:08] locks commented on #1661
Appreciated @sbatson5!

[2016-10-08 15:08] #1661 closed

[2016-10-08 16:07] joshhornby commented on #1185
Now that https://github.com/emberjs/guides/issues/1185 has been merged is anything holding this PR up? Is there anything I can help with?

We are looking to adopt Ember at the company I work for, but find Googling for docs quite frustrating - I echo the thoughts of @edeis53.

So if there is anything I can do to help this along let me know, it will save my self and countless others many hours in th

[2016-10-08 17:19] GavinJoyce commented on #1686
@locks thanks, I'll dig into it if it happens again

[2016-10-10 15:14] acorncom commented on #1185
@joshhornby Would love to get your help on that.  This issue is blocked by https://github.com/emberjs/guides/issues/1561  If you'd be interested in helping me push that to completion, it'd be great.  I'm also happy to discuss things further on the Ember Community Slack (ping me directly or we can talk on the `#-team-learning` channel.  Thanks!

[2016-10-10 15:57] acorncom commented on #1686
@locks @GavinJoyce For this particular bug, I think it would have somehow been triggered by the file here (https://github.com/emberjs/guides/blob/master/.travis/continuous-delivery.sh) as Gavin's video was merged in 2.8 and then disappeared briefly.

Best guess is that another older PR was updated and somehow fiddled with our CI system.  But that shouldn't have happened because of the `on` guard f

[2016-10-13 02:07] mike-north opened #1695 "Replace Mirage with HTTP mocks?"
I was just helping some newcomers go through the ember guides, and Mirage seems to be causing some potentially un-needed complexity. It boils down to two reasons:

1. Developers who have come out of a "vanilla" JavaScript course like [FreeCodeCamp](https://freecodecamp.com) have learned to look at their dev tools network tab for XHR debugging. In some cases they feel like they've been robbed of on

[2016-10-13 02:19] mike-north opened #1696 "Readers are asked to write tests before they know where they're going"
Some more valuable feedback from people completely new to ember, and "vanilla javascript only" knowledge coming in:

The first time readers see a screenshot or receive a relatable explanation of what they're setting out to build is on step 3: Routes and Templates. They end up having to write a bunch of tests in step 2 without having a clear idea of where they're going in the end.

**Suggested Acti

[2016-10-13 09:17] #1696 closed

[2016-10-13 14:47] toddjordan commented on #1695
Thanks for raising the issue. Its an interesting one.  We'll bring it up for discussion at the next learning team meeting, and we'll update this issue on what we decide (+link to notes on the discussion).

[2016-10-13 18:09] juanazam opened #1699 "Computed properties example uses unexpected shared state in component"
Hi,

Looking at the example on https://github.com/emberjs/guides/blob/master/source/localizable/object-model/computed-properties-and-aggregate-data.md:

[code]

is not clear that the value of `todos` will be shared across all instances of the component in the app. Even if the component is only used once in the application, multiple running tests will share that state and produce undesired effects.

[2016-10-13 18:22] samselikoff commented on #1695
Let me know if I can be of help on this issue. We have an issue on the backlog to make Mirage able to serve out of Ember CLI (from node), which would bring back the network tab. The next goal after that is to have Mirage read model definitions from Ember Data, if you happen to be using it.

If we had these features it might make the experience feel more like using Rails with SQLite out of the box.

[2016-10-14 03:10] mike-north commented on #1695
I've had substantially more success teaching ember when I rewrite my curriculum to start with the simplest, purest and most basic teachable piece possible (HTML and data binding in `application.hbs`) first, and then very gradually layering things on.

* There's this ember-cli thing. You only need `ember new` for now (we'll explain more later)
* Raw HTML in `application.hbs` (note: I run into probl

[2016-10-14 12:45] samselikoff commented on #1695
This makes a lot of sense to me, especially if you consistently see confusion arise during teaching. I've also had to explain that Mirage is not Ember Data many times. It's a lot of abstraction all at the beginning.

[2016-10-14 17:07] #1699 closed

[2016-10-17 04:36] toddjordan commented on #1695
Thanks for this feedback.  Its useful to understand your experience teaching intro workshops and learn what has worked for you.

The reason we included mirage in the tutorial is...
1) Mirage is very frequently used for acceptance testing in ember, (otherwise requiring a data setup/teardown infrastructure).  I do think this an important technology to familiarize developers with.
2) We desired to gi

[2016-10-17 04:51] mike-north commented on #1695
Looking forward to doing whatever I can to make this more approachable for beginners. I'm not looking to "blow up" the existing guides, but as soon as I started hovering over beginners' shoulders as they started going through the example, the sticking points were very clear. A little simplification (introduce way fewer concepts in early steps) would go a long way.

[2016-10-18 06:12] pat123456 opened #1703 "Nested routes / Ember cli generate"
In Ember guide, chapter "[Defining your routes/Nested routes](https://guides.emberjs.com/v2.8.0/routing/defining-your-routes/#toc_nested-routes)"

It is explain :
To generate the above nested route, run:
"ember generate route posts/new"
And then add the {{outlet}} helper to your template where you want the nested template to display:
(in templates/posts.hbs)

As explained, we think that with "embe

[2016-10-18 09:40] locks commented on #1703
@pat123456 while the tutorial has a logic sequence because you're building an application, the rest of the Guides are more freeform. If you scroll to the top of that guide, we show you how to create a route, and then show a couple of "Basic Routes" examples.

How do you feel about https://github.com/emberjs/guides/pull/1704/files ?

[2016-10-18 09:50] pat123456 commented on #1703
Yes, I think this will be enough to remove the confusion
Thank you for that !

[2016-10-18 18:22] #1703 closed

[2016-10-21 11:56] lisaychuang opened #1708 "Perspective of someone new to SPAs: Large tutorial in guides is incredibly confusing"
**My background**
I have some basic programming background but have never used a SPA framework before. The idea of using something like Ember is appealing because I don't have the experience to make all of the stack/architecture decisions myself.

**Going through the guides**

The number of new concepts introduced in very early steps (i.e., as early as steps 1 and 2) were totally overwhelming. Aft

[2016-10-21 13:43] toddjordan commented on #1708
Thanks for taking the time to record all of this.  We are looking at improving the experience for beginners and this valuable.

[2016-10-21 14:25] trek commented on #1708
@lisaychuang Thanks so much for taking the time to do this!

It would be super helpful for us to know the order you went through the guides in general. This feedback mirrors a ton of feedback we've gotten in the past, and is the basis for the current [Getting Started](https://guides.emberjs.com/v2.8.0/getting-started/) where we cover – briefly, based on past feedback that people want just the basi

[2016-10-21 15:16] mike-north commented on #1708
@trek I believe only about 25% of this has to do with the leap between jQuery and something like React (i.e., use of `const`, `let`, destructured assignment, etc...).

There's a HUGE amount of this that could be addressed, and would benefit broad swaths of learners and users, including
 * Making sure we start with the **smallest teachable atom** and layer on gradually from there
 * **Back out of t

[2016-10-21 16:01] jacefarm commented on #1708
I'd love to see an Ember course created at [CodeAcademy](http://www.codeacademy.com).  Their curriculum approach is granular, repetitive, cumulative, hands-on, immediately clarifying, rewarding, and would benefit the Ember community.

[2016-10-21 16:11] locks commented on #1708
@jacefarm you should tell them that :P

[2016-10-21 16:18] jacefarm commented on #1708
@locks Pursuing.

[2016-10-21 16:26] swastik commented on #1708
I agree with @mike-north's points.

In my view, someone looking at ember isn't necessarily looking to learn everything associated with ember right away. They are more likely just looking to get something small working first.

Starting with tests is a good idea but it's just one more thing to learn as a beginner. Testing in ember is also very vast and it's a lot to process for someone new. This is

[2016-10-21 19:43] tomdale commented on #1708
@lisaychuang Wow, this kind of detailed feedback is rare and incredibly value. Once someone has learned the framework, even a little bit, they are fundamentally unable to see it through the eyes of the beginner. Thank you so much for taking the (what looks like it was significant) time to write this all down.

[2016-10-21 20:02] tomdale commented on #1708
@mike-north Great points there, but there's one thing you assert that is not clear to me:

I'm not a TDD zealot by any means, but done right, I think teaching testing can be a very valuable aide in helping people validate their understanding. It's very possible we are not taking the right approach, or testing in Ember is too complex at the moment. But I want to make sure we don't throw the baby ou

[2016-10-21 20:10] mike-north commented on #1708
@tomdale I'm definitely not advocating that we abstain from teaching testing -- only that teaching "by test first" is needlessly confusing. It's one thing to write integration tests in advance of building a component if you have built dozens or hundreds of components before, and quite another to write your first component integration test before you've even built your first or second one.

[2016-10-22 10:33] bcardarella commented on #1708
@tomdale consider how much is being asked to absorb at once. Introducing Ember's concepts *and* the the concepts of TDD as well as the testing API is a lot for someone that has no prior experience. The most important thing is for a beginner to get to something useable as quickly a possible.

The other way to look at this: in order to TDD properly you much understand, at least in part, the system t

[2016-10-22 11:01] trek commented on #1708
@tomdale @bcardarella etc: I think it's easy to focus on things like "what order the guides are read" or "is TDD is a good thing to start with" or and lose sight of main issue that @lisaychuang raised that we should address first: the guides have lost a bit of overall cohesion over time.

As each person updates a particular unit, we haven't kept good track of the integration. As a result, you can

[2016-10-22 11:18] mike-north commented on #1708
This mirrors nearly 100% of the feedback I've received. Too much to grasp, way too early on. People don't even get a chance to get excited before we test their patience and resolve (via copying/pasting test code, giving us the benefit of the doubt that they'll start to understand what they're doing later on).

[2016-10-22 12:04] lisaychuang commented on #1708
Hi everyone,
Thank you all for your kind feedback, I really appreciate the level of discussion on Twitter and here on Github! It took some time for me to comb through the [tutorial](https://guides.emberjs.com/v2.8.0/tutorial/ember-cli/), going back over it page-by-page and documenting my thoughts.

As a beginner to single page apps exploring Ember as a framework, the tutorial was overwhelming and

[2016-10-22 13:32] toddjordan commented on #1708
A lot of valuable input to work with here.  Our next step is to sort through this and create a list of specific, actionable tasks out of this feedback.  We'll be working on this over the next week or two and will post updates to the issue.

[2016-10-22 13:37] toddjordan commented on #1695
Thanks, so given issue #1708 I propose we track this issue as finding possible alternatives to using Mirage, wether it be using a hosted service or other solution.  Possibly also still using mirage but introducing it later in the tutorial with more care.

[2016-10-22 13:52] toddjordan commented on #1695
Discussed some in previous ember learn meeting.  No set decisions made on a solution yet: https://github.com/emberjs/core-notes/blob/master/docs-team/2016-10/october-13.md#tutorial-back-end

[2016-10-22 18:56] MarkMT opened #1710 "Sharing Component Data / Using Block Params"
I think there are a number of issues with the way the use of block parameters with components is described that need addressing. I'd like to do some work on this but want to summarize my concerns before I get started in case others have some input.

1.. Organization
Block parameters are currently dealt with in two different places:

- [Sharing Component Data with its Wrapped Content](https://guide

[2016-10-23 18:00] MarkMT commented on #1710
One more point to add to this...
6.. Organization
In [Components - Wrapping Content in a Component](https://guides.emberjs.com/v2.8.0/components/wrapping-content-in-a-component/) the block form of a component is introduced as if this is a departure from what has been described up to this point, e.g. -
[code]
This gradual adding of complexity is undoubtedly a good thing, yet the block form is actua

[2016-10-23 20:54] locks commented on #1710
We talk about inline/block at https://guides.emberjs.com/v2.8.0/templates/conditionals/, need to tie in somehow.

[2016-10-23 21:37] MarkMT commented on #1710
Thanks. Good to know.

[2016-10-24 09:42] sapeien commented on #1695
It seems that the goal would be to serve JSON API out of the box, right? That would be most congruent with Ember Data's default adapter/serializer, and would be one less thing to think about.

I've been working on an internal project tentatively named `ember-cli-fortune`, which just adds ember-cli integration with [Fortune.js](http://fortune.js.org) + [Fortune JSON API](https://github.com/fortunej

[2016-10-24 11:12] locks commented on #1695
@sapeien how is this different than Mirage?

[2016-10-24 12:00] sapeien commented on #1695
Quite a lot:

- It is written for Node.js first, with performance in mind.
- Since it's running a server, one can inspect all of the network traffic.
- One can re-use the same server for development and production by swapping the database.
- *All of the optional JSON API features come for free.* For example, one does not need to implement [include](http://jsonapi.org/format/#fetching-includes), so

[2016-10-24 14:45] mike-north commented on #1695
Has consideration been given to a hosted solution, or a ["one click deploy" back end on something like heroku](https://devcenter.heroku.com/articles/heroku-button)?

The idea here is it would be a back end that "just works" and is nearly 100% set up for the learner, so that additional server-side complexity/setup (mirage, http mocks, fortune, etc...) doesn't compete with core ember concepts for at

[2016-10-24 14:48] mike-north commented on #1695
Updated the title of the issue to focus the discussion away from http mocks

[2016-10-24 14:48] locks commented on #1695
Yes, you can find it in [core-notes](https://github.com/emberjs/core-notes/tree/master/docs-team).

[2016-10-24 14:59] sapeien commented on #1695
Yeah, that would be a goal of `ember-cli-fortune` to require no effort to use it, and that it just works in the background.

Sure, it's 100% JS.

[2016-10-24 15:15] samselikoff commented on #1695
Just want to reiterate that I am 100% on board with whatever's easiest and best for beginners. Let me know if you need anything from me.

[2016-10-25 00:28] mike-north commented on #1695
After reading through the whole collection of notes a few times, here's the most meaningful stuff I could find.
* [Recent discussion in response to this issue being opened](https://github.com/emberjs/core-notes/blob/master/docs-team/2016-10/october-13.md#tutorial-back-end).
* [Decision to go with mirage/TDD from about a year ago](https://github.com/emberjs/core-notes/blob/master/docs-team/2015-10/

[2016-10-25 02:42] pixelhandler commented on #1708
This is super interesting! Thanks for posting this!

I just went through the first few pages of the tutorial. I have to say it's a turn off to start with 5-6 acceptance test for concepts that are brand new and specific to the framework. My expectation is that I can see something working quickly (in my browser). A flow like the workshop experience would be ideal in my opinion, see: https://github.c

[2016-10-25 03:00] pixelhandler commented on #1708
@toddjordan the most recent new "tutorial" experience I've had was… completing the Elm tutorial.

What I liked about that experience was that there were a few small steps first, simple use cases also at the end of certain sections, a challenge was given regarding what I should complete in order to learn the concepts more completely, by dev'g on my own.

During my first pass through the Elm tutoria

[2016-10-25 03:13] optikalefx commented on #1708
I guess I'll give some input on how I used the guides, to offer some perspective. It's hard to create a guide for experienced JS devs and beginners at the same time. I've been involved in JS for 12 years. If the guides are too basic, I start to skip through things. Which is exactly what I did when I first went through the guides to learn Ember. I just brushed through them very quickly.

I missed a

[2016-10-25 10:35] tsing80 opened #1712 "missing https://guides.emberjs.com/v2.9.0"
This cause the quick start link and guides link generated by ember-welcome-page  addon invalid when the user didn't create a application template yet

[2016-10-25 11:23] locks commented on #1712
Thank you for the reminder, we hadn't had time since the Ember CLI release. Done :)

[2016-10-25 11:23] #1712 closed

[2016-10-25 19:40] richpwf commented on #1708
I agree with @optikalefx, there is a lot in Ember that only really clicks once you need it. Most of those areas aren't that complicated in isolation but you can feel buried by them when they are all thrown at you in quick succession.

I think more could be done to make it clear that Ember probably isn't a good place to start unless you are at least a little bit comfortable with vanilla JS. That do

[2016-10-26 10:43] locks commented on #1695
Stacks:

- express.js
- mirage
- ???

Hosts:

- https://zeit.co/now
- http://heroku.com/
- https://runkit.com/home

[2016-10-26 10:56] locks commented on #1695
@mike-north

We did have these discussions, it's probably in Slack logs then :\
I think this is the gist of it:

1) We host

Too expensive.

2) Self-hosted / Local

Instead of having to learn mirage, you have to learn how to setup a whole backend.
Plus the account creation for the hosting service.

3) Firebase-style

Needs custom adapter if using with Ember Data.
Needs account creation.

4) Public

[2016-10-26 14:20] toddjordan commented on #1708
# Actionable Tasks

Based on the feedback in this issue writeup, I've created the following actionable tasks.  There are some larger issues alluded to that aren't yet decided on what the best approach would be, around the use of Ember Mirage (tracked in #1695) and the use of TDD (tracked in an issue coming soon).  We will have some additional discussion and research and will update/create issues a

[2016-10-26 15:25] mike-north opened #1713 "Two additional patterns for {{action (mut ... ) }}"
Looking at the documentation, a few very handy patterns for `{{mut}}` do not seem to be covered anywhere other than reading through the source code for the helper itself.

#### setting the value of a property to some **literal** value
[code]

#### accessing a particular property off of the property change event
[code]

For clarity, here examples of both: https://ember-twiddle.com/fc4179799bcf33c58

[2016-10-26 16:49] locks commented on #1713
Can you move this to emberjs/ember.js? This documentation should go in the API docs, thanks!

[2016-10-27 08:46] #1713 closed

[2016-10-28 08:48] mike-north commented on #1695
Based on what? I know node doesn't necessarily scale as well as Elixir/Phoenix, but I've been able to workshop with ~300 students concurrently hitting an API at the same time, using heroku's $7/month dynos

With heroku this boils down to a one-button deploy after account creation. in your `app.json` it's possible to specify addons (i.e., postgres) and run a postinstall to setup the initial data in

[2016-10-29 17:22] pmaisonnave commented on #1554
If think ve3 is right: as announced by Google Geo Developpers, keyless access is no longer supported (but I was said it might still be the case for some "trusted" hosts) : see the following link:

[Building for Scale: Updates to Google Maps APIs Standard Plan](https://googlegeodevelopers.blogspot.fr/2016/06/building-for-scale-updates-to-google.html
)

[2016-10-31 22:41] runspired commented on #1695
@mike-north and whomever else cares, I wrote a json-api mock server for ember-data https://github.com/runspired/json-api-mock-server/, and am slowly growing it to support more things (needs fixtures supports, needs documentation on serializer customization because non-json-api payloads are supported so long as you supply a serializer and schema))

[2016-10-31 22:41] runspired commented on #1695
I've also been debating setting up a heroku instance running this with some common model scenarios to use as mock data in ember-twiddle

[2016-10-31 22:46] mike-north commented on #1695
A refined server that people new to ember can just point to, would reduce the number of simultaneous things they need learn/do during the tutorial quite nicely.

[2016-10-31 22:54] runspired commented on #1695
@mike-north not necessarily, if the tutorial has an addon, that addon could mount my project with the required models. Extra advantage is that in the console you get pretty notifications about the request :)

[2016-11-01 11:25] locks opened #1717 ""Finding Records" inconsistent"
@jkole said in https://github.com/emberjs/ember.js/issues/14565 :

[2016-11-01 14:46] SaladFork commented on #1695
I definitely understand some of the pains and appreciate @mike-north sharing how he teaches (wish I had such training when I started!). There may be ways to improve how mirage is introduced/used in the guides and there are definitely pain points (such as debugging flows) but I'd like to throw in a counterexample to the ongoing discussion.

We recently had a developer go through the Guides as her f

[2016-11-01 15:44] mike-north commented on #1695
Do we have any data that indicates how widely-used mirage is, relative to something that's almost ubiquitous (i.e, ember-data)? This doesn't quite jive with what I've seen in the wild (I tend to see more Pretender than Mirage tbh). Maybe other people have hard data that I don't have?

I don't think anyone's saying that mirage is unimportant or not worth familiarizing developers with.

@SaladFork's

[2016-11-01 15:49] runspired commented on #1695
Regardless of final approach, I think a tutorial addon (supplying data) and baking a standard mock setup into twiddle for use in twiddle's would be amazing for helping beginners / tinkerers / bug reporters

[2016-11-01 16:05] samselikoff commented on #1695
@runspired I love this idea, especially for Twiddle. In the event that a hosted solution requires more effort and is a ways out, we could use Mirage to do this today with an addon that (1) includes Mirage as a dependency and (2) predefines several models w/relationships and sets up their endpoints (user, post, comments). We should be able to build that today without much trouble.

[2016-11-01 16:13] toddjordan commented on #1695
@mike-north If you go by npm downloads and github stars/forks then mirage is more popular than pretender. Its not a real fair comparison though, as they have different jobs, and mirage is actually built using pretender.  If you are developing an acceptance testing suite, then mirage has more for you to organize/manage your data.  Pretender is great for adhoc testing integration tests (though I'm n

[2016-11-01 16:21] toddjordan commented on #1695
Agree ❤️, and thanks for contributing to this discussion.  Its certainly clear that there are different personas using the guides, and providing useful content to both is important.

[2016-11-02 00:59] toddjordan commented on #1637
From Fastboot documentation https://ember-fastboot.com/docs/user-guide :

## Designing Components

### Use didInsertElement for client-side DOM manipulation

In FastBoot, we do not invoke either didInsertElement or willInsertElement hooks. If your components have any direct DOM manipulation you would do it in those hooks.

### Lifecycle Hooks in FastBoot

FastBoot calls the init, didReceiveAttrs,

[2016-11-03 16:01] toddjordan opened #1718 "Tutorial TDD"
Feedback from new Developers has been that walking through the tutorial using TDD-style approach is a hindrance to learning the brand new technology, because we are essentially starting the reader off with something that by definition doesn't work.  Also, we've heard that testing first requires some knowledge of the system under test or the underlying technology, which a new beginner will not yet

[2016-11-03 20:22] bambery opened #1719 "Add detailed explanation of action helper & closure actions"
Recently I tweeted out an article by Miguel Camba @cibernox: "[Ember Closure Actions in Depth](http://miguelcamba.com/blog/2016/01/24/ember-closure-actions-in-depth/)" with a question as to whether this might be useful on the guides. @acorncom suggested I open an issue to take some of the content from this article for the guides. I've contacted and gotten the ok from Miguel to adapt the article fo

[2016-11-05 16:33] mdarmetko opened #1722 "Testing inconsistency in "Services and Utilities" section"
The first paragraph of Fetching Maps With a Service states: "At this point we should have a passing component integration test, but our acceptance test should now fail, unable to find our maps service. In addition to our acceptance test failing, no maps show up when we view our web page."
https://guides.emberjs.com/v2.9.0/tutorial/service/#toc_fetching-maps-with-a-service

The maps in fact don't s

[2016-11-05 17:52] MarkMT commented on #1719
I think that would be useful. FYI I've been looking at the overall presentation of actions in the guides and I think there are a few organizational issues that need a little attention. I'm just starting to work on this and hope to have something to share in a few days. It may be useful to take a look at what I produce to see if the two efforts will merge ok.

[2016-11-07 16:53] toddjordan commented on #1722
Thanks @mdarmetko, good catch!

[2016-11-08 12:44] locks opened #1725 "Controller is not a "specialized Component" (documentation issue)"
@Senthe

[2016-11-08 12:47] locks commented on #1725
@Senthe by specialized what is meant is that Controller has a narrower scope than a Component, meaning it doesn't have access to the DOM like you mention. Can you suggest a clearer way to state the previous so we can update the respective Guide?

I don't entirely understand this point.

[2016-11-08 13:04] Senthe commented on #1725
In Component I can define `myAction(event)` and use event object from browser, click event for example. In Controller `myAction(event)` will have undefined `event` because Controller doesn't get anything from browser/DOM apparently.

When I see "specialized type" of something I translate it to "extends". "Webdeveloper is a specialized type of Developer" = Webdeveloper IS a Developer who has some a

[2016-11-08 13:07] locks commented on #1725
Can you reproduce your problem in an [Ember Twiddle](http://ember-twiddle.com)? If you're using actions as DOM event handlers it shouldn't matter if the handler is in a Component or Controller, it should still receive the event.

[2016-11-08 13:35] Senthe commented on #1725
Okay, I will try then. Maybe the issue is my Emblem syntax, but when I use exactly the same syntax, it works for Component but not for Controller.

[2016-11-08 13:45] Senthe commented on #1725
I tried reproducing it: https://ember-twiddle.com/6836aac7cc251aa82b7914ebaacc964d?openFiles=templates.application.hbs%2Ctemplates.components.my-component.hbs

But this time I actually get two "undefined". I'm not sure what I did wrong. I use Emblem in my project so I don't know if syntax I use there is exactly correct.

[2016-11-08 20:41] MarkMT commented on #1719
I have a branch with some work I've done in the last few days
https://github.com/MarkMT/guides/tree/actions_guide that I'm getting ready for a PR.

The changes are to the "Templates - Actions" guide: https://github.com/MarkMT/guides/blob/actions_guide/source/localizable/templates/actions.md

Among other things, this addresses my https://github.com/emberjs/guides/issues/1345 and the idea of nested

[2016-11-09 03:24] fishenal opened #1726 "Is there anyway to change language or preview my translation?"
seems https://guides.emberjs.com/ not support language change, maybe not good for globalization.

[2016-11-10 05:18] acorncom commented on #1695
@mike-north Regarding your questions from earlier ...

Our main issue here has been that the learning team has effectively no budget 😀 So you're right, a Heroku setup for a workshop would be pretty reasonable.  But in your case, your students pay the cost of the dyno as part of the workshop fee.  Ours don't 😉  Which (if memory serves) was why we skipped it to start with.  We might be able to run t

[2016-11-10 05:32] acorncom commented on #1725
I know this may be a tangent, but we would generally recommend that people don't use Emblem (especially if you are just starting an Ember project).  It makes it harder to work with other Ember devs (as you've just seen) and might lead to syntax troubles in the long run ...

Back to the question at hand, @Senthe is there some place in the guides that was what led to your initial confusion here?  Or

[2016-11-10 14:30] mike-north commented on #1695
I guess, but I have it on a $7/month dyno. I don't believe that this is a barrier. We could collect $36 from each of the top 7 ember consultancies as a donation and be set for the next three years :) Frankly I feel like this is not an insurmountable barrier.

Free heroku instances "sleep" for a few hours a day, so they're probably not appropriate for this kind of thing.

- I like (and practice) th

[2016-11-10 15:06] MarkMT opened #1727 "Event handling"
There are some issues related to the way ember's handling of events is described in the guides that I think need some attention. Part of my concerns were detailed previously in https://github.com/emberjs/guides/issues/1345. However one aspect of that issue (the use of `sendAction` to invoke actions in a component) has since been addressed in https://github.com/emberjs/guides/commit/4f6e84ad701e03e

[2016-11-10 17:49] MarkMT commented on #1727
One extra comment... in [Components - Handling Events](https://guides.emberjs.com/v2.9.0/components/handling-events/), I think the section "Sending Actions" is perhaps poorly named. In context, it seems to me that the real issue being discussed there is the fact that you can access event data by putting the event object in the handler function signature. The example used involves an action passed

[2016-11-10 18:51] MarkMT commented on #1727
Here is a draft of what I have in mind for [Components - Handling Events](https://guides.emberjs.com/v2.9.0/components/handling-events/):

https://github.com/MarkMT/guides/blob/actions_guide/source/localizable/components/handling-events.md

[2016-11-10 18:54] MarkMT commented on #1345
The part of this issue related to `sendAction` was addressed in https://github.com/emberjs/guides/commit/4f6e84ad701e03ef85e87be2299252f0d0197364. I'm closing this in favor of https://github.com/emberjs/guides/issues/1727 which deals with the remainder of what is contained here plus some other related concerns.

[2016-11-10 18:54] #1345 closed

[2016-11-16 12:22] Senthe commented on #1725
Okay, Controllers guide states:

So I would think "oh okay, so Controller is basically a Component that gets created for every route - neat!".

But this is not true.

* Controller is a bare Object. Component is a View.
* Controller doesn't have Lifecycle Hooks. Component has them.
* Controller is abstract structure/singleton. Component is always hooked to DOM and every component is a standalone in

[2016-11-16 23:02] bambery commented on #1719
I'll be glad to take a look at everything in this thread later tonight. I think this is a small but important enhancement to the existing docs.

[2016-11-18 02:11] MarkMT commented on #1719
Thanks. FYI I have done a little more work on templates/actions.md since yesterday. I think it's close to what I'd be happy to put in a PR.

[2016-11-18 14:09] locks commented on #1726
We are still working on deploying translations in the best way possible. If you want to help translating, you can reach us at #dev-translations in our Slack group.

[2016-11-18 14:09] #1726 closed

[2016-11-18 15:01] toddjordan commented on #1719
@bambery I agree that's a great blog post.  Would you mind giving some analysis in this issue on what you think is clear from the post that have you that "aha moment" that is currently lacking in the guides?  We would love to hear your thoughts.

[2016-11-19 16:42] MarkMT commented on #1717
`DS.Store.queryRecord()` takes a `modelName` and a `query` and if used with the JSONAPIAdapter will will create a server request with the query object serialized as the URL query string, e.g.

`queryRecord('person', {filter: {name : 'Peter'}})`

would result in a server request like

`/persons?filter[name]=Peter`

The JSONAPI [spec](http://jsonapi.org/format/#fetching-resources-responses) dictates

[2016-11-22 10:56] Fryie opened #1737 "Document that inline `{{if}}` helper will evaluate both subexpressions"
It makes total sense that this is the case, but it tripped me up nevertheless: If you have `{{if cond (foo x) (bar y)}}`, both `{{foo x}}` and `{{bar y}}` will always be evaluated.

It seems that this is not documented in [the API docs](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_if) or [the guides](https://guides.emberjs.com/v2.9.0/templates/conditionals/) and I think it mi

[2016-11-22 16:29] acorncom commented on #1737
@Fryie Good catch.  I would suggest sending in a PR for the additional documentation to the api docs (https://github.com/emberjs/ember.js), as we try to both document a number of items in guides without having them be completely comprehensive ...

[2016-11-23 01:19] niamleeson opened #1738 "Clarify the source of postData variable in the guide"
https://guides.emberjs.com/v2.9.0/components/wrapping-content-in-a-component/

In this block of code, it is not clear where the variable `postData` in `postData=postData` is coming from.
[code]

Could you expand the context a little more?

Thank you.

[2016-11-23 02:54] toddjordan commented on #1738
The component is showing a blog post, but yielding its data to its block so that the consumer of the component has control over how to format it.

`postData` is essentially the text from the blog post.  Its showing that you can pass arguments into the component helper so that the consumer of the component (in this case index.hbs) doesn't have to worry about passing data.

Some text on what postDat

[2016-11-23 03:52] niamleeson commented on #1738
Is it something like this?
[code]

Or more like this?
[code]

Thank you.

[2016-11-23 15:10] toddjordan commented on #1738
A blog post would have one text, so the second.  It might be simpler to bind the text down like this:

[code]

[2016-11-26 18:46] niamleeson commented on #1738
I see. I've submitted a PR on this issue. I think the newcomers will benefit from a little more detailed explanation on where the variables are coming from. Please take a look and let me know what you think.

[2016-11-28 09:33] yawboakye commented on #1333
@locks as mentioned on Slack I'm taking over. I'll submit the PR.

[2016-12-07 15:31] mpash commented on #1708
I'm coming to this issue thread as a beginner to both ES6 and EmberJS, but I'm an experienced developer with Laravel. When it came to learning Ember for my job, the docs are incredibly dry and lack any formal introduction to concepts it glosses over. More often than not I'm forced to reach out to the API documentation where I'm left to my own devices to decipher what I'm trying to accomplish, not

[2016-12-07 16:04] toddjordan commented on #1708
@mpash Hi!  There are 44 immediately actionable items listed above.  I appreciate your passion around documentation and would love to start working with folks to start getting easy wins on making the tutorial better.  Submit a PR if you have any favorites from above and I would love to work with you to get it in.  Please remember we are community-driven open source software and rely on contributio

[2016-12-11 05:43] mike-north commented on #1718
It seems like there are two issues that relate to this discussion

* Should the primary path for teaching those new to ember (in the tutorial) be via TDD?
* Should we provide some material about using TDD workflows with ember?

I don't think anyone disagrees with the idea that TDD should have a place in the guides, but I'm not sure that these are two sides of the same issue.

[2016-12-11 21:31] locks opened #1746 "Move tutorial back to website"
- [ ] Move content over to website
- [ ] Setup redirection

[2016-12-15 23:02] acorncom commented on #1241
Due the headaches of patching this issue, I'm going to close this.  If someone is interested in patching it, it looks like the affected issues are v1.13, v2.0 and v2.1 (v2.2 is working smoothly).  We would need PRs to the appropriate branches and then would need PRs of the built static files from those branches sent to https://github.com/emberjs/guides.emberjs.com

[2016-12-15 23:02] #1241 closed

[2016-12-17 20:23] eventualbuddha opened #1752 ""Quick Start" for v2.10.1 is a 404"
The ember-welcome-page addon has a ["Quick Start" link](https://github.com/ember-cli/ember-welcome-page/blob/743d06b6fc07552a81758ff2a2b4d81afd0afaf2/addon/templates/components/welcome-page.hbs#L12):

[code]

However, the version I just installed (v2.10.1) with a new Ember CLI app links to https://guides.emberjs.com/v2.10.1/getting-started/quick-start/, which is a 404 at the moment.

[2016-12-18 02:51] locks commented on #1752
I'm not sure how that's possible, we're [explicitly returning 0 for the patch version](https://github.com/ember-cli/ember-welcome-page/blob/743d06b6fc07552a81758ff2a2b4d81afd0afaf2/addon/components/welcome-page.js#L10). Which version of Ember CLI and ember-welcome-page?

[2016-12-18 03:21] eventualbuddha commented on #1752
It's pretty easy when your version regex only expects single digits for major/minor/patch 😉

[code]

This should be:

[code]

That's from ember-welcome-page v1.0.3, which I get with from ember-cli v2.10.0, which I just installed. It looks like the latest release of ember-welcome-page is v2.0.2, which has a [different way of computing the base version](https://github.com/ember-cli/ember-welcome-pag

[2016-12-18 17:19] locks commented on #1752
@eventualbuddha 1.0.4 released. Since `package.json` specifies `^` for the `ember-welcome-page` dependency, 1.0.4 with the fix should be installed. Can you confirm?

[2016-12-18 22:26] eventualbuddha commented on #1752
Yep, works now.

[2016-12-18 22:26] #1752 closed

[2016-12-18 23:12] locks commented on #1752
Sweet 😁 Thanks for reporting!

[2016-12-19 14:49] yawboakye commented on #1746
@locks See https://github.com/emberjs/website/pull/2768

[2016-12-20 20:59] ryanlitalien commented on #1597
@acorncom Got here from the deprecation warning. Should I be using `DS.Model` or just `Model`?

[2016-12-21 19:10] acorncom commented on #1597
@ryanlitalien Use `DS.Model`.  Examples shown at https://guides.emberjs.com/v2.10.0/models/defining-models/ are accurate for all the latest point releases of Ember Data

[2016-12-22 21:15] acorncom opened #1755 "Remove LinkComponent recommendations from binding element page"
Per discussions here (https://github.com/emberjs/rfcs/pull/176#issuecomment-267443401 and  https://github.com/emberjs/rfcs/pull/176#issuecomment-267458641) LinkComponent is private api.  As such, we should remove our suggestions about setting `data-attributes` bindings ...

[2017-01-03 14:31] locks commented on #1192
@samsebastian hi, are you still using Ember? I was reviewing my notebook and this was on it. If you could join us in the Slack `#-learning` channel to discuss improvements it would be very helpful to us.

[2017-01-04 04:35] acorncom commented on #1755
Per https://github.com/emberjs/ember.js/pull/14775 its defacto public API, closing this now. /cc @mitchlloyd

[2017-01-04 04:35] #1755 closed

[2017-01-04 08:54] serproqnx commented on #1554
Same error, can't complete tutorial :(

[2017-01-06 15:00] mtrenkmann commented on #1554
The last two days I worked through the entire tutorial (v2.10.0) and initially had the same issue that the maps were not displayed. Strangely, while following the last step of the tutorial (Adding Nested Routes) the maps showed up - and still I do not use any API key. I cannot tell for sure, but the only explanation to me is that I just forgot to Ctrl-S all of my open files - really annoying, can'

[2017-01-09 17:16] toddjordan commented on #1738
Addressed by #1740 ❤️

[2017-01-09 17:16] #1738 closed

[2017-01-11 02:43] locks opened #1767 "Update "Specifying a Root URL" for Ember CLI"
See issue: https://github.com/emberjs/ember.js/issues/14812
And current guide: https://guides.emberjs.com/v2.10.0/configuring-ember/embedding-applications/#toc_specifying-a-root-url

cc @mtayl0r

[2017-01-12 05:13] acorncom commented on #1737
@Fryie Any updates here?  I'm inclined to close this issue here, as our goal with guides is to keep them from being a complete resource on everything you might hit, but rather a good thorough introduction to the main things about Ember ...

[2017-01-12 13:06] Fryie commented on #1737
Since this is something that might trip up people, I think it wouldn't hurt to have it in the guides, too. However, if you feel that it is too detailed, it should probably be in the the API docs at least. Sorry, haven't gotten around to doing a PR yet.

[2017-01-17 22:22] kennyadsl commented on #1554
I had the same issue with a `gmaps.js` file I downloaded (with curl following the tutorial code) some days before using it. I think it also has some timing limit because downloading the file again fixed the javascript errors for me.

[2017-01-20 20:47] theroncross opened #1781 "Components Wrapping content refers to helpers without linking"
The 'Components - Wrapping Content in a Component' is a bit of a tough one to get through for beginners. One small part of that is that it refers to the component and hash helpers, but doesn't include links to the API docs. Although this is probably a bigger issue generally, I figured I could tackle this page quickly unless there's a reason to keep linking to a minimum. I'd be happy to work on mor

[2017-01-20 23:24] theroncross commented on #1722
Is this just a simple change to remove the comment about the test, or do we need to add instructions on creating a failing test?

[2017-01-20 23:31] theroncross commented on #1718
As a former teacher, I can confirm that attention is VERY limited for beginners and repetition is a major key to learning. My first instinct would be to present every topic twice in the tutorial:
1. First, make a thing,
2. Second (optionally), write tests for the thing,
3. Third, TDD another similar thing.

[2017-01-20 23:39] toddjordan commented on #1718
Thanks @theroncross , that's really good feedback.  I really like the approach you mention and will take that into consideration when we address this.

[2017-01-20 23:43] toddjordan commented on #1722
@theroncross I think for this case we can simply remove the reference to the failing test, since an acceptance test for a google map showing up would be a bit hairy for the tutorial.

[2017-01-20 23:52] toddjordan commented on #1781
hi @theroncross, thank you! I know that @sclatter was doing something along similar lines.  Her initial pr was to add a section on layouts https://github.com/emberjs/guides/pull/1763, and the latest comment is to encorporate that introduction into this page.

That said, the hash helper part certainly use love and is outside the scope of that pr, so if you have some love to give, it would be apprec

[2017-01-21 00:08] #1722 closed

[2017-01-21 00:09] mike-north commented on #1718
I'm curious -- who is the developer (our audience) whose learning of core ember concepts for the first time, is enhanced (rather than muddled) simultaneously learning about testing controllers and ember's testing tools, while learning about controllers for the first time?

I would like to find some example individuals from whatever group the "teach by TDD" approach is aimed to benefit, and test th

[2017-01-21 00:16] theroncross commented on #1718
I taught intro to programming for a few years, including a year with TDD. In theory, it's a wonderful idea to have a high-level sense of the behavior you're expecting. In practice, beginners are too busy making sure they've got the syntax right to having any bandwidth left for such concerns. If taking TDD out of the beginner tutorial is an option (assuming two tracks), I would push for that and pu

[2017-01-21 00:18] theroncross commented on #1781
@toddjordan do you have page in mind for this?

[2017-01-21 00:23] toddjordan commented on #1718
@mike-north Not everyone that uses the tutorial is a complete newbie to web development.  I think there are different audiences that benefit from the tutorial.  Some have development experience and understand what a controller is (and have used it as a development pattern in the past), but have not used ember and would like a guided example to understand its mechanics.

I hear as much positive fee

[2017-01-21 00:27] toddjordan commented on #1781
I actually was referring to the wrapping content page you mention here.  (didn't notice you already had a pr).  What I was trying to say is that there was work happening on the first part of the page round layouts/block components, but you were free to improve the more advanced contexual component piece.

[2017-01-21 02:31] theroncross commented on #1781
By the time you stare at these docs long enough to change them, you lose sight of what you found difficult, confusing, or lacking in the first place.

[2017-01-21 02:39] toddjordan commented on #1718
I have another option/proposal:

* Change the name of the acceptance testing page from "Setting up Tests" to "Planning the Application".
* Remove the part of the page where we implement each test, but leave the part where we generate the acceptance test file and convert our list of task into test names.
* The implementation of the first test routing to a page will get tacked on in a section or a p

[2017-01-21 02:40] toddjordan commented on #1781
lol, truth

[2017-01-21 02:47] theroncross commented on #1718
Along those lines, is it possible to just break the testing into their own subsections, interspersed in the rest of the tutorial. Make it clear at the beginning that the testing is encouraged, but optional and can always be come back to after completing the section?

[2017-01-21 02:54] toddjordan commented on #1718
Yes, which is kinda what I proposed above (sorry wasn't clear).  Only the appropriate test would be implemented in each page.  (could be before or after, or start after and switch to before after they've implemented a couple)

[2017-01-21 19:36] mike-north commented on #1718
I do not represent a group of those new to JavaScript, but a broad swath of developers across the world who have little or no experience with ember. A great many of them have experience with React and/or other frameworks.  The tutorial is their first look at the framework, and is the place where they pass judgement on whether this is a tool that feels right to them.

Please reference the github co

[2017-01-21 21:01] toddjordan commented on #1718
Hi @mike-north thanks for your interest in the tutorial.  You might notice I did create this issue, and am interested in and active in improving the tutorial experience.  This issue is proposing various options in how to improve the experience around testing.  I'm unsure of what your are proposing.  Would you like to remove testing from the tutorial, address it at the end of each relevant section,

[2017-01-21 23:52] mike-north commented on #1718
I am happy any time this effort gets attention. What I've seen so far is that less controversial issues have been largely addressed. I really appreciate those efforts. Thank you!

Apologies if my specific asks have been lost in the multiple tickets. The main theme:

**Keep the tutorial focused and oriented, to the highest degree possible, on teaching and showcasing core ember concepts and features

[2017-01-22 02:06] toddjordan commented on #1718
ok, thanks.  We've got your proposal as a valid option to consider.  It sounds similar to current thinking that we de-emphasize the test driven approach while introducing new concepts.

So if I understand then, you want some kind of documented proof that we wrote the tutorial based off new user testing or research.  I can tell you that it wasn't, at least since I've been contributing.  Its been bu

[2017-01-22 03:40] toddjordan commented on #1695
Here's a possible order of topics
- Creating Your App
- Planning Tasks
- Routes and Templates
- The Model Hook
- Installing Addons
- Building a Simple Component
- Creating a Handlebars Helper
- Using Ember Data
- Building a Complex Component
- Services and Utilities
- Nested Routes
- Deploying

As a first step we can remove mirage from "Installing Addons" and just do the style addon, and then dela

[2017-01-23 03:10] theroncross commented on #1725
@Senthe I can definitely see your point here. More specifically, a Controller plays a similar role to the .js file of a controller, with the addition of being passed a model object by the route. Would that be a better explanation? I'm happy to make the change if you thing it helps.

[2017-01-23 04:02] theroncross commented on #1719
That is a solid description. My overall impression on reading the guide as-is was that scrolling up and down to track the contents of each file was a pain and made it difficult to map.
1. I would suggest we add a couple of 'checkpoints' that show the current state of the code in a single code box just to let everyone catch their breath and fill in gaps.
2. Perhaps some indication of 'core implemen

[2017-01-23 04:11] theroncross commented on #1485
I would say any structure that is both repeated and has data/interaction-dependent behavior should probably be a component.

[2017-01-23 16:26] theroncross opened #1787 "There is no mention of 'Data Down, Actions up' in the guides"
1. Is this the adopted philosophy at this point?

2. Does it need to be explicitly 'taught'?