[2015-02-13 19:43] trek opened #1 "Swtichover Point"
We forked website at this commit https://github.com/emberjs/website/commit/4f5b06b64558054505c7fcfabe462a1e1b4030d7

We'll need to hand-apply subsequent Guide changes.

[2015-02-15 14:54] trek opened #2 "Swiftype Middleman Plugin"
We need a Swiftype middleman plugin. https://github.com/LeonB/middleman-swiftype publishes directly to Switfype, but our needs are different because publication occurs as a separate step.

A PR that addresses this issue will
- [x] Fork https://github.com/LeonB/middleman-swiftype and create a PR _or_ create a new plugin (We'd prefer to update the existing plugin)
- [x] Provide a `swiftype:generate`

[2015-02-15 23:57] Jberlinsky commented on #2
@trek Is it acceptable to maintain the field structure in middleman-swiftype, which includes `title`, `url`, `body`, `info`, and conditionally `sections` and `image`?

[2015-02-16 00:11] trek commented on #2
If the value of `url` is the relative path from root (and doesn't include the domain), then yes, that's fine.

[2015-02-16 00:33] Jberlinsky commented on #2
Cool, I've got this.

[2015-02-16 00:53] dstaley commented on #2
@Jberlinsky I actually [took a stab at this today](https://github.com/dstaley/middleman-swiftype), and got to the point that a proper `search.json` document is generated on both `middleman build` and `middleman swiftype`. It's still a WIP (doesn't upload to Swiftype yet), but it covers the majority of the functionality desired in this issue.

[2015-02-16 00:54] Jberlinsky commented on #2
@dstaley I've got this pretty much done -- just have to finish mocking out the HTTP requests for testing. Should have a PR up momentarily.

[2015-02-16 00:55] dstaley commented on #2
@Jberlinsky :+1:

[2015-02-16 01:15] Jberlinsky commented on #2
@trek @dstaley See https://github.com/LeonB/middleman-swiftype/pull/3

[2015-02-19 19:38] joostdevries commented on #1
List of (potentially) blocking issues/questions:
- [ ] Is the "switchover point" when we first deploy the guides?
- [ ] We we link "Guides" button on `emberjs.com`  to `guides.emberjs.com` at that point?
- [ ] How to map the current Guide URL's to the new ones (bookmarks, search engines).
- [ ] Fix SiftType#2

Please add/update.

[2015-02-19 20:00] trek commented on #1
We'd switch over after we add redirects to all current guide pages and then change the guides link to point to the new subdomain.

[2015-02-19 20:25] ricardojmendez commented on #1
Guys, I'm not sure you've got the right Ricardo J. Méndez - I'm @ricardojmendez but not an emberjs developer.

Cheers!

[2015-02-19 20:32] joostdevries commented on #1
sorry! reasonably sure I actually mean @locks

[2015-02-19 21:19] ricardojmendez commented on #1
No problem, good luck!

[2015-02-20 16:50] jamesarosen opened #5 ""Testing Components" guide is broken for Ember-CLI"
The [Testing Components guide](http://emberjs.com/guides/testing/testing-components/) doesn't work for Ember-CLI applications. Specifically, the integration test helpers aren't defined in a unit test. For example, the guide includes

[code]

but when I try to include `click('button')`, I get
[code]

[2015-02-20 17:06] jamesarosen commented on #5
I needed to add the following to my test to get it to run:

[code]

[2015-02-20 18:02] mindaslab opened #6 "Guides Broken"
Downloaded and ran https://github.com/emberjs/quickstart-code-sample

![screenshot from 2015-02-20 23 29 09](https://cloud.githubusercontent.com/assets/206175/6306335/916bf844-b958-11e4-8de8-247d92f60b06.png)

And its broken. I don't think there is no other good way to learn ember.

[2015-02-20 20:12] trek commented on #6
That repo is just "Code samples from the quickstart guide". You should follow the guide itself: http://emberjs.com/guides/getting-started/

[2015-02-20 20:12] #6 closed

[2015-02-20 20:13] trek commented on #5
https://github.com/emberjs/website/ is still the place to discuss the current version of the guides.

[2015-02-20 20:13] #5 closed

[2015-02-20 20:24] jamesarosen commented on #5
Ported to https://github.com/emberjs/website/issues/2025

[2015-02-22 15:06] joostdevries opened #9 "Guides rewrite to use Ember CLI"
Each of these needs updating to ember-cli style, include new file location feature from #35. Please comment out JSBins (since they're all broken anyway, and we need a new solution):

- [x] `application` @trek - #51
- [x] `components` @nicolechung - #18
- [x] `concepts` @trek #60
- [x] `configuring-ember` @trek #52
- [x] `contributing` @stevekinney #69
- [x] `controllers` @joostdevries -  #11
- [x]

[2015-02-22 15:08] trek opened #10 "Extract TOC and Pagination Helpers"
Our table of contents and pagination generation is generally useful for anyone writing book-style content. We should extract these helpers so it will be easy to have a [Gitbook](https://github.com/GitbookIO/gitbook) like site.

A PR that successfully addresses this issue will:
- [ ] create a new repo for making a middleman plugin
- [ ] allow the author to provide a file in `data/<name>.yml` that i

[2015-02-22 17:20] mikepmunroe commented on #9
I'll take templates for now.

[2015-02-23 00:33] bsclifton commented on #9
Awesome! Thanks for putting this together :)

[2015-02-24 00:47] stevekinney opened #12 "Annotating code samples with file names"
Do we have a policy on annotating our code samples with file names?

In #11, it looks like we're using the traditional structure (e.g. `// app/controllers/comments.js`). But, in #8, we're using the pod structure (e.g. `// app/post/route.js`).

We should probably standardize on one.

I'm also wondering if we should include them at all for code samples where the file name doesn't really matter. For

[2015-02-24 00:52] stevekinney opened #13 "Referring to objects"
In an effort to find a common voice, how do we want to refer to controllers, routes, etc.?

Previously, the guides had something like `ApplicationRoute`. This made sense because it was defined as `App.ApplicationRoute`. Should we continue this or do we want to switch to `controller:application`?

[2015-02-24 00:55] locks commented on #12
Thanks for the ping!

I was actually instructed to open a new RFC for the pod structure so all the details can be hashed out.
This will enable `ember-cli` to then make pod structure the default, which IIRC is the current intent.
That's my rationale for using it in the file paths.

I'm confused by your example @stevekinney, since globals are to be deprecated, but I would include the
file path anywa

[2015-02-24 00:57] stevekinney commented on #12
Sounds good. (Yea, a big point is to get rid of the globals—I was only using it as an example where the file name *might* not be important.)

[2015-02-24 02:53] nicolechung commented on #9
I'd like to take components, but I'm looking at it and not sure how to tackle the JSbins.

For the index page, I started breaking it out into code snippets:
[code]

[code]

But further along, the JSbins are used to see how everything fits together step-by-step ('passing-properties-to-a-component/'). Any suggestions?

[2015-02-24 04:44] bsclifton commented on #2
Should be good to go! Made changes here https://github.com/LeonB/middleman-swiftype/pull/4

And https://github.com/emberjs/guides/pull/7 makes use of it (from my fork, will update if/when its accepted)

[2015-02-24 07:02] joostdevries commented on #9
@nicolechung There's a POC of a Ember CLI jsbin by @stefanpenner at http://jsbin.com/zonuhofufo/1/edit?html,output

[2015-02-24 09:57] joostdevries commented on #12
@stevekinney excellent point. my thoughts:
- use `foo` and `bar` for pointless stuff.
- whether or not we advise pods in the guides is something I'd like @tomdale and @stefanpenner s take on.

[2015-02-24 12:58] nicolechung commented on #9
@joostdevries thank you I will use that.

[2015-02-24 14:23] alexspeller commented on #9
I can do some of these, any preference for ones for me to work on?

[2015-02-24 14:25] locks commented on #9
@alexspeller I've heard the tutorial is getting replaced, so probably pick anything but.

[2015-02-24 14:25] alexspeller commented on #9
OK I'll go with "concepts"

[2015-02-24 14:26] grapho commented on #9
I'm interested in contributing, probably in ember-data, anywhere in particular to start?

[2015-02-24 14:29] alexspeller commented on #9
Also, I think that the "views" section should be deprecated and the relevant parts moved to the components section. Maybe that's too much to do right now but using views as specified in the guides is basically wrong at the moment, AFAIK (cc @nicolechung)

[2015-02-24 14:44] locks commented on #9
That's a thought @alexspeller. I'm not sure I'm going to make to this week's meeting, but maybe you can raise up how to coordinate that aspect. My first pass is converting code samples, then checking for deprecations, then if any restructuring needs to happen.

[2015-02-24 17:00] stefanpenner commented on #12
i would like to , but their are several different and potentially confusing manifestations of pods. Maybe not yet? ... @tomdale thoughts?

[2015-02-24 17:09] locks commented on #12
@stefanpenner I'll open an RFC for pod structure this week as suggested by @wycats, so we clear it up. Sounds good?

[2015-02-24 17:10] stefanpenner commented on #12
yes. Also, relevant POD related ember-cli issues: https://github.com/ember-cli/ember-cli/labels/pod  Worth reviewing for the RFC.

[2015-02-24 21:44] stevekinney commented on #12
#13 is tangentially related. How do we want to call various controllers, routes, etc. outside of code samples? Refer to them by file name? `controller:application`? Keep the current format?

[2015-02-25 00:09] nicolechung opened #16 "Compile CSS issue: cannot compile css due to source/images/about/header-text.png being missing"
I am getting the above error when compiling CSS. However that image does not exist in the source.

[2015-02-25 00:17] jbrown commented on #16
@nicolechung I've had the same issue since 3cfdd0c9cebf21032dad5fa94a3325f1328cad2b

[2015-02-25 00:24] nicolechung commented on #16
Did that folder just get deleted by accident? It looks like images/about/ "images" are still being used on the live site.

[2015-02-25 00:32] jbrown commented on #16
@nicolechung I would think it's intentional, this repo is only meant for the guides. I think that commit just missed the corresponding css.

[2015-02-25 00:35] trek commented on #16
@nicolechung you might just need to `git pull`. I think this got fixed earlier today.

[2015-02-25 05:16] tomdale commented on #12
I don't have a strong opinion either way. All I'd ask is:

1. Make sure the guides and Ember CLI generators are in alignment.
2. Make sure any remaining issues with pods are hashed out.

If in doubt, let's start with non-pods and switch over. Versioned guided give us a lot more flexibility to change in the future. I don't want this guide revamp to end up getting blocked on pod implementation detai

[2015-02-25 09:40] joostdevries commented on #12
Related, maybe it's smart to hint people to use `ember generate` wherever possible.

[2015-02-25 12:59] nicolechung commented on #16
That works, thanks.

[2015-02-25 12:59] #16 closed

[2015-02-26 20:00] trek commented on #2
@bsclifton turns out we also need the body to be `"type": "string"`

[2015-02-27 13:20] nicolechung commented on #9
I can start with the cookbooks, but its rather large. Perhaps we can break it into sections?

[2015-02-27 14:37] stevekinney commented on #9
That sounds like a good idea.

On Fri, Feb 27, 2015 at 6:20 AM, nicole chung <notifications@github.com>
wrote:

[2015-02-28 15:20] nicolechung opened #20 "Broken link in the cookbook section (only if you follow a certain order)"
Click Cookbook.

Click introduction.
http://localhost:4567/cookbook/

Scroll down and click the link that says "participating if you know Ember"
http://localhost:4567/cookbook/contributing/participating_if_you_know_ember

Scroll down that page and click the "next-guide" link,
"Participating if you don't know Ember"

Link does not work, it goes here:
http://localhost:4567/cookbook/participating_if_

[2015-03-02 00:05] nicolechung commented on #12
Does the POC of Ember cli work with a pods structure? http://jsbin.com/zonuhofufo/1/edit?html,output

[2015-03-02 13:56] nicolechung commented on #9
Actually I'm about halfway through the cookbook section, but with questions.

It seems like there are a lot of unlinked cookbook entries. For example, the "User Interface and Interaction" section has 10 entries, but only 7 are linked. I am assuming that those are "unpublished" or unreviewed entries?

I have omitted updating those for now.

Also, it appears that the TOC has a bug, when you flip bet

[2015-03-03 00:40] bsclifton commented on #2
@trek anything left on this? I think everything is covered

[2015-03-03 00:48] trek commented on #2
@bsclifton I think we're good to move forward, but most of the :ballot_box_with_check: still need doing before I'd consider this closeable.

See https://github.com/LeonB/middleman-swiftype/pull/4#issuecomment-75766664

[2015-03-03 17:58] nicolechung commented on #9
@joostdevries I submitted a PR for the cookbook https://github.com/emberjs/guides/pull/25

[2015-03-03 19:21] trek commented on #20
I can't reproduce this :(

http://guides.emberjs.com/v1.10.0/cookbook/ seems to work in production. Possibly got fixed already?

[2015-03-03 19:21] #20 closed

[2015-03-03 19:27] nicolechung commented on #20
Hmm maybe some of the links in the page need to be fixed?

http://guides.emberjs.com/v1.10.0/cookbook/helpers_and_components/

If you click any of the following they are broken:
Creating Reusable Social Share Buttons
A Spinning Button for Asynchronous Actions
Adding Google Analytics Tracking

Links on this page are broken for me:
Incrementing Or Decrementing A Property
Setting Multiple Properties

[2015-03-04 04:26] trek commented on #20
Sorry, I'm a bit confused. Is that related to the original issue?

[2015-03-04 12:56] nicolechung commented on #20
Sorry, my bad, it's separate. I think they're just broken links, going to fix them in the PR I have going...

[2015-03-04 15:36] trek commented on #20
Ah! Now I get it. A PR would be great. I'd guess the values is data/guides.yml don't match the locations of the markdown files.

[2015-03-04 19:02] trek commented on #12
I have thoughts on where file names should go. http://commonmark.org/ defines there area we normally put the language in "fenced code" simply as meta data.

So, where we normally put
[code]

Could actually contain any data we'd like. We have a [custom highlighter](https://github.com/emberjs/guides/blob/0c9a158855a3495ed4413c1512cb984c954adc1c/lib/highlighter.rb) that outputs particular markup/styl

[2015-03-04 19:49] stevekinney commented on #12
@trek Wow, I really like that idea.

[2015-03-04 21:47] trek commented on #12
Can you rope in @gregone and/or @danmcclain to help with the visual design and CSS for a change like this?

[2015-03-04 23:36] locks commented on #12
@trek :+1: had thought of something similar myself, but didn't know about the meta data thing.

[2015-03-05 17:23] joostdevries opened #29 "Review process"
Now that the guides are versioned, whats the process/timeline for getting the PR's (mostly from #9) reviewed and merged? I noticed that there's no tag for the current version 1.10.0 yet so I guess that has to happen first?

@trek I saw that the versioning process is already documented, do you have any thoughts on the review process?

[2015-03-05 17:31] joostdevries commented on #13
Excellent point. The inspector also uses `controller:application` so I think that makes the most sense.

[2015-03-05 17:52] joostdevries commented on #12
@trek Looks amazing. I actually think the original issue here has been resolved (we will **not** use POD syntax for now). Maybe it's best to either rename this issue or close & open a new one for the new code blocks

[2015-03-05 18:45] danmcclain commented on #12
How's something like this (don't mind the colors for now...unless you like them, then it was intentional :wink:)
![ember js - templates the application template 2015-03-05 13-45-05](https://cloud.githubusercontent.com/assets/144138/6511903/e7978fd2-c33d-11e4-9135-4b579526f74e.png)

[2015-03-05 18:47] locks commented on #12
:+1:
On 5 Mar 2015 18:45, "Dan McClain" <notifications@github.com> wrote:

[2015-03-05 18:49] danmcclain commented on #12
The markup is super basic for it too, all we have to add is

[code]
To the top of the `<table>` generated by the highlighter. The screenshot I posted was one without any styles applied. We can tweak the look futher if needed

[2015-03-05 18:50] joostdevries commented on #12
:+1:

[2015-03-05 19:51] trek commented on #29
Next week, I hope. I'm still emberconf occupied.

[2015-03-05 19:58] trek opened #30 "Use fenced code metadata to annotate both file location and language"
From the common mark spec:

Where we annotate the code's language
[code]

We can annotate filename and extension:
[code]

We have a [custom highlighter](https://github.com/emberjs/guides/blob/0c9a158855a3495ed4413c1512cb984c954adc1c/lib/highlighter.rb) that outputs particular markup/styles for specific languages.

A PR that addresses this Issue will:

- [ ] continue to detect bare named language f

[2015-03-05 19:58] trek commented on #12
moved to https://github.com/emberjs/guides/issues/30

[2015-03-05 19:58] #12 closed

[2015-03-05 20:01] nicolechung commented on #30
Should I update my current PRs to the guide, or wait until this new change has been made?

[2015-03-05 20:59] joostdevries opened #31 "Ember CLI related sections"
I'm going over the Ember CLI site right now to see what sections should be moved to emberjs.com. Not all sections are currently covered in #9 so here's a (most likely incomplete) list of topics we might need to add:

- [ ] Managing dependencies
- [ ] Asset compilation (using Brocfile to manage your asset pipeline)
- [ ] Configuration / Using environments
- [ ] Installing issues / FAQ
- [ ] Upgradi

[2015-03-05 22:30] trek commented on #30
I'd update current PRs and Issue this can be a blocker for merging those

[2015-03-06 20:16] danmcclain commented on #30
@trek Anyone covering the new custom highlighter? If not, I can take a stab at it, seems reasonable. We're going to really need to detect 2 different file types, js and hbs, right? Or are there css and html fences needed too?

[2015-03-06 22:01] rwjblue commented on #30
@danmcclain - Its all yours :)

[2015-03-06 22:02] danmcclain commented on #30
@rwjblue Can you confirm file types in guides? I'll try to get something in place this weekend

[2015-03-06 22:06] rwjblue commented on #30
@danmcclain `.hbs`, `.js`, and `.html` should cover 90% of what we need, but it is possible that we want `.css` at some point also...

[2015-03-06 22:52] joostdevries commented on #30
And considering the CLI portion, `.json` might also be a good idea (`package.json`, `bower.json`)

[2015-03-07 02:43] joshross4 opened #33 "Broken Links on Cookbook / Helpers and Components Page"
http://guides.emberjs.com/v1.10.0/cookbook/helpers_and_components/

Has thee broken links, like this one:

http://guides.emberjs.com/guides/cookbook/helpers_and_components/creating_reusable_social_share_buttons

Which should go to here?

http://guides.emberjs.com/v1.10.0/cookbook/helpers_and_components/creating_reusable_social_share_buttons/

[2015-03-07 05:25] joshross4 commented on #33
Also in the cookbook, the links here:

http://guides.emberjs.com/v1.10.0/cookbook/user_interface_and_interaction/

[2015-03-07 17:10] #1 closed

[2015-03-07 17:11] trek commented on #13
let's go with it. We can fix it in post.

[2015-03-07 17:11] #13 closed

[2015-03-07 17:13] trek commented on #29
https://github.com/emberjs/guides/issues/30 seems to be a blocker for them. All the existing PRs need to update to this format at least.

[2015-03-07 17:54] nicolechung commented on #33
This is fixed in my PR https://github.com/emberjs/guides/commit/096b219625b9c644a7a2523723531fcb300bda80

[2015-03-07 17:56] nicolechung commented on #30
For the JS files, is it going to be in this format?

[code]

[2015-03-07 18:44] joostdevries commented on #9
@nicolechung @bsclifton @alexspeller @locks @mikepmunroe @stevekinney
**Please checkout #30**, you'll probably need to update code blocks in your section to follow this new convention

[2015-03-07 20:30] kimroen commented on #9
I've looked over the `enumerables` section, and there is nothing there that would be different with Ember CLI, unless we want to use ES6-syntax for relevant bits. I'm assuming that might be outside the scope for this rewrite.

[2015-03-08 15:46] #30 closed

[2015-03-09 15:26] trek commented on #33
Closing, waiting for PR so we can republish. @nicolechung are you auditing all the links?

[2015-03-09 15:26] #33 closed

[2015-03-09 16:58] nicolechung commented on #33
@trek I think I'll take another look at the user_interface_and_interaction...I fixed links in two other sections other than that

[2015-03-09 18:02] nicolechung commented on #33
Fixed the user interface section https://github.com/nicolechung/guides/commit/1b47d4dad777792fad440f8f7b900e2e98c412ef

[2015-03-09 19:54] trek commented on #33
I don't see a PR for this. Are you blocked on it for some reason?

[2015-03-09 19:58] nicolechung commented on #33
It's https://github.com/emberjs/guides/pull/25...maybe it's still under review? Just fixed those last links just now.

[2015-03-09 19:59] rwjblue commented on #33
I think you meant: https://github.com/emberjs/guides/pull/25

[2015-03-09 20:00] nicolechung commented on #33
I think I put the dots too near to the link yes!

[2015-03-10 02:48] trek commented on #33
Ah, I meant just a PR for the broken links (which we can apply to 1.10 docs), not one that is both broken links + new stuff.

[2015-03-10 02:51] nicolechung commented on #33
I can totally do that. Is there a 1.10 tag in this repo or do I go to the ember website repo? Getting a little confused as to where things are...

[2015-03-10 02:54] nicolechung commented on #33
NVM found it...fixing now

[2015-03-11 22:52] trek commented on #2
@tundal45 do you want to take a look at getting the final checkboxes checked? I know @bsclifton is taking a small break

[2015-03-11 23:46] trek commented on #10
@michaelrkn/@erezny you mentioned wanting to jump in at EmberConf. Either of you want to tackle this?

[2015-03-12 01:10] tundal45 commented on #2
@trek I am looking into it right now. I will ping you with (m)any questions I may have.

[2015-03-12 02:24] bsclifton commented on #2
@tundal45 it shouldn't be too hard; the extension.rb file currently only listens for after :config event. You can add an after :build hook. The challenge then would be refactoring the code so the same code can be used in the Thor command and also the new build hook

[2015-03-12 02:25] bsclifton commented on #2
(currently all the logic lives in the Thor sub command)

[2015-03-12 12:45] trek commented on #2
The big thing is that we, so far, have regularly rebuilt the docs for 1.10.0 as we find bugs and I'd like to make sure that the search.json ends up in snapshots directory https://github.com/emberjs/guides.emberjs.com/tree/master/snapshots/v1.10.0

The extra step ensure that it doesn't.

[2015-03-12 15:03] kimroen opened #44 "Relative API-doc links are broken"
For instace, the "Event Names" link at the bottom of this page doesn't work:

http://guides.emberjs.com/v1.10.0/views/handling-events/

[2015-03-12 15:07] rwjblue commented on #44
Yes, links to `api` docs are all going to be wrong at this point because `/api/*` is not present here.

We could:

* update them to be full paths
* change divshot config to proxy to `emberjs.com/api` for now, and then change that once `api.emberjs.com` is a thing
* other smart things?

@trek - What is your preferred solution?

[2015-03-12 15:24] trek commented on #44
I think we should change them all to full links. When we move to `api.emberjs.com` they will redirect, so we won't need to come back and fix them. @kimroen want to audit and fix all of them?

[2015-03-12 15:28] kimroen commented on #44
@trek It's on my todo-list.

[2015-03-13 12:28] chrislopresto opened #45 "Link to ember-cli version of TodoMVC?"
I was reviewing some things the other night and couldn't find a repository with a current ember-cli version of the TodoMVC app. So I put this together: [https://github.com/chrislopresto/todomvc-embercli](https://github.com/chrislopresto/todomvc-embercli)

Each commit corresponds to a single step in the v1.10 [Getting Started](http://guides.emberjs.com/v1.10.0/getting-started/) guide. The [README](

[2015-03-13 15:35] pjmorse commented on #9
I've noticed all the testing JSBins are broken, will those be fixed under this effort or should I open a separate issue?

[2015-03-13 18:35] trek commented on #44
@kimroen any ETA on this? If not, it's blocking and I'd like to hand it someone else who can get to it ASAP.

[2015-03-13 18:35] trek commented on #44
Possible @michaelrkn/@erezny who both mentioned at EmberConf they wanted to help

[2015-03-13 18:38] kimroen commented on #44
I won't get to this today, I was thinking this weekend. Sorry about that.

On Fri, Mar 13, 2015 at 7:35 PM, Trek Glowacki <notifications@github.com>
wrote:

[2015-03-13 19:44] trek commented on #45
Thanks! This is awesome however: there's work a new Getting Started Guide that better reflects Ember's strengths. We won't be going with TodoMVC, so the plan for 1.11 is to remove the GSG and link to some of the great community resources until a new guide is completed.

[2015-03-13 19:44] #45 closed

[2015-03-13 19:54] johnotander commented on #44
@trek I can go through them all today and change them to full links.

[2015-03-13 20:06] jagthedrummer commented on #44
@johnotander Just saw your comment, but already have changes made locally here. Can PR immediately if you're not already in progress.

[2015-03-13 20:10] johnotander commented on #44
Go ahead and PR if you've already made the changes : )

All I've done is forked and bundle installed, haven't begun making changes. So, I'll be ready to help out with the next thing that pops up.

[2015-03-13 20:24] kimroen commented on #44
Great work!

On Fri, Mar 13, 2015 at 9:10 PM, John Otander <notifications@github.com>
wrote:

[2015-03-13 21:37] johnotander commented on #10
If there's no one currently working on this, I can go ahead and tackle.

[2015-03-13 21:43] jagthedrummer commented on #10
We meet again @johnotander! ;) I was just looking at this one too. It'll probably be tomorrow before I could spend any real time on it, but I'm happy to help you out if you get something started.

[2015-03-13 21:58] johnotander commented on #10
Hello again @jagthedrummer!

Great, I'll start digging and working on something. I'll let you know if I make any progress today (I only have about an hour or so this evening). I was hoping to get a basic plugin skeleton together with some failing unit tests, and possibly getting some functionality together if things go well.

I'm currently working out of https://github.com/johnotander/middleman-to

[2015-03-13 22:22] trek commented on #10
I think @tundal45 might have started this?

[2015-03-14 00:18] #44 closed

[2015-03-14 13:26] #29 closed

[2015-03-14 16:21] trek commented on #9
Please comment out (or remove) JSBins for now. We need a way to express running code modularly.

[2015-03-15 04:52] chrislopresto commented on #45
:+1:

[2015-03-15 14:50] nicolechung opened #54 "bundle install error: repository not found (Fetching git://github.com/bsclifton/middleman-swiftype.git)"
This repo doesn't appear to exist:
https://github.com/bsclifton/middleman-swiftype

[2015-03-15 17:34] trek commented on #54
@bsclifton ?

[2015-03-15 17:53] bsclifton commented on #54
Oh shoot, sorry, I deleted it after changed were merged upstream

[2015-03-15 17:56] bsclifton commented on #54
Can we update to https://github.com/LeonB/middleman-swiftype? Out and about at the moment, but can submit a PR in an hour or so

[2015-03-15 18:01] #54 closed

[2015-03-17 00:05] Serabe commented on #9
I'd like to help. I can start with the testing section if you want me to.

[2015-03-17 12:44] nicolechung commented on #31
I'll take Asset compilation...but where is this going to go? It's own section?

[2015-03-17 13:58] joostdevries commented on #31
@nicolechung nowhere particular right now. I think a separate section would be best. Maybe **Using Ember CLI**? What do you think @trek

[2015-03-17 14:11] trek commented on #9
@Serabe I've marked you for testing. Please try to get a PR in within a few days so as not block progress.

[2015-03-17 14:12] trek commented on #9
@alexspeller I don't see a PR so I've removed you from concepts to unblock it for someone else.

[2015-03-17 14:25] alexspeller commented on #9
@trek didn't realize I was blocking, I have been away after emberconf and just got back at the end of last week. Planning to finish up in the next few days, I can still do that if you prefer, or would someone else be working on it sooner?

[2015-03-17 15:01] trek commented on #31
For now getting the existing guides to cli a higher priority, so I'd hold off on this.

[2015-03-17 16:04] trek commented on #9
@alexspeller it's been claimed.

[2015-03-17 16:18] alexspeller commented on #9
@trek "it's been claimed" by you I notice - a little warning would have been nice. Where I got to was:

1. `concepts/core-concepts.md` and `concepts/understanding-web-apps.md` don't seem to need updates
2. `concepts/naming-conventions.md` needs the most updates, quite a lot of stuff there. I got a little bit through that but probably not worth opening a PR for with the little I did
3. `concepts/wh

[2015-03-17 18:54] nicolechung commented on #9
do we leave out importing Ember?

[code]

[2015-03-18 00:26] trek commented on #9
@nicolechung yes please. importing will be implied until the framework isn't one giant object bag.

[2015-03-18 00:28] locks commented on #9
@trek @nicolechung does the same go for `import DS from 'ember-data';`?

[2015-03-18 01:18] rwjblue commented on #9
@locks - yes

[2015-03-19 03:58] locks commented on #9
@joostdevries I've also taken `understanding-ember-data` https://github.com/emberjs/guides/pull/64

[2015-03-19 04:11] locks commented on #9
@joostdevries and `getting-ember` https://github.com/emberjs/guides/pull/65

[2015-03-19 07:44] joostdevries commented on #9
@tomdale fyi

[2015-03-19 16:24] mikepmunroe commented on #9
Just held the weeky vid call. Myself and @locks were in attendance. @tomdale would love to try to get these PRs into the next versioned API build that occuring tomorrow.

Would be great if everyone could take a peak at their PRs and see if they can get them ready for review, if not already.

@locks is going to grab contributing and deprecations, but it sounds like deprecations doesn't really need

[2015-03-19 18:46] joostdevries commented on #9
Missed the meeting, sorry guys. I've got a big part of tomorrow blocked for Ember stuff. I'll review + update PR's then.

[2015-03-19 19:50] joostdevries commented on #9
@trek do you know what should happen with the tutorial? I've removed @bsclifton / #7 from it as it is more related to "Getting Ember" than "Getting started"

[2015-03-19 19:56] trek commented on #9
We've removed the getting started guide. There was work on a new application for the GSG, but it appears to have stalled.

[2015-03-19 19:58] stevekinney commented on #9
@trek If it's truly stalled, I wouldn't mind picking up that thread.

[2015-03-19 19:59] joostdevries commented on #9
Sorry, should have checked the source first. My suggestion would be to use the "Installing Ember" section from #7 in/as the "Getting Ember" section.

[2015-03-19 20:53] bsclifton commented on #9
The new GSG
https://github.com/poteto/ember-getting-started

Looks like there's still great progress being made; I was initially going to break the work that @poteto and @catkins did into discrete steps that a user could follow along with, which could live in the Getting Started section that I made in #7. The project seemed to halt for a while, I know folks had to prep for EmberConf.

Great job wi

[2015-03-19 22:31] stevekinney commented on #9
I'm just opened PR #68 to update the deprecations section. @locks and I are still discussing the best way to word L96, but it could theoretically be merged as is.

[2015-03-19 22:50] stevekinney commented on #9
I also just took care of the contributions section with #69.

[2015-03-20 03:16] locks commented on #9
#69 is merged.

[2015-03-20 10:49] mikepmunroe commented on #9
@joostdevries templates PR is #71 now, not #24

[2015-03-20 11:50] joostdevries commented on #9
@trek @rwjblue

FYI: https://github.com/ember-cli/ember-cli/pull/3577

[2015-03-20 22:56] swashcap opened #72 "JSBin Examples Broken"
* URL: **<http://emberjs.com/guides/components/wrapping-content-in-a-component/>**
* Browser: **Google Chrome Version 41.0.2272.101 (64-bit)**
* OS: **OS X 10.10.2**

![screen shot 2015-03-20 at 3 54 16 pm](https://cloud.githubusercontent.com/assets/1858316/6762231/9069332c-cf19-11e4-906f-a1ea56235af1.png)

I’m noticing that all the JSBin embeds in the _Components_ section are broke.

[2015-03-20 23:18] Serabe commented on #9
I'm almost finished with my section. There are some minor details waiting for an answer in the PR, but after that it will be ready to be merged
@trek @rwjblue

[2015-03-21 13:02] trek commented on #72
We're in the process of removing the JSBins for 1.11

[2015-03-21 13:52] tundal45 commented on #2
I can start working on this today.

[2015-03-21 14:05] trek commented on #2
To recap current thinking:

We should migrate the swiftype middleman plugin two three bits:

1. a helper module that generates a data structure representing the searchable content
1. a subcommand to build `middleman build:swiftype` that converts this data structure from noº 1 into JSON and emits a file (`search.json`) as part of the build process
1. a command `middleman swiftype` that converts the

[2015-03-22 12:09] locks commented on #9
https://github.com/emberjs/guides/pull/7 is now https://github.com/emberjs/guides/pull/75

[2015-03-22 15:56] trek opened #77 "Update Code Blocks to include additions, removals, and highlights"
A big challenge in writing tutorials where code mutates over time is accurately drawing the reader's attention to lines of code that have been added, removed, or need highlighting.

The react docs do an excellent job here:
![getting started react 2015-03-22 10-52-51](https://cloud.githubusercontent.com/assets/9736/6770051/9f3b6244-d081-11e4-8eba-a5af78ddc7f9.png)

They've augments the fenced code

[2015-03-22 16:02] danmcclain commented on #77
@trek: I'd be interested in taking a stab at it, but wouldn't be able to start until tonight or tomorrow.

[2015-03-22 17:52] tonylukasavage commented on #77
"line 15 is added" in your final example

[2015-03-22 17:57] rwjblue commented on #77
@tonylukasavage - Good catch, updated.

[2015-03-23 00:16] michaelrkn opened #79 "Re-think glossary?"
I love the idea of having a glossary containing definitions/explanations of concepts necessary to understand how to work with Ember. I imagine many developers come to Ember without knowing what concepts like promises, ES6 modules, or even Node.js really mean. I think having glossary will go a long ways towards easing Ember's learning curve. Thanks @bsclifton for putting it together!

As I've taken

[2015-03-23 00:37] bsclifton commented on #79
Shadow DOM was included so that folks don't confuse any talk of the virtual DOM. CDN I think is important because when it's time to deploy, you're going to want to host static content on something like Divshot and maybe even using the ember-cli-deploy

Looking forward to the changes :smile:

[2015-03-23 08:43] wycats commented on #77
This would be amazing!

[2015-03-23 09:04] vire commented on #79
for me as a person coming from non-ruby environment there were also few terms I've never heard before like:

- [ ] pods
- [ ] assets-pipeline

[2015-03-23 11:33] danmcclain commented on #77
Made some good progress on this last night, here are some screenshots of the styling I've come up with

 * Removed
![ember js - templates the application template 2015-03-23 07-28-51](https://cloud.githubusercontent.com/assets/144138/6779015/5c5f2020-d12e-11e4-9867-35fe593174c5.png)

 * Added (Contrast might need to be adjusted on line 6)

![ember js - templates the application template 2015-03-23

[2015-03-23 13:20] trek commented on #77
:+1: this is great

[2015-03-23 15:23] trek commented on #79
It should probably also move to its own section. Making it part of another section seems odd.

[2015-03-23 15:27] joostdevries commented on #77
really awesome!

[2015-03-23 20:41] danmcclain commented on #77
I've been using [this contrast accessibility tool](http://webaim.org/resources/contrastchecker/) to updated the code block styles while picking colors for the highlights. Some of the contrasts are a little lacking, but wanted to keep the differentiation between things. Here is where I am at:

![ember js - the object model computed properties 2015-03-23 16-37-52](https://cloud.githubusercontent.com

[2015-03-24 13:26] mikepmunroe opened #81 "Guides should remove references to Ember.ObjectController"
There is at least one known usage in https://github.com/emberjs/guides/blob/master/source/templates/actions.md, but we should scan other files for usage, as well.

Here is some reference documentation, http://emberjs.com/guides/deprecations/#toc_objectcontroller

[2015-03-24 15:07] trek commented on #77
Closing for #80

[2015-03-24 15:07] #77 closed

[2015-03-24 15:33] michaelrkn opened #82 "Update bound attribute syntax"
I believe Ember 1.11 removes the need for `bind-attr`, so https://github.com/emberjs/guides/blob/master/source/templates/binding-element-attributes.md and https://github.com/emberjs/guides/blob/master/source/templates/binding-element-class-names.md should be removed.

Since inline `if`s are much saner to use for the new attribute binding syntax -

[code]

I think it would make sense to add this ex

[2015-03-24 22:24] Serabe commented on #81
`ObjectController` is referenced in ~13 different guides with no more than 25 occurrences. Some of them just require removing the `Object` part, others might require a couple of lines of code more and few might require minor rephrasing.

If @trek is fine with this change, I can do it tomorrow night (UTC+1 time).

[2015-03-24 22:27] Serabe commented on #79
I would change _integration test_ to _acceptance test_ to fit ember-cli naming. Since I'm organise Ember.js Madrid, I can ask some people about what they miss in the _core concepts_ guide.

[2015-03-24 22:36] Serabe commented on #9
Seems that all parts are either already rewritten or removed. I don't know what is keeping this issue open, but if I can do anything to help, let me know.

[2015-03-24 23:26] stefanpenner commented on #9
I strongly believe we should enforce `import Ember from 'ember'` and `import DS from 'ember-data'` and demonstrate this in the guides.

[2015-03-25 00:05] Serabe opened #84 "Confusing information about event names."
Taken from emberjs/ember.js#10713, @Jokery raises a problem between two sections about `actions`.

In `templates/input-helpers`, the [action sections](https://github.com/emberjs/guides/blob/07a806779c889291bccc75e85d61644d2e1e089f/source/templates/input-helpers.md#actions) reads:

    Event Names must be dasherized when assigned to on.

In `templates/actions`, the [specifying the type of event](ht

[2015-03-25 00:05] #84 closed

[2015-03-25 00:06] Serabe commented on #84
Sorry, this was meant to be the message for #83

[2015-03-25 02:18] michaelrkn commented on #79
@vire I think _pods_ and _asset pipeline_ probably deserve their own page entirely - #31 mentions that the info on the asset pipeline needs to moved over from http://www.ember-cli.com/.

@trek _Getting Started_ feels like the appropriate place to put a list of background concepts that are important to understand. I'm thinking instead of trying to explain each of them in detail, I'll simply link to

[2015-03-25 02:21] michaelrkn commented on #79
Oh also @bsclifton - What do you think about having two pages? One for crucial _background concepts_ with links to longer explanations, and one for _additional topics_ that aren't crucial for getting started, but will be useful as you get up to speed? In fact, I think most of the current glossary falls into this second category.

[2015-03-25 03:14] bsclifton commented on #79
Love it- in fact, the short version of the glossary can probably be written as a general overview which links to the additional sites, like you're saying.  Just real quick off the top of my head, here's what I mean...almost like an end to end explanation

[code]

[2015-03-25 04:47] bsclifton commented on #2
@tundal45 if you don't mind, I can grab this one- I'm pretty familiar with it and have already started making some changes:
https://github.com/bsclifton/middleman-swiftype/commit/51731f46ded2bd0221905b645f8f1fc3ad409476

Should be able to finish this within the next two coding sessions I have :smile:

[2015-03-25 05:08] michaelrkn commented on #79
@bsclifton I like the intent, but I'm not convinced those are the 5 most important points to think about as a new Ember developer, and if we're going to build an overview page, I want to really think about what the most important pieces of the process are. For now, I'm going to keep fairly close to the same format we have now and get some feedback. PR coming in a sec.

[2015-03-25 11:53] trek commented on #9
@stefanpenner but why? This adds a line to the top of every single example and does what? What about code examples that appear in the middle of a hypothetical larger code block? do we show an entire block of code unrelated to the point the guide is trying to make just so we have a place to show `import`?

There was already discussion around excluding code snippets that aren't relevant to the surro

[2015-03-25 11:54] rwjblue commented on #81
Yes, please audit for usage of ObjectController and update.

[2015-03-25 12:42] trek commented on #9
Thanks everyone! <3

[2015-03-25 12:42] #9 closed

[2015-03-25 19:08] bsclifton commented on #2
@tundal45 I made decent progress, but am having trouble testing w/ Cucumber since it hits the live server (I tried stubbing, monkeypatching, refining, etc with no luck).  @trek said you were able to figure out  how to get testing done w/out hitting the server.  Did you want to work together on this? :)

[2015-03-26 00:15] Serabe commented on #81
I'll continue tomorrow. I had reduced the number of occurrences down to 7 in 5 different files. If everything goes ok, I'll finish this tomorrow.

[2015-03-26 02:16] michaelrkn opened #91 "Organization of Getting Started"
I keep trying to begin adding info about getting started with Ember, especially Ember CLI, and then I keep feeling like I'm going to make a mess. So I'm taking a step back, proposing an outline of what should be covered and in what order, and asking for feedback and ideas.

* Before You Start
  * Welcome (currently `source/index.md`)
  * Key Background Concepts (see #85)
  * Core Ember Concepts (`

[2015-03-26 14:07] Serabe commented on #81
I think this issue cannot be totally resolved. I left a couple of mentions untouched since they are about the controllers autogenerated by Ember when one cannot be found.

I see a couple options here:

* Left the files as they are now.
* Add a deprecation warning.

I think the latter is the way to go. Any hint?

[2015-03-26 17:37] rwjblue commented on #81
Even when Ember auto-generates an ObjectController a deprecation is fired if you use its proxying abilities (`firstName` will deprecate but `model.firstName` will not).

[2015-03-27 00:28] tundal45 commented on #2
@bsclifton I should have some time this weekend to take a look at this.

[2015-03-27 15:22] orta opened #99 "Sponsor link not working"
From the bottom of: http://guides.emberjs.com/v1.11.0/templates/input-helpers/
http://guides.emberjs.com/v1.11.0/templates/input-helpers/emberjs.com/sponsors

[2015-03-27 15:24] stefanpenner opened #100 "ensure users use node 0.12 npm 2.7 or greater"
I am unsure how to wordsmith this nicely, i don't want to make a mess of the new guides but we need to ensure users start with a reasonable version of node and npm, or they will suffer the minefield of older versions.

In addition, ember-cli aims to drop support for node 0.10.x shortly, as this will allow us to rely on features like `execSync` without requiring some brittle c extension.

[2015-03-27 15:44] kellysutton commented on #82
I'll take a crack at this. PR incoming.

[2015-03-27 15:59] wagenet opened #108 "Removing the version from a url gives a 502"
For instance: http://guides.emberjs.com/object-model/computed-properties/

[2015-03-27 16:04] rwjblue commented on #108
What is expected?

[2015-03-27 16:26] wagenet commented on #108
Preferably a 404 and not a Gateway Error.

[2015-03-27 16:42] ToddSmithSalter commented on #100
I agree it's tricky. Linking to resources for staying up to date might be a better option, paired with "minimum system requirements". For example, specifying nvm for *nix users as a optimal experience to getting latest node and npm.

[2015-03-27 17:52] wagenet opened #117 "Version dropdown is empty if JS is disabled"
In theory most of the guides functionality should work without JS, however, the version selector just shows up blank. If JS isn't available, we should at least not display it.

[2015-03-27 18:28] trek commented on #108
That was probably a divshot hiccup. That link 404s right now.
![page not found 2015-03-27 13-27-54](https://cloud.githubusercontent.com/assets/9736/6874417/1a83e50a-d485-11e4-8f3f-9357c5aec0b0.png)

[2015-03-27 18:28] #108 closed

[2015-03-27 18:37] #99 closed

[2015-03-27 19:27] nagarajhubli opened #120 "The link to "ES6 Support" on Glossary page is broken"
The link to "ES6 Support" on Glossary page is broken, it has extra semicolon at the end, but I see that the issue is not with the corresponding Markdown file.

[2015-03-27 19:31] kellysutton commented on #100
The recommendation for nvm might be a bit heavy-handed, but a simple "ember-cli requires Node 0.12.x or later" should do the trick. The fact that ember-cli will still work on 0.10.x for some time will just be a nice surprise.

[2015-03-27 20:35] LionsPhil opened #121 "v1.11 doc is missing (updated) TodoMVC-style guide"
v1.10 docs have a pretty good lead-in with a small sample application:
http://guides.emberjs.com/v1.10.0/getting-started/planning-the-application/
It covers good starting matter like:
* Ember's opinion of what Model, View and Controller mean in a client-side world
* Data-binding between the model and view in both directions (read and edit)
* Binding of other actions ("delete completed")
* Non-pers

[2015-03-27 21:45] trek commented on #121
There is another sample application in the works that sadly did not get finsihed in time for 1.11. We did not believe that TodoMVC demonstrated a useful application for Ember, but didn't want to update the additional resources (git repo, jsbins, etc) around it for a single version.

[2015-03-27 21:45] #121 closed

[2015-03-27 21:46] #72 closed

[2015-03-27 23:25] bsclifton commented on #100
The troubleshooting section has some good notes- are those not specific enough?
http://guides.emberjs.com/v1.11.0/ember-cli/#toc_troubleshooting

Writing the page, I tried to avoid getting way too specific like ember-cli.com is.  Actually, the original version had the versions in it, but all the feedback folks gave was that it was too long winded and version specific stuff could be put under troub

[2015-03-27 23:29] bsclifton commented on #100
I seem to remember someone talking about proposing an ```ember troubleshoot``` or similar command to ember-cli that would look at the system and figure out what might be wrong with the environment (old NPM, etc)

[2015-03-28 03:58] bsclifton commented on #120
Looks and works great when running locally w/ Middleman. I also ran a middleman build and looked at the output, it looks correct: ```<a href="http://kangax.github.io/compat-table/es6/">``` compared to https://github.com/emberjs/guides.emberjs.com/blob/master/snapshots/v1.11.0/ember-cli/glossary/index.html.  @trek, can you try rebuilding?

[2015-03-28 04:04] IanVS opened #125 "`enter` key on search doesn't trigger a search for the current term"
Entering a search term and pressing enter seems to simply add an empty query parameter to the URL (e.g. `http://guides.emberjs.com/v1.11.0/?`) and refresh the page.

If an item is chosen from the dropdown, it works as expected and transitions to the correct page.

[2015-03-28 05:12] michaelrkn commented on #82
Thanks for helping out with this, @kellysutton!

[2015-03-28 11:56] Serabe commented on #81
In first place, sorry for taking me so long to come back to this issue. I've been sick in bed and even now I cannot spend too much time in front of my computer.

About the issue, I know that the deprecation warning is still there. Since Ember.js does generates an ObjectController when no explicit controller is found, I think keeping the documentation about that fact but adding a deprecation warnin

[2015-03-28 12:55] #82 closed

[2015-03-28 14:31] michaelrkn commented on #91
I've got some time to work on this over the weekend, but I want to make sure nobody has a problem with it before I sink a bunch of time into it. Any feedback before I get started?

/cc @trek @rwjblue

[2015-03-28 16:42] bsclifton commented on #2
@tundal45 I got the code working pretty nicely- you can fork off https://github.com/bsclifton/middleman-swiftype

The test cases are the part I'm having problem with :( Any help is much appreciated!

[2015-03-29 07:03] thejameskyle opened #131 "Remove usage of "resources" in naming conventions"
Moving from https://github.com/emberjs/ember.js/issues/10708.

[2015-03-29 23:55] trek commented on #91
I'd hold off on doing actual writing until we have time to review/respond. Unsolicited large changes to documentation, like unsolicited large changes to code, has a low likelihood of being merged, especially when there are multiple contributors all working around the same area.

We'd need a significantly longer outline before we could :+1: work that makes large organizational changes like you're p

[2015-03-30 04:44] michaelrkn commented on #91
Well I already did a bunch of stuff on it this morning :) But I'm totally happy to make changes if you don't like what I've done. Check out #135 and let me know what you think.

[2015-03-30 12:14] trek opened #138 "Reaudit Routing Guides"
There are many find/replace errors:

- [x] check every file
- [x] use type-style folders
- [x] republish v1.11.0 to divshot

[2015-03-30 15:11] michaelrkn commented on #91
Also, to make it easier to review this, I've created an outline to show how I ended up organizing things, as they're slightly different from what I originally proposed above:

* Before You Start
  * Key Background Concepts (see #85)
  * Core Concepts (from `/source/concepts/core-concepts.md`)
  * Other Terms (from `/source/ember-cli/glossary.md`)
  * Installing Ember (mostly from `source/ember-cli

[2015-03-30 17:36] stefanpenner opened #146 "GIT is a dependency for ember-cli (because of bower)"

[2015-03-30 22:49] trek commented on #120
This appears to be fixed on master. Thanks!

[2015-03-30 22:49] #120 closed

[2015-03-30 22:55] trek commented on #91
@michaelrkn we obviously appreciate the effort, but there is simply higher priority guides work for 2.0 right now including getting the syntax highlighting working, replacing the getting started app, a visual redesign, removing references to Object/ArrayController, etc.

This means there just isn't time to review large unsolicited additions/reorganizations right now. You're welcome to keep working

[2015-03-30 23:07] michaelrkn commented on #91
I'd love to help with that, and I'm sorry to have put my efforts into low-priority work here.

The only things I see highlighted as "help wanted" are #10 and #2, both of which seem like other people have already taken on. #31 looks important to me, but the last comment on there you're saying to hold off on it. I don't see issues for syntax highlighting or replacing the getting started app, removin

[2015-03-31 00:26] Serabe commented on #131
@trek I can take care of this so you have more time to look at PRs and issues if you are busy.

[2015-03-31 02:32] trek commented on #131
It's already done! #142

[2015-03-31 02:32] #131 closed

[2015-03-31 04:22] bsclifton commented on #2
Progress made; Submitted https://github.com/LeonB/middleman-swiftype/pull/6

To update the checklist, this item was closed a while back: ``` Provide a  swiftype:generate  command that outputs a  search.json  file```

This PR when accepted will update this item: ```search.json  file goes into the  build  directory on  middleman build  and  middleman server```

Need help w/ the testing. The tests ar

[2015-03-31 04:26] bsclifton commented on #91
@michaelrkn if you're familiar with cucumber (or if you're up for rewriting the tests w/ RSpec), maybe you can help me close out #2? The plugin works great, these steps are basically cleaning up the plug-in so it's done the right way.  The PR I submitted hasn't been accepted yet, so you can fork off my branch if needed

[2015-03-31 05:19] zhengjunwei commented on #91
would you please share a lazy package of all,some times the internet is very slow ,and i am not sure when the ember is ready,and i just can not wait to so many time every time.

[2015-03-31 05:22] zhengjunwei opened #152 "i can not understand the fast boot"
would you plearse share us a diagram of fast boot,i can not understand it from the descriptions.thank you !!!

[2015-03-31 06:26] zhengjunwei opened #153 "can you tell me when to use this code ?"
[code]

hmm,i dont know in what situation ,i need to import another controller

[2015-03-31 08:33] zhengjunwei opened #154 "a 404 error page of guides"
[see this page of understanding ember.js](http://guides.emberjs.com/understanding-ember/keeping-templates-up-to-date)

[2015-03-31 12:15] trek commented on #154
Can you tell us where you the link that lead there? The 404 in itself isn't actionable as that page does exist correctly in the each revision of a guide: http://guides.emberjs.com/v1.10.0/understanding-ember/keeping-templates-up-to-date/

[2015-03-31 12:15] trek commented on #153
Stackoverflow is a great place for questions like this.

[2015-03-31 12:15] #153 closed

[2015-03-31 12:15] trek commented on #152
Fastboot isn't a feature that is in Ember.js yet.

[2015-03-31 12:15] #152 closed

[2015-03-31 17:51] michaelrkn commented on #2
@bsclifton I'll see if I can sort anything out with Cucumber. I'm more familiar with RSpec, too, but I've got some time to take a crack at it.

[2015-03-31 17:53] bsclifton commented on #2
Converting the tests to RSpec is always an option too :+1:

[2015-03-31 17:54] michaelrkn commented on #2
Yeah, I'll just do that unless there's a reason to use Cucumber. I see two specs in there currently; are those the only things that need tests at the moment? If there's more that needs testing, is there a place to see what, or a good way to figure it out?

[2015-03-31 18:05] bsclifton commented on #2
The cucumber tests might be OK to leave there since they do test that running the given commands fires the plugin.  We could just then add a third test which does ```middleman build``` and then expects the search.json to be there (this is the new functionality).

With RSpec, I'd think you'd be good to go unit testing the new helper class:
https://github.com/bsclifton/middleman-swiftype/blob/master

[2015-03-31 18:23] michaelrkn commented on #2
When I run `$ cucumber` from the project root, I get `unable to find ./middleman-swiftype.gemspec for gem middleman-swiftype (Gem::GemNotFoundException)`. Any suggestions?

[2015-03-31 18:42] bsclifton commented on #2
Hate saying this, but works for me?  Here's what I did (running on Cent OS 6.6):
[code]

[2015-03-31 18:45] michaelrkn commented on #2
Just cloned to a Nitrous box and didn't get those errors, so must be my machine.

I get a new one though: `/home/action/.gem/ruby/2.1.3/gems/swiftype-1.1.0/lib/swiftype/request.rb:55:in `handle_errors': Swiftype::InvalidCredentials (Swiftype::InvalidCredentials)`. Where should I set those credentials? Should I make a Swiftype account of my own for testing?

[2015-03-31 18:52] bsclifton commented on #2
Perfect, that means it's working!
We could setup a test account- the config it's using right now [lives here](https://github.com/bsclifton/middleman-swiftype/blob/master/fixtures/swiftype-app/config.rb)

I tried to stub the test out (so it doesn't actually call out to Swiftype for real).  Unfortunately, I wasn't able to figure it out.  You can create [step definitions](https://github.com/bsclifton

[2015-03-31 21:44] michaelrkn commented on #2
Okay, I'm about ready to give up on Cucumber. I've tried everything I can think of, and while it looks like the step definition is getting called (I can see output when I `puts` something from there), it doesn't look like any stubs I define there are actually getting used in the app. I threw something up on SO to see about getting some help: http://stackoverflow.com/questions/29378634/rspec-stub-n

[2015-03-31 23:31] michaelrkn commented on #2
I went ahead and just installed the gem on my system with:

[code]

Although that doesn't really feel in the spirit of having tests that can run in isolation.

Now I'm getting:

[code]

It seems like Cucumber is somehow setting up this "fixture app", but I don't see how that is being done, or how it helps this error.

I've tried cd'ing to the fixture app in my tests:

[code]

But this doesn't seem

[2015-04-01 01:41] michaelrkn commented on #91
I'm going to close this and submit a PR for some of the more straightforward and urgent stuff I did around Ember CLI.

[2015-04-01 01:41] #91 closed

[2015-04-01 02:37] bsclifton commented on #2
@michaelrkn I fixed the above issue w/ https://github.com/bsclifton/middleman-swiftype/commit/8bd5518d51422a0705693af46159c784fb8a0f5d (you can go ahead and sync w/ my branch)

I never hit that code path I guess? It was trying to evaluate "#{settings.url}", which wasn't defined.

With RSpec, it should be easy enough to stub out the methods that the code is calling.  I put together a quick RSpec ex

[2015-04-01 20:38] michaelrkn commented on #2
Okay, I've got a working spec: https://github.com/michaelrkn/middleman-swiftype/commit/1bcf6a8f6e82189f57497bf51eb441269675c599

It's not good, but it works.

Problems:

* It works even after I've commented the `create_or_update_document` stub, even with the internet off. I'm worried this is a bad thing but hoping it's a good thing. I'm too crazy from winding through the code so much over the past

[2015-04-02 06:06] ryanmurakami opened #165 "emq.globalize() reference is no longer valid"
The current version of Ember-Qunit no longer uses the .globalize() function:
https://github.com/rwjblue/ember-qunit/commit/8b586de3a36d1ea52d9d82d9de848166f07eb2fd

Currently in both 1.11 & 1.10, the Unit Test Helpers article still instructs users to call this function:
http://guides.emberjs.com/v1.10.0/testing/unit-test-helpers/
http://guides.emberjs.com/v1.11.0/testing/unit-test-helpers/

This i

[2015-04-02 13:12] trek commented on #146
Not sure the guides can solve that :p

[2015-04-02 13:12] trek commented on #81
closing in favor of #90

[2015-04-02 13:12] #81 closed

[2015-04-02 13:52] rwjblue commented on #165
Thanks for the pull requests! We also need `master` updated...

[2015-04-02 15:46] alexblakemore opened #169 "missing/weird links in guides v1.11.0"
First, it would be helpful if the installing ember page in the guides had a link to http://www.ember-cli.com

That's a very important site with documentation that isn't available elsewhere. I'd mention it right up top when talking about installing ember-cli, but you could put it a little further on. Figuring out ember-cli from the --help text alone is pretty cryptic.

Second, in the same section,

[2015-04-02 17:51] ryanmurakami commented on #165
Ready to go!

[2015-04-02 18:06] rwjblue commented on #165
Fixed in all branches, closing now....

[2015-04-02 18:06] #165 closed

[2015-04-02 20:06] bsclifton commented on #2
@michaelrkn thanks for hanging in there- the spec can be stripped even further down:
https://gist.github.com/bsclifton/13bca52dfb12d60672b6

This works basically the same as running the working Cucumber test (just using RSpec). Still there's the issue of testing regular path (pushing to Swiftype).  The reason it works even without the stub is because it's never being used.  The `fixtures\swiftype-

[2015-04-02 22:56] michaelrkn commented on #2
The trouble with removing

[code]

is that if you don't have the gem already installed, the spec will fail with

[code]

[2015-04-02 23:15] michaelrkn commented on #2
I just figured out why the stub doesn't work. I changed my test:

[code]

And then changed and rebuilt the gem:

[code]

And when I run the test, there's no `'pie'`:

[code]

When you run something from the command line (or in our case, through `system`), it's being run by a different instance of `ruby` than the `ruby` that's running our tests. We're only stubbing the methods in our test, but we c

[2015-04-02 23:58] bsclifton commented on #2
That would totally work- basically unit testing it instead of doing an integration test.  You can create an instance of the Middleman::Cli::Swiftype object and then execute both the after config and after build code paths :smile:

[2015-04-03 00:02] michaelrkn commented on #2
I'm very close! Hopefully will have something to push up soon.

[2015-04-03 00:32] michaelrkn commented on #2
Okay, I need to take a break, but here's where I'm at:

[code]

The `task.options` bit doesn't actually seem to be passing in the options, but other than that, it works.

And stubs work! Instead of using `Dir.chdir`, you can do:

[code]

At the moment, this doesn't do anything, because it doesn't find `index.html`, so there's nothing to generate. But it might be cleaner than using a fixture app? N

[2015-04-03 02:10] michaelrkn commented on #2
Got the first part!

[code]

[2015-04-03 03:10] bsclifton commented on #2
Awesome, great job! :)

[2015-04-03 12:07] #138 closed

[2015-04-03 23:00] kentaro0919 opened #188 "Translate to other languages."
For non English speaker it is nice to be able to read in your own language.
If we use https://www.transifex.com , we can add translation to the guide.
It is free for open source.

[2015-04-04 04:39] michaelrkn commented on #2
Done! PR opened.

[2015-04-04 05:07] michaelrkn commented on #169
I agree that there's not enough info on ember-cli yet. I think the plan is to move all of the ember-cli.com info over to the docs. There are already a couple open issues and pull requests beginning to address this.

The link to NPM should jump you down to the bottom of the page, where there is a bit more info about how to install Node.

[2015-04-04 13:13] #154 closed

[2015-04-04 13:29] trek commented on #188
The idea of translating has come up multiple times over the years but nobody has pitched specifically how this will work. The old guides changed very frequently, an previously translation efforts in the community were not able to keep up.

Versioned guides mitigate this problem somewhat – once a guide is published we leave its content in place – but open up a new problem: The entire set of guides

[2015-04-04 16:04] hugovieilledent opened #193 "This Guide one pager to export as .mobi .pdf etc."
This guide is currently on several pages.
Any solution to merge all in one page so I can export this to my Kindle?

Thanks!

[2015-04-04 16:13] #117 closed

[2015-04-04 16:33] bsclifton commented on #2
@trek this issue should be closed when https://github.com/emberjs/guides/pull/194 is merged; can you please re-check against the original checklist above? :smile:

[2015-04-04 18:23] HeroicEric opened #196 "Block params version of each"
[Templates: Displaying a List of Items](http://guides.emberjs.com/v1.11.0/templates/displaying-a-list-of-items/) doesn't mention anything about using block params with the `each` helper.

Should the current examples be updated to use block params or should block params be shown in addition to the `each .. in ..` version?

[2015-04-04 18:37] rwjblue commented on #196
Each...in is deprecated (or will be very soon) in 1.12.0-beta.2 (along with with..as). We should definitely make sure we are not using the deprecated syntax in these guides.

[2015-04-04 21:02] HeroicEric commented on #196
Closing this since those ^^ were merged

[2015-04-04 21:02] #196 closed

[2015-04-04 21:07] trek commented on #100
This is now mentioned in the guides.

[2015-04-04 21:07] #100 closed

[2015-04-04 21:08] trek commented on #2
Looks good. We'll just open new issues if they come up

[2015-04-04 21:08] #2 closed

[2015-04-04 21:09] michaelrkn commented on #193
The Guides are in a [Middleman](http://www.middlemanapp.com/) app, and there doesn't appear to be a PDF exporter in the [extension directory](https://directory.middlemanapp.com/#/extensions/all). You should write one :)

[2015-04-04 21:11] trek commented on #193
This currently isn't available. We try to keep Issues to actionable items. If you'd like to write a longer issues describing how this could be implemented, please feel free to open a new issue.

[2015-04-04 21:11] #193 closed

[2015-04-04 21:31] trek commented on #188
Closing this for now, as it's known desired feature, we just need a contributor to do the work or write up a plan of action.

[2015-04-04 21:31] #188 closed

[2015-04-04 23:53] Serabe commented on #79
@michaelrkn I didn't get any suggestion from the people in the meetup but I got a couple of them from a colleague starting with Ember: CSP and Semver.

[2015-04-05 05:54] varblob opened #205 "When you change ember versions it would be nice if you could stay on the same section of the guide"
I've taken to manually changing the url instead of using the dropdown.

[2015-04-05 11:51] trek commented on #205
If you'd like to write up a proposal for how this would work at technical level. This has been proposed before but nobody has said how we'd detect that a guide has been removed between versions and how you'd inform the user.

[2015-04-05 11:51] #205 closed

[2015-04-05 13:15] varblob opened #206 "[Proposal] When you change ember versions try to stay on the same section of the guide"
Currently when you change the version of the ember guide it resets you to the root of the guide, which is not ideal.

I have a couple proposals for how to try and approach this with the full expectation that my understanding of how things are setup maybe totally wrong.

# The simple fallback approach

When a user switches version attempt to match based on the title of the guide, if this fails matc

[2015-04-05 16:47] michaelrkn commented on #79
@Serabe Thanks a bunch! Semver seems like a really good one; I've added it. I searched the Guides and didn't see any places where CSP is referenced, so I think that's probably more "good-to-know" than "crucial background knowledge".

[2015-04-06 02:23] trek commented on #206
Hey @varblob we'd need to see concrete details on how something like this can be implemented to demonstrate the idea has been thought through at a technical level. It's a good idea, but needs _actionable_ steps for people help out or :+1: the work.

There are _many_ technical questions that would need identifying and answering before we could do this.

e.g.

Match where? Where is this data stored

[2015-04-06 12:07] Serabe commented on #79
Last week, I had a designer panicking because there were a huge error in the application and it was due a chrome extension adding some inline styles.

[2015-04-06 13:05] varblob commented on #206
I totally understand the need for more detail I'm hoping this is the place to try and get there.

I will poke further at this in the evening.  Do you think you could point me towards a good entry point to try and understand better what is being done at the moment especially around how the mds are served up?

[2015-04-06 14:51] trek commented on #206
When we're ready to snapshot a version we run `middleman build` and move the resulting folder to https://github.com/emberjs/guides.emberjs.com as a "snapshot",  which is published to divshot.

[2015-04-06 15:09] igorT commented on #206
Maybe the simplest approach that would cover most of the cases would be:
1. When generating the links to other versions, append the current guide url to the link:
    So if you are on `http://guides.emberjs.com/v1.10.0/routing/query-params/` the dropdown to 1.11.0 would link to `http://guides.emberjs.com/v1.11.0/routing/query-params/`

2. Amend our 404 page to flash a message that the guide was no

[2015-04-06 23:02] trek commented on #206
Middleman/this repo is unaware of specific, but I think this approach is doable with some regexp trickery in https://github.com/emberjs/guides/blob/master/source/javascripts/app/guides/version-select.js.erb

[2015-04-07 00:08] varblob commented on #206
I think I can take a whack at this but I'm not entirely sure how I should setup the divshot bit.  It seems I would need that to be able to test the version switching?  I cloned this repo but the urls don't include the version info.

[2015-04-07 17:45] ahnbizcad opened #213 "version 1.11.x absent"
I git cloned, and git pulled, but when I open the app in localhost, only 1.10.0 and 1.9.0 are available.

[2015-04-07 23:13] varblob commented on #213
Look at the branches.
The whole repo gets snapshotted and put into https://github.com/emberjs/guides.emberjs.com and then served from there.

[2015-04-08 12:47] ryanjm opened #214 "Clarification on Rendering with Helpers"
Small confusion on this [page](http://guides.emberjs.com/v1.11.0/templates/rendering-with-helpers/).

It first states:

Then states:

Then it gives an example where the code is:

[code]

In this case `render` gets two arguments, including a model. The description for this section states:

I believe this is wrong. I believe that it should be "Creates a unique instance of AuthorController". I think

[2015-04-08 12:50] ryanjm commented on #214
Also, on this page, it would be helpful in the "COMPARISON TABLE" to include `{{outlet}}` since it was just stated that they are similar.

I think another paragraph further explaining when you would use `{{outlet}}` vs `{{render}}` would be super helpful.

[2015-04-08 13:32] trek commented on #206
Correct. This project is not aware that the guides are versioned. It only knows about itself. That is the tricky bit.

[2015-04-09 15:24] trek commented on #213
@varblob is correct. We store snapshots elsewhere. The stub JSON file for versions is just so developers can contribute to the code around versions switching.

[2015-04-09 15:24] #213 closed

[2015-04-09 20:42] #79 closed

[2015-04-10 08:05] oskarrough opened #221 "Offline version"
How about making an offline version? Would be great. I see this unofficial one: https://leanpub.com/emberjsguides

Not sure how you build the docs but we could compile an .html file with all chapters in a single page or generate a .pdf?

[2015-04-10 17:44] trek commented on #221
This is a great idea! We try to make Issues actionable with clear next steps. Can you open a new issue that lays out a plan with technical details of how we'd automate this process?

[2015-04-10 17:44] #221 closed

[2015-04-12 14:51] michaelrkn opened #222 "The "edit" button may lead to a 404"
If a page has been renamed or moved since a release, the "edit" button that looks like a pencil in the upper right corner will lead to a 404, eg http://guides.emberjs.com/v1.11.0/ember-cli/.

[2015-04-12 17:29] sivakumar-kailasam commented on #10
@trek anything on this list I can help with?

[2015-04-12 17:42] jpoehls opened #223 "Contribute link on cookbook intro is 404"
URL that returns 404 is `http://guides.emberjs.com/guides/cookbook/contributing`.

Screenshot of http://guides.emberjs.com/v1.11.0/cookbook/
![ember_js_-_cookbook__introduction](https://cloud.githubusercontent.com/assets/72149/7106732/473599e8-e111-11e4-9731-c2feab66f5e2.png)

[2015-04-14 22:57] Kilowhisky opened #235 "Actions.md broken links"
Didn't know quite the right place to report this.

This is giving a 404:
http://guides.emberjs.com/images/template-guide/action-bubbling.png

This link is dead:
http://guides.emberjs.com/guides/understanding-ember/the-view-layer/#toc_adding-new-events

[2015-04-15 02:15] varblob commented on #206
Just a bump to say I would still be keen to work on this but could use some guidance on how to setup so I can test given divshot.  If it would be more useful to just make a go of it and submit the pr, I can do that to.

[2015-04-15 04:56] IanVS commented on #235
That same dead link is also on http://guides.emberjs.com/v1.11.0/templates/actions/#toc_specifying-the-type-of-event

[2015-04-15 15:42] dpdawson opened #236 "getting-started/glossary.md broken link"
I'm not sure where the issue lies, because the markdown seems to be parsed correctly on Github, but the following link is broken at http://guides.emberjs.com/v1.11.0/ember-cli/glossary/:

* [ES6 support](http://kangax.github.io/compat-table/es6/)

It has a double quotation mark (%22 actually) appended to the end of the linked url.

[2015-04-15 15:52] Dhaulagiri commented on #236
This was fixed by #113

[2015-04-15 16:28] dpdawson commented on #236
My bad. The file was renamed and I didn't see that commit in the history.

[2015-04-15 16:28] #236 closed

[2015-04-15 16:29] Dhaulagiri commented on #236
Yeah, it confused me too for a second there as well @dpdawson

[2015-04-16 20:21] ryanmurakami opened #237 "ObjectController is deprecated in v1.11"
ObjectController is being removed in 2.0. As of 1.11, Ember has deprecated ObjectController:
http://emberjs.com/deprecations/v1.x/#toc_objectcontroller
There is also deprecation messaging being logged for v1.11.

The 1.11 guides still suggest to use ObjectController:
http://guides.emberjs.com/v1.11.0/controllers/representing-a-single-model-with-objectcontroller/

Should the 1.11 guides show the co

[2015-04-16 20:26] ryanmurakami commented on #237
Looks like there are already PRs for this.

[2015-04-16 20:26] #237 closed

[2015-04-17 03:06] dpdawson commented on #214
I think it would also be more clear if it included the AuthorController code with the author object defined.

[2015-04-17 14:11] jdhines opened #238 "Clarification Needed on Testing Setup"
Maybe it's just because I'm having what feels like an unreasonably hard time understanding how to get testing started, but in reference to the [Integration Tests](http://guides.emberjs.com/v1.10.0/testing/integration/) page, where do those first three things, starting with `App.rootElement = ...` go? It doesn't say, and maybe it's obvious to a long-time user, but to someone like me reading the gui

[2015-04-17 15:05] jdhines commented on #238
Is App.rootElement not needed in 1.11?

[2015-04-17 15:42] nicolechung commented on #235
I'd like to fix this, but I'm a little confused about where (i.e. tag or master) to fix these.

[2015-04-17 15:44] trek commented on #235
Master.

[2015-04-17 15:45] nicolechung commented on #235
Ok will do. Give me the weekend.

[2015-04-18 20:47] jpadilla commented on #235
Those dead links should probably link to http://emberjs.com/api/classes/Ember.View.html#toc_event-names now

[2015-04-19 12:50] #125 closed

[2015-04-20 01:23] dpdawson opened #242 "Missing understanding-ember/keeping-templates-up-to-date (404)"
http://guides.emberjs.com/understanding-ember/keeping-templates-up-to-date is returning a 404 and is missing from the repo.

[2015-04-20 18:32] markhealey opened #247 "Extra quotes on ES6 link (leads to 404)"
Small one: found a [link](http://guides.emberjs.com/v1.11.0/ember-cli/glossary/#toc_es3-es5-es5-1-es6-aka-es2015-etc) that leads to a 404 because it is malformed. Looks correct in the [Markdown source](https://github.com/emberjs/guides/blob/master/source/getting-started/glossary.md#es3-es5-es51-es6-aka-es2015-etc), however.

![screen shot 2015-04-20 at 12 29 22 pm](https://cloud.githubusercontent.

[2015-04-20 19:07] Dhaulagiri commented on #247
This was fixed by #113.  I'm not sure what the delay is in seeing these changes deployed to the live docs (maybe related versioning?), so maybe @trek can comment on that?

[2015-04-20 21:28] trek commented on #247
They're on master, which will become the 1.12 guides. our goal is to avoid needing to make corrections to past guides

[2015-04-20 21:28] #247 closed

[2015-04-20 21:29] trek commented on #242
Can you tell us where you found a link to this?

[2015-04-20 23:56] dpdawson commented on #242
Under Understanding Ember.js in the sidebar of every page.

[2015-04-21 12:14] varblob opened #248 "Cookbook recipes that involve ember-cli?"
Ember NYC is going to be doing a cookbook project night that I'm helping to organize http://www.meetup.com/EmberJS-NYC/events/221989248/

I'm pulling a list together of recipes from http://discuss.emberjs.com/t/call-to-newbies-and-former-newbies-for-your-cookbook-wishlist/7545

Some of these issues are related to ember-cli, should we avoid references to ember-cli?  I know there is the long term in

[2015-04-21 14:10] trek commented on #242
For which versions?

[2015-04-21 14:11] dpdawson commented on #242
1.11.0

[2015-04-21 14:34] trek commented on #248
We're also don't plan on including cookbooks in the 2.0 guides or new recipes in the current guides. This is better handled by the community via blog posts and aggregation (lists like EmberSherpa/Ember Weekly).

Removing them allows us to focus on the core guide experience and allows the community to experiment with various solutions to more complex problems.

I'd refocus the event on writing a go

[2015-04-21 14:34] #248 closed

[2015-04-21 15:07] trek commented on #242
Was fixed on master. I've fixed on v1.11.0 and republished.

[2015-04-21 15:07] #242 closed

[2015-04-21 15:38] varblob commented on #248
Aha, very good to know.  Thanks for getting back quickly.

[2015-04-21 19:44] trek opened #249 "Fail tests when data/guides.yml references guides that don't exist"
We recently removed a guide but neglected to remove its entry from the `data/guides.yml` file, which lead to broken links.

Interestingly https://github.com/emberjs/guides/blob/7ba7f4bfdab0bd4bf7176fbbbc1fdefeeba40656/lib/toc.rb#L48 would still generate a url, but without the version slug included.

We should detect attempts to link to missing guides or chapters and fail the build

[2015-04-22 17:17] eostrom opened #251 "app.js introduced but not explained in naming-conventions.md"
http://guides.emberjs.com/v1.11.0/concepts/naming-conventions/ says that on boot Ember looks for three modules, including `app/app.js`. The other two modules are then described by the text, but `app.js` is not. The text does describe `app/routes/application.js`, which should probably be included in the list of modules.

My guess is that `app/app.js` should just be changed to `app/routes/applicatio

[2015-04-22 20:35] kpfefferle commented on #251
@eostrom `app/app.js` is auto-generated by ember-cli when creating a new project:
[code]

[2015-04-22 20:53] eostrom commented on #251
Thanks. In this context, the document is talking about what Ember looks for at boot time, and what it does with what it finds. It renders the template in `application.hbs`, and instantiates the controller in `application.js` (if any). I think if the documentation mentions `app.js`, it should say something about what it's for; maybe just say it's the Application, and link to the Application page.

[2015-04-26 06:25] michaelrkn commented on #206
@varblob there don't seem to be any automated tests currently for the JS. For manually testing, you could just make sure that it takes you to the URL you expect - eg, if you're at `http://localhost:4567/models/defining-models/` and then select 1.9 from the drop-down, the URL should become `http://localhost:4567/v1.9.0/models/defining-models/`. You'll see a 404 on the page, of course, but it will w

[2015-04-27 15:47] #249 closed

[2015-04-28 22:35] nicolechung commented on #206
It looks like it's just jQuery in the erb file. Can't you just do something like:

[code]

[2015-05-01 13:07] raindev commented on #222
I've encountered the same errors. However it looks like the link has been fixed in the `master` already and the app just hasn't been deployed since then. See [here](https://github.com/emberjs/guides/blob/master/lib/toc.rb#L98).

[2015-05-02 04:11] laantorchaweb opened #277 "JSBIN not working on specifying a routes model"
If you enter this page (v1.10 or v1.11):

http://guides.emberjs.com/v1.11.0/routing/specifying-a-routes-model/

The first JSBIN on the page is trying to get this script:

http://builds.emberjs.com/ember-latest.js

![ember_js_-_routing__specifying_a_route_s_model](https://cloud.githubusercontent.com/assets/930943/7439862/907da20c-f067-11e4-9829-e9e389cea971.jpg)

But this URL is throwing a 404.

![

[2015-05-03 03:25] cromwellryan opened #279 "Missing Tags and Package.json"
I'm looking into auto publishing guides via travis and divshot cli.  I noticed that two parts of the docs in `master` seem a bit off.  Trying to figure out if I can rely on them.

First, [publishing](https://github.com/emberjs/guides#publishing) suggests tags are created for each release of guides.  I'm not seeing [any tags](https://github.com/emberjs/guides/tags).

Second, it looks like there is

[2015-05-03 06:57] michaelrkn commented on #10
I'm going to take this up:

- [x] I've started by opening a PR to clean up the tests.
- [ ] Next, I'm going to focus on refactoring the code and adding missing tests.
- [ ] Then, I'll pull out the Ember-specific code, and change names as necessary to not be tied to Ember. What's left should be suitable to turn into a general-purpose gem.
- [ ] Finally, I'll pull out `toc.rb` and `toc_spec.rb` into

[2015-05-03 18:25] mostwanted1976 commented on #235
still broken:

http://guides.emberjs.com/v1.10.0/templates/actions/ > "listed in the View guide"

[2015-05-05 14:13] nicolechung opened #282 "Update Dependency Injection and Service Lookup with 1.10 features"
1. It would be nice to see examples of how to create and use Ember services, kind of like in this post:
http://stackoverflow.com/questions/27932790/how-to-do-dependency-injection-in-ember-with-ember-cli

2. Also nice to see more examples of how to inject services, in particular the ```Ember.inject.service()``` from 1.10:
http://emberjs.com/blog/2015/02/07/ember-1-10-0-released.html

[2015-05-07 05:53] baijum opened #287 "templates/development-helpers - breakpoint and helper attributes and get function"
When using `{{debugger}}` helper inside template, the browser console get two helper attributes and `get` function. This message is displayed in the console:

[code]

However, the current document gives different attribute names: `templateContext` & `typeOfTemplateContext`

[2015-05-07 09:58] rinti opened #288 "The anchor link image to headers is broken"
I recently wanted to link to a specific part in the guides, but couldn't find an anchor link anywhere.
After futher investigation there is one, but the image is broken.

`a.toc-anchor` has `background: url("/images/link.png") no-repeat;` but the image is now in `/images/<specific ember version>/link.png` like so: http://guides.emberjs.com/v1.11.0/images/link.png

[2015-05-07 10:00] rwjblue commented on #288
Would you mind making a PR to make the link relative?

[2015-05-08 08:45] thecodejack opened #293 "Image link is broken"
Unable to load the image related to actions bubbling missing from http://guides.emberjs.com/v1.11.0/templates/actions/.

Broken Link:
http://guides.emberjs.com/images/template-guide/action-bubbling.png

[2015-05-08 15:34] pedrojvrccosta opened #294 "installation guide improvement"
Installation instructions needing update.

I just finished installing Ember following the instructions provided in the site and I faced an issue related to the version of nodejs to be installed. There is said to have the 0.10.xx and the steps to get it are there. Then is the installation of ember-cli and other tools. And here, the nodejs version required is 0.12.xx. Not knowing what was happening,

[2015-05-10 07:18] dd1994 opened #295 "a broken link"
In page http://guides.emberjs.com/v1.11.0/models/

the link to "Specifying a Route's Model" is broken.

[2015-05-10 07:28] dd1994 opened #296 "maybe typo"
in page: http://guides.emberjs.com/v1.11.0/models/

the " [Ember Data][emberdata]" maybe typo.

[2015-05-11 03:42] igorT opened #297 "Link 404 for rc6 blog post"
Link on http://guides.emberjs.com/v1.10.0/routing/asynchronous-routing/  that says `RC6 Blog Post describing these new features` and points to
http://guides.emberjs.com/blog/2013/06/23/ember-1-0-rc6  404s

[2015-05-13 02:55] AndrewC73 opened #301 "Broken Glossary Link to ES6 Support"
There is a typo in the link for ES6 Support in the "ES3, ES5, ES5.1, ES6 (aka ES2015), etc" section on this page:

http://guides.emberjs.com/v1.11.0/ember-cli/glossary/

The link has a trailing " on the end of it that needs to be removed. The current link is:

http://kangax.github.io/compat-table/es6/"

The actual link has no " on the end:

http://kangax.github.io/compat-table/es6/

[2015-05-15 20:48] Robdel12 opened #305 "Broken link for enumerables"
Looks like a link for prototype extensions is broken due to it redirecting to a versioned guide:

http://guides.emberjs.com/v1.11.0/enumerables/#toc_enumerables-in-ember-js

**What's expected:**

Link takes you to a versioned guide like:
http://guides.emberjs.com/v1.10.0/configuring-ember/disabling-prototype-extensions/

**Actual:**
Link takes you to a 404 page:

http://guides.emberjs.com/configur

[2015-05-17 22:19] erbridge opened #309 "Search doesn't work."
Go to http://guides.emberjs.com/v1.11.0/, type something into the search bar, and hit return. The page refreshes and the url changes to http://guides.emberjs.com/v1.11.0/?, but no searching happens.

[2015-05-21 18:57] jclem opened #313 "Observers are "synchronous" but with a caveat."
Take this jsbin as an example: http://jsbin.com/fisuxucoko/1/edit

The guides state that [observers are synchronous](https://github.com/emberjs/guides/blob/b5b2f5194823c2030eedd43eb472c1751caf898b/source/object-model/observers.md#observers-and-asynchrony), but kind of skip over how they actually behave inside of a run loop.

Say I'm developing an addon that makes use of observers, but doesn't real

[2015-05-22 02:20] rwjblue opened #314 "Correct input helper guide information on actions."
https://github.com/emberjs/guides/blob/master/source/templates/input-helpers.md#actions should be updated, and not suggest `on="foo-event" action="blahActionName"`.

We should instead recommend:

[code]

[2015-05-23 08:55] oskarrough commented on #314
In that case, how do you specify the type of event inline?

[2015-05-23 14:09] joostdevries opened #317 "Remove references to DS.FixtureAdapter"
See emberjs/data#2804 and emberjs/data#3091

[2015-05-23 14:19] eliotsykes opened #318 "Custom 404 page not being served, get Divshot generic 404 page"
http://guides.emberjs.com/page-does-not-exist serves the Divshot generic 404 page. Expected to see the page from `guides/source/404.html.erb`

[2015-05-24 19:32] Serabe commented on #238
1.10 guide wasn't migrated to ember cli yet.

[2015-05-25 09:37] gowikel opened #323 "Broken link in Installing ember guide"
The installer ember guide (http://guides.emberjs.com/v1.11.0/ember-cli/) have a link at the botton called Ember.js guides, that must go to (http://guides.emberjs.com/v1.11.0/) but it goes to (http://guides.emberjs.com/index/.html).

[2015-05-26 06:52] adamniedzielski opened #324 "TodoMVC tutorial is hard to find for newcomers"
I wanted to re-read TodoMVC tutorial, but had difficulties when trying to find it.

http://guides.emberjs.com redirects to http://guides.emberjs.com/v1.11.0/ and there is nothing about the tutorial in "Getting started" section. You have to change to version 1.10.0 to find the tutorial.

I believe that this tutorial was a primary learning resource for beginners. It can be worth to point to 1.10.0 v

[2015-05-26 15:19] benkonrath opened #325 "v1.12.0 of the guides not deployed"
Are there any plans to deploy v1.12.0 of the guides?

[2015-05-26 23:38] Serabe commented on #31
What happened with this issue?

[2015-05-26 23:40] Serabe commented on #146
@stefanpenner if this is not addressed by #190, please explain a bit more the issue so we can help.

[2015-05-27 09:47] #317 closed

[2015-05-27 14:52] Dremora opened #328 "Improve Loading / Error Substates page"
[This page](http://guides.emberjs.com/v1.11.0/routing/loading-and-error-substates/) talks about `loading` event and has a call to `displayLoadingSpinner()` included in two of its snippets. This is exactly what I'm trying to do — however, there's no mention on how this function could be implemented (not to mention is should probably be a method). I can't figure out how to access controller from wit

[2015-05-30 13:09] nicolechung commented on #309
To me the search works, but there is a *huge delay* (it takes about 30 seconds before the autosuggest starts populating with results).

[2015-05-31 10:26] F21 commented on #325
Would love to see it deployed too.

[2015-06-02 11:28] prikhi commented on #301
This can be closed, it was fixed in a9153d29

[2015-06-02 11:41] #301 closed

[2015-06-02 11:41] rwjblue commented on #301
Thank you!

[2015-06-02 11:49] prikhi commented on #295
This can be closed, it was fixed in 5266b4d8

[2015-06-02 11:52] prikhi commented on #293
This can be closed, it was fixed in c8e43975

[2015-06-02 12:00] prikhi commented on #235
This was fixed & can be closed? Just needs #325 so that it'll show up.

[2015-06-02 12:01] prikhi commented on #296
Can be closed, fixed in ddc1237c

[2015-06-02 12:07] #293 closed

[2015-06-02 12:07] rwjblue commented on #293
Thanks!

[2015-06-02 12:07] rwjblue commented on #295
Thanks!

[2015-06-02 12:07] #295 closed

[2015-06-02 12:08] rwjblue commented on #235
Thanks for confirming!

[2015-06-02 12:08] #235 closed

[2015-06-02 12:09] #296 closed

[2015-06-02 12:26] prikhi commented on #314
@oskarrough I'm guessing you can use `{{input submit="blahActionName" }}`. A full list is [on the API docs](http://emberjs.com/api/classes/Ember.View.html#toc_event-names)

[2015-06-02 12:38] rwjblue commented on #314
Confirm

[2015-06-02 12:38] #314 closed

[2015-06-02 12:49] #223 closed

[2015-06-02 12:49] #297 closed

[2015-06-02 12:49] #305 closed

[2015-06-03 00:09] michaelrkn commented on #10
I'm moving on to refactoring, and I'd like some input before I start changing things around.

First, I'd like to suggest we change the basic YAML structure from:

[code]

to:

[code]

Since we're extracting this into a general-purpose plugin, I think we should get away from Ember guides-specific language like "guides" and "chapters". "pages" is nice and generic. Also, using "pages" for both the to

[2015-06-05 10:33] wvteijlingen opened #336 "Add section about initializers"
With the advent of instance initializers, I was surprised that there was no mention of initializers in the main guides. The only thing I could find was a small section in the API documentation for Ember.Application.

Maybe adding a section about this to the guides would be nice.

[2015-06-06 12:43] nruth opened #341 "Suggestion for "Computed properties and aggregate data with @each""
I think the current example is useful, but there should be a simpler one before it that only looks at the elements (or loading state?) of the array/association.

For example, if I have this in a model:

[code]

Do I need the `@each` and what does it do?
What happens if I only observe questions?
Should I observe length or `@each.ids` instead?

I just found the [docs for Array `@each` property](http

[2015-06-08 11:43] locks commented on #325
This has been fixed.
![screenshot 2015-06-08 12 42 51](https://cloud.githubusercontent.com/assets/32344/8034030/ef0889e0-0ddb-11e5-8472-081f3d53a4fe.png)

[2015-06-08 12:28] nruth opened #347 "Make it clearer that jsonapi.org is must-read to use ember.data rest (to create objects)"
The following things confused me when trying to create a new record, but are actually specified in http://jsonapi.org/format/#crud

The trouble is, I didn't find that link for some hours. "Creating and Deleting records" and "Persisting records" don't mention it. Instead I had to look in the adapters part, out of desperation, since that's (intuitively?) the section to read when you're doing strange

[2015-06-08 12:49] #325 closed

[2015-06-08 15:09] benkonrath commented on #325
Thanks!

[2015-06-08 21:52] trek commented on #324
We don't plan to update the TodoMVC tutorial for newer versions of Ember.js. Some people have started work on different getting started guide for 2.0, it is just taking them longer than was anticipated.

[2015-06-08 21:52] #324 closed

[2015-06-10 22:52] sltam opened #349 "The rest adapter docs is hard to follow"
The rest adapter docs `http://guides.emberjs.com/v1.10.0/models/the-rest-adapter/` is using too many different pairs of names interchangeably, and this is simply confusing.

The actions table is explaining the endpoints for `store.find('post', 1)` so the table should show `/posts/123` instead of `/people/123`, etc.

Then the `inflector.irregular('formula', 'formulae');` example should be replaced

[2015-06-12 13:53] #288 closed

[2015-06-15 20:41] trek commented on #279
I think what you're looking for is on the publication repo https://github.com/emberjs/guides.emberjs.com?

from the readme:

[2015-06-15 20:41] #279 closed

[2015-06-22 01:59] JeNeSuisPasDave opened #370 "Installing Ember topic -- failure when creating and test new app"
The Installing Ember topic has a section called "Testing Your Installation". If those instructions are followed then after entering the command "ember new my-app", I see the following error:

[code]
I suspect that the path **should have been** `/Users/datihein/trash/ember/my-app/package.json`.

If I push past that and enter the command "ember server", I get the following error.

[code]
I worked ar

[2015-06-22 16:57] JeNeSuisPasDave commented on #370
I opened a similar issue against ember-cli.

https://github.com/ember-cli/ember-cli/issues/4320

Maybe the only issue for the guide is to mention the need (if any) for having bower installed.

[2015-06-24 03:10] JeNeSuisPasDave commented on #370
OK, the issues seems to be that a working ember-cli on OS X requires node and npm to have been installed without sudo. More specifically, the node and npm directories need to have permissions that allows the user to modify them.  See https://github.com/ember-cli/ember-cli/issues/4320 for details and my workaround.

I think the installation section of the guides should mention this permissions issu

[2015-06-26 18:58] GregPK commented on #323
I have also encountered this. Tried to fix it, but the bug is not there when running middleman on localhost (master branch).

[2015-06-27 00:42] locks commented on #169
I've submitted a PR to address the lack of hyperlink to the website. The non-functioning anchor tag should be make a separate issue.

[2015-06-27 00:45] rwjblue commented on #146
I agree, I think that #190 resolved this.

[2015-06-27 00:45] #146 closed

[2015-06-27 00:46] #169 closed

[2015-06-27 00:49] locks commented on #169
I have fixed the anchor hyperlink in the PR referenced.

[2015-06-27 01:04] locks commented on #214
Aren't `Ember.Controller` singleton by default?

If they're similar what's the need? `{{outlet}}` is previously explained in [The Application Template](http://guides.emberjs.com/v1.11.0/templates/the-application-template/).

You're not setting the `author` property of `controller:author`, you're setting the `model` property, like `Ember.Route#model`.

Most importantly though, is that this section

[2015-06-27 08:52] hugopeixoto commented on #294
It seems that you're using the guides for an old version of ember.
The current one is http://guides.emberjs.com/v1.12.0/getting-started/

[2015-06-27 22:52] eccegordo opened #385 "Should there be a global index/landing page for all guides"
I find the experience of jumping into a guide and shifting version context a little too subtle.

For example:

Navigate to here: http://guides.emberjs.com/v1.10.0/views/built-in-views/
Click version pulldown and select v1.12.0

I would expect to go to: http://guides.emberjs.com/v1.12.0/views/built-in-views/

But you are instead redirected to the start of the guides for that version (1.12.0). This

[2015-06-28 00:51] rwjblue commented on #385
SO MANY WORDS :smiley_cat:

This is fixed on master, and as of 1.13 guides you will be redirected to he same page you started on in the new version (assuming that exists).

[2015-06-28 01:01] eccegordo commented on #385
:+1: I will work on my verbosity. :smile:

[2015-06-28 19:02] iharsuvorau opened #386 "Examples at jsbin.com don't work"
Examples in the topic [Routing → Query Params](http://guides.emberjs.com/v1.12.0/routing/query-params/) at the bottom of the page don't work. The error in the console:

    "ReferenceError: Ember is not defined at http://null.jsbin.com/runner:1:1476

[2015-06-28 19:31] vire commented on #386
because currently `http://builds.emberjs.com/ember-latest.js` doesn't work.

You can include there ember version you need from a cdn and re-run the jsbin.

[2015-06-29 08:16] iharsuvorau commented on #386
Yes, thank you. Now it works. I had to include `http://builds.emberjs.com/release/ember-template-compiler.js` too.

[2015-06-29 19:14] vmalloc opened #389 "No guides for 1.13"
The guides on Ember's website point at 1.12, and no 1.13 to be found...

[2015-06-30 02:25] F21 commented on #389
Would love to see the 1.13 guides published as well.

[2015-06-30 13:45] jdbo commented on #309
I tried this a few weeks ago and was seeing the same error as above - trying again this morning it's  now *mostly* working for me (and with no long delays),

I did notice the following error in the console (which didn't appear to correspond to any issues with using the search), but was not able to reproduce it:

[Error] TypeError: undefined is not a function (evaluating 'jQuery21309352085902355611

[2015-06-30 18:59] motzyball commented on #389
+1

[2015-07-01 18:07] diogoko opened #393 "Missing ember-data URL conventions for hyphenated model names"
The [documentation for ember-data's URL conventions](http://guides.emberjs.com/v1.12.0/models/the-rest-adapter/) has examples for single-worded model names, but there is no example for multi-worded, hyphenated names (like "[admin-user-profile](http://guides.emberjs.com/v1.12.0/models/defining-models/)"). AFAIK, the URL is camelCased (eg: /adminUserProfile/123).

[2015-07-04 09:53] wldcordeiro commented on #389
This should really get updated, with 1.13 being out now it's something bad to drop the ball on.

[2015-07-05 22:00] ashleygwilliams opened #399 "Naming Conventions Table CSS exceeds 100% width"
on http://guides.emberjs.com/v1.12.0/concepts/naming-conventions/
table exceeds 100% width, overflow is cut off, cannot read template column

<img width="814" alt="screen shot 2015-07-05 at 5 44 43 pm" src="https://cloud.githubusercontent.com/assets/1163554/8513531/cd01c2f4-233d-11e5-89fb-ad8fce5ff829.png">

in Chrome 43.0.2357.130 (64-bit)

[2015-07-06 16:26] Kilowhisky opened #400 "Guides have old helper syntax documentation."
The guide here: http://guides.emberjs.com/v1.12.0/templates/writing-helpers/

is still using the outdated `Ember.Handlebars` syntax that doesn't match ember-cli's `Ember.HTMLBars`

[2015-07-06 16:31] rwjblue commented on #400
Yep, I agree, this definitely needs some work for 1.13 syntax.

[2015-07-06 17:46] Frozenfire92 opened #401 "No mention of where to put inject for services"
We used to use `App` globally (including templates, I know shame on us) when upgrading we had to switch to a service as outline in the code snippet below

[code]

However we get the deprecation warnings as noted [here](http://emberjs.com/deprecations/v1.x/#toc_deprecate-access-to-instances-in-initializers) and there is no mention as to where to move the application.inject to.

I'm sorry if this is

[2015-07-07 14:21] trek commented on #389
Unfortunately feature contributors were a bit, er, hesitant to also submit guide updates for their changes in the 1.13 cycle, so the 1.13 guides aren't as simple as "publish whatever is on master" because master is not significantly different than the 1.12 guides.

This is less an issue of 1.13 not be *published* than an issue of 1.13 guides not being *authored*. We're in the process of harassing

[2015-07-07 14:36] vmalloc commented on #389
Thanks for the explanation. I think this is something that would have been nice to have on one of the blog posts about 1.13 and/or the transition to 2.0, to slightly help with the ongoing confusion.

[2015-07-07 14:38] vmalloc commented on #389
Also the flurry of deprecations plus the lack of references on how to resolve them is a bit frustrating...

[2015-07-07 15:39] trek commented on #389
Deprecations are not part of the guides. They can be found at http://emberjs.com/deprecations/v1.x/

[2015-07-08 14:34] tomdale commented on #389
@trek What new features in 1.13 are blocking the guides updates? Let's get a list so we can prioritize them ASAP. @locks @michaelrkn

[2015-07-08 19:08] tomdale commented on #389
@trek Given how many users are frustrated when they can't even find 1.13, let's cut 1.13 and issue "patch releases" as new features are added.

[2015-07-08 21:13] trek opened #408 "1.13 Guides - missing content"
1.13 Guides are unpublished because many new features didn't get any documentation love in the 1.13/2.0 deadline rush:

We're missing (list not exhaustive)

Release. These need to be written ASAP by or with the involvement of the feature authors:

- [ ] Closure Actions (@mixonic)
- [x] Helper API (@mixonic and @rwjblue)
- [ ] Component Block (@mmun and @rwjblue)

Beta. These features will be voted

[2015-07-08 21:18] tomdale commented on #408
I don't think these block release of the guides. We are working on angle bracket components where these are critical. All of the old component APIs continue to work, and we can hold off on documenting the new hooks until angle bracket components land (where they become important).

[2015-07-08 21:19] tomdale commented on #408
I have a WIP updated helper guide here: https://github.com/emberjs/guides/pull/407

I will finish it up as soon as possible, but if someone wants to grab it and update in the meantime, please be my guest. @locks @michaelrkn?

[2015-07-08 21:24] trek commented on #408
All of 1.12 continues to work :stuck_out_tongue:

The question is "should people use these hooks in 1.13? If yes, they're blocking publication. If not, should they have remained on beta?

[2015-07-08 21:30] tomdale commented on #408
Probably, but we thought angle brackets were going to land.

[2015-07-08 22:02] rwjblue commented on #408
`{{each-in}}` guides added in https://github.com/emberjs/guides/pull/357 and revised in https://github.com/emberjs/guides/pull/358.

[2015-07-08 22:13] michaelrkn commented on #408
@tomdale I won't have time until Friday at the earliest

[2015-07-09 17:45] tomdale commented on #408
https://github.com/emberjs/guides/pull/407 contains an updated Handlebars helper guide, please review at your earliest convenience.

[2015-07-09 20:03] pmasucci commented on #399
So I would love to fix this bug, but I'm wondering if someone can point me in the right direction as far as best practices go (I'm about as junior as you can get). The problem can be solved by wrapping the table in a div with overflow:scroll. Is it okay to add that right into naming-conventions.md and then add a .scroll class in the css?

Everything in the .md files that I've looked through so far

[2015-07-09 20:54] #31 closed

[2015-07-09 20:55] joostdevries opened #410 "Merge ember-cli.com & emberjs.com guides"
We can start moving content over from ember-cli.com with the goal to merge the two documentations into one. I've split up ember-cli.com into "user guides" and "extending" so we can first focus on the "user guides". Below are some first thoughts on a toc

I propose to add a section to the guide, right under "getting started" called "Developing your app"
- Configuration
- Development server
- Managi

[2015-07-09 20:55] joostdevries commented on #31
closing over #410

[2015-07-09 20:55] joostdevries commented on #410
@locks @trek I think we need to agree on the toc before we/others start creating PR's for this.

[2015-07-09 20:56] joostdevries commented on #410
cc @tomdale

[2015-07-09 21:09] fullofcaffeine commented on #121
@trek Where can I find this new sample application?

[2015-07-09 21:29] locks commented on #408
People have been raising questions about what to do with routable `Views`, do we have a story for that?

[2015-07-09 22:58] mixonic commented on #408
@locks that seems like material for the deprecation guide, not the guides.

To summarize, there is only a single use-case unsupported without views: Adding a class to the application view's div. All other cases can be handled by a component or element at the root of a view's template. The one unsupported use-case will unfortunately remain unsupported until routable components.

[2015-07-09 23:01] locks commented on #408
@mixonic I thought the deprecations guide were in this repo as well :X

The issue raised was exactly that, adding a class to a routable `View` without introducing an extra `div`.

[2015-07-09 23:08] mixonic commented on #408
Yeah, there a bazillion things that need improved deprecation content though. I do not think adding them to this list of undocumented **features** is ideal.

[2015-07-09 23:08] locks commented on #408
:+1:

[2015-07-10 05:07] jmurphyau commented on #408
I should find some time over there weekend to complete the {{get}} helper one

[2015-07-10 06:55] eccegordo commented on #410
Will ember cli ever have anything that approaches the API docs that ember has? Could be useful for addon developers. Not sure if the ember cli source code is instrumented to support automatic generation (e.g. yuidoc stuff). ping @stefanpenner

As for TOC I think there also needs to be a dedicated section:

*Getting Started with Node, NPM and Ember CLI*

Some folks know Ember but are new to the nod

[2015-07-10 07:12] olleolleolle opened #412 "Vulnerable gem versions (found by bundle-audit)"
Here is the current output of bundle-audit on this repo.

[code]

[2015-07-10 08:20] eccegordo commented on #399
Just say no to scroll overflow. :smile:

How about a tree view to represent the convention?

<table>
    <tr>
        <th>Route Name</th>
        <th>Convention</th>

    </tr>
    <tr>
        <td><code>posts</code></td>
        <td>
            <pre>
app
 ├── controllers/
 │   └── post.js
 ├── routes/
 │   └── post.js
 └── templates/
     └── posts.hbs
            </pre>
        </td>
    </tr>

[2015-07-10 08:25] joostdevries commented on #410
@eccegordo Quite a few modules Ember CLI are actually documented and there is a script to build those docs, I believe we just never got around to actually publishing them. https://github.com/ember-cli/ember-cli/issues/2764

@stefanpenner I think the main issue with the Ember CLI API's is that we might not have all `@private` markers in place and we **don't** want people using private API's in Addo

[2015-07-10 08:29] locks commented on #410
@eccegordo I would rather make the assumptions explicit at the head of the guides and link appropriately to relevant documentation elsewhere, for example: https://docs.npmjs.com/, http://jsmodules.io/, https://babeljs.io/docs/learn-es2015/, https://leanpub.com/exploring-es6/read. I believe "How Ember CLI works with Node and NPM ecosystem" is/will be explained along the guides as we explain how to

[2015-07-10 08:32] joostdevries commented on #410
@locks Cool, I can do that. I do think that the addon/blueprint API docs are something we should do **after** the user-guides from Ember-CLI.com are merged.

[2015-07-10 08:33] locks commented on #410
I agree

[2015-07-10 08:36] eccegordo commented on #410
@locks some links would be adequate. Half the battle is just knowing the terminology and high level architecture so one knows where to go for more research.

Just knowing there is something called babel and transpiling is good for the noob.

:+1: on marking everything as private to get started.

Also I think there needs to be a pretty extensive guide targeting addon developers so synthesizing the

[2015-07-10 20:39] tomdale commented on #408
Per today's core team call, I've removed documenting the new component lifecycle hooks. We will incorporate that documentation into the guides for angle bracket components.

[2015-07-11 03:03] #412 closed

[2015-07-11 20:05] mixonic commented on #282
Several updates are in this PR https://github.com/emberjs/guides/pull/420 closing this in favor of that.

[2015-07-11 20:05] #282 closed

[2015-07-11 20:06] mixonic commented on #389
closing in favor of https://github.com/emberjs/guides/issues/408

[2015-07-11 20:06] #389 closed

[2015-07-11 20:10] mixonic commented on #401
The deprecation guide should address this. It is maintained in the [website](https://github.com/emberjs/website) repo. Current docs on the change to initializers are [here](http://emberjs.com/deprecations/v1.x/#toc_access-to-instances-in-initializers).

I agree the deprecation guide could be improved. Please consider opening an issue or PR on the website repo though, the guides should not be addre

[2015-07-11 20:10] #401 closed

[2015-07-11 20:11] mixonic commented on #349
@sltam this comment is maybe better expressed as a PR. Can you whip one up?

[2015-07-11 20:13] mixonic commented on #313
Observers are indeed synchronous- I think perhaps you were using a binding?

I'm going to close this, and I'm unsure what action we should take to improve the observer section of the guides based on this feedback. Please feel free to reopen if I've missed anything.

[2015-07-11 20:13] #313 closed

[2015-07-11 20:15] mixonic commented on #222
This is pretty bad.

[2015-07-11 22:57] sltam commented on #349
I perfectly understand submitting a PR is the correct approach, but my employer does not allow me to contribute open source code unless I apply for approval, so submitting a PR is not a choice for me. Sorry.

[2015-07-13 04:54] michaelrkn commented on #206
Closed by #306. Can you please close @rwjblue?

[2015-07-13 04:58] michaelrkn commented on #214
@locks if this should be closed, can you ask @rwjblue to do so? Thanks!

[2015-07-13 05:00] michaelrkn commented on #238
This is no longer needed in present versions, and since old versions of guides aren't maintained, this should be closed. cc @rwjblue

[2015-07-13 05:08] michaelrkn commented on #251
Thanks for opening this issue, @eostrom!

I appreciate that maybe this leaves an open question, but the guides aren't meant to be comprehensive, and I'm not sure there's a lot to be gained by explaining `app.js` given that it's usually just boilerplate. If anything, I'd suggest we take out "Ember will look for the objects exported by these modules in your project: app/app.js, app/controllers/appli

[2015-07-13 05:12] michaelrkn commented on #277
@trek @rwjblue any idea whose jsbins these are?

Also, the policy is not to maintain guides for old versions, but this feels like maybe an okay exception to that rule since it's on a third-party site.

[2015-07-13 05:13] michaelrkn commented on #287
Fixed by #417. @rwjblue can you please close?

[2015-07-13 05:13] michaelrkn commented on #294
@rwjblue can you please close?

[2015-07-13 05:14] michaelrkn commented on #309
I believe this is fixed on master. @locks can you confirm?

[2015-07-13 05:14] michaelrkn commented on #318
This is true. @trek do you have any ideas about this? cc @locks

[2015-07-13 05:15] michaelrkn commented on #323
Fixed by #383. @rwjblue can you please close?

[2015-07-13 05:16] michaelrkn commented on #336
@locks what do you think?

[2015-07-13 05:26] #206 closed

[2015-07-13 05:26] #214 closed

[2015-07-13 05:27] #238 closed

[2015-07-13 05:28] #251 closed

[2015-07-13 05:29] #287 closed

[2015-07-13 05:29] #294 closed

[2015-07-13 05:29] #323 closed

[2015-07-13 12:39] locks commented on #318
Have the docs been deployed since that change got merged in?

[2015-07-13 12:41] locks commented on #336
@michaelrkn I think we should document the why in the guides, especially with application/instance initializers, and then punt most of the how to the API docs (like `before`, `after`)

[2015-07-13 13:31] michaelrkn commented on #318
@locks What was the change? Is there a PR you can reference?

[2015-07-13 13:44] michaelrkn commented on #341
Hey @nruth! Were you able to sort out the right way to do this? I'm not totally following what you're trying to do here, but I'm not sure it's the right use case for a computed property.

I'm helping clean up open issues, so I'm going to ask @rwjblue to close this for now, but feel free to reply if you'd like to keep the conversation going.

[2015-07-13 13:48] michaelrkn commented on #347
This is now fixed on master. @rwjblue can you please close?

[2015-07-13 13:48] nruth commented on #341
I don't think this should be closed. Maybe you can get a second opinion? I'll try to clarify what I mean later.

[2015-07-13 13:51] michaelrkn commented on #349
@sltam I totally agree that the use of different examples throughout all of the guides can make things a bit confusing. One of the goals for the guides in the next few months is to fix this up.

[2015-07-13 13:56] michaelrkn commented on #370
It's true, I've seen this happen to many people. I believe the problem is that the Node installer uses sudo, and so the permissions are wrong. Maybe someone can open a PR against the installer so that it gives correct permissions for the installing user.

[2015-07-13 13:57] locks commented on #318
@michaelrkn oh I thought it was this change https://github.com/emberjs/guides/commit/5daf4846b23127fa539a5db22b7c1714be387291 ?

[2015-07-13 14:00] michaelrkn commented on #318
No, that just changes the text when the custom 404 is shown. Except it seems that it is never shown.

It [looks like](https://github.com/divshot/superstatic#configuration) we can provide a `superstatic.json` configuration file with an `error_page` key pointing to `404.html` to get it served properly. @trek do you know if we can simply put that file in the `source` folder?

[2015-07-13 14:02] michaelrkn commented on #385
@rwjblue can you close this out?

[2015-07-13 14:03] michaelrkn commented on #386
Dup of #277. @rwjblue can you please close?

[2015-07-13 14:03] michaelrkn commented on #277
JS Bin on http://guides.emberjs.com/v1.12.0/routing/query-params/ is also broken - thanks to @iharsuvorau for pointing out.

[2015-07-13 14:04] rwjblue commented on #385
I feel like there are other points here that may or may not have been addressed. Can you double check before I close?

[2015-07-13 14:04] #386 closed

[2015-07-13 14:05] rwjblue commented on #318
Seems like that is already setup [here](https://github.com/emberjs/guides.emberjs.com/blob/master/divshot.json#L5).

[2015-07-13 14:06] michaelrkn commented on #385
Pulling the trigger too fast :) The bullet points seem like great ideas to me. @eccegordo would you be up to open a PR?

[2015-07-13 14:09] michaelrkn commented on #318
Hrm, then it seems it isn't working properly.

[2015-07-13 14:13] michaelrkn commented on #393
Thanks for noting this! I've opened #425 to address it.

[2015-07-13 14:16] michaelrkn commented on #399
That looks great to me! Can you open a PR?

[2015-07-13 14:17] michaelrkn commented on #400
#407 is working on this.

[2015-07-13 14:29] michaelrkn commented on #222
We could do a little AJAX HEAD check that the link doesn't lead to a 404, something like:

[code]

Does that seem okay?

[2015-07-13 14:49] michaelrkn commented on #318
Maybe the problem is that 404.html is nested within the version number? Should it be copied into the root of https://github.com/emberjs/guides.emberjs.com?

[2015-07-13 21:37] nicolas-dular opened #426 "store.push(type, data) is deprecated"
Since I got `DEPRECATION: store.push(type, data) has been deprecated. Please provide a JSON-API document object as the first and only argument to store.push.` but couldn't find anything in the [guides](http://guides.emberjs.com/v1.12.0/models/pushing-records-into-the-store/) it would be great to explain that you now need to `normalize` the Object if it's not JSON-API Standard.

A good explaination

[2015-07-13 23:49] locks commented on #349
@michaelrkn @sltam @mixonic I have addressed this issue in the PR referenced above. Notice though, that this change will only be deployed for the `1.13` guides (assuming it gets merged).

[2015-07-13 23:53] michaelrkn commented on #349
@locks you are a hero

[2015-07-14 00:19] sltam commented on #349
The fix looks perfect. Thanks!

[2015-07-14 01:21] #349 closed

[2015-07-14 13:12] trek commented on #318
I believe yes, we'd need the 404 page as part of https://github.com/emberjs/guides.emberjs.com

[2015-07-15 00:40] locks commented on #341
the `.[]` macro is indeed missing from the computed properties section of the guides as far as I could tell, but the whole section needs some rethinking so I wouldn't worry about it.
I think it can be closed as well, thanks for your input @nruth.

[2015-07-15 05:28] eccegordo commented on #399
Sure I can do that. I am a little unclear about the guides branching. Do I need to submit distinct PRs against each version where this code might live.

I will give it a try let me know if aligning the PRs correctly.

[2015-07-15 05:36] michaelrkn commented on #399
Past versions of the guides are static and immutable. You can just submit a PR and the change will be included in the next version of the guides. Thank you!

[2015-07-15 05:37] eccegordo commented on #399
OK got it so just PR against master then. Thanks! Coming right up.

[2015-07-16 02:23] tomdale commented on #408
@jmurphyau What's the status of `{{get}}` docs?

[2015-07-16 15:40] trek commented on #121
cc @poteto who was working on it

[2015-07-16 16:38] jmurphyau commented on #408
I'm going to try get this done in the next few hours.. Sorry about that

[2015-07-16 16:46] poteto commented on #121
I am in the process of re-writing it for Ember 2.0, as well as the accompanying guides

[2015-07-17 05:20] michaelrkn commented on #393
@mixonic can you close this?

[2015-07-17 15:07] michaelrkn commented on #426
@locks are you going to take the lead on the models/ember data stuff? if so, maybe you can open an issue that outlines the work that needs to be done (including this), and ask people with ember data issues/suggestions to comment on that one issue so we get everything in a centralized place.

[2015-07-17 17:53] michaelrkn commented on #277
@billybonks can you update http://jsbin.com/lihenu/1/edit?html,js,output to load Ember from http://builds.emberjs.com/tags/v1.11.3/ember.debug.js, and all of the examples at the bottom of http://guides.emberjs.com/v1.11.0/routing/query-params/ to load Ember from http://builds.emberjs.com/tags/v1.13.4/ember.js?

@bsclifton can you change http://jsbin.com/sefuv/2/edit?html,js,output to load assets o

[2015-07-17 17:54] michaelrkn commented on #309
As far as I can tell, this is working now. @rwjblue can you please close? Thanks!

[2015-07-17 17:57] michaelrkn commented on #318
@trek is this something I can help out with? How do we get 404.html into that root as part of the build process? Or should we just move it out of this repo and into https://github.com/emberjs/guides.emberjs.com?

[2015-07-17 17:59] michaelrkn commented on #328
Agreed. @Dremora did you figure out how to do this? If so, it would be awesome if you could open a PR to help explain it.

[2015-07-17 18:01] rwjblue commented on #399
Fixed by #399.

[2015-07-17 18:01] #399 closed

[2015-07-18 07:35] billybonks commented on #277
@michaelrkn can do but from what i last heard was that the jsbins where being removed from the site

[2015-07-18 10:11] maxcal opened #437 "Add guide for form handling."
I'm just learning Ember.js and I have trying to do a just a plain sign up form. While I have been able to find tutorials like this one on [Smashing Magazine](http://www.smashingmagazine.com/2013/11/07/an-in-depth-introduction-to-ember-js/#create_a_user) most are badly out of date and I'm quite confused about how to acheive this with a routing component instead of a controller.

It would be pretty

[2015-07-18 15:50] michaelrkn commented on #277
They are but we might as well fix old versions of the guides when it's so
easy to do so. Thanks!

On Saturday, July 18, 2015, Sebastien Stettler <notifications@github.com>
wrote:

[2015-07-19 14:10] jmurphyau commented on #408
PR #438 adds the {{get}} helper to the guides. I thought after the {{input}} helpers was the most appropriate place to demonstrate using the two together..

I had trouble getting `bundle` to work (I'm running an El Capitan beta) and couldn't figure it out - so I ended up doing the PR blindly - which I'm not completely happy with but it gets it done quicker.. Hopefully there's no technical issues w

[2015-07-19 15:25] michaelrkn commented on #437
Agreed - the guides are currently sorely lacking an explanation of how to do this. There used to be a tutorial at the beginning of the guide that showed how to build a simple app from start to finish, and covered this kind of content. We're working on making a new tutorial, and this will definitely be one of the topics covered!

[2015-07-20 13:18] #309 closed

[2015-07-20 19:21] michaelrkn opened #441 "Missing language only raises exception when building"
If you don't put a language by your code fences, nothing bad happens in development (`middleman server`). But when you try to build (`middleman build`), you get the exception "Code blocks must be fenced with proper language designated. If you don't know what language to use, specify ```text```".

That exception should be raised in every environment, so we don't only catch it when trying to deploy.

[2015-07-20 19:59] mattw59 opened #442 "Add a guide for Services"
This should include roughly the following:
- [ ] What is a service
- [ ] When to use a service, and when not to use one
- [ ] Discuss factories
- [ ] Using initializers with services
- [ ] Using Ember.inject.service()
- [ ] Common types of services (session, user, persistent state rather than temporary state)
- [ ] Fold in existing guide on dependency injection: http://guides.emberjs.com/v1.12.0/u

[2015-07-20 20:26] pixelhandler commented on #442
@mattw59 how about adding "How to inject a service into another object", here is an example I've used: https://github.com/pixelhandler/ember-jsonapi-resources/blob/master/tests/dummy/app/models/post.js#L7 sometimes its great to use `application.inject()` with an initializer https://github.com/pixelhandler/ember-jsonapi-resources/blob/master/tests/dummy/app/initializers/post.js#L20 and other times

[2015-07-21 00:40] okket opened #443 "1.13 Guide encourages deprecated ArrayController"
Maybe remove this section until it is properly rewritten? No doc is better than bad doc IMHO

http://guides.emberjs.com/v1.13.0/controllers/representing-multiple-models-with-arraycontroller/

[2015-07-21 16:53] mattw59 commented on #442
@pixelhandler Sounds good, added a task for this.

[2015-07-21 19:31] #347 closed

[2015-07-21 20:07] knownasilya commented on #408
I'd love to help with the component block guide updates, ping @mmun @rwjblue

[2015-07-21 22:21] michaelrkn opened #445 "Add tutorial for building your first Ember app"
Once upon a time, the guides opened with a tutorial that showed brand new Ember developers how to build an app from start to finish. As that tutorial became increasingly out of date, it was removed from the guides with the intent of replacing it with an up-to-date tutorial. Much time has passed, but at long last @poteto has spearheaded the creation of this tutorial. I (@michaelrkn) am helping her

[2015-07-21 22:32] michaelrkn commented on #443
Thanks for the heads up. This is fixed on master.

[2015-07-21 22:32] #443 closed

[2015-07-21 23:03] michaelrkn commented on #410
See discussion on https://github.com/emberjs/guides/pull/415#issuecomment-121510696.

[2015-07-21 23:06] michaelrkn opened #448 "Create a section for animations/liquid fire"
@ef4 is doing this.

[2015-07-21 23:07] michaelrkn opened #449 "Update Models section"
There is a lot of work to be done to better explain Ember Data and to bring the guides up to date.

[2015-07-21 23:07] michaelrkn commented on #449
@locks, can you confirm if you are going to take the lead on this?

[2015-07-21 23:17] michaelrkn opened #450 "Improve Guides organization"
@locks, @trek, and I have been talking about how to improve the organization of the guide. This is a meta-issue to track all of the things that need to be done to get the guides into a sane organizational state.

First, here are new sections that need to be created:

- [ ] A tutorial for building your first Ember app (#445)
- [ ] Services (#442)
- [ ] Animations (#448)

Second, here are major chan

[2015-07-21 23:19] michaelrkn commented on #450
@locks and @trek, can you review and see if this looks okay to you? My thinking is that we work hard to get the stuff above the line done by 2.0, and the stuff below the line by 2.1.

[2015-07-21 23:25] Gaurav0 opened #451 "1.13 Guides still reference ArrayController; it is deprecated"

[2015-07-21 23:32] Gaurav0 opened #453 "1.13 Guides still say default Ember Data Adapter is RESTAdapter; do not mention JSON API"

[2015-07-21 23:52] #318 closed

[2015-07-22 00:08] michaelrkn commented on #451
Fixed on master. Thanks for the heads up!

[2015-07-22 00:08] #451 closed

[2015-07-22 01:34] #400 closed

[2015-07-22 01:34] #393 closed

[2015-07-22 01:34] michaelrkn commented on #426
Closing in favor of #449.

[2015-07-22 01:34] #426 closed

[2015-07-22 01:35] #437 closed

[2015-07-22 01:35] michaelrkn commented on #453
Closed in favor of #449.

[2015-07-22 01:35] #453 closed

[2015-07-22 01:39] michaelrkn commented on #341
@nruth I'm going to close this for now, but maybe you could open a PR. The worst thing that happens is it's decided that it doesn't need to be covered in the guides, and you can turn it into a blog post :)

[2015-07-22 01:39] #341 closed

[2015-07-22 02:16] michaelrkn opened #455 "Encourage decorator-style Ember.computed/Ember.observer"
There seems to be general consensus that we should encourage people to use decorator-style methods instead of prototype extensions, except in the case of Array extensions. We should change all places in the guides that use `.property` to `Ember.computed`, and `.observes` to `Ember.observer`. For example, this:

[code]

becomes:

[code]

[2015-07-22 08:41] boskiv opened #458 "Link at page does not work"
At page http://guides.emberjs.com/v1.13.0/ when I click on "Understanding Ember.js"
I've got 404
[code]

[2015-07-22 12:44] tryggve opened #459 "Wrong / Duplicate code example in Models/PersistingRecords"
http://guides.emberjs.com/v1.13.0/models/persisting-records/

The second code example under the Promises topic is wrong.
It should show how to work with failed network requests.
It is showing how to handle success and failure scenarios.

[2015-07-22 13:02] wvteijlingen opened #460 "Update introduction of Components section"
At the moment the Components introduction really doesn't tell you anything useful imho. It talks a bit about Web Components, and then links to the long technical 'Custom Elements' spec of the W3C.

I think this can be improved by adding a more sane explanation including the rationale behind components, what they offer, and when to use them.

[2015-07-22 13:52] trek commented on #455
:+1:

[2015-07-22 14:17] michaelrkn commented on #458
Thanks for the heads up! It's fixed on master.

[2015-07-22 14:17] #458 closed

[2015-07-22 14:20] michaelrkn commented on #460
Totally agreed! Components are going to need a big re-working for routable components in 2.1. I'm sure there will be some re-writing of the intro then, but if you'd like to suggest an update in the meantime, feel free to open a PR.

[2015-07-22 14:20] #460 closed

[2015-07-22 14:20] michaelrkn commented on #459
Thanks for opening this issue! Could you suggest what the code should be? Or better yet, open a PR?

[2015-07-23 00:46] locks commented on #328
Getting a hold of the controller should be as simple as `this.controller`. The `displayLoadingSpinner` function is left as an exercise to the reader because it could be anything. It being a "global" function is an artefact from the pre-global days, I'd take suggestions as how to improve it.

Would something like:

[code]

solve your problem?

[2015-07-23 06:44] #455 closed

[2015-07-23 21:36] locks commented on #449
@michaelrkn confirm

[2015-07-24 00:07] michaelrkn opened #464 "Improve Stateful Helpers explanation"
At https://github.com/emberjs/guides/blob/master/source/templates/writing-helpers.md#stateful-helpers, the explanation of stateful helpers simply translates a stateless helper into a stateful helper. We should add an explanation and examples of when you might want to use a stateful vs stateless helper.

I remember somebody on Slack saying that translations was a good use case for stateful helpers,

[2015-07-24 01:22] locks opened #471 "Add hash examples to `representing-multiple-models.md`"
Currently https://github.com/emberjs/guides/blob/master/source/controllers/representing-multiple-models.md only features example for dealing with an array. Adding examples for hashes/`Ember.RSVP.hash` would be very useful.

[2015-07-24 01:59] hank-harvey commented on #471
I'm on it.

[2015-07-24 12:29] locks opened #472 "Improve run loop documentation"
As discussed in #431, the run loop documentation is currently confusing and inadequate. I'm opening this issue to serve as meta so we can discuss the way forward.

- [x] Discuss where run loop documentation should go
  - [ ] Improve run loop guides section
  - [ ] Improve API documentation
- [ ] Link to https://github.com/ebryn/backburner.js/

@michaelrkn @ksin

[2015-07-26 02:17] michaelrkn commented on #442
@mattw59 - We have a goal of getting the 2.0 guides together by Monday, August 3. Do you think you'll be able to have this section ready by then?

[2015-07-26 02:17] michaelrkn commented on #410
@joostdevries - We have a goal of getting the 2.0 guides together by Monday, August 3. Do you think you'll be able to have this work ready by then?

[2015-07-26 06:57] eccegordo commented on #399
This doesn't look like it was merged into the 1.13 guides. I still see the truncated HTML table.

Also, fix should be back ported to older guides.

[2015-07-26 15:29] michaelrkn commented on #399
@eccegordo: See the README: "No attempt is made to update content, layout, or styles for older versions of the Guides. They are considered static and immutable." This fix, and all others, won't be backported. It would just be a nightmare trying to maintain so many different versions of the Guides.

The 1.13 release was cut from before this fix was added. We will be re-cutting the 1.13 release earl

[2015-07-26 18:03] mattw59 commented on #442
@michaelrkn Yes, I'll be sure that something is ready for the team to review by then, preferably before since I'll be on a family vacation Aug 2-4.

[2015-07-26 19:42] michaelrkn commented on #442
Awesome!

[2015-07-27 06:45] bianjp opened #476 "v1.13: Remove deprecated Ember.View and Ember.ArrayController"
Since Ember.View and Ember.ArrayController have been deprecated, it had better to remove them and provide alternative solutions.

[2015-07-27 09:53] tryggve commented on #459
Hi,

As I'm a Ember newbie I don't think I'm currently the person to contribute
with this kind of material. I assumed you had the missing example stashed
away somewhere in the git history and it would be a quick matter to resolve.

Regards
Tryggve

2015-07-22 16:21 GMT+02:00 Michael Kaiser-Nyman <notifications@github.com>:

[2015-07-27 12:01] montaniasystemab opened #477 "Search is broken"
It seems that search is broken when using guides.emberjs.com as domain, Chrome inspector logs:

[code]

Tested URLs: http://guides.emberjs.com/v1.13.0/components/sending-actions-from-components-to-your-application/ & http://guides.emberjs.com/v1.13.0/
UA: Chrome 44 - Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.107 Safari/537.36

[2015-07-27 14:56] michaelrkn commented on #477
This should be fixed when we re-release 1.13 shortly.

[2015-07-27 14:56] michaelrkn commented on #476
Fixed on master. Thanks for the heads up!

[2015-07-27 14:56] #476 closed

[2015-07-27 14:56] #477 closed

[2015-07-27 14:58] michaelrkn commented on #459
@locks can you confirm this is an issue, and if so, maybe work on while you tackle #449?

[2015-07-27 15:13] michaelrkn commented on #10
I am almost done with this, but I'm 1) getting a little bored of working on it and 2) a little out of my depth on solving the next problem. Here's what's left:

- [ ] Refactor and rename `next_chapter` and `previous_chapter` to `next_page` and `previous_page`, allowing arbitrary levels of nesting.
- [ ] Move `next_chapter_link` and `previous_chapter_link` into `layout.erb` (since they are Ember-sp

[2015-07-27 15:26] EndangeredMassa opened #478 "Search Bar Broken: Cannot read property 'query' of undefined"
When trying to use the search bar at [guides.emberjs.com/v1.13.0/testing/](http://guides.emberjs.com/v1.13.0/testing/), a JavaScript error is thrown:

[code]

This happens on Chrome and Firefox, for me.

[2015-07-27 15:28] locks commented on #478
Thanks for reporting, we are aware of the site-wide problem with search and we're trying to get it fixed ASAP :)

[2015-07-28 12:47] michaelrkn commented on #277
@billybonks do you think you could work on this at some point this week?

@bsclifton ping

[2015-07-28 13:19] joostdevries commented on #410
@michaelrkn I hope to. I'll spend some time on this on thursday + saturday. The configuration story for Ember CLI is quite horrible ATM but I'm also in the process of drafting an RFC to simplify that.

[2015-07-28 15:14] michaelrkn commented on #410
Awesome, thanks!

If it helps, here's what I think the high-priority items are:

* Throughout the Guides, add a sentence near the beginning of each relevant section about how to sue the generator for the resource (eg `ember generate model` for the Models section).
* Add a page about the mock server to the Models section
* Update the Testing section as needed.
* General audit of the guides to make

[2015-07-28 15:29] michaelrkn opened #483 "Remove JSBins"
Rationales: They can't be PR'd, there is no indication if they get broken, it's not obvious when they are out of date, and they are either owned by somebody who might be hard to track down or need a shared login that doesn't currently exist.

We need to go through the Guides and remove all JSBins, replacing with code examples where appropriate.

# Checklist

- [x] https://github.com/emberjs/guides

[2015-07-28 15:31] #370 closed

[2015-07-28 15:32] michaelrkn commented on #277
Closed in favor of #483. But it would still be great to get the existing jsbins fixed :)

[2015-07-28 15:32] #277 closed

[2015-07-28 15:36] michaelrkn commented on #385
I'm going to close this out, but PRs are welcome :)

* Guide versioning: Switching is implemented. Understanding that there are versions is not confusion I've heard elsewhere.
* Trending, downloadable version: Both sound difficult to maintain, but I'm open to a more fleshed-out suggestions.
* Build page: http://emberjs.com/builds/ is pretty easy to find, plus we are encouraging people to use ember

[2015-07-28 15:36] #385 closed

[2015-07-28 16:00] billybonks commented on #277
I'll try fix them this week when I find some downtime

On Tue, 28 Jul 2015 23:32 Michael Kaiser-Nyman <notifications@github.com>
wrote:

[2015-07-28 16:02] michaelrkn commented on #277
Thank you!!!

On Tue, Jul 28, 2015 at 9:00 AM, Sebastien Stettler <
notifications@github.com> wrote:

[2015-07-29 01:04] trek commented on #483
:+1: better to have them gone than wrong.

[2015-07-29 01:17] trek opened #484 "Republish Search"
Our friends at @swiftype (thanks @ariabov, @kovyrin, @look, @zumwalt et al) have outfitted us with a beefed up OSS account for publishing versioned search. Right now the guides search is published to someone else's paid account so we could move forward.

Now that we have a legitimate account that meets our needs, we should publish the `search.json` for every previously published branch to the real

[2015-07-29 02:01] look commented on #484
Sounds great. Let us know if you need any help with your Swiftype account.

[2015-07-29 02:52] michaelrkn commented on #478
Fixed.

[2015-07-29 02:52] #478 closed

[2015-07-29 02:52] michaelrkn commented on #484
I've got this! Just published 1.13 now and will go back and update the others.

[2015-07-29 03:11] mmun commented on #464
Calling them stateful helpers seems _very_ bad. I don't want to promote state on helpers. The primary purpose has nothing to do with state -- they're primary use case is for hooking up to services. If anything, they should be called service helpers.

[2015-07-29 04:37] michaelrkn commented on #484
Done via https://github.com/emberjs/guides.emberjs.com/pull/7.

[2015-07-29 04:37] #484 closed

[2015-07-29 15:03] villeneuve-michael opened #485 "Redirect loop"
Hey guys,

For some reason the section of 1.1.13

Has a redirect loop.

EDIT: it looks like the page adds a / at the end of the URL then removes it then adds it...

[2015-07-29 15:51] srk9 commented on #485
This is true, came here to say the same.

[2015-07-29 15:56] lmatiolis commented on #485
+1

[2015-07-29 16:00] michaelrkn commented on #485
Thanks for reporting. I'm putting in a support ticket with our website host.

[2015-07-29 16:20] HeroicEric opened #487 "Add sections for ember-data Adapters and Serializers"
Will add more info later. Just wanted to put this somewhere before I forgot.

[2015-07-29 16:55] locks commented on #483
For anyone interested in contributing: please break up your PRs by section, otherwise it gets hard to review

[2015-07-29 18:12] michaelrkn commented on #487
I believe @locks is working on this as part of #449. Can you coordinate with him on that issue? I'm going to close this out.

[2015-07-29 18:12] #487 closed

[2015-07-29 19:07] mamut commented on #483
Did a quick search of the repo, looks like there are eight sections with jsbins: https://github.com/emberjs/guides/search?q=jsbin-embed&type=Code&utf8=%E2%9C%93

* https://github.com/emberjs/guides/blob/master/source/components/passing-properties-to-a-component.md
* https://github.com/emberjs/guides/blob/master/source/components/wrapping-content-in-a-component.md
* https://github.com/emberjs/guide

[2015-07-29 19:10] mamut commented on #483
I'll start from the top

[2015-07-29 19:41] locks commented on #459
I don't understand what the problem is @tryggve, do you mean that the failure handler should have code inside it? If there is a network failure then the promise will trigger the onFail handler.

[2015-07-29 20:00] bsclifton commented on #277
Hey there, sorry @michaelrkn - I've been out of the Ember game for a while :( Had a great time contributing and hope to be able to come back (taking a siesta for a bit). Thanks for hanging in there and making great changes :smile:

[2015-07-29 20:03] locks commented on #277
@bsclifton check the need help tag and ping us in the documentation channel on the Slack community

[2015-07-29 20:20] michaelrkn commented on #485
Support has asked me to gather browser and OS information - can any of you report?

[2015-07-29 20:21] rwjblue commented on #485
Chrome Version 44.0.2403.107 (64-bit)
OSX 10.9.5

[2015-07-29 20:21] michaelrkn commented on #277
@bsclifton rest up and we can't wait to have you back!

[2015-07-29 20:28] locks commented on #277
@michaelrkn said! I misread and thought you were coming back now, hence my advice.

[2015-07-29 21:55] srk9 commented on #485
Chrome Version 43.0.2357.134 (64-bit)
Ubuntu 15.04

[2015-07-29 22:22] mamut commented on #483
* [ ] There is a script in the layout file that has sth to do with jsbins, probably can be removed once this gets merged – didn't see any difference locally after removing it. [link](https://github.com/emberjs/guides/blob/6d1ba3eefa223fa3ba056f1c219b09cc0cdceba7/source/layout.erb#L114)
* [ ] There is a link to a broken JSBin here in the guide for loading and error substates: [link](https://github.

[2015-07-29 22:24] mamut commented on #483
This is it from me for the time being, might find some more time to help tomorrow after work, no promises though, cheers!

[2015-07-29 22:45] lmatiolis commented on #485
Chrome Version 42.0.2311.90 (64-bit)
Ubuntu 12.04

[2015-07-30 00:07] humanchimp opened #496 "Version selection menu should be orthogonal"
It would be great if changing the version of the docs using the menu did not navigate me back to the main page of the docs. Instead, it should take me to the page corresponding to the current page, but for the version of the docs I have selected from the menu.

<img width="335" alt="screenshot 2015-07-29 17 06 54" src="https://cloud.githubusercontent.com/assets/575266/8972968/54c5d426-3614-11e5-92

[2015-07-30 00:38] locks commented on #496
It's working for me between `v1.13.0` and `v1.12.0`.

[2015-07-30 00:39] rwjblue commented on #496
This should be fixed in the most recent version of the guides.

[2015-07-30 03:58] locks commented on #471
Closed by #497.

[2015-07-30 03:58] #471 closed

[2015-07-30 13:01] rwjblue opened #498 "Remove uses of `render` and `partial`"
http://guides.emberjs.com/v1.13.0/templates/rendering-with-helpers/

Both `{{render}}` and `{{partial}}` should be avoided: they are both likely to be deprecated sometime in the 2.x cycle, and we should not recommend folks to use them in 2.0.0...

- [ ] Remove `/templates/rendering-with-helpers/`
- [ ] Audit for any usages of `{{render}}`
- [ ] Audit for any usages of `{{partial}}`

[2015-07-30 13:02] trek commented on #498
In addition to that page, the PR should audit the remaining guides for uses of `render` and `partial`, removing or replacing with component use where appropriate.

[2015-07-30 13:11] trek commented on #496
This still not always work as there is no guarantee a version of the guide you're looking at exists in previous or future revisions (relative to where you are looking)

[2015-07-30 13:11] #496 closed

[2015-07-30 15:52] humanchimp commented on #496
@trek that the corresponding page must actually exist in the documentation is quite obvious. You can't link to something that's not there. I get it.

This is still broken on v1.11 which I'm needing to use for unfortunate reasons. I'll edit the URL instead of using the menu.

[2015-07-30 16:02] humanchimp commented on #496
It's my opinion that fixing this only in the most recent versions doesn't actually resolve this issue, since the feature in question is designed to navigate between the different versions.

[2015-07-30 16:42] locks commented on #496
@humanchimp https://github.com/emberjs/guides/blob/master/README.md#contributing

[2015-07-30 16:51] humanchimp commented on #496
@locks I assume you are pointing me to this sentence:

Normally, I understand why such a position would be taken, but since this feature is specifically designed to navigate between the versions, not fixing the older versions breaks the entire feature. But I digress. I'll just train myself to edit the URL by hand instead of trying to use the broken feature.

[2015-07-30 16:54] locks commented on #496
If you can figure out a way to send us a PR that we can cherry pick into the branches, I'll bring up the issue in the meetings, but I have my hands full at the moment with other parts of the guides and can't investigate.

[2015-07-30 17:30] jimbeaudoin opened #501 "Update Test Components - Integration Test instead of Unit Test"
Hi,

The section in the guides about Testing Components is using Unit Tests. Since 1.13 the correct way to test components is with an Integration Test right? Also, Ember CLI generate an integration test with a component. My english is not good enough to make a PR but I can create this issue. Sorry! :)

Have a nice day and thank you! :)

[2015-07-30 17:37] rwjblue commented on #501
Yes, using the integration test style described in the following articles is the right way forward:

* alisdair.mcdiarmid.org/2015/06/20/ember-component-integration-tests.html
* emberup.co/integration-tests-for-components/
* https://github.com/rwjblue/ember-qunit#component-integration-tests

We should definitely update the guide to support, though that *might* belong in a different issue (I can't

[2015-07-30 17:52] jimbeaudoin commented on #501
Ok, thanks for the links. I appreciate! :) I searched the issue tracker and the PRs but found nothing about this. This is why I decide to open this issue. But I think ther is a ember 2.0 guide in the making.

[2015-07-30 18:50] rwjblue commented on #485
I believe this was fixed by the DivShot folks.  http://guides.emberjs.com/v1.13.0/components/defining-a-component/ is working now without a redirect loop, closing....

[2015-07-30 18:50] #485 closed

[2015-07-30 19:34] srk9 commented on #485
Confirmed. The page is now working, thank you!

On Thu, Jul 30, 2015 at 2:50 PM, Robert Jackson <notifications@github.com>
wrote:

--
Warmest Regards,

Dustin M. Gelegonya
Business Technology Consultant
484-903-8070 | *dustin@srk9.com <dustin@srk9.com>*

[2015-07-30 20:03] olivierlesnicki opened #505 "Documentation for isEvery is not clear"
http://emberjs.com/api/classes/Ember.Enumerable.html#method_isEvery

Returns true if the passed property resolves to the value of the second argument for all items in the enumerable. This method is often simpler/faster than using a callback.
Expectation (based on definition) for [].isEvery('name', 'olivier') was false.
Result is true.

While the isEvery method follows the implementation of javascr

[2015-07-30 20:53] michaelrkn opened #506 "Add warning to page if it is an old version"
This should be done with JavaScript. #114 is a PR that starts this work but has stalled out. It would be great if somebody could pick up where @wagenet left off (or if @wagenet wants to pick that up, that would be great too!).

[2015-07-30 21:10] michaelrkn opened #507 "Update Guides with closure actions"
@mixonic is on this!

[2015-07-30 21:13] #408 closed

[2015-07-30 21:16] michaelrkn commented on #505
Can you be more concrete about how this could be better? Also, this is the issues for the guides, and you are looking at an API doc - I believe you should open an issue on https://github.com/emberjs/ember.js instead. Thanks!

[2015-07-30 21:16] #505 closed

[2015-07-30 22:03] #498 closed

[2015-07-30 22:21] locks commented on #507
Doesn't "Composing components" address closure actions as well?

[2015-07-30 22:22] michaelrkn commented on #507
Peeps on the docs call said this is something that should be updated throughout the guides... I have no idea what closure actions even are :)

[2015-07-30 22:23] locks commented on #507
:+1:

[2015-07-30 22:54] olivierlesnicki commented on #505
@michaelrkn I did https://github.com/emberjs/ember.js/issues/11916#issuecomment-126502686

it says it returns true if the property resolves to the value of the second argument for ALL items.
This is not what it does. A good example is running it against an empty array. The property never resolves to the value of the second argument (since there is no item), yet true is returned.

[2015-07-30 22:55] olivierlesnicki commented on #505
Also, for performance reaosns, the .isEvery method actually doesn't conduct a "positive" check but a "negative" one. It checks that it can't find one item for which the property doesn't resolve to the second argument.

[2015-07-30 23:28] acorncom commented on #483
Checked the top checklist.  My pull request above fixes one of the two, the second checkbox (for `components/sending-actions-from-components-to-your-application.md`) is inaccurate (the work has already been done).

[2015-07-30 23:35] locks commented on #483
@acorncom I merged but didn't update

[2015-07-30 23:39] acorncom commented on #483
Think I need to bow out as well, will try to check back in over the next week+ to help out more.  Appreciate all your hard work guys, the docs are noticeably easier to use this week compared to last.

[2015-07-30 23:44] HeroicEric commented on #506
for reference https://github.com/emberjs/guides/pull/114

[2015-07-30 23:45] locks commented on #483
@mamut stole your checklist to the OP so we get number tracking in the issue list

[2015-07-30 23:50] acorncom commented on #483
May be worth breaking out the query-params JSBINs into separate items, there are 13 items there, each of which may take some time:

- Search queries
- Sort: client-side, no refiring of model hook
- Sort: server-side, refire model hook
- Pagination + Sorting
- Boolean values. False value removes QP from URL
- Global query params on app route
- Opt-in to full transition via refresh()
- update query

[2015-07-31 00:21] Poorchop commented on #442
I think utils should be mentioned as well. I know that services and utils are two different things, but there are instances where they can both provide a similar means to an end. Utils should probably get their own section so as to avoid confusion, but they could be a subsection of services at the very least.

[2015-07-31 12:55] elbeezy commented on #442
@poorchop I disagree that utils should be included in the services section, even in the interim. They belong with helpers IMO as general tooling.

[2015-07-31 16:58] locks commented on #506
https://github.com/emberjs/guides/pull/114/files#diff-fecc04b4c692688a162cc19a0fd54b0aR2 wouldn't this not work in older versions of the guides?

[2015-07-31 19:04] wagenet commented on #506
@locks is there anything preventing us from redeploying the old versions with the necessary fixes?

[2015-07-31 19:04] rwjblue commented on #506
@wagenet - its kind of a PITA to do

[2015-07-31 19:19] wagenet commented on #506
@rwjblue understood. I wasn't proposing that it be done regularly. However, for this to be useful, we'd have to deploy it on old versions too. Hopefully, it would be a one time thing.

[2015-07-31 19:22] wagenet commented on #506
The big concern is that a lot of Google results still point to old version of the guides.

[2015-07-31 20:21] Poorchop commented on #442
Yeah that makes sense. I just want to ensure that some mention is made of them because I think that they are a pretty important piece of the framework.

[2015-07-31 20:44] michaelrkn commented on #506
Why would we deploy guides for beta releases anyways? So far, we've struggled to get docs out on time for stable releases - I can't imagine we're going to have anything ready for betas.

[2015-08-02 00:58] locks commented on #442
Isn't a "util" just a module?

[2015-08-02 05:12] michaelrkn opened #514 "Search results have unversioned links"
1. Go to http://guides.emberjs.com/.
2. Type a term like "Ember" in the search box. Don't press the down arrow key. Press Enter. A modal opens.
3. Click a link.

Expected behavior: You are taken to a URL with the version number, eg http://guides.emberjs.com/v1.13.0/getting-started/.

Actual behavior: You are taken to a URL with the version number, eg http://guides.emberjs.com/getting-started.

Thi

[2015-08-02 05:12] michaelrkn commented on #514
@trek do you have any idea what's going on here?

[2015-08-02 10:25] joostdevries opened #519 "Add optional `generate` to code snippets"
Something like:

![image](https://cloud.githubusercontent.com/assets/3824616/9025725/6f885b6c-3911-11e5-9d56-244e0a558c83.png)

[2015-08-03 03:24] kitsunde opened #527 "The way the guides suggest you iterate over the controller together with ember-cli disabling ArrayControllers is really confusing for beginners."
I've been bit by this at least once before, and a beginner couldn't understand why the Ember guide code wouldn't work:
https://stackoverflow.com/questions/31778253/why-does-this-example-from-the-ember-js-guides-not-work/31778883#31778883

Can't we replace all instances of

[code]

with

[code]

[2015-08-03 03:27] michaelrkn commented on #527
Thanks for filing this issue! This is actually already done on master, perhaps after the last release was cut.

[2015-08-03 03:27] #527 closed

[2015-08-03 03:28] michaelrkn commented on #410
Awesome work, @joostdevries! We'll be reviewing everything in the next couple days.

[2015-08-03 03:40] MiguelMadero commented on #442
@locks I think there's some confusion about when to simply use a module or use services. This is something I've had to clarify multiple times. I think it's important to clarify in the "When not to use services" section that a good alternative is often a module.

@Poorchop aren't `helpers` for registering Handlebars helpers? We normally have them on  `utils` folder and simply import them as any oth

[2015-08-03 05:17] michaelrkn commented on #519
Would this be automatically inferred from the filename or added otherwise? If otherwise, how would it be denoted in markdown?

[2015-08-03 05:45] joostdevries commented on #410
@michaelrkn 515-517 will get some more attention today.

[2015-08-03 05:50] Poorchop commented on #442
What ever one may choose to call them, it's important to mention that plain JavaScript modules can be used in Ember. When I was going through the guides, I got the impression that all logic needed to be squeezed into routes, controllers, and views, and I didn't know where to put arbitrary functions.

I just refer to them as utils because that's what Ember CLI does. I also agree that modules should

[2015-08-03 08:51] locks commented on #519
I have some reservations about automatically inferring, we need a PoC.

[2015-08-03 09:55] joostdevries commented on #519
I wouldn't infer automatically. I'm not very experienced in the specific code that does but I can try to put together a POC

[2015-08-03 11:19] saumyaraj opened #531 "Naming Convention page : Example shows model hook while it is telling reader to find for setupcontroller hook"
In Naming Convention page, the example shows model hook while it is telling reader to find for setupcontroller hook.
Find this line below:-
In the example below route:application Route, which is an Ember.Route object, implements the setupController hook.

Here's a simple example that uses a route, controller, and template:

app/routes/application.js
export default Ember.Route.extend({
  model() {

[2015-08-03 13:42] JKGisMe commented on #328
It also is not complete. According to this issue: https://github.com/emberjs/ember.js/issues/11888 the examples in the guides would never trigger the loading substate
[code]

It would have to be:

[code]

And according to this issue: https://github.com/emberjs/ember.js/issues/10645 when using pods the loading/error templates have to actually be put in separate directories which is never mentioned

[2015-08-03 16:14] joostdevries commented on #519
would something like ```generate:route:foo:/routes/foo.js be acceptable syntactically? From what I can see I'd basically have to add this to https://github.com/emberjs/guides/blob/master/lib/highlighter.rb#L14 right?

[2015-08-03 16:33] ritesh-pandey opened #533 "Page jump on mouse hover next and previous link of guide"
![screenshot from 2015-08-03 22 02 35](https://cloud.githubusercontent.com/assets/1433681/9042291/5ed52294-3a2b-11e5-905c-40ad24ee3877.png)

Hover over `Core concepts` (the next article in guide link in attached screenshot)
You will see that the page jumps a bit.
It happens because of `border-bottom` being added on element `hover`

[2015-08-03 19:53] frank06 opened #537 "Add location type to the router in "Simple Routes" guide"
Someone unfamiliar with Ember was perusing the guide: http://guides.emberjs.com/v1.13.0/getting-started/naming-conventions/#toc_simple-routes

Following the examples, [he was frustrated](https://stackoverflow.com/questions/31778253/why-does-this-example-from-the-ember-js-guides-not-work/31795284) as he couldn't see any data in his own sample app when he navigated to `http://localhost:4200/favorite

[2015-08-03 20:17] locks commented on #537
It does in http://guides.emberjs.com/v1.13.0/routing/specifying-the-location-api/ :\
Think a link pointing there would suffice? "For more info on routes, check link" sort of thing.

[2015-08-03 20:21] frank06 commented on #537
Makes sense!  That one link could prevent newbies seeing a blank page when trying it out

[2015-08-03 20:22] frank06 commented on #537
But let theme know in the "simple routes" section to navigate to `http://localhost:4200/#/favorites` if following the guide. And then the link to the location api docs

[2015-08-03 20:32] garethbjohnson commented on #537
@locks As the newbie who ran into the problem, I can tell you that such a link would probably not have helped much. It would help to precede the URLs with `/#` in the examples in that section, as @frank06 suggests, or to have an info box somewhere before this example to tell beginners to prepend it to all URLs by default.

[2015-08-03 20:48] locks commented on #537
@garethbjohnson Hm, the guides are written with a focus on the happy path, which in this situation would be `location: auto` as generated by default by ember-cli. This is to say I prefer @frank06's suggestion of adding the location type.

[2015-08-03 20:51] locks commented on #537
I just realized something, `naming-conventions.md` is gone from master. ^_^;  https://github.com/emberjs/guides/pull/508
I will fix it there instead!

[2015-08-03 20:51] frank06 commented on #537
@locks cool.

I don't even know why `location: auto` is not the default

[2015-08-03 20:59] locks commented on #537
@frank06 quite possibly legacy reasons. I think when router.js popped up support went back to IE6.

[2015-08-03 21:03] garethbjohnson commented on #537
@locks Okay, I am happy with Frank's solution. Thanks for your help!

I have a quick question, though: will edits to `master` appear in the `v1.13.0` guides, or will I have to wait for a new version to see the difference?

[2015-08-03 21:13] locks commented on #537
Usually you will only see edits to master in a new version, as it's currently a lot of hassle to update old branches.
`v1.13.0` is slightly special because it's the last of the Ember `1.x` branch, so we might still deploy some more changes to it.

[2015-08-03 22:34] tryggve commented on #459
So the only difference between the first and second example regarding
promises is row 16? It seems to me as the first and second example is the
same example, which both describe the first scenario, how to handle success
and failure when trying to resolve a promise.

You are correct in that, if there is a network failure, the onFail method
will be called, I just don't see how it is helping anyone w

[2015-08-03 23:24] michaelrkn commented on #519
Hm hm. I have mixed feelings about this idea. It just feels a bit like overusing the triple-bakcticks. But I'd like to get others' input. @trek @rwjblue @HeroicEric @locks any thoughts?

[2015-08-03 23:27] locks commented on #519
It does seem a bit overkill. I'm not sure how best to approach this, however.

[2015-08-03 23:29] locks commented on #533
Closed by #534. Thank you!

[2015-08-03 23:29] #533 closed

[2015-08-03 23:48] michaelrkn commented on #537
I'm going to close this out, since this is not an issue when following the Ember CLI happy path. @frank06 and @garethbjohnson let us know if you come across anything else that's confusing!

[2015-08-03 23:48] #537 closed

[2015-08-04 00:05] garethbjohnson commented on #537
@michaelrkn Sorry, I have a newbie question: what is the Ember CLI happy path, and how do I follow it? I have just been following the `emberjs.com` Guides section from the beginning.

[2015-08-04 00:13] michaelrkn commented on #537
The happy path is the one with the rainbows above it and the unicorns dancing alongside :)

Jokes aside, the Guides are not in a state where a newbie can follow them from beginning to end and come out an Ember developer. We are working hard to change that, but we are an all-volunteer team and there is a lot of work to do. The next Guides release for 2.0 in a couple weeks should be much, much bette

[2015-08-04 00:53] locks commented on #537
In another words, happy path means that you follow along without errors or distractions. "What if instead of using Ember Data I want to use Ember Model?" "What about EmberScript?" Not the happy path. It allows us to keep the guides focused and lean on API docs and community resources to fill in the rest.

[2015-08-04 08:48] joostdevries commented on #519
I think the first question is whether the ui is desired. We could then look for a syntax that works.

[2015-08-04 15:34] michaelrkn opened #542 "Replace all $.ajax and POJOs in model hooks with Ember Data"
Throughout the guides, sometimes the examples show the `model` hook returning a POJO, sometimes the results of a `$.ajax` call, and sometimes an Ember Data object. The Guides are meant to illustrate the happy path, which in this case is Ember Data.

[2015-08-04 15:34] michaelrkn commented on #449
As part of this, we should also add an explanation of how you can use `$.ajax` to push records into the Ember Data store.

[2015-08-04 15:35] michaelrkn commented on #542
Also, we will document how to use `$.ajax` appropriately in Ember via https://github.com/emberjs/guides/issues/449#issuecomment-127652021.

[2015-08-04 15:40] tomdale commented on #542
I think a sidebar explaining what's going on under the hood for the `model()` hook is absolutely needed, but the happy path and examples benefit tremendously in consistency if that hook is always returning a model object.

More important than consistency, though, is that this sets people up for building an app that scales much better as their needs increase, and adds almost no additional complexit

[2015-08-04 18:32] garethbjohnson commented on #537
@locks To be clear, I following the guides quite strictly, from the first page to this one. Is this not the happy path?

I'm sorry if I'm causing any trouble with my lack of Ember.js knowledge. I can try a third-party guide instead if this is a problem.

[2015-08-04 18:39] michaelrkn commented on #537
The current state of the Guides is that they do not take you on the happy path. Our goal is to make the guides take you on the happy path, but they are not there yet. Honestly, I'm not sure the Guides are the best place to start for a relatively inexperience dev, although I'm not sure any other resource is particularly great either ;) My hope is that the Guides will be the best place to start with

[2015-08-04 18:44] frank06 commented on #537
@michaelrkn

What have you fixed?

The real issue though is Ember's Router. Why on earth isn't `auto` the default? Who uses `/#/`?

[2015-08-04 18:45] michaelrkn commented on #537
Fixed: https://github.com/emberjs/guides/pull/540

Why: https://github.com/emberjs/guides/issues/537#issuecomment-127405131

[2015-08-04 18:47] garethbjohnson commented on #537
@michaelrkn Okay, that makes sense. Thanks to you and @locks for all your help! I will find a tutorial elsewhere, but I wish you the best for the guides.

[2015-08-04 18:49] frank06 commented on #537
@michaelrkn Oh yea, IE6 :) Thanks for #540

[2015-08-04 18:49] michaelrkn commented on #537
:+1:

[2015-08-05 14:13] xudaiqing opened #543 "Make it obvious to use KVO-compliant Array methods"
With help from the forum i finally find out how to use array in ember.
Most important, how to use addObject and others. And the information of prototype extension of native array.
Maybe it's just because as i have used ember more than a year ago, i didn't read though the guide carefully.
But i believe it shouldn't that hard.
I think use array is a common case in develop a application and guide sho

[2015-08-05 21:28] #483 closed

[2015-08-06 07:36] ygrenzinger commented on #445
Meanwhile is there an up to date tutorial somewhere on the net ?

I have to create an internal app with EmberJS and most of the resources except the official docs seems outdated.

[2015-08-06 12:46] michaelrkn commented on #445
I'm not sure, but I'd start with something like [this search](https://www.google.com/search?q=ember+cli+tutorial&espv=2&biw=1360&bih=765&source=lnt&tbs=cdr%3A1%2Ccd_min%3A5%2F1%2F2015%2Ccd_max%3A&tbm=) (the date is arbitrary).

[2015-08-06 14:06] ygrenzinger commented on #445
Thanks ! Yes it gives better answer :)

[2015-08-06 21:35] tomdale commented on #519
After discussing this with some other folks, I think the treatment is a little bit confusing. Primarily, the code you see below is _not_ what the generator generates; it's the generated code plus some changes. Our feeling is that this would be very confusing for people.

For now, let's stick with mentioning generators in the prose, and link to the generator guide where appropriate.

[2015-08-06 21:35] #519 closed

[2015-08-06 21:44] locks commented on #445
@ygrenzinger check http://emberwatch.com/books.html for more suggestions, of the first four I'm not unfamiliar with Puri's but the others should be relatively up to date.

[2015-08-07 00:15] michaelrkn commented on #448
@ef4, any update on this? If it's not going to make it for 2.0, that's okay, just want to get the status.

[2015-08-07 08:49] eccegordo commented on #542
It strikes me that showing Ember Data centric examples for consistency is ok. But I think it is very worthwhile to have a dedicated section of the guides that discusses the "model" layer in more generic terms. I think there is a lot of value in demonstrating that a model hook can return more than just ember data model instances. I would suggest a dedicated section that shows these techniques (ED M

[2015-08-07 08:59] eccegordo commented on #542
Also, I would suggest for everybody's sanity that you make it crystal clear that the `store` is an Ember Data specific construct. And that when using Ember without ED it is BYOS (bring your own store). That will help people trying to grok local storage, and other esoteric use cases.

[2015-08-07 09:07] eccegordo commented on #506
@michaelrkn I would think that going forward in ember 2.0 it is absolutely critical to publish beta guides along with the betas. Force the lockstep of releases and docs. People should be testing the beta guides content just as much as they are testing the beta features.

Just need to figure out a way to brand the guides as beta content and subject to change until release is final. Once something i

[2015-08-07 14:59] acorncom commented on #542
I would agree with the above.  @tomdale's comments about the "happy path" make total sense (and make other powerful features of Ember Data available).  But explaining what is actually happening with models (even if we say something along the lines of "here be dragons") helped me have a much clearer mental model to understand what was occurring.  Before that, it felt a bit like "magic" :-)

Toran B

[2015-08-07 15:54] michaelrkn commented on #506
What would the release schedule be for the beta guides? Keep in mind that Rails gets a new release every several months; we get a new release every 6-8 weeks or so.

[2015-08-07 16:20] eccegordo commented on #506
I would think that guides would be mostly stable and that publishing process would be integrated with featured flags somehow. Maybe there is just a canary version of guides that are continually published as the beta progresses. As features land the corresponding guides changes need to be written/updated/removed.

When the go/no go decisions are made for features, similar decisions are made about g

[2015-08-07 16:35] eccegordo commented on #506
Maybe I have canary and beta backwards. So perhaps it is canary code / canary guides that both just correspond to master branches and that the beta cycle is the period to review and lock down things.

Presumably most of the hard work would be done day to day as canary is progressing. And by the time beta hits guides are (hopefully) mostly stable for that version/release and the beta cycle is the o

[2015-08-07 16:56] michaelrkn commented on #506
That all sounds like great ideas, but it will require some big changes to the current publishing process (see https://github.com/emberjs/guides.emberjs.com). Given how short Ember's release cycles are and that the content authoring process is so discrete from the feature process (which could be argued is a problem), I'm not sure it's worth the effort to build a system around that. But I'm personal

[2015-08-07 16:59] michaelrkn commented on #543
I agree. We should make it really obvious in http://guides.emberjs.com/v1.13.0/object-model/enumerables/ that you can't use `push`, that you need to use `pushObject` (and the other KVO-compliant methods).

[2015-08-07 17:01] michaelrkn commented on #410
This is pretty much done so I'm going to close it out.

[2015-08-07 17:01] #410 closed

[2015-08-07 17:01] michaelrkn commented on #336
It looks like this will be part of #442 sooner or later, so I'm going to close it out now.

[2015-08-07 17:01] #336 closed

[2015-08-07 17:02] michaelrkn commented on #450
This is well underway - I don't think this meta-issue is helpful any more.

[2015-08-07 17:02] #450 closed

[2015-08-07 17:07] eccegordo commented on #506
Gotcha. This is mostly refinement and process after guides are relatively stable. So 2.2 timeframe makes sense. Master is master branch so anybody can download and run via middle man. Perhaps on technical terms there just needs to be a continual nightly dump of guides content somewhere that is stripped of the normal publishing apparatus and normal formatting but still readable (and diffable).

My

[2015-08-07 17:08] michaelrkn commented on #506
Agreed - that's been a major problem with the Guides recently, as features have been released without documentation.

[2015-08-08 10:51] sajt opened #554 "Give more context and background for The Object Model section"
In the /object-model/classes-and-instances.md the first example is not clear for me.

If I put this:

[code]

To my routes js I get the following error:

    routes/posts.js: line 10, col 1, 'Person' is not defined.

but if I use
[code]

What is the perfect solution or where can I define classes?

[2015-08-08 15:51] michaelrkn commented on #554
You're right, this isn't totally clear. I'm going to work on better explaining this section.

Check out http://guides.emberjs.com/v1.13.0/models/defining-models/ for the answer to your question.

[2015-08-08 15:55] #442 closed

[2015-08-08 16:53] #554 closed

[2015-08-08 16:56] sajt commented on #554
thanks

[2015-08-08 20:23] locks commented on #506
If we decide to do beta docs, I vote they're not searchable.

[2015-08-08 20:40] locks commented on #542
Write a blog post, tell emberwatch and Ember Weekly about it.

I think we do at `routing/specifying-a-routes-model`. I think it can be done better, but I'd still replace the `$.getJSON`s with ED feeding alternatives, which is part of what OP means.

Not the guides' job.

[2015-08-09 02:40] HeroicEric opened #557 "Style Guide"
There is a lot of inconsistency in the Guides, including naming, writing style, examples, and presentation. We need a style guide so that there is some consistency in the way we write and present information.

Here is a list of things that we should discuss:

## Naming conventions
- [x] Ember vs Ember.js
- [ ] When to use Ember CLI and when to use just Ember (or Ember.js)
- [ ] Should we use `let`

[2015-08-09 02:44] michaelrkn commented on #557
We need a style guide, and this is only one small piece of the discussion. Personally, I don't think we should get bogged down in that when we have [more pressing outstanding issues](https://github.com/emberjs/guides/issues?utf8=%E2%9C%93&q=is%3Aopen+-label%3Acode+label%3A%22help+wanted%22), but maybe I'm just being grouchy :)

[2015-08-09 02:45] michaelrkn commented on #557
Actually, this kind of stuff has come up enough that I'm going to change this into an issue for creating a style guide, so we at least have an open issue for it to begin discussion of what should be in it and what the timeframe should be for deciding and implementing it.

[2015-08-09 02:45] HeroicEric commented on #557
I think this one would be a pretty easy change though, no?

[2015-08-09 02:46] michaelrkn commented on #557
Yes, and many of the style guide things will be too, but 1) there are a lot of little things, 2) it will be an effort to get consensus on all of them, and 3) all together it will be a big effort.

[2015-08-09 02:47] HeroicEric commented on #557
@michaelrkn :+1:

[2015-08-09 07:22] sajt opened #558 "Ember.Set is deprecated"
I tried the Ember.Set from http://guides.emberjs.com/v1.13.0/object-model/enumerables/ but I get
[code]
Is this good? And what I can use instead?

[2015-08-09 12:11] rwjblue commented on #558
That section of the guides needs to be updated (removing reference of Ember.Set). Would you mind opening an issue on github.com/emberjs/guides for that?

As far as what to use instead, if you really need a Set I'd suggest that you use an ES6 poly fill version (there are a few IIRC).

[2015-08-10 20:38] kagemusha opened #560 "Section on Manipulating Model Relationships"
Was thinking it would be helpful to have a section explaining how to relate objects to one another, particularly usage of addObject and removeObject.

Could either be a Model subpage, something like 'Working with Relationships", or a subsection of the 'Working with Records' page.

If people think this would be helpful, I can take a first stab at it.

[2015-08-10 22:59] michaelrkn commented on #560
This should be part of the #449 effort.

[2015-08-10 23:25] acorncom commented on #441
@michaelrkn Any further details on how to replicate this issue?  I've just tried the following and both seem to be working:

`bundle exec middleman server`

`bundle exec middleman build`

I'm not seeing the exception you mention ...

[2015-08-10 23:27] michaelrkn commented on #441
Yeah, just add this code to a file:

[code]

Nothing bad will happen with `middleman s`, but when you try to build, you will get an error.

[2015-08-10 23:51] acorncom commented on #514
What seems to be happening is that the `onComplete` handler is properly fired when directly using the `Swiftype` [autocomplete plugin](https://github.com/swiftype/swiftype-autocomplete-jquery/blob/master/jquery.swiftype.autocomplete.js) here:

https://github.com/emberjs/guides/blob/master/source/javascripts/swiftype.js.erb#L29-31

Specifically, the callback we're registered is located [here in the

[2015-08-11 00:16] eccegordo opened #562 "Improve integration test helpers documentation"
It seems that there needs be a section on "Integration Test Helpers". That discuss how to build a custom helper for integration testing of components.

For example:

Imagine I have a useful but repetitive little bit of code throughout my component tests

[code]

What is not clearly documented is how I could create and use a helper in my integration tests.

I would like to do something like this

[

[2015-08-11 00:18] locks commented on #558
Closed by #555

[2015-08-11 00:18] #558 closed

[2015-08-11 00:39] locks commented on #557
My suggestion: open a PR adding a styleguide.md file, we can address the points in the diff. Quick rapidfire:

Ember.

Ember CLI when we're referring to the CLI, Ember when we're referring to the framework.

Yes; we can argue that later (cc @wycats)

No, one application cannot sufficiently provide use cases for all of the guides unless they're exceedingly contrived, or the app too complex.

Always

[2015-08-11 04:51] michaelrkn commented on #514
Thank you for your sleuthing @acorncom!

[2015-08-11 05:25] michaelrkn commented on #557
Sweet, will do before Thursday.

[2015-08-11 05:38] qhoxie commented on #514
Hey guys,

This seems like a logical extension to the plugin.  We'll take a look at it ASAP.

Best,
Quin / Swiftype

[2015-08-11 16:37] jimbeaudoin commented on #562
This can be related to #501

[2015-08-11 16:52] eccegordo commented on #501
As an aside it would be helpful to clearly discuss the side effects and statefulness of integration testing and explain the difference from unit testing now that there is that `integration: true` mode for testing components.

After trying to refactor several hundred component tests in my own project I am seeing a lot of of

[code]

In other tests and through out my app. It seems that integration m

[2015-08-11 18:56] eccegordo commented on #562
One other thing that is not clear from the guides is how to stub out services as part of integration tests.

In my particular case I have some service objects that are injected into specific components. But the components tests fail because the service object is not properly setup and torn down. It would be nice to know how to mock these services with a test helper that works with component integr

[2015-08-11 19:22] wldcordeiro opened #565 "Add a basic tutorial to the Getting Started section"
I've been learning Ember recently and one of the biggest hurdles of the guides so far for me has been the lack of a tutorial to show how the pieces all fit together (a good example of this would be the Django tutorial in my opinion.) This has been such an issue that a [book](https://leanpub.com/ember-cli-101) has been written that acts as the tutorial (with some added detail.) I think having a tut

[2015-08-11 19:23] wldcordeiro commented on #445
Oops, didn't see this issue, #565 is a duplicate. Closing that and subscribing to this. Also willing to help out with writing a basic tutorial.

[2015-08-11 19:24] wldcordeiro commented on #565
Duplicate of #445

[2015-08-11 19:24] #565 closed

[2015-08-11 22:18] michaelrkn commented on #445
Thanks for the offer @wldcordeiro! Let me get back to you within the next few days.

[2015-08-11 22:19] michaelrkn commented on #543
Closed by #555.

[2015-08-11 22:19] #543 closed

[2015-08-11 22:41] wldcordeiro commented on #445
@michaelrkn no problem. Here's an idea of a TOC for the tutorial, I'm not super familiar with Ember myself but I think that could be useful when writing beginner tutorials.

* Installation
* Creating app and tour of folder structure
* Generating models and interacting with them in console
* Creation of routes and controllers
* Writing templates
* Writing Tests
* Basic styling

[2015-08-12 12:12] locks opened #568 "Add configuring options"
Add a list of configuring options as per https://github.com/emberjs/guides/pull/524#issuecomment-128547671.

[2015-08-12 14:48] michaelrkn opened #570 "Move "The Run Loop""
It is the only page left in "Understand Ember", a section that probably shouldn't exist, especially if it only has one page. Where should "The Run Loop" go?

[2015-08-12 14:48] michaelrkn commented on #570
Maybe under Components, since that seems to be the most common use case?

[2015-08-12 14:50] michaelrkn opened #571 "2.0 release blockers"
- [x] #570
- [x] #545
- [x] #561
- [x] #569
- [x] #574

[2015-08-12 15:39] acorncom commented on #570
:+1: on putting it under Components for now.  Long-term, I think it would be helpful to have some "High-level Ember Architecture" sections of some sort (sort of a "start here when digging into the internal guts of Ember").  That's what the "Understand Ember" section seemed to be beforehand, but I could see putting docs about FastBoot there as well in the future ...

[2015-08-12 15:40] acorncom commented on #571
@michaelrkn @locks #561 is ready to be merged.

[2015-08-12 16:43] #570 closed

[2015-08-12 16:43] michaelrkn commented on #570
Closed via #573.

[2015-08-12 22:50] #568 closed

[2015-08-12 23:23] acorncom commented on #571
Looks like #569 was merged and then removed.  So we're no longer blocked, correct?

[2015-08-12 23:24] michaelrkn commented on #571
We have a PR coming as an alternative to #569. Should be ready to release in about 5 minutes!

[2015-08-12 23:36] #571 closed

[2015-08-13 15:10] cllns opened #581 "Version picker doesn't work from v2.0.0 pages"
Steps to reproduce:

1. Visit http://guides.emberjs.com/v2.0.0
2. Click on any of the pages on the right, let's say: http://guides.emberjs.com/v2.0.0/getting-started/first-app/
3. Try to change the version in the top left, to any version (even v2.0.0). It'll try to visit http://guides.emberjs.com/v2.0.0/getting-started/v1.13.0 (with the last digits being whatever you clicked) and that gives you a

[2015-08-13 15:27] swr commented on #581
Looks like versions.json gets generated on deploy. You can see current version at: http://guides.emberjs.com/versions.json

Then replace dev copy of "Versions will appear here when deployed" with the proper json.

[2015-08-13 15:28] michaelrkn opened #582 "JavaScript folder is a mess"
* Why is `swiftype.js.erb` not in the `app` folder?
* Why is there a `guides` subfolder in the `app` folder?
* Is `back-to-top.js` actually used anywhere?
* Why is there a separate manifest `guides.js` instead of just being part of `common-all.js`?
* Is `highlight.js` actually used anywhere? It's not `require`d in the manifests.

I *think* that all app-specific JS should be in the `app` folder wit

[2015-08-13 15:29] michaelrkn commented on #582
@trek @rwjblue Do either of you know anything about this?

[2015-08-13 15:32] cllns commented on #581
Yup, I tried that. It just tries to go to `v1.13.0` as the full URL (no http, etc), rather than relatively.

It's because the JS for [version-select](https://github.com/emberjs/guides/blob/master/source/javascripts/app/guides/version-select.js.erb#L7) assumes the URL looks like it does in production, not in dev.

 `guides.emberjs.com` redirects to `guides.emberjs.org/v2.0.0/`, where as `localhost:

[2015-08-13 15:39] swr commented on #581
@michaelrkn Fixed it. Looks like version-select.js was indexing the slugs from the end. He switched it to go from the beginning/left.

[2015-08-13 17:08] locks commented on #581
I confirm that @michaelrkn's fix is deployed. Thanks for opening the issue :)

[2015-08-13 17:10] MarkMT opened #585 "Core Concepts"
I've seen comments in various places suggesting that the learning curve on Ember is very steep and that the documentation is not as helpful to new developers as it could be. I'm completely new to Ember myself (long time Rails/jQuery developer) and I found that I had to read through all of the guides several times before I felt I could piece together a clear view of what seemed to be the main conce

[2015-08-13 17:12] locks commented on #581
It seems the version switcher isn't completely fixed (switching from http://guides.emberjs.com/v2.0.0/getting-started/first-app/ will still give you a 404), but this specific issue is resolved.

[2015-08-13 17:18] swr commented on #581
I think the current code may cause problems when the other versions of the guides don't have the same sections. Hence why the older versions just switched to the root level of the guides.

For instance go here: http://guides.emberjs.com/v2.0.0/object-model/ and then switch to v1.10.0

So I guess the best thing to do is just have it switch to the root of the version you are switching to rather than

[2015-08-13 17:18] jimbeaudoin commented on #581
The switcher need to switch to the root of the desired guide every time. not to the page it was before in another version.

[2015-08-13 17:20] MSch opened #586 "Licensing clarification"
We'd love to adopt a similar format to the Ember guides for [our product](http://pspdfkit.com/) as well.

The license says

name and logo, as well as illustrations (other than diagrams in the guides).

Can you clarify under which license the non-Ember specific and not Ember-branded Ruby/HTML/CSS/JS parts are? Basically, may we fork the repo, remove the Ember-branding and use it to publish our own

[2015-08-13 17:24] locks commented on #586
You can find more info at http://emberjs.com/legal/, and possibly contact @wifelette for specifics.

[2015-08-13 17:25] locks commented on #586
I'm closing this as it is not an issue with the guides per se. Good luck :)

[2015-08-13 17:25] #586 closed

[2015-08-13 17:28] locks commented on #581
@jimbeaudoin that is not the intended behaviour for the switcher. it will switch to the nearest root if the current page is not available.

[2015-08-13 17:30] jimbeaudoin commented on #581
@locks nice and better! :+1:

[2015-08-13 17:37] locks commented on #585
While it would be more helpful to open a PR for this, big rewrites are also harder for us to deal with. The docs team has discussed an approach similar to yours, but we've had to put out some fires meanwhile.
I will bring this up in today's meeting and let you know the response.

[2015-08-13 17:41] locks commented on #585
Stylistically speaking there would have to be some editing to bring your prose more inline with the guides. Thanks for sharing your effort!

[2015-08-13 18:02] MarkMT commented on #585
However you decide to move forward is fine with me. If it's useful to your thought process that's great. I needed to write it just to help get some ideas clear in my own mind. My background is probably a little different from the average developer - more in architecture and technology strategy, so I tend to look for the key abstractions more than how-to's and code examples.

[2015-08-13 18:09] michaelrkn commented on #581
That's news to me :) Sounds like a great feature though!

[2015-08-13 18:16] locks commented on #581
@michaelrkn http://hood.ie/blog/the-hoodie-why-1-we-have-a-dreamcode.html ;)

[2015-08-13 22:44] trek commented on #582
Guides were extracted from the main website repo, so a lot of assets remain in the location that made sense in _that_ project.

[2015-08-13 23:06] michaelrkn commented on #582
Ah, I see. Does it make sense for me to process as outlined above?

[2015-08-13 23:11] michaelrkn commented on #585
Hey, I really like many of the ideas in your version!

[2015-08-13 23:11] michaelrkn commented on #585
For others to check out, it's easiest to read at https://github.com/MarkMT/guides/blob/8cde513b1a56cc15dcff1a28167722ba8def5e0d/source/getting-started/core-concepts.md.

[2015-08-14 00:38] locks commented on #585
I brought it up at the meeting (https://github.com/locks/core-notes/blob/august-13/docs-team/2015-08/august-13.md)

[2015-08-14 14:48] trek commented on #582
If you think it's the most critical next thing, the folder could clearly use a cleanup

[2015-08-14 14:50] michaelrkn commented on #582
It caused me to waste 2 hours the other day trying to track down why version switching wasn't working because I didn't realize I was editing a file that wasn't used in production. Should take me 5 minutes to clean up and save the next person 2 hours.

[2015-08-14 15:55] michaelrkn commented on #557
See #591.

[2015-08-14 17:29] gjastrab opened #592 "Setting Computed Properties section still refers to checking arity of function to treat as a setter instead of ES6 style setter like the example does"
(referring to 2.0.0 of the guides)

The final paragraph of this page includes:

But the code example uses

[code]

inconsistent?

[2015-08-14 17:31] rwjblue commented on #592
Yep, we definitely need to fix the prose.

[2015-08-14 21:20] #592 closed

[2015-08-16 11:12] thriqon commented on #464
The paragraph below ("Adding Services") introduces just that... I can go ahead and merge them together, promoting their primary use case. I think a single paragraph will help people understand the reasoning better and at the same time decrease the chance of developers to misuse them.

[2015-08-17 04:27] locks opened #598 "Test guides for dead links"
We often find that guides end up with dead links as a result of reorganizing content. It would great to have something that would raise an exception if Middleman tries to serve or build a page with a dead link - serve so that you catch it in development if you're working on that page, build so that it gets caught by Travis making sure it builds if you delete a page that somewhere else links to.

[2015-08-17 04:31] locks opened #599 "Add info on dependency injection and service lookup"
http://guides.emberjs.com/v1.13.0/understanding-ember/dependency-injection-and-service-lookup/ was removed as part of adding the Services section in 2.0.0. Some of the content didn't make it over. Let's make sure that all of the content is added back.

[2015-08-17 04:50] #581 closed

[2015-08-17 05:35] #557 closed

[2015-08-17 06:22] acorncom opened #600 "Flip version ordering in the version drop down"
Over time it seems to make more sense to have older versions of the guides at the bottom of the versions menu instead of at the top ...

[2015-08-17 15:09] phkavitha opened #601 "Why is Ember Run Loop section removed?"
The section that explains Ember run loop is really helpful for beginners. Why is that removed in Ember 2.0? Is it possible to bring it back?

[2015-08-17 15:12] michaelrkn commented on #601
We removed the Understanding Ember section, since most of the content seemed better suited elsewhere. Since the run loop is most often used in components, it is now in the Components section: http://guides.emberjs.com/v2.0.0/components/run-loop/

[2015-08-17 15:12] #601 closed

[2015-08-17 15:14] phkavitha commented on #601
Got it. Just found it.

[2015-08-17 15:21] locks commented on #600
I don't have much of an opinion on this. @michaelrkn ?

[2015-08-17 15:21] michaelrkn commented on #600
Sounds good to me. I can take care of this before long.

[2015-08-17 15:22] locks commented on #600
@michaelrkn I volunteer @acorncom for the task :trollface:

[2015-08-17 15:23] michaelrkn commented on #600
@acorncom if you want to, the relevant code is in https://github.com/emberjs/guides.emberjs.com/blob/master/tasks/update-versions.js. Keep in mind that the change will only be for future versions - versions already released will have the old order.

[2015-08-17 15:27] locks commented on #600
Yup, that's my one opinion on it (I have one after all). It will be confusing for someone changing between versions.

[2015-08-17 15:29] michaelrkn opened #602 "General review of the Guides"
The Guides are long overdue for a top-to-bottom review. Let's split up the work and go through each section, looking for:

* clarity of writing;
* plenty of examples to illustrate concepts;
* starting with simple, easy concepts and moving to advanced, difficult concepts;
* keeping each page as short as possible and splitting up long pages;
* focus on the "happy path", and avoidance of edge cases;

[2015-08-17 15:32] michaelrkn commented on #602
@knownasilya @HeroicEric @acorncom @SaladFork @elbeezy @joost @eccegordo @mattw59 Any of you interested in helping out with this?

[2015-08-17 15:32] SaladFork commented on #602
:+1:

[2015-08-17 15:39] acorncom commented on #600
I don't mind making the changes if we want to make them :-)

Re: versions already released having the old order ...  That's my one concern with making the change.  Is there no way to go back and change old versions?  I'm happy to do the leg work on the various pull requests if it's doable

[2015-08-17 15:40] acorncom commented on #600
And agreed, @michaelrkn, you've got bigger fish to fry, leave this low-hanging fruit for the rest of us ;-)

[2015-08-17 15:42] locks commented on #600
Not currently feasible.

[2015-08-17 16:27] acorncom commented on #602
@michaelrkn Yeah, I'd be interested.  When are you wanting this done though?

[2015-08-17 16:28] acorncom commented on #600
Think we should skip it then?  Seems like bad UX to flip things on folks.  On the other hand, better to do it now than when we're on 2.6+

[2015-08-17 16:35] mattw59 commented on #602
@michaelrkn Sure, I'm interested. I'll take a look at the Ember Inspector. I have the same question as @acorncom, mostly so I can prioritize my time.

[2015-08-17 16:42] locks commented on #602
Two weeks before `v2.1`, see milestone.

[2015-08-17 16:42] acorncom commented on #602
So about a month from now?  I'm happy to take controllers ...

[2015-08-17 16:47] knownasilya commented on #602
I'll do services, since I need to get caught up on them.

[2015-08-17 16:52] locks commented on #600
I dream a dream that by `2.6` we'd have a different architecture.

[2015-08-17 16:54] acorncom commented on #600
:-)  So then should I send in a pull request?

[2015-08-17 16:59] locks commented on #600
@acorncom since this is non-critical and is a breaking ui change, I'd live to let it simmer a bit more.

[2015-08-17 17:03] acorncom commented on #600
:+1:

[2015-08-17 17:05] aortbals opened #604 "Expose the latest guides without a version number for SEO"
One thing I've noticed with the recent edition of versioned guides is that Google is surfacing older guides at the top of search results because all guide URLs are versioned. I would like to propose that the guides adopt a URL structure where the latest stable release has a constant URL as well as a versioned URL. This seems to work well for Rails Guides. A few options:

- http://guides.emberjs.co

[2015-08-17 17:05] acorncom opened #605 "Rename STYLE_GUIDE.md to CONTRIBUTING.md"
If we do that, the Github Contributing system will automatically trigger whenever someone creates a pull request: https://github.com/blog/1184-contributing-guidelines

[2015-08-17 17:07] mattw59 commented on #602
@michaelrkn @locks It is safe to assume you're looking for a PR with suggested changes?

[2015-08-17 19:03] michaelrkn commented on #602
@mattw59 that's right.

[2015-08-17 20:31] acorncom commented on #448
@michaelrkn I can probably help draft something basic on this that we can flesh out in the future if that'd be helpful ...

[2015-08-17 21:46] michaelrkn commented on #448
The idea is to port over http://ef4.github.io/liquid-fire/ into the Guides. @ef4, anything @acorncom can do to help out?

[2015-08-17 21:51] locks commented on #604
I may be mistaken, but this would necessitate a re-architecting of the application which at the moment is a tricky proposition.

[2015-08-17 22:00] locks commented on #445
@wldcordeiro feels backwards to me to talk about models ahead of Routes, which is where everything falls from in Ember. I also don't like the idea of interacting with them in the console that much.

[2015-08-17 22:16] ef4 commented on #448
Yes. The liquid-fire docs are an Ember app that's built directly from the liquid-fire repo, and I want to keep it that way, because it lets us test every change to liquid-fire against possible breakage in the docs.

So the goal is to integrate the existing Ember app into the guides.emberjs.com domain. There are several possible ways to do this, so somebody just need to experiment and come up with

[2015-08-17 22:18] ef4 commented on #448
The above is all just the plumbing that's required. There is also editorial work to do too, to change the flow of the docs themselves to be more of a guide. That's where I'm probably needed.

[2015-08-17 22:25] MarkMT commented on #445
Agree with that. Routes are more fundamental to the overall architecture than models.

[2015-08-17 23:07] acorncom commented on #604
@locks What web server is running things behind the scenes?  I'm coming from a Nginx / Apache background, but I believe that type of rewrite would be possible with RewriteRules for those servers ...  Seems like it'd involve a look up of which version was current in our `version.json` file?

[2015-08-17 23:36] acorncom commented on #448
@ef4 Sounds good on the above.  Question re: styling the liquid-fire docs app.  From what I've seen, it sounds like a redesign for the Ember site is in the works in the long-run.  Do you want the liquid-fire guides to use it's own copy of the Ember CSS or should I reference the guides CSS instead?

Seems like a bit of a maintenance headache either way ...

[2015-08-17 23:46] locks commented on #448
If you use the guides' CSS then it should get updated when we implement the redesign, no?

[2015-08-17 23:48] ef4 commented on #448
Yes, it's just likely that somebody changes the guides CSS without noticing
the impact on LF.

But I think that's the best option anyway.
On Aug 17, 2015 7:46 PM, "Ricardo Mendes" <notifications@github.com> wrote:

[2015-08-17 23:52] acorncom commented on #448
Sounds good.  I'll aim to use guides CSS for LF then.

[2015-08-18 00:09] locks commented on #604
@acorncom divshot

[2015-08-18 00:15] acorncom opened #609 "Add the "Editors" configuration page from Ember-CLI.com?"
I've found this page on the Ember CLI site to be quite handy on a regular basis (http://www.ember-cli.com/user-guide/#editors)  are we going to copy it over to the new Guides pages?  Seems like the best fit would be under "Configuring Ember.JS -> Editors", but I'm not sure that works well ...

[2015-08-18 00:24] acorncom commented on #448
A few additional thoughts for us to bat around / work through as we think about this:

- [ ] Liquid Fire's left nav bar currently is nested two levels deep (consisting of both main headings and subheadings).  If we add an Animations section (on the main guides area), will we end up with a three-level nav bar (Animations -> Template Helpers -> liquid-outlet)?  This isn't done anywhere else in the g

[2015-08-18 00:47] acorncom commented on #604
@locks Would the custom redirects mentioned at https://docs.divshot.com/guides/routing do what we're after?  Seems like we could setup 301 redirects in our config file (though we'd have to change the config file during each deploy ...)

[2015-08-18 04:54] michaelrkn commented on #448
Tangential note - it would be awesome to get this issue resolved, but it is pretty low-priority compared to [these](https://github.com/emberjs/guides/labels/help%20wanted).

[2015-08-18 05:12] #605 closed

[2015-08-18 05:21] michaelrkn commented on #609
This doesn't feel like it's Guides material to me... I think @locks had suggested that this might be more appropriate for a blog post or something like that, and I'm inclined to agree.

[2015-08-18 05:24] michaelrkn commented on #604
I like this idea! It will require a big re-architecting of the application however.

[2015-08-18 05:26] michaelrkn commented on #602
Can we actually set the deadline a bit sooner, in two weeks - Tuesday, September 1? Two weeks seems like plenty of time, and if somebody has to bow out, gives us more time to find a replacement to review that section.

[2015-08-18 19:22] HeroicEric opened #612 "rootURL vs. baseURL :dizzy:"
So I'm not really sure which is correct here but I think we should make this more clear (so I can understand :smile: )

### Ember Guides

The [ember guides mention to specify a Root URL](http://guides.emberjs.com/v2.0.0/routing/) when "your Ember application is one of multiple web applications served from the same domain. For example, if you wanted to serve your blogging application from `http://e

[2015-08-18 19:56] kgish commented on #598
Would something like the 'link-checker' gem which could be integrated, would that be an idea?