[2017-01-23 16:48] anhari commented on #1718
FWIW, I would find a guide that walks through basic CRUD operations or focuses more on serialization/deserialization infinitely more helpful than what I have gained from the TDD portions of Super Rentals.

I understand this requires setting up a backend and is maybe outside of the scope of the offical guides for ember.js.

[2017-01-23 16:50] locks commented on #1787
It is a very useful frame with which to approach structuring a front-end application, but the fact that curly components are still two-way bound, there isn't really a way to enforce the one-way binding aspect of DDAU without introducing a lot of overhead and subtle inconsistencies.

Well, it would help if there was a consensus on what DDAU even is :P

[2017-01-23 17:02] theroncross commented on #1787
Right, but don't we want to encourage new Ember-ists to adopt this style of architecture?

I was more just thinking of explicitly putting the 'DDAU' name on what's already in the guides.

[2017-01-23 17:42] mike-north commented on #1718
I wouldn't say I'm **demanding** anything. It's just that I've seen statements like this thrown around casually

which do not align well with most of the comments I've seen on this issue, #1708, or the data I've gathered from training and producing content for lots of developers.

[2017-01-25 11:12] alpermutlu opened #1789 "ERR_SSL_PROTOCOL_ERROR on guides"
Hi all,

When I visit https://guides.emberjs.com/ I get an SSL error ERR_SSL_PROTOCOL_ERROR.

This is the curl response:
`curl -L https://guides.emberjs.com`
`curl: (35) Server aborted the SSL handshake`

When we inspect this deeply, we see the results below:
![image](https://cloud.githubusercontent.com/assets/2779319/22288349/989e9ea2-e307-11e6-8c75-6ae05aca2736.png)

![image](https://cloud.githu

[2017-01-25 17:33] Senthe commented on #1725
@theroncross hello again after a couple months : ). I got much better grasp on Ember and am happy to discuss the issue.

Right now this is the introduction to Controllers:

I would rephrase a bit to something like:

How does that look to you?

Shouldn't it also be documented in this section that Controllers are actually singletons reused on route enter, that can only be re-"rendered" in `setupCont

[2017-01-26 11:03] #1789 closed

[2017-01-26 13:27] locks commented on #1789
Thanks for reporting @alpermutlu, I'm glad our migration to a new setup seems to have fixed this :)

[2017-01-26 15:07] frunjik opened #1790 "https://guides.emberjs.com/v2.11.0/ uses terms ES6 ES2015 and ECMAScript 6"
On the guide index page it mentions:
ES6, ES2015, ECMAScript 6
Without saying that they are all the same ...
(They are all the same aren't they ?)

[2017-01-26 16:18] #1790 closed

[2017-01-26 16:19] locks commented on #1790
@frunjik "Understanding ECMAScript 6" is the name of the book so we can't change it, but when we land the JavaScript primer I'll add an item to the list saying they're all synonyms, and link to the primer.

[2017-01-26 19:31] locks opened #1793 "Add Controller to Core Concepts schematic"

[2017-01-26 19:36] acorncom commented on #1793
This will be editing the schematic shown here (https://guides.emberjs.com/v2.11.0/getting-started/core-concepts/).  The source svg file can be found here: https://github.com/emberjs/guides/blob/master/source/images/originals/ember-core-concepts-master.svg

[2017-02-03 18:04] toddjordan commented on #1708
Update:
* Added changes to clarify sections around routing and model hook.
* Delayed the introduction of Ember data until later on in the tutorial, so that the concepts wouldn't get confused with the more general concept of the model hook.  (will likely be more changes in ember data later).  Next PR will be moving the mirage introduction back as well.
* Currently also working on some refactoring a

[2017-02-05 14:26] mpash commented on #1708
2 months and 3 bullet points. This is why Ember will never mature like Vue.

[2017-02-05 15:01] locks commented on #1708
@mpash I would like to remind you that the learning team that was formed to deal with documentation and related issues is entirely voluntary, everyone is trying their best with the available time they have. If your goal is to incentivise the team to prioritise this item over our numerous other tasks, this kind of disparaging remark is not the best way to achieve that.
Vue is a great project and is

[2017-02-05 15:03] dgeb commented on #1708
@mpash I should also add that your statement was neither empathetic nor respectful, two goals of our [community guidelines](http://emberjs.com/guidelines/).

[2017-02-05 15:05] mpash commented on #1708
@dgeb nifty 👍

[2017-02-07 10:34] joewoodhouse commented on #1554
I think it is quite clearly against Google's terms & conditions to download the javascript library as the tutorial recommends, so I would suggest this be updated?

[2017-02-07 14:30] toddjordan commented on #1554
yes.  in plan to change the way we incorporate maps.

Originally we took the vender approach to show how to integrate 3rd party libraries.  I think we would like to keep a similar approach, so we will approach the issues as follows:

* Investigate other map solutions to see if there is an alternative to google maps that we can download the client with.
* If none exist, we will change the approach,

[2017-02-08 07:39] getaclue commented on #1554
@toddjordan just my 2 cents... how about a third option (for now)? leave the curl as it is with a small modification ala
[code]
and then have a notice that you have to go into the `vendors/gmaps.js` to replace `YOUR_API_KEY` string with your API key?

This way, if they mess up a step somewhere in this section of the tutorial then they will at least know which file they have to go and modify (and w

[2017-02-10 11:30] ipogoretsky opened #1809 "Older versions of Quick Guide is not awailable very often"
Very often older versions of quick guide is not available - 404 page

[2017-02-10 12:29] locks commented on #1809
@ipogoretsky do you have a suggestion to improve this?

[2017-02-13 21:40] carlbennettnz commented on #1450
@nathanhammond Hey, could we reopen this please? We lost the underline again a few months ago. The fix is still on master, but it's missing from the actual site.

[2017-02-13 21:42] carlbennettnz commented on #1450
Actually, #1458 only added underlines to links in the footer. Not sure this was ever fixed.

[2017-02-14 04:54] acorncom commented on #1809
@ipogoretsky Would love to get this fixed if you can send the url in question that you're seeing that has problems ...

[2017-02-14 04:58] acorncom commented on #1450
@carlbennettnz Just re-opened this.  Would love to get help on this if you have the time.  At the moment, the learning team is pretty crunched on time, but help is gladly accepted!

[2017-02-14 15:46] ipogoretsky commented on #1809
@acorncom see for examle https://guides.emberjs.com/v1.10.0/getting-started/quick-start.
![2017-02-14 18 46 08](https://cloud.githubusercontent.com/assets/8426797/22936233/e8a04ade-f2e5-11e6-85c3-12f13a442957.png)

[2017-02-14 16:35] williamhaley commented on #1185
@acorncom Although I'm very new to Ember, I'd love to help move this issue along if I can. Is the issue you referenced above still the blocker to getting this done?

In the short term, I've tried using some Google syntax to help out, but even with that it's a hodgepodge of old and new docs in the search results.

[code]

Unfortunately, I have to agree with the sentiments above. Navigating the docs

[2017-02-15 01:45] locks commented on #1185
@williamhaley are you on the Slack group? Our guides/website/api docs in-page search has been more useful since we switched providers, have you found that lacking as well?

[2017-02-15 04:32] williamhaley commented on #1185
Thanks @locks. I had tried the in-page search tool when I was starting out with Ember about a month ago, but I gave up on it after a couple tries. The reason was that, at the time, I didn't really know the Ember API or lexicon, and the sorts of searches I was doing didn't bring back results that I found especially helpful as a novice.

For instance, if I search "nest route" using the in-page searc

[2017-02-15 15:10] acorncom commented on #1185
@williamhaley

It's not taken as a knock on the in-page search, appreciate your thoughtful response and clear articulation of the issues you're hitting.  I'd also agree with you, it can definitely improve.

👍 That would be hugely appreciated.  We're a small volunteer team with not a lot of time to devote to this, so the Google issue has been one hanging over our heads for the last year as I've slo

[2017-02-16 15:34] gmarquet opened #1814 "Make ember-twiddle examples"
I think it will be nice to have ember-twiddle example on most of the pages.
The new ember users could see the functionalities/hierarchy/etc and test them without the hassle of the set up.
And maybe, later we can have a library on ember good practices with examples.
This is something, that i think i can start.

I wanted to know your opinion.

[2017-02-16 17:01] toddjordan opened #1815 "discourage jQuery clicks from tests in guides/tutorial"
See https://github.com/emberjs/ember.js/issues/14867#issuecomment-280341753 for background

I see references in "Testing Components" that should be updated, "Building a Simple Component" (tutorial), and "Building a Complex Component"(tutorial).  Any one finding references elsewhere can list here.

We should also give a brief explanation for initiating events on native elements vs the jQuery object

[2017-02-17 16:43] acorncom commented on #1814
@gmarquet We would love to do this (and used to do it in old versions of the guides using JSBin).  Because yes, it would be a great starting point for new folks interested in Ember.

There are a few complexities we run into with this (which is why we don't use JSBin currently).  The primary one is that JSBin and Twiddles are both tied to individual user accounts.  What we've found over time is tha

[2017-02-17 17:26] gmarquet commented on #1814
@acorncom generate code for ember twiddle seems to be a great idea :)

Not sure if i can lead but i can certainly help. I'll take a look at the ember-twiddle project in the week-end.

[2017-02-19 01:59] acorncom opened #1816 "Add canonical urls to /current to all old version of the guides"
As we worked through (at some length) in https://github.com/emberjs/guides/issues/1185 having multiple versions of the guides in search engine indices ends up diluting our ability to actually find **anything** using Google search.  It's not an ideal situation.  We'd been pending adding canonical urls to our old versions of the guides while we worked on adding better search to those versions of the

[2017-02-19 02:00] acorncom commented on #1185
Thanks for all the feedback here folks, we're starting in on actually making these changes.  Tracking the work here: https://github.com/emberjs/guides/issues/1816  If you have time, would love to get some help here!

[2017-02-19 02:00] acorncom commented on #1185
Closing this issue ...

[2017-02-19 02:00] #1185 closed

[2017-02-19 02:02] acorncom commented on #1816
I've just updated versions 2.3, 2.4 and 2.5 with the canonical url to test how that affects things with the search engines.  Will check on that next week and slowly roll that out on the other versions

[2017-02-19 04:29] acorncom commented on #1814
@gmarquet The main thing I think we'll need to do on this is work out how to extract all code samples from the guides markdown files as part of the build process in the guides repo.  The highlighter code (https://github.com/emberjs/guides/blob/master/lib/highlighter.rb) is probably the closest code we have to doing that.  Once we have something that can properly extract the code samples (JS and HB

[2017-02-20 05:27] acorncom commented on #1809
@ipogoretsky Ah, that's because we hadn't written that page back when the v1.10 guides were released 😀 We don't back-port new pages we write to old versions of the guides, as sometimes our syntax has changed and other aspects of Ember have changed.  Does that answer your question?

[2017-02-20 17:12] acorncom commented on #1809
I'll close this issue for now, but let's reopen it if there is something we're missing

[2017-02-20 17:12] #1809 closed

[2017-02-20 17:25] acorncom opened #1820 "[Meta] Long-term guides infrastructure changes"
As we work on guides, we end up having two types of changes that need to be addressed.  We have issues that need to be resolved on `master` (and for all future guides) and then we have meta issues that have to be fixed across all of guides. The later issues are more painful to address given our current static build approach (see https://github.com/emberjs/guides.emberjs.com for details).

I'm open

[2017-02-21 05:49] #1820 closed

[2017-02-24 16:04] acorncom opened #1823 "Document the existence of pauseTest for acceptance testing"
It's pretty handy when building acceptance tests

[2017-02-28 18:18] toddjordan opened #1827 "a few issues with the first tutorial page"
Walking through the tutorial from scratch and noticed a few things on the first page.
`/source/localizable/tutorial/ember-cli.md`

1. we should tell the user to cd into the newly created project after calling `new`.  I'm an experienced ember developer and I still get trolled by that.

2. we should remove the "upgrading ember" section since the upgrade task is not straightforward for new devs.  We

[2017-03-03 02:51] li-xinyang commented on #1827
I would love to help to clarify this part what should I do? Just send a new PR and fix the issue?

[2017-03-03 16:13] toddjordan commented on #1827
Yup.  Thanks!  Looking at the PR...

[2017-03-04 00:19] andrewhavens opened #1837 "No guide for testing Services"
There are guides for testing components, controllers, routes, and models, but no guide for testing services.

Opening this issue because @acorncom asked me to. 😄

[2017-03-07 14:40] jonblack opened #1838 "Error routes don't need to be added to router.js"
This is a follow-up to https://github.com/emberjs/ember.js/issues/5620.

The [error substate documentation](https://guides.emberjs.com/v2.11.0/routing/loading-and-error-substates/#toc_code-error-code-substates) describes how error routes are matched. If you create an error route according to these rules (e.g. `ember g route error`) the error route fails with the message:

    More context objects

[2017-03-07 16:31] locks commented on #1838
I was trying to find a related issue, and here it is: https://github.com/emberjs/ember.js/issues/14650#issuecomment-283387314. The error substate is different from having a route named `error`. It wasn't possible due to a bug in the router library, but it has been fixed.
That is why in the route map examples present in that page you see neither a `loading`, nor an `error` route.

[2017-03-07 23:11] gitaarik opened #1839 "Documentation for skipping a unit test"
It's very handy in TDD to be able to temporarily disable tests by skipping them. You can of course also comment out the code but you could then get a lot of "imported but unused" errors in your test results.

From some other GitHub issue I found the way to skip a test is to use the function `skip` instead of test, also imported from `ember-qunit`:

    import { test, skip } from 'ember-qunit';

[2017-03-08 03:53] locks commented on #1839
Hi @gitaarik, do you have some time to work on a PR?

[2017-03-08 08:19] jonblack commented on #1838
What's misleading (particularly for beginners) is the following line:

I've always considered a route to be something that extends `Ember.Route` *and* has an entry in `router.js`. It's interesting that you point out that the examples on that page don't actually show the error route in the route map, something which I didn't notice before.

How about something like this:

I suppose the same sort of

[2017-03-08 19:39] acorncom commented on #1823
Might be worth adding in `resumeTest` info as well (https://github.com/emberjs/ember.js/pull/13663/files)

[2017-03-09 15:27] #1827 closed

[2017-03-13 13:38] feanor07 opened #1844 "Ember.Route#controllerFor api reference seems to be wrong"
http://emberjs.com/api/classes/Ember.Route.html#method_controllerFor

controllerFor api documentation says "Returns the resolved model of the current route, or a parent (or any ancestor) route in a route hierarchy."; this seems to be wrong it returns the associate controller nothing realted with model I guess.

[2017-03-13 18:14] locks commented on #1844
Can you send a PR to https://github.com/emberjs/ember.js please? The API docs are generated from the source.

[2017-03-13 18:14] #1844 closed

[2017-03-14 06:31] toddjordan commented on #1718
I've reorganized the tutorial some to de-emphasize a test first approach.  I've also tried to make some of the concepts clearer.

Testing still exists in the tutorial. it is just pushed to the last section(s) of each page, and right before the test section of each page, we give the reader the option to either skip the testing part and keep implementing features, or learn to test what they've just

[2017-03-17 19:44] RyanNerd commented on #1708
Please move the **Actionable Tasks** to a project with milestones. Where I work milestones (with expected task completion dates) helps immensely.

[2017-03-17 19:53] toddjordan commented on #1708
@RyanNerd Thanks for your willingness to help!  A bunch of these are to be fixed by https://github.com/emberjs/guides/pull/1818.  For the rest I will follow your suggestion on once that pr is merged.  If you want to help right away, going through the tutorial with that PR and looking for errors would be super helpful.

[2017-03-17 20:23] guillaumesasdy opened #1846 "Inconsistency in Adding Nested Routes"
Hello. In the "Adding Nested Routes" part of the first Tutorial, it is said:

Then it is asked to populate the model in the subroute `rentals/index` instead of route `rentals`.

I think this is an inconsistency because in the part "Building a Complex Component" we modified the template `rentals.hbs` so that the data is fetched by the list-filter component but not anymore in the model. To make sure

[2017-03-17 20:27] mpash commented on #1708
@RyanNerd It's not easy for me to be nice instead of critical when Ember has everything it needs to succeed. I'm sorry I was negative, but I want to light a fire (🔥) under your butts. You can't get things done when everything is sunshine and rainbows.
- It's okay to demand something from the community.
- It's okay to remind the core team nothing has been done.
- It's okay for me to say that it nee

[2017-03-17 20:37] locks commented on #1708
You know what happens when you light something on fire? It burns out.

[2017-03-17 20:44] mpash commented on #1708
It was a jocular term related to Ember, but thanks for your quick quib. It's time to warm up that frozen heart.

[2017-03-17 21:31] newton3 opened #1847 "Tutorial: application stops working after "Updating the model hook""
I am new to ember and trying to follow along with the tutorial.
At one point it just stops working and I have no clue what an 'store' actually is
[https://guides.emberjs.com/v2.11.0/tutorial/ember-data/#toc_updating-the-model-hook](url)
has anyone faced the same issue or can help me? Not sure if this is a duplicate.

[2017-03-17 21:50] acorncom commented on #1846
Hey @guillaumesasdy welcome to Ember, Javascript and Github! 👋 Thanks for dropping by and pointing that out, we love to hear feedback, especially when it's thoughtfully put 😀

We've got an update to the tutorial in the works here (https://github.com/emberjs/guides/pull/1818) that @toddjordan has been heroically working on without much feedback.  If you have the time, would love to get your thought

[2017-03-18 01:01] toddjordan commented on #1847
Hi @newton3 thanks for reporting.  can you give any detail on what happens when it stops working?
Any errors in the console, any description of what the screen looks like?

[2017-03-18 01:14] toddjordan commented on #1847
also, there's a working version of the tutorial app here: https://github.com/ember-learn/super-rentals

[2017-03-19 10:52] lazaridis-com opened #1848 "Simplify the Newcomer Tutorial"
The tutorial starts right up with test-driven development, which bombards essentially a newcomer with very much information about acceptance tests.

It would be preferable to have this test-chapter placed at the end, in an "Intermediate" section.

(I'll work through this tutorial tomorrow. If there is interest to simplify it, then I can write-down the relevant points.)

[2017-03-19 11:09] lazaridis-com opened #1849 "Please use the ember-cli.com design for the ember guides."
I just read through this:

https://ember-cli.com/user-guide/

The design has a far better readability than  https://guides.emberjs.com/v2.11.0/.

It would be nice if this design would be adopted by the main documentation, which hurts a bit my eyes...

Just open the 2 sites side-by-side, and you'll see the big difference in readability.

(to be fair: the code-boxes have a better readability on guid

[2017-03-19 11:11] lazaridis-com commented on #1849
(just the code-boxes have a better readability on guides.emberjs.com )

[2017-03-19 20:51] mixonic opened #1850 "Deployment instructions are not documented"
The guides for v2.12 of Ember have not been released, largely because it is not documented how one might perform a deployment. This must be covered in the README. For example the [website README documents deployment of API docs](https://github.com/emberjs/website#api-documentation).

[2017-03-19 23:24] locks commented on #1848
Thanks for the feedback. This is already being addressed in https://github.com/emberjs/guides/pull/1818, check it out if you're interested in a softer approach to testing :)

[2017-03-19 23:24] #1848 closed

[2017-03-20 00:44] lazaridis-com commented on #1718
@toddjordan

you should not de-emphasize it. you should drop it, it does not belong in an entry-tutorial. I don't know who has written those tutorial mainly, but he should simply **drop** this task and let someone else do it.

Listen carefully to those comments:

@anhari - https://github.com/emberjs/guides/issues/1718#issuecomment-274543897
@mike-north - https://github.com/emberjs/guides/issues/17

[2017-03-20 01:34] lazaridis-com commented on #1708
@dgeb

It was both, empathetic and respectful. It show a huge amount of empathy and respect for the users which get disappointed, when hitting on such documentation.

Difficult concepts for those on the "Throne of the Core".

[2017-03-20 01:44] lazaridis-com opened #1851 "[LEADERSHIP] - Please Cleanup the Tutorial Mess"
There is a Tutorial (https://guides.emberjs.com/v2.12.0/tutorial/ember-cli/)

And there is the question: how long does it take for the Ember Leadership to intervene? I mean, there **is** a leadership, like in any commercially backed project, or not?

So, the Product Manager should take a look at this:

#1708 - Perspective of someone new to SPAs: Large tutorial in guides is incredibly confusing
#17

[2017-03-20 05:20] lazaridis-com opened #1852 "Migrate Away from "Middleman", Alternatives."
I tried to provide feedback to #1818 whilst reviewing the resulting site, but got stuck whilst installing the (non-JavaScript tool) "middleman". I stopped after hitting the 1 hour mark (problems with SSL certificates during library installations) - more frustrated than before.

I am sure that the JavaScript domain has similar or better tools available. But even if the JS tools for generating a doc

[2017-03-20 08:13] lazaridis-com commented on #1852
A 2nd attempt:

* Installer 2.2.6 32bit (**not** 64bit)
* devkit, get it, extract, rung `ruby dk.rb init` and `ruby dk.rb install`
* fetch latest RubyGems from https://rubygems.org/pages/download, extract, run `ruby setup.rb' within it.
* Changing  `eventmachine (1.0.8)` to `eventmachine (1.0.4)` within Gemfile.lock
* changing http://rails-assets.org/ => http://insecure.rails-assets.org/  within G

[2017-03-20 09:08] locks commented on #1852
This is already planned, you can follow along at https://github.com/ember-learn/guias.

[2017-03-20 09:08] #1852 closed

[2017-03-20 09:20] lazaridis-com commented on #1852
@locks , I don't understand "ember-learn", "guias". Are there no ready documentation-tools in the JS domain?

(and can you please avoid closing issues that fast? This is a docu repo anyway. )

[2017-03-20 09:53] locks commented on #1852
ember-learn is the GitHub organization for the learning team, and guias is an Ember.js application to view guides that intends to replace the current stack. It is part of an ongoing mid-term plan to re-structure our resources, which includes slowly moving resources over to Ember.js. This has the two-fold consequence of us dog fooding our own technology, as well as coming up with maintained open so

[2017-03-20 10:02] locks commented on #1838
As you mentioned, this will apply to both `error` and `loading`, so I think the best approach is to explain this at the top of the document, before we dive into the individual substates.

Are you interested in opening a PR to address that? We can discuss details during the PR review process :)

[2017-03-20 10:16] lazaridis-com commented on #1852
[...]

Ok, I see! You may copy the explanation you gave me to the repo / organization there, thus others see it. I guess this "own dog-food project" is a good way of getting in contact with Ember coding.

(btw: think about renaming the organization to "emberdoc", which can be later become a product-name for a documentation-system (if you finally succeed).

The only thing usually moves forward is m

[2017-03-20 10:34] lazaridis-com commented on #1852
*weekly planning calls minutes

[2017-03-20 11:43] lazaridis-com opened #1853 "[HOWTO] Add a Website Template"
(using the doc repo for this, as this can be used to create a simple "How To" overview)

Is there a way to add a website template to my project? Something like

`$ ember add template standard`

Which would add the standard-template, which would be e.g. a header-footer-left-nav template.

If not, is there anything in the documentation which shows how to do this quickly (e.g. adding a bootstrap temp

[2017-03-20 13:41] lazaridis-com opened #1854 "[HOWTO] Enable Template Error Messages by Default"
executing the tutorial:

In the main template (application.hbs), I've  placed this code

[code]

The "Contact" page is not yet provided. The result is that possibly the `{{outlet}}` tag is not reached, resulting my `About` page not displaying its content.

Why does Ember not report me such an error by default?

How do I configure Ember to report me such errors, instead of silently ignoring them?

[2017-03-20 14:00] rwjblue commented on #1854
The error is reported to the console (which, in general, is where these things go).

Also, this issue fracker isn't really meant as general Q/A. You should join the Ember community slack (you can get an invite from [here](https://ember-community-slackin.herokuapp.com/)), lots of us hang out there and answer questions like these.

[2017-03-20 14:18] lazaridis-com commented on #1854
I guess that even modern kids know that those things go usually there. But not with Ember (at least not in my trial). Just fancy things like this:

[code]

I don't do Q&A. I find spot issues in the documentation (or produce documentation). Essentially, I'm uncovering weaknesses.

Chat for analyzing issues? No way. You would block me in record time.

[2017-03-20 15:20] rwjblue commented on #1854
FYI - I was referring to the browser console. This isn't really an Ember specific thing. All front end frameworks run JS in the browser and therefore when runtime errors occur you will find them in the browser console.

I disagree 😉.

Please explain how this is an error in the documentation, I'm not really following you here.

Higher bandwidth communication often overcomes communication issues, an

[2017-03-20 21:28] newton3 commented on #1847
Thanks. I would refer to the working version and try to figure out the details with documentation.

[2017-03-20 23:19] locks commented on #1853
The closest to this that we do have documented is the [Installing Addons](https://guides.emberjs.com/v2.12.0/tutorial/installing-addons/) section of the tutorial, where we point to the curated addon catalog, [Ember Observer](https://emberobserver.com/), as well as instruct the reader to install an addon that provides styling to the tutorial application.
You also have an `ember-bootstrap` addon tha

[2017-03-21 01:21] guillaumesasdy commented on #1846
Thank for the answer @acorncom I will check the update of the tutorial to give some feedbacks.

[2017-03-21 03:19] lazaridis-com commented on #1849
(a possibly quicker alternative is to switch to the original initial design https://guides.emberjs.com/v1.10.0)

[2017-03-21 03:37] lazaridis-com commented on #1854
@rwjblue, save your words, wise man.

@locks, @toddjordan - the main issue here are those two questions that can come up from newcomers or tired evaluating-ember-late-night users:

 * Why does Ember not report me such an error by default?
 * How do I configure Ember to report me such errors, instead of silently ignoring them?

The tutorial should point out that one has to look for errors within th

[2017-03-21 03:57] lazaridis-com commented on #1853
So the answer is:

fight through the docs and find it out.

ok.

[2017-03-21 03:57] #1853 closed

[2017-03-21 04:18] lazaridis-com opened #1856 "Mention "Front End Framework" within Documentation"
Strangely, the Ember site seems not to mention "Frontend".

The tutorial addresses beginners, and thus it should contain in its intro, clearly visible, that Ember is a "Frontend Framework", which is **not** used for server-side development.

(some semi-related info within: #1854)

[2017-03-21 06:56] lazaridis-com commented on #1708
Seeing the further comments re documentation issues, I realize that there is no hope that Ember will get decent documentation.

To all of you, just look a this:

http://aurelia.io/hub.html#/doc/persona/developer

-

@lisaychuang , its very gentle from you to express things so calmly. But then, possibly just **one** sentence with a few 'forbidden' words would have done better work in making those f

[2017-03-21 07:01] bcardarella commented on #1708
Can we lock this thread?

[2017-03-21 07:08] lazaridis-com commented on #1854
Example Section

## New to Frontend Developement?

Some things you possibly do not know if you're new with Frontend Development.

### Error Output

Errors are shown usually within the `browser console`, simply because the JavaScript code you write is execute in the browser. You open the console with:

(firefox, chrome, etc.)

### Data

You can use a local data store, which has several limitation,

[2017-03-21 11:02] mayankyadav opened #1857 "404 when opening some links in https://guides.emberjs.com"

[2017-03-21 11:24] pizza commented on #1857
When this issue was opened, I too was getting a 404, but it looks like it's working now: https://guides.emberjs.com/v2.12.0/tutorial/ember-cli/

[2017-03-21 11:30] mayankyadav commented on #1857
Yep. Works now

[2017-03-21 11:49] rwjblue commented on #1849
It's much more likely that we will go the other way.

If you could provided details on this, we are generally happy to address. We care deeply about the sites accessibility, and are always looking for ways to make it better.

Without a more targeted / detailed explanation of _what_ is wrong this issue is not very actionable (and will likely end up closed).

[2017-03-21 11:50] rwjblue commented on #1853
Hehe, yes. The answer in general to these types of Q/A things is to read the docs. That's what they are for! 😁

[2017-03-21 11:51] rwjblue commented on #1856
Seems reasonable, thanks for the idea!

[2017-03-21 12:10] lazaridis-com commented on #1708
@rwjblue (Ember Core Team, LinkedIn), within #1853

Note to reader: totally hopeless project.

[2017-03-21 12:11] mmun commented on #1708
Please everyone take a little time to cool off. We're all in this together!

[2017-03-21 12:17] locks commented on #1708
We can.

I would like to thank everyone that constructively participated in the conversation and helped us (Todd ;P) open up the tutorial to a wider range of people, especially Lisa and Mike for taking the time and effort to write detailed feedback.

We have additional items on the roadmap to keep improving things after Todd's latest round of changes, such as adding a better introduction to the tu

[2017-03-21 12:20] lazaridis-com commented on #1849
@rwjblue

Sounds impressive.

[2017-03-21 12:49] cncardoso opened #1858 "[CDN Issue - Active] Guides pages missing from tutorial and elsewhere"
Page missing on
https://guides.emberjs.com/v2.12.0/tutorial/autocomplete-component/

[2017-03-21 12:58] Arko commented on #1857
Had same issue right around OP time. Still 404 from Switzerland

[2017-03-21 13:02] acorncom commented on #1857
@arko can you keep us updated on whether it continues to be broken for you? Looks like our CDN host may have had issues in Europe for a bit ...

[2017-03-21 13:03] Arko commented on #1857
Will do!

[2017-03-21 13:14] decafbad opened #1859 "404 in Guide, Object Inspector Page"
https://guides.emberjs.com/v2.12.0/ember-inspector/object-inspector/

[2017-03-21 13:21] corasla opened #1860 "Ember Guide for Observers and Bindings are not available for v2.12.0"
When going to these URLs, you will get a 404

https://guides.emberjs.com/v2.12.0/object-model/observers/
https://guides.emberjs.com/v2.12.0/object-model/bindings/

[2017-03-21 13:22] corasla opened #1861 "Ember Guide for Enumerables not working on v2.11.0"
The below URL will result in a 404

https://guides.emberjs.com/v2.11.0/object-model/enumerables/

[2017-03-21 13:45] mayankyadav commented on #1857
https://guides.emberjs.com/v2.12.0/tutorial/hbs-helper/ broken in France.

[2017-03-21 13:45] acorncom commented on #1858
This seems to be an issue with our CDN provider that started a few hours ago. Will leave this issue open and close others that seem to be the same root issue.

[2017-03-21 13:47] acorncom commented on #1859
Thanks for reporting, this seem to be a CDN issue (in Europe?) as it isn't consistent: https://github.com/emberjs/guides/issues/1858#issuecomment-288082371 I'll close this issue and track info there.

[2017-03-21 13:47] #1859 closed

[2017-03-21 13:48] acorncom commented on #1860
Thanks for reporting, this seem to be a CDN issue (in Europe?) as it isn't consistent: https://github.com/emberjs/guides/issues/1858#issuecomment-288082371 I'll close this issue and track info there.

[2017-03-21 13:48] #1860 closed

[2017-03-21 13:48] acorncom commented on #1861
Same goes here

[2017-03-21 13:48] #1861 closed

[2017-03-21 13:48] larryh opened #1862 "Missing Routing pages in 2.12"
Hi,

The following pages are missing in the Routing section for 2.12:
Rendering a Template
Redirecting
Loading/Error Substates

BTW: thanks for all of the work that you do on this!

[2017-03-21 13:52] acorncom commented on #1862
Thanks for reporting, this seem to be a CDN issue (in Europe?) as it isn't consistent: https://github.com/emberjs/guides/issues/1858#issuecomment-288082371 I'll close this issue and track info there. If you continue to see the issue in a few hours can you write back on that issue? Thanks!

Also, appreciate the kind words, makes it easier to keep doing these things :grinning:

[2017-03-21 13:52] #1862 closed

[2017-03-21 14:04] thomaswelton commented on #1847
Kinda weird. For me this page was going to a 404 https://guides.emberjs.com/v2.12.0/tutorial/model-hook/ either when clicking on the side nav or clicking on when clicking the link in the footer of the previous section.
However now both seem to be fine. Sorry if that's not clear steps to reproduce.

[2017-03-21 14:06] acorncom commented on #1858
I just re-deployed the latest version of the guides, please let me know if you continue to see issues ...

[2017-03-21 14:11] Arko commented on #1857
https://guides.emberjs.com/v2.12.0/tutorial/ember-cli/ back up for me.
https://guides.emberjs.com/v2.12.0/tutorial/hbs-helper/ is still 404

[2017-03-21 14:29] wmena opened #1864 "404 Errors on guides pages"
I encounter a few issues with the guides. This pages currently showing 404 pages:

https://guides.emberjs.com/v2.12.0/routing/rendering-a-template/
https://guides.emberjs.com/v2.12.0/templates/displaying-the-keys-in-an-object/
https://guides.emberjs.com/v2.12.0/templates/links/
https://guides.emberjs.com/v2.12.0/components/customizing-a-components-element/
https://guides.emberjs.com/v2.12.0/compon

[2017-03-21 14:30] wmena commented on #1864
Duplicated issue

[2017-03-21 14:30] #1864 closed

[2017-03-21 14:31] wmena commented on #1858
This pages also have the same issue:

https://guides.emberjs.com/v2.12.0/routing/rendering-a-template/
https://guides.emberjs.com/v2.12.0/templates/displaying-the-keys-in-an-object/
https://guides.emberjs.com/v2.12.0/templates/links/
https://guides.emberjs.com/v2.12.0/components/customizing-a-components-element/
https://guides.emberjs.com/v2.12.0/components/block-params/
https://guides.emberjs.com

[2017-03-21 14:38] toddjordan commented on #1847
@thomaswelton see https://github.com/emberjs/guides/issues/1858
there have been some cdn issues today with the website

[2017-03-21 14:53] locks commented on #1858
I was in the affected area, but I am not getting any 404s anymore.

[2017-03-21 15:35] mariowilde commented on #1858
Same here. The issue seems to be resolved for me.

[2017-03-21 16:37] locks commented on #1857
Moving over to #1858, please gives up updates there!

[2017-03-21 16:37] #1857 closed

[2017-03-21 17:30] toddjordan commented on #1851
I don't see any new issue over the ones already linked.  Therefore closing this issue.

[2017-03-21 17:30] #1851 closed

[2017-03-21 17:35] toddjordan commented on #1695
I'm going to take a stab at pushing Mirage back to after the "Nested Routes" section, and use Http Mocks up to that point.  That way we can still deploy with a client side solution, but we push mirage back to the end, where an inexperienced user can choose to take it on or stop, having gotten through most of the core concepts.

I'll do a PR and elicit feedback on how it flows.

[2017-03-21 20:23] RyanNerd opened #1865 "Tutorial may want to mention the Ember CLI move away from bower"
As part of best practice for features that are slated or even in part have been deprecated such as `bower` it is helpful to mention this in the tutorial. For example at: https://github.com/emberjs/guides/blob/master/source/localizable/tutorial/ember-cli.md

[code]

[2017-03-22 00:25] toddjordan commented on #1718
Addressed by #1818

[2017-03-22 00:25] #1718 closed

[2017-03-22 02:13] toddjordan opened #1868 "Tutorial "building a complex component" section improvements"
In the tutorial section called "Building a Complex Component" (complex-component.md), we should add a small blurb at the beginning describing why the component we are about to build is considered "complex".  I'd say the new component is complex because it takes in input, invokes a function that performs the search (closure action), and then allows the consumer of the component to customize the res

[2017-03-22 02:25] toddjordan opened #1869 "Add a little more explanation about parameters "Creating a Handlebars Helper" section"
In ["Creating a Handlebars Helper"](https://guides.emberjs.com/v2.12.0/tutorial/hbs-helper/), we explain that we are using destructuring and link to it which is great, but it could use a bit more explanation on where the array of parameters come from.

2nd to last paragraph could go something like this (feel free to make this text clearer/simpler):
[code]

[2017-03-22 02:54] lazaridis-com commented on #1718
@toddjordan , can you please reopen #1851, as it addresses the project leadership, which has not yet commented? And the "lock" should be removed, too - no evolution without a good 'fight'.

The changes that you've applied do not address the issue at hand. The tutorial is still far too heavy.

May I send you a reworked version of a page, so you can see how it should/could look?

[2017-03-22 04:22] toddjordan opened #1870 "Improvements to mirage setup "Installing Addons" Section of the Tutorial"
Ultimately we want to move this setup later in the tutorial (see #1695 ). Until this bigger change happens we can try to make it a little more clear on what mirage is and what we are doing with it.

----

Make it clear we will be using mirage later in the tutorial when we want to enable our application to make requests to a server.

First paragraph might read something like:

[code]

----

Explain

[2017-03-22 04:34] toddjordan opened #1871 "Ember Data Tutorial Section Mentions a GET request, which may throw someone trying look at the network tab"
In "Using Ember Data", after the final code snippet, we say "When we call findAll, Ember Data will attempt to make a GET request to /rentals.".  Because we are using Mirage, that GET request really doesn't happen. Instead we'd want something like

[code]

[2017-03-22 04:44] lazaridis-com commented on #1853
To whoever hits on this in future:

http://yoember.com/#ember-bootstrap-sass

Some more decent tutorial resources:

https://ember-cli.com/user-guide/#tutorials

[2017-03-22 04:46] toddjordan opened #1872 "In Simple Component section, explain what an "Actions Hash" is"
After the `rental-listing.hbs` code snippet, theres a sentence that states:

"Clicking the anchor element will send the action to the component. Ember will then go into the actions hash and call the toggleImageSize function."

We need to introduce what an actions hash is.

The next sentence might say something like:
[code]

[2017-03-22 05:00] toddjordan opened #1873 "Services and Utilities integration test improvements."
in the section titled ["Integration Testing the Map Component"](https://guides.emberjs.com/v2.12.0/tutorial/service/#toc_integration-testing-the-map-component), we introduce some new concepts without explanation:

First the word, "implicit function" is confusing for newer developers.  We can simplify the term so both new and experience developers can understand.  Maybe "Built-in function" would be

[2017-03-22 05:03] toddjordan commented on #1708
Remaining checklist items have either been addressed or opened as smaller issues.  Ready to close.

[2017-03-22 10:44] MarcoUmpierrez commented on #1869
What about this?

[2017-03-22 11:14] locks commented on #1854
There already is.

We establish a baseline at [Assumptions](https://guides.emberjs.com/v2.12.0/#toc_assumptions) for this reason.

Actionable feedback:
- [ ] Reference browser console

[2017-03-22 11:51] locks commented on #1865
Hi @RyanNerd, thank you for your contribution. I appreciate the sentiment of wanting to move off of Bower, however, this characterisation has some potential problems.

We've found that saying something might get deprecated in the future is detrimental (hello controllers :X). Plans change, and we only deprecate when there is a migration strategy delineated, after an RFC process. As of today, using

[2017-03-22 12:13] lazaridis-com commented on #1854
@locks , did you finally eat? Me too lazy to cook, finally opened a can.

Actionable feedback:

 [ ] - cook something decent.

[2017-03-22 12:44] RyanNerd commented on #1865
@locks thanks for your lengthy response. It is indeed helpful. I'm going to close this issue. I've set an alarm to create a new issue when 2.13 lands. This way the issue does not become stale. It will indicate that the tutorial no longer references the `bower.json` file. And a part of this will also likely be an update to the _Getting Started_ section as YARN becomes the prefered package/dependenc

[2017-03-22 12:44] #1865 closed

[2017-03-22 12:53] toddjordan commented on #1781
Closing this issue out as it appears that we've merged content to address it.  lmk if there's more...

[2017-03-22 12:53] #1781 closed

[2017-03-22 12:54] toddjordan commented on #1847
Closing this issue out for now.

[2017-03-22 12:54] #1847 closed

[2017-03-22 14:27] acorncom commented on #1708
Sounds good, closing it now

[2017-03-22 14:27] #1708 closed

[2017-03-22 15:21] locks opened #1877 "Add terms to the Glossary"
- [ ] UI, User Interface

[2017-03-22 20:20] acorncom commented on #1858
Sounds good. I'll close this for now, please comment if you are still seeing issues...

[2017-03-22 20:20] #1858 closed

[2017-03-23 00:25] acorncom commented on #1865
@RyanNerd Much appreciated. We'd love to have any/all the help you can manage, looking forward to working with you further

[2017-03-23 00:28] #1856 closed

[2017-03-23 03:27] toddjordan commented on #1695
Quick update: http-mocks may be being phased out.  At the same time there's an effort to create an express-based version of mirage.  I'll find out more and come back to this.

[2017-03-23 05:14] mike-north commented on #1695
@toddjordan I'm working on a free-standing API for common types of apps that I can train against (i.e., a chat app, an ecommerce app, a CMS, the tiniest social network in the world). Would it be worth exploring whether this is an even simpler way to meet the needs of tutorial consumers?

[2017-03-23 05:28] toddjordan commented on #1695
yeah, would be open to it.  Thanks!

[2017-03-23 11:27] cncardoso commented on #1858
Resolved. Thanks!

[2017-03-23 17:43] #1854 closed

[2017-03-23 17:44] #1849 closed

[2017-03-25 21:46] acorncom commented on #1814
One other blocker on pursuing this to far is the lack of support for IE/Edge in Ember-Twiddle at the moment.  More details discussed at https://github.com/emberjs/website/issues/2369#issuecomment-289241630

[2017-03-25 21:53] acorncom commented on #1374
@toddjordan Looks like we could close this issue and migrate the few todos above out into separate issues.  Thoughts?

[2017-03-25 21:54] acorncom commented on #1333
Fixed in #1741

[2017-03-25 21:54] #1333 closed

[2017-03-26 12:59] sivakumar-kailasam opened #1883 "404 page's image doesn't load"
On reaching https://guides.emberjs.com/v2.12.0/models/working-with-relationships/ you'd notice that http://emberjs.com/images/tomsters/fishy.png is missing.

[2017-03-27 18:47] theroncross commented on #1869
That's definitely an improvement. I would make the following changes.

Each argument in the helper will be added to an array and passed to our helper. For example, `{{my-helper "foo" "bar"}}` would result in `myHelper(["foo", "bar"])`. Using [array destructuring assignment](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment), we can name expected p

[2017-03-27 19:51] theroncross commented on #1872
Should this be closed?

[2017-03-27 23:34] sheriffderek opened #1893 "Let https://guides.emberjs.com/tutorial direct to latest"
It would be great for linking to have `https://guides.emberjs.com/tutorial`  direct to the latest tutorial instead of a 404.

[2017-03-28 09:00] greyhwndz opened #1894 "SuperRentals model attribute 'type' may not be JSONAPI spec compliant"
If the field names used by the model in SuperRentals tutorial will be adopted by a JSONAPI-spec-compliant backend, we may encounter a problem.

Here is an example backend in Phoenix/ja_serializer with the `type` incorrectly set by the value of the `type` field found in `attributes`:
https://github.com/greyhwndz/phoenix_api#when-i-curl-to-the-api

This behavior may be in compliance of the JSONAPI s

[2017-03-29 04:36] acorncom commented on #1893
@sheriffderek You can use https://guides.emberjs.com/current/tutorial/ember-cli/, does that work?

[2017-03-29 15:00] sheriffderek commented on #1893
That will certainly work. It's not very intuitive, though. My use case is just for blog articles and times where you want to quickly link to the tutorial. http://emberjs.com/tutorial would probably be the best to redirect. Anyway. Got it! Thanks.

[2017-03-29 15:00] #1893 closed

[2017-03-30 00:19] mixonic commented on #1871
Closed by https://github.com/emberjs/guides/pull/1891

[2017-03-30 00:19] #1871 closed

[2017-03-30 00:21] mixonic commented on #1869
Fixed by https://github.com/emberjs/guides/pull/1886

[2017-03-30 00:21] #1869 closed

[2017-03-30 00:24] mixonic commented on #1868
Closed by https://github.com/emberjs/guides/pull/1888

[2017-03-30 00:24] #1868 closed

[2017-03-30 21:02] Orbyt opened #1897 "Update Ember tutorial to remove references to application.hbs"
By default, `ember new` no longer generates `app/templates/application.hbs`. This file is referenced in the official tutorial, found at the bottom of this page: https://guides.emberjs.com/v2.12.0/tutorial/ember-cli/

A similar issue #1491 was posted in 2016, regarding `application.hbs` no longer being generated. Additionally, the default welcome page specifies that the welcome page is included by

[2017-03-30 21:08] Orbyt commented on #1897
PR: #1898

[2017-03-30 22:25] locks commented on #1897
Hi @Orbyt, thank you for reaching out and specially for the PR.

From your description I think you are using an older version of Ember CLI, because this has since be fixed in the blueprint, and we now generate `application.hbs` again. We also changed the strategy of `ember-welcome-page`, and you are now not required to delete the dependency in your `package.json`, only the component in the templat

[2017-03-30 22:25] locks commented on #1897
Hi @Orbyt, thank you for reaching out and specially for the PR.

From your description I think you are using an older version of Ember CLI, because this has since be fixed in the blueprint, and we now generate `application.hbs` again. We also changed the strategy of `ember-welcome-page`, and you are now not required to delete the dependency in your `package.json`, only the component in the templat

[2017-03-30 22:40] Orbyt commented on #1897
Version of `ember-cli` is `2.10.0`. According to [here](https://ember-cli.com/) the latest version is `2.12.1`. I assume this change was made in between these versions?

As a side note, i've attempted to update my `ember-cli` package several times and keep ending up with `2.10.0`. Uninstalling and reinstalling `ember-cli` produces the same results. Am I missing something?

[2017-03-30 22:49] locks commented on #1897
It happened in 2.11.0, you can see the [CHANGELOG](https://github.com/ember-cli/ember-cli/blob/master/CHANGELOG.md#2110). It was this PR: https://github.com/ember-cli/ember-cli/pull/6378/files.

[2017-03-30 22:49] locks commented on #1897
Can you join the Slack channel so someone helps you debug the uninstall/install problem?

[2017-03-30 22:58] Orbyt commented on #1897
I'll get it resolved. This issue and #1898 are irrelevant if `2.11.0` added this functionality back in. I'll close this comment.

[2017-03-30 22:58] #1897 closed

[2017-04-06 14:24] jacobq opened #1901 "Input helpers page links to deprecated API"
In the EmberJS 2.12.0 Guides' [section regarding](https://github.com/emberjs/guides/blob/master/source/localizable/templates/input-helpers.md#actions) [input helpers](https://guides.emberjs.com/v2.12.0/templates/input-helpers/) there appears to be a link to a private, deprecated API.

Should these event names no longer be used or are they just part of some other interface now?

[2017-04-12 16:28] #1901 closed

[2017-04-14 07:22] wemposd opened #1908 "Tutorial 'Building a Complex Component' has a broken link"
Hello,

At chapter 'Building a Complex Component' there is a broken link https://guides.emberjs.com/components/wrapping-content-in-a-component

[2017-04-18 12:59] travismchan commented on #1908
Are you using the latest guide? If not, which version are you using? Seems to be working on my end.

[2017-04-18 13:09] travismchan commented on #1883
Both links seem to be broken.

[2017-04-18 15:07] hd719 commented on #1105
Hello I am new to Open source can I work on this?

[2017-04-18 15:16] locks commented on #1908
I confirm that https://guides.emberjs.com/v2.12.0/tutorial/autocomplete-component/ is working for me too.

[2017-04-18 17:40] rogergl commented on #1572
I would help, but I have one problem: The code looks absolutely valid to me ?

[2017-04-18 23:13] toddjordan commented on #1873
Closing as fixed.  Thanks!

[2017-04-18 23:13] #1873 closed

[2017-04-19 01:18] travismchan commented on #1908
Oh, I see what OP is referring to. I've made a pull request for the fix (hopefully it's correct, first contribution). It was in reference to the paragraph with "This is an example of the block form of a component". I was looking at the side links.

[2017-04-19 01:39] locks commented on #1908
Whoops, I read it as the link to the Building Complex Component guide was wrong.

[2017-04-19 02:05] toddjordan commented on #1572
The code needs improvement because its asynchronous.  When you call to filter it goes through ember data and ultimately ajax calls, meaning the order that the results come back are not guaranteed.  One way to account for this is when the promise is fulfilled, to compare the query used for the search with the current value of the input field.   I've coded this into the super rentals repo in a [PR](

[2017-04-19 03:04] locks commented on #1908
PR with the fix has been merged. Thank you!

[2017-04-19 03:04] #1908 closed

[2017-04-19 16:40] richiethomas opened #1914 "Confusing sentence on `components/the-component-lifecycle` page."
The full sentence is:

- "A didUpdateAttrs is called prior to rerender, you can use this hook to execute code when specific attributes are changed."

There seems to be a typo here. The intended meaning seems to be something like the following:

- "You can use the didUpdateAttrs hook to execute code when specific attributes are changed, since it is called prior to rerender."

I inferred that "As" w

[2017-04-19 17:36] NLincoln opened #1915 "Add documentation for value property in actions"
The action helper accepts a value helper. It's useful when the argument passed to the action is a hash, and you're only looking for a certain property on the hash. It's insanely useful, but it's not documented what it does with multiple arguments, anywhere that I can find. It would be amazing if we could add docs about this to the guides, because currently new users see `value="key"` on actions an

[2017-04-20 00:59] acorncom commented on #1105
@hd719 absolutely!  Feel free to ping us on the `#-team-learning` channel on the Ember Community Slack if you run into issues too ...

[2017-04-20 16:23] #1914 closed

[2017-04-20 16:24] richiethomas commented on #1914
Closed this issue after merging PR #1913.

[2017-04-24 12:23] toddjordan commented on #1883
probably has to do with the change a few weeks back that adds fingerprints to each of the public tomster images.  The guides will likely likely need to have the image locally instead of referring to the one at emberjs.com

[2017-04-24 12:25] toddjordan commented on #1872
yup!  thanks @RyanNerd

[2017-04-24 12:25] #1872 closed

[2017-04-24 21:46] RyanNerd commented on #1883
See PR #1919 that I created. This should fix the fishy.png link.  Not sure what is meant by

[2017-04-24 22:01] RyanNerd commented on #1883
**Note**: I am not able to test my changes. Due to running the guides via middleman I am unable to trigger the 404.html page to load.

http://localhost:4567/404.html  gives me a file not found error.

[2017-04-24 23:09] RyanNerd commented on #1793
I've loaded the SVG file into Inkscape and have started working on this. SVG files are not the easiest things to edit (although they can be smaller in byte size and scale better than say a PNG image).

@acorncom @locks
 **Must** this remain in SVG format? I can edit this in Inkscape as an SVG if I need to but would rather not.

[2017-04-27 01:39] acorncom commented on #1915
@NLincoln One of the things we wrestle with in the guides is how much to provide a ton of detail on the api surface of Ember and how much to encourage folks to explore the api docs for further info.  In this case, the `value` option for the `action` helper is already documented here: https://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action

Would that handle things for you well e

[2017-04-27 01:51] acorncom commented on #1883
Sadly the change we made here fixes things in this repo, but doesn't fix our 404 page, which is referenced in this file here: https://github.com/emberjs/guides.emberjs.com/blob/master/snapshots/404.html#L67

We'll need to update that file to get this resolved ...

[2017-04-27 01:54] acorncom opened #1925 "Fix the search box on our 404 page"
If folks hit this a 404 page (try this one as an example: https://guides.emberjs.com/v2.12.0/models/working-with-relationships/) you may want to do a search for what you are after.  Sadly, it looks like our current 404 page (https://github.com/emberjs/guides.emberjs.com/blob/master/snapshots/404.html) may be using our older search system.

We'll need to reference the newer JS files (and put in the

[2017-04-27 13:47] NLincoln commented on #1915
Yes, that will work. I guess I should have looked harder in the guides :+1:

[2017-04-27 13:47] #1915 closed

[2017-04-28 17:35] richiethomas opened #1928 "Example for `readonly nested data` section?"
In the latest version of the guide, the 'Relationships' page of the 'Model' chapter (/models/relationships/#toc_readonly-nested-data) doesn't contain an example.  As a result, I found it difficult to understand this section or think of cases where I'd encounter a need for this.  I have found the examples listed in other sections of this page to be helpful in my understanding of Ember, so I'm hopin

[2017-04-28 19:15] nateq314 opened #1930 "reference to nonexistent acceptance test in image at end of 'Services and Utilities' section of tutorial"
The acceptance test shown in the image at the end of this section ("should initially list 3 rentals") hasn't actually appeared anywhere in the tutorial up to this point. The component integration test `list-filter-test.js` does test that the component 'should initially load all listings'. Is that what should be displayed instead? Or perhaps the acceptance test displayed in the image should be adde

[2017-04-28 19:30] toddjordan commented on #1930
Hi, thanks for reporting.  its introduced here: https://guides.emberjs.com/v2.12.0/tutorial/model-hook/#toc_acceptance-testing-the-rental-list .

In the services and utilities section we are just mocking the service so maps don't show up in the acceptance tests.

It could be cleaned up a bit to be clearer, i.e. refer back to where its introduced.

[2017-04-29 16:07] AlexanderEllis opened #1931 "Adding Google maps script to tests/index.html in Services and Utilities section of tutorial"
I noticed some of my rental listing component integration tests failing after completing this section, and it looks like it was because it wasn't accessing the Google maps script correctly (resulting in "TypeError: Cannot read property 'maps' of undefined" when it attempted to access window.google.maps.  I had added the Google maps script to my app/index.html, but it still wasn't working.

I check

[2017-05-01 15:04] fastfedora opened #1935 "Ember Guides returns 404"
Navigating to https://guides.emberjs.com/ causes a redirect to https://guides.emberjs.com/v2.13.0/ which is currently returning a 404 Not Found error.

[2017-05-01 15:14] acorncom commented on #1850
Hey @mixonic, deployment info has been generally left on https://github.com/emberjs/guides.emberjs.com (due to guides being split between two repos). There's a note about "RELEASING" at the bottom of the main Readme that links over to that, but due to our switch from Firebase -> Netlify prior to EmberConf those instructions weren't up-to-date.

Believe everything should be resolved at this point,

[2017-05-01 15:14] acorncom commented on #1850
_And yes, not having our code split between repos is something we would love to have resolved, it's turned out to be a cause of many headaches ..._

[2017-05-02 20:57] hd719 commented on #1105
Hello @aaron0browne since this is my one of my first contributions how would I actually start and try to tackle this problem. I forked over the repo. and got the dev. env working smoothly.

-Thank you.

[2017-05-02 23:17] acorncom commented on #1935
This was a temporary issue we had in the course of deploying 2.13, believe it should be fixed for you now.  Appreciate the prompt feedback!

[2017-05-02 23:17] #1935 closed

[2017-05-04 16:50] antonfefilov commented on #10
Just extracted TOC related code into plugin in PR #1936.

[2017-05-09 00:25] skitterm commented on #1632
As a newcomer to Ember, I'd like clarification in the docs on where I can use async test helpers (can I only use them in acceptance tests since that's where they're talked about?) and the best way to mimic clicks/keypresses/etc in integration tests (thought `this$('#my-selector').click()` was the way to go but according to #1815 it's not?)

[2017-05-09 00:26] skitterm commented on #1632
And in general, how to test async stuff in Ember would be helpful. I got confused over when to use `andThen` vs `wait` and when to/not to use the Run Loop.

[2017-05-15 08:08] #1883 closed

[2017-05-15 10:15] RyanNerd commented on #1793
@acorncom @locks ping:
I can edit this image in Inkscape but SVG is similar to CSS editing (I'd rather edit this in a different format for obvious reasons):

![css](https://cloud.githubusercontent.com/assets/10543911/26053178/0a3cf8b0-3925-11e7-9ff6-07de3bf039e2.gif)

[2017-05-18 16:25] toddjordan commented on #1931
no, we should.  good catch.

[2017-05-18 16:36] toddjordan commented on #1485
In the last revision of this page (~march) we added some additional intro text around the first component tutorial page: https://guides.emberjs.com/v2.13.0/tutorial/simple-component/

Going to close this issue as resolved.  Thanks for reporting.

[2017-05-18 16:36] #1485 closed

[2017-05-18 16:37] toddjordan commented on #1374
tutorial work is not represented in seperate issues.  Closing...

[2017-05-18 16:37] #1374 closed

[2017-05-18 16:40] toddjordan commented on #1554
Update:  Currently working on a solution.  What we have now works on localhost, but with gmaps now you need the key to deploy it somewhere remotely.  doing some deployment-related work for the tutorial that this will be a prereq for.

[2017-05-18 16:41] toddjordan commented on #1665
also named wrongly in the image in "Services and Utilities".  Part of this fix should include updating that as well.

[2017-05-18 16:42] toddjordan commented on #1930
Closing as a duplicate of issue #1665

[2017-05-18 16:42] #1930 closed

[2017-05-18 18:08] BWieber opened #1944 "Version dropdown is empty, and a version cannot be selected."
On the Ember Guides main page, the dropdown appears empty, Options are visible when you select the dropdown, but you cannot choose one.

<img width="377" alt="empty-dropdown" src="https://cloud.githubusercontent.com/assets/14808841/26216770/49bbef7c-3bd3-11e7-95ce-6447e3fc2e4a.PNG">

[2017-05-20 18:46] jenweber commented on #1944
Looking into this a little, it is only broken when you’re starting from 2.13. If you go to 2.12 or lower using the url, then switch versions via dropdown, it works until you visit 2.13 again.

Can someone share how guide versions handled, broadly speaking?

[2017-05-21 06:15] jenweber commented on #1944
@locks how is `versions.current` set, compared to what is in _versions.js.erb?

While at the url https://guides.emberjs.com/v2.13.0/, setting the value of `versions.current` manually in the browser console allows for normal navigation afterwards:
[code]

When `current` is either null or something that is not contained in the versions array, some weird behavior happens. If it's an environmental var

[2017-05-21 13:53] locks commented on #1944
Fixed! Thanks @jenweber for pointing me down the right path.

During the build process in Travis CI we have a script that replaces a string (`CURRENT_VERSION_…`) in one of the JavaScript runtime files where it sets `window.GUIDE_VERSIONS.current`.
However, that script was still trying to load a `firebase.json` file that is no longer present, and the script errors. [Removing those lines](https://gi

[2017-05-21 13:53] #1944 closed

[2017-05-21 22:03] myartsev opened #1948 "'Managing dependencies' assumes bower.json is already present in Ember 2.13 projects"
As of Ember  2.13, bower.json is not automatically created for new Ember projects.
[This section](https://guides.emberjs.com/v2.13.0/addons-and-dependencies/managing-dependencies/#toc_bower) of the 2.13 guides assumes that it is. This seems like a good place to mention that you have to run `bower init` to create a bower config.

#https://github.com/emberjs/website/issues/2896
#https://github.com/e

[2017-05-22 03:08] brianhays commented on #1925
Submitted PR to fix the 404 page

[2017-05-22 11:12] #1925 closed

[2017-05-22 18:57] rtablada opened #1951 "Help Wanted: Replace JSHint with ESLint in Guides/Tutorial"
Currently the tutorial mentions JSHint configuration.
However since Ember CLI 2.12 the default blueprint uses ESLint for linting.

The files that will need to be updated:

* `tutorial/routes-and-templates`
* `tutorial/model-hook`
* `tutorial/autocomplete-component`
* `tutorial/acceptance-test`
* `testing/acceptance`
* `glossary/web-development`
* `addons-and-dependencies/managing-dependencies`

[2017-05-22 19:08] jmmccasland commented on #1951
I've got some time to take this today. Just update the guides for 2.12 to ESLint from JSHint?

[2017-05-23 01:30] vaidehijoshi opened #1952 "404 pages have a broken image tag"
Hi there!

While perusing through the Ember guides, I stumbled upon the 404 page via [this](https://guides.emberjs.com/v2.13.0/controllers/dependencies-between-controllers/) url. I noticed that the image tag is broken:

<img width="837" alt="screen shot 2017-05-22 at 6 26 17 pm" src="https://cloud.githubusercontent.com/assets/6921610/26334829/a7aebe60-3f1c-11e7-906b-440ab93b42e9.png">

I'd be happ

[2017-05-23 04:10] jenweber commented on #1894
I can work on this. @toddjordan if I fix the guides themselves and screenshots, is there anything else that should be updated (like the canonical, finished app)? I'm also assuming that the other language pages are autogenerated, and I should only worry about changing code blocks in the English pages, right?

I've confirmed that the superRentals example would not be JSONAPI compliant as-is, accordi

[2017-05-23 06:41] toddjordan commented on #1894
Correct.  Just update the the base (English) file. Thanks!!!

On Tue, May 23, 2017 at 12:10 AM Jen Weber <notifications@github.com> wrote:

[2017-05-23 10:54] locks commented on #1952
This should be fixed by https://github.com/emberjs/guides/pull/1940/files 🤔

[2017-05-24 02:33] jenweber commented on #1894
PR https://github.com/emberjs/guides/pull/1953

[2017-05-24 04:24] jenweber commented on #1928
I can help with this one. Readonly nested data is useful in cases like metadata that doesn't change after file/record intake.

Minimal example in [Ember Twiddle](https://ember-twiddle.com/07897b6f33b8644ca0070de632466940?openFiles=templates.index.hbs%2C)

[code]

[2017-05-24 05:10] #1894 closed

[2017-05-24 05:44] locks opened #1954 "[dev] bundle exec middleman fails"
Stack:

[code]

[2017-05-25 05:41] vaidehijoshi commented on #1952
@locks Weird. I took a closer look at this, seems like the URL that I hit when I encountered this doesn't pick up on the changes made in that PR.

The image `src` is pointing to "http://emberjs.com/images/tomsters/fishy.png", while it ought to be pointing to "https://guides.emberjs.com/v2.13.0/images/fishy.png".

What I'm confused about is why, when I run it locally, everything works just fine. 😳

[2017-05-26 01:08] jmmccasland commented on #1951
@toddjordan @rtablada I've got most of the English guides updated. I'll submit a PR tomorrow! Ryan, I might be DMing you for some noobie github help! ;)

[2017-05-26 01:41] #1948 closed

[2017-05-26 02:22] #1839 closed

[2017-05-29 18:21] locks commented on #824
Closing for inactivity. (hey Michael! 💟 )

[2017-05-29 18:21] #824 closed

[2017-05-29 18:21] locks commented on #823
This will probably be revised when we do a more thorough read through.

[2017-05-29 18:21] #823 closed

[2017-05-29 18:52] locks commented on #1058
Not sure this is still relevant? Make yourself heard if it is!

[2017-05-29 18:52] #1058 closed

[2017-05-29 18:53] locks commented on #1122
Closed until @acorncom saves us with the single build refactoring.

[2017-05-29 18:53] #1122 closed

[2017-05-29 23:20] #1450 closed

[2017-05-31 23:12] tsteuwer opened #1960 "Undocumented use of queryParams with "catch-all" routes"
As you can see in my [original issue](https://github.com/emberjs/ember.js/issues/15274), I had a case which took me the better part of two days to figure out. The issue comes down to the fact that it's not documented that in order to use queryParams in either the route or controller, it's a requirement that the user names the catchall route path by appending a name after the "*" so that it comes i

[2017-06-01 17:20] acorncom commented on #1850
Closing this as resolved, happy to reopen if more is needed

[2017-06-01 17:20] #1850 closed

[2017-06-01 21:25] serenaf commented on #1815
@toddjordan Hey Todd, would like to give it a try :)

[2017-06-02 13:29] toddjordan commented on #1815
Hi @serenaf you are welcome to!  A brief warning of the problem in the testing components page and pointing people at ember-native-dom-helpers with a small example should do.

[2017-06-04 14:45] jenweber opened #1966 "[dev] Ruby version 2.3.4-p301 doesn't work in Mac dev env"
In order to run the Guides locally, I had to change .ruby-version to 2.3.4 instead of 2.3.4-p301. The version currently specified is not available in rbenv, the tool that is necessary to develop in Ruby on Macs. Rbenv follows the version syntax specified in Ruby's [list of releases](https://www.ruby-lang.org/en/downloads/releases/).

@antonfefilov do you think this will cause any problems to chang

[2017-06-04 23:43] locks commented on #1966
The `p` is for patch, which was more frequent in Ruby, but seems like it isn't anymore?

[2017-06-04 23:44] #1966 closed

[2017-06-09 07:57] jakkubu commented on #1931
Should it though? Shouldn't maps API be stubbed in all tests?

[2017-06-11 23:32] rob-dev-builder commented on #1951
Hi @rtablada @toddjordan  just wondering if you still need help with this? I'm a noobie too and am keen to help in any way :)

[2017-06-16 17:19] toddjordan commented on #1815
To clarify (based on -team-learning slack thread), I think native-dom-helpers is eventually becoming wrapped into the out of the box ember test infrastructure, but I don’t know when.  Therefore I suggest we do the following:

1) mention/suggest ember-native-dom-helpers in the testing guide (possibly in this section https://guides.emberjs.com/v2.13.0/testing/testing-components/#toc_testing-user-int

[2017-06-17 08:34] Prajjwal opened #1975 "Provide E-Reader Friendly, Downloadable Guides"
The Rails Guides can be downloaded as a Kindle-friendly `.mobi`. This is extremely useful for people without reliable internet connections (while traveling, etc), and also generally as offline backup.

Hooking into something like `pandoc` would allow exporting the Ember guides in various formats. I'm willing to give it a try if people are okay with it.

[2017-06-22 06:13] joshmccall221 commented on #1951
- [ ] tutorial/acceptance-test
- [ ] tutorial/routes-and-templates
- [ ] tutorial/model-hook
- [ ] tutorial/autocomplete-component
- [ ] testing/acceptance
- [ ] glossary/web-development
- [ ] addons-and-dependencies/managing-dependencies

[2017-06-25 09:20] #1870 closed

[2017-06-25 09:21] #10 closed

[2017-06-25 09:21] locks commented on #10
@antonfefilov Thanks for the help ;)

[2017-06-25 09:22] #1386 closed

[2017-06-25 09:24] #1535 closed

[2017-06-25 09:24] #1597 closed

[2017-06-25 13:22] #1767 closed

[2017-06-25 13:24] acorncom commented on #1975
We'd love it. We've talked about this for quite a while but have had other things we've had to do. Do let us know if you have questions, as we'd be happy to help think through things!

[2017-06-25 13:25] acorncom commented on #1954
Does this happen if you are using Ruby 2.2+?

[2017-06-25 13:28] locks commented on #1954
Hm, good question. I think I even filed this on behalf of someone.
Let's reopen if someone runs into it.

[2017-06-25 13:28] #1954 closed

[2017-06-25 14:10] #1737 closed

[2017-06-25 14:22] Prajjwal commented on #1975
Glad to hear it!

Pretty sure it can be done in an automated way with Pandoc. I'll take some
time off in a couple of days and see what I can do.

Thanks!

On Sun, Jun 25, 2017 at 6:54 PM, David Baker <notifications@github.com>
wrote:

--
Prajjwal Singh

Programmer @ Coding Blocks

Home <https://prajjwal.com>
@prajjwalsin <http://bit.ly/prajjwalsin>
GitHub <https://github.com/Prajjwal>

[2017-06-29 14:11] locks opened #1991 "Path computed properties"
Add some `Ember.computed('obj.prop')` examples.

[2017-07-16 12:01] EmberJSParis opened #2001 "there are errors on this page"
$g — js:101:316You have included the Google Maps API multiple times on this page. This may cause unexpected errors.

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (super-rentals.js, line 0)

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (super-rentals.css, line 0)

[2017-07-21 08:21] danaoira commented on #1554
I feel like the tutorial adding the Google Maps API key is not very clear...

I am trying to add Google Maps API Key through CMD line, so I put this into the console.

![image](https://user-images.githubusercontent.com/2514403/28455106-ae7d1574-6db2-11e7-8734-313500daf6bf.png)

Instead, I get this error:
![image](https://user-images.githubusercontent.com/2514403/28455093-a394c01c-6db2-11e7-80a3-82

[2017-07-21 16:08] artemgurzhii opened #2002 "Add Ember playground in the console"
When I'm reading docs, I'm usually running code in the console. And I have noticed that there is no way to directly run code on [official guides page](https://guides.emberjs.com).

Can something like this be added on each page(assuming URL is https://guides.emberjs.com/v2.14.0/object-model/reopening-classes-and-instances/) so users will have an option to play with it in the console.
[code]

[2017-07-21 20:08] toddjordan commented on #1931
@jakkubu is right, we shouldn't have a dependency on google maps.  if we do we need to update the tests to effectively stub the dependency.

[2017-07-21 20:11] toddjordan commented on #1554
@danaoira the tutorial is describing the command you would run in a unix environment.  For windows we need to run `set GOOGLE_MAPS_API_KEY <your key>`

will create a new issue to update the text to accomodate windows users as well.

[2017-07-21 20:11] #1554 closed

[2017-07-21 20:15] toddjordan opened #2003 "Update text on supplying environment key to accomodate windows users"
In https://guides.emberjs.com/v2.14.0/tutorial/service/#toc_making-google-maps-available

We suggest adding a google maps key to your server runtime by starting the server with
`GOOGLE_MAPS_API_KEY=<your key here> ember s`

This doesn't work on windows, where it needs to be something like
[code]

We should specify what windows users need to do as well.

[2017-07-21 20:16] toddjordan commented on #2003
cc @danaoira

[2017-07-21 20:17] toddjordan commented on #2001
Hi!  Could you provide some context as to what you are doing and the steps you took?

[2017-07-22 02:40] locks commented on #2002
I'm not sure how useful that would be.
What I suggest instead is that we could `console.log` some messages to the developer to try out https://ember-twiddle.com/.

[2017-07-24 07:18] danaoira commented on #2003
@toddjordan Thank you for the CC!

[2017-07-24 12:43] tchan opened #2007 "Computed properties with zero dependent keys example"
Link to relevant section: https://guides.emberjs.com/v2.14.0/object-model/computed-properties/

Hello, Ember is my first framework so I am unsure if this is blaringly obvious to others but it wasn't to me. I discovered today that computed properties can have no dependent keys which only run once. In the current examples, all of them rely on dependent keys, so there is no example of this.

Is there

[2017-07-25 16:34] rtablada opened #2008 "HBS files not showing syntax highlighting on Component lifecycle"
I haven't had time to confirm if it is only on this page, but syntax highlighting for HBS examples are not showing here:

https://guides.emberjs.com/v2.14.0/components/the-component-lifecycle/

[2017-07-25 16:40] rtablada opened #2009 "Better docs around `init` lifecycle hook in components"
The component lifecycle guide is missing a core hook in terms of `init`:

https://guides.emberjs.com/v2.14.0/components/the-component-lifecycle/

Since it's an inherited method from `Ember.Object`, the `init` function doesn't have docs on this page (even though it is listed as part of the lifecycle.
To existing Ember devs this may seem like a no brainer, but there are important details that are di

[2017-07-25 16:50] locks commented on #2009
Different how?

[2017-07-25 16:51] rtablada commented on #2009
@locks see bullets for things that should be clarified for components

[2017-07-25 16:57] locks commented on #2009
Both of them are the same as objects.

[2017-07-25 17:02] rtablada commented on #2009
Objects don't have attrs and "same as objects" could be said about controllers, but controllers act as singletons so things should be clarified for the use case to be more understandable to newcomers.

[2017-07-25 17:07] locks commented on #2009
Components don't have `attrs` either, Ryan. :P

[2017-07-25 17:08] rtablada commented on #2009
I fixed `attrs`. Here's an example that is unique to components in a way that should be explained in the lifecycle hooks and can't just be labeled as "it's just like Ember.Object":

https://ember-twiddle.com/bae3061e207b436b4395d67d7534a0c5?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs

[code]

[2017-07-25 17:10] rtablada commented on #2009
The invoking HBS is:

[code]

The issue is that it is unclear to readers that `hi` is already set in `init`.
Especially with the naming of `didReceiveAtrrs` it would make sense to devs that `hi` would not be available until the `didReceiveAtrrs` hook runs.

[2017-07-25 19:49] #2008 closed

[2017-07-31 08:52] serenaf commented on #1815
@toddjordan Hey Todd, is this issue good to close now? :)  The above mentioned PR was merged

[2017-07-31 14:00] toddjordan commented on #1815
excellent!  Thanks @serenaf

[2017-07-31 14:00] #1815 closed

[2017-08-01 02:53] theseyi commented on #1157
@pixelhandler in what file you have to insert the reopen above?

[2017-08-03 21:12] aureliosaraiva commented on #1816
@acorncom Do you still to need help?

[2017-08-04 14:08] jenweber opened #2017 "Update Managing Dependencies post Ember CLI 2.15"
[Section of the guides to update](https://guides.emberjs.com/v2.14.0/addons-and-dependencies/managing-dependencies/)

Ember CLI 2.15 has a new feature that allows using `app.import` of npm module assets in the same way that was done with Bower assets.

**To do:**
- [ ] remove references to Bower
- [ ] add instructions for app.import of node modules assets
- [ ] Describe app.import caveats in a beg

[2017-08-04 16:43] serenaf commented on #2017
@jenweber I will give this a try :)

[2017-08-11 17:30] acorncom commented on #1816
@aureliosaraiva I sure do! At this point on the above, I'm inclined to leave this issue alone (but open) until we've changed over to a different build system.  But if you've got time/interest, I started in on exploring shifting to a single-repo approach to our guides here: https://github.com/emberjs/guides/pull/1821

Right now, all our guides are built statically at the time of a new release and t

[2017-08-11 18:07] acorncom opened #2023 "Document background reloading options for Ember Data"
See https://github.com/emberjs/data/issues/4720  These features were introduced in Ember Data 1.13 (see the blog post about it: https://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html) but never written up for the guides.  We don't necessarily want a lot of information about it (it'd be better to send folks to the API docs) but it should at least be mentioned so folks know the concept ex

[2017-08-14 02:26] toddjordan commented on #1931
latest super rentals code should require no manual updates to the tests index.html.  checking repo tonight to make sure things are now working as expected.

[2017-08-15 03:09] toddjordan commented on #1931
no longer an issue with the latest version of guides and super-rentals repo

[2017-08-15 03:09] #1931 closed

[2017-08-15 03:11] toddjordan commented on #1572
added some defensive code to the tutorial.  The ultimate solution may be to use ember-concurrency, but we are waiting until we get a "beginner's tutorial" as part of the docs, so what we have can be an "advanced tutorial"

[2017-08-15 03:11] #1572 closed

[2017-08-16 16:27] locks opened #2041 "Inline links in markdown"
Instead of `[`Ember.Application`][1]` and later `-[1]: http://emberjs.com/api/classes/Ember.Application.html`, it should be `[`Ember.Application`][http://emberjs.com/api/classes/Application.html]`.

[2017-08-23 14:27] alechirsch commented on #505
+1 for putting this in the API guide, we just got hit by this as well

[2017-08-24 02:42] jenweber opened #2046 "Improvements to Ember Data sections"
I would like to propose/make the following changes to the [Ember Data section](https://guides.emberjs.com/v2.14.0/models/) of the Guides. The general shift would be towards making them more about http requests from the beginning.

1. **Rename "Models" in the TOC** to Ember Data or Ember Data Models. "Models" makes sense in the context of "MVC" but It is confusing when "The object model" is also pr

[2017-09-05 06:57] auvipy opened #2053 "ember 2.15 release guide not available on the guides doc"

[2017-09-05 17:44] drakej opened #2054 "Ember Guide on defining model attributes shows broken example"
https://guides.emberjs.com/v2.14.0/models/defining-models/

The Defining Attributes section shows an example with a custom attribute that attempts to access Ember when in the context of DS not Ember. It looks like someone forgot to update the documentation after moving models into the ember-ds. It's very confusing and it appears that the customs attributes page was also never updated after moving

[2017-09-05 20:36] #2054 closed

[2017-09-07 01:02] locks commented on #2053
https://guides.emberjs.com/v2.15.0/ Thanks for the nudge :)

[2017-09-07 01:02] #2053 closed

[2017-09-08 22:36] jenweber commented on #2046
Suggestions from David Baker:

[2017-09-15 17:36] RyanNerd commented on #2023
@acorncom I'll see if I can create a PR for this over the weekend.

[2017-09-18 12:35] HaithamMaya opened #2068 "change routing to use /current for latest version to improve google search results"
Often times when searching on google, links to the docs end up going to previous versions. If the latest documentation used `/current` instead of just re-routing, older links indexed by google can still go to the latest version of the documentation.

Example:
A search for [ember routing](https://www.google.com/search?q=ember+routing&rlz=1C5CHFA_enUS758US758&oq=ember+routing
), results in:

![scree

[2017-09-19 11:20] yawboakye commented on #2068
@HaithamMaya There's an ongoing issue here https://github.com/emberjs/guides/issues/1816. Feel free to follow and/or contribute over there. Thank you.

[2017-09-19 14:07] locks commented on #2068
I'm closing this issue, let's track it in #1816 like @yawboakye mentioned. Thanks for your concern @HaithamMaya, SEO for versioned documentation is a pain.

[2017-09-19 14:07] #2068 closed

[2017-09-19 23:24] aripollak commented on #1787
It seems like angle-bracket components are supposed to enforce DDAU, but they don't seem to be mentioned in the guides at all, and there are a lot of references to two-way binding. Would it make sense for the tutorial to talk about the new-style components & input tags instead of {{component}} and {{input}}?

[2017-09-19 23:42] locks commented on #1787
@aripollak angle-bracket components don't exist yet, so everything is two-way bound by default.
I'd say that `{{input}}` is still valuable, especially at the leaf node of a data flow.

[2017-09-22 00:00] ameytotawar commented on #2041
Is this issue resolved??
If no, let me know how can I pick this one??

[2017-09-25 02:09] myartsev opened #2071 "Docs on sideloading relationships"
If you guys agree that this belongs in the guides, I think it'd be helpful to have info on how to sideload relationships:

`let blogPost = this.get('store').findRecord('blog-post', 1, { include: 'comments' });`

https://guides.emberjs.com/v2.15.0/models/finding-records/

Perhaps it would also be interesting to update the data models used in the tutorial with a relationship that is sideloaded (e.g.

[2017-09-27 00:26] acorncom commented on #2046
Another thing I think we should do (because it takes me a fair bit of time to track down each time I need it) is to briefly mention the idea of references. It's definitely a complicated subject, but allows nifty UI interactions where the backend can help control what is shown on the frontend: https://www.emberjs.com/blog/2016/05/03/ember-data-2-5-released.html

A high-level overview of it is that

[2017-09-29 21:12] RunnerRick opened #2074 "Use `onchange` event instead of `onblur` in Handlebars Actions guide"
In https://guides.emberjs.com/v2.15.0/templates/actions/#toc_modifying-the-action-s-first-parameter, shouldn't the event used in the example be `onchange` and not `onblur`?

[2017-09-30 01:29] skitterm commented on #1838
Yikes, this bit me hard, had no idea this was the reason based off the error message. Should really be explicit in the docs that you should **not** have an error entry in `router.js`.

[2017-09-30 03:51] rwjblue commented on #1838
Well, the real issue is that the manually added `error` route doesn’t include a dynamic segment. I totally agree that we should handle this situation much better.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-05 04:38] locks opened #2079 "Older 1.x docs are linking to examples on jsbin that no longer function"
Original: https://github.com/ember-learn/ember-api-docs/issues/352
Author: @kitsunde

[2017-10-11 07:49] sly7-7 opened #2082 "API links are somehow broken"
I don't know what's happening, but clinking on a link pointing to an api method end up to a wrong url in the browser.

For example: http://emberjs.com/api/classes/Ember.Router.html#method_map is transformed to
https://emberjs.com/api/classes/Ember.Router.html/methods/map?anchor=map&show=inherited,protected,private,deprecated

[2017-10-13 03:14] jenweber commented on #2082
Hey, thanks for reporting this. We're working to fix it!

Related: https://github.com/ember-learn/ember-api-docs/issues/355

[2017-10-14 06:53] #2007 closed

[2017-10-21 23:42] jenweber opened #2091 "Super Rentals Tutorial - rename property-type/propertyType to category"
The `propertyType` attribute of the rentals model was changed from "type" some time ago because type is a reserved attribute in JSONAPI spec. I think `propertyType` should be renamed (again) as `category`.

The dasherized `property-type` in the json is a pain point for devs going through the tutorial. I've helped at least 6 people who were stuck on it, usually serializer or Mirage problems.

Work

[2017-10-22 00:26] BradenLawrence opened #2092 "Confusing variable connection in the block form guide"
I was working through the Super Rentals app and got confused during the section explaining [block components](https://guides.emberjs.com/v2.16.0/tutorial/autocomplete-component/).  I had a hard time seeing the connection between the variables in the following two files:

`// app/templates/rentals.hbs`
`{{#list-filter filter=(action 'filterByCity') as |rentals|}}`
`...`
`{{/list-filter}}`
and
`// a

[2017-10-24 03:12] acorncom commented on #2092
Hey @BradenLawrence, sorry to hear about the mixup.  Yes, a PR for that sounds great. If you wouldn't mind sending a corresponding PR to https://github.com/ember-learn/super-rentals we'll get those merged together to keep things in sync ...

[2017-10-26 17:13] jciskey opened #2095 "Services and Utilities Guide Compiles with Errors"
When working through the Services and Utilities guide in the Ember tutorial, the code provided for app/services/maps.js produces compilation errors:

This originates with the line:

`    let camelizedLocation = Ember.String.camelize(location);`

[2017-10-26 23:25] #2095 closed

[2017-10-27 00:47] 6button9 opened #2097 "Ember Fixture or Mock Data"
I have tried and tried and tried, but cannot get the Mock or Fixture data to work with Ember Data. Could someone please provide an up to date and complete example.

Please use:
  Routes
  Models
  Controllers
  and Ember CLI

It appears that ember-data is changing faster than the documentation.

Thanks,
John Sutton

[2017-10-27 05:11] toddjordan commented on #2082
the link in question should work now.

[2017-10-27 05:11] #2082 closed

[2017-10-28 01:37] robwelan opened #2102 "New tutorial environment acceptance test fail"
I am on this page:
https://guides.emberjs.com/v2.16.0/tutorial/acceptance-test/

I get to this instruction and run it:
Now run your test suite with the CLI command, ember test --server.

And instead of getting passed tests, I get this, plus

Error:

Source: | at Module.callback (http://localhost:7357/assets/tests.js:8:19)     at Module.exports (http://localhost:7357/assets/vendor.js:111:32)     at

[2017-10-28 01:52] robwelan commented on #2102
Sorry: error was between chair and keyboard. I misread the instructions in the '/tests/acceptance/list-rentals-test.js' box, and I neglected to remove '{{welcome-page}}' on an earlier page.

[2017-10-28 01:52] #2102 closed

[2017-10-29 19:56] MelSumner opened #2104 "Guides footer does not match rest of website"
**Expected:**
the footer for the emberjs.com website should be consistent throughout all of the pages.

**Actual:**
The footer for the guides does not match the footer for the rest of the website.

**To fix:**
Update the footer for the guides so it matches the footer for the rest of the website.

**Screenshot:**
The rest of the website:
![image](https://user-images.githubusercontent.com/4587451/32

[2017-11-07 19:25] EndangeredMassa commented on #1105
Can this be closed? It appears to have been resolved by: https://github.com/emberjs/guides/pull/1943

[2017-11-07 19:37] staceyastewart opened #2120 "Forward slash not able to be escaped"
There are places within the tutorial that have forward slashes not being escaped, which is causing incorrect syntax highlighting and incorrect line add highlighting. This page under the integration tests has examples:  https://guides.emberjs.com/v2.16.0/tutorial/autocomplete-component/

This is an example of the line add highlighting being incorrect (from the forward slash in line 31):

![image](h

[2017-11-09 00:25] skitterm opened #2122 "Guides site down"
The "guides" portion of the Ember website has been down for a few hours. Here's what I see when going to the site on Firefox:

![screenshot](https://user-images.githubusercontent.com/5875149/32581981-470f137e-c4a1-11e7-9412-12ca8d9cc897.PNG)

[2017-11-09 06:09] locks commented on #2122
Thanks for reporting. I cannot reproduce this now, and I was using the Guides late last night without any issues, so I'm unsure what might be happening here.
Can you provide more info on why the certificate is invalid?

[2017-11-10 16:17] staceyastewart opened #2125 "Test section of Tutorial does not show how many tests fail"
Within the testing section of the Services page, it does not tell the user how many tests will still be failing, as it does on the other pages of the guides. https://guides.emberjs.com/v2.16.0/tutorial/service/

[2017-11-19 18:24] BradenLawrence commented on #2092
Hey @acorncom,
I've opened two PRs to address this:
Guides: https://github.com/emberjs/guides/pull/2134
Super-rentals: https://github.com/ember-learn/super-rentals/pull/82
Let me know if you have any questions!

[2017-11-21 01:02] skitterm commented on #2122
After being fine for awhile, it's been down again for me now for the past 2 hours.
![capture](https://user-images.githubusercontent.com/5875149/33045828-216b9a0a-ce03-11e7-9ec6-2ad94b987147.PNG)

[2017-11-21 01:04] locks commented on #2122
Do you have problems with other websites? DNS issues, corporate firewall/blocker? I still can't reproduce :/

[2017-11-21 01:10] skitterm commented on #2122
Other sites come thru fine for me.

I do get the "i" icon in the URL bar which, when clicked on, says "connection is not secure", and on viewing more info, gives this message:

![issue](https://user-images.githubusercontent.com/5875149/33049536-753699b6-ce15-11e7-8446-c40dd8600c94.PNG)

Ember js [homepage](https://www.emberjs.com/) loads fine and has the green lock icon in the URL bar.

[2017-11-21 05:07] acorncom commented on #2122
@skitterm we use Netlify for hosting the guides pages but Heroku for the main website. Do you have the same trouble when visiting https://www.netlify.com/ ? Could you give us any additional details on OS version? Do you have the same troubles with other browsers? What version of Firefox are you using?

Would love to help track things down, so any/all info you can give us would be greatly appreciat

[2017-11-21 23:59] skitterm commented on #2122
I am able to see the netlify site just fine (though the guides are back up, so I'll check that site the next time they're down).

I've seen the problem on Chrome 63 and Firefox 57, both on Windows 8.1.

[2017-11-22 17:14] skitterm commented on #2122
The guides is down again; I went to netlify and that site is also down for me.

[2017-11-22 17:17] skitterm commented on #2122
Here's the message on IE:
![iemessage](https://user-images.githubusercontent.com/5875149/33140777-d1d13efa-cf65-11e7-93c8-ff39e6f59004.PNG)

I'm getting the guides on my phone, so for me it's just a desktop issue.

[2017-11-24 11:38] Azadrum commented on #2003
I was following the tutorial and couldnt set google maps api key as stated in the tutorials.
While searching for a solution, I came accross this issue. So would like to share my solution here.

On windows I managed to add process variables with [ember-cli-dotenv](https://github.com/fivetanley/ember-cli-dotenv) addon.

Install add on by "ember install ember-cli-dotenv" then
create a file named ".en

[2017-11-24 21:32] gossi opened #2135 "document hasBlockParams"
For components, they have two "magical" variables: `hasBlock` and `hasBlockParams`:

https://github.com/emberjs/ember.js/blob/2f32bf3fd7981d05dda4bac5c2a7c680c676d265/packages/ember-template-compiler/lib/plugins/transform-has-block-syntax.js#L23-L24

Unfortunately, only the `hasBlock` variable is documented (https://guides.emberjs.com/v2.16.0/components/block-params/) but not the `hasBlockParams`

[2017-11-27 12:24] locks commented on #2135
Hi, thanks for raising this issue. Are you able to send over a PR trying to address it?

[2017-11-27 14:02] rwjblue commented on #2135
FWIW, these are supposed to be template helpers not "properties" (as mentioned in the guides for `hasBlock`). They should also be dasherized...

I submitted https://github.com/emberjs/guides/pull/2136 to fix the reference you linked to above...

[2017-11-28 12:07] nicosmaris commented on #2003
I would vote for a crossplatform solution like ember-cli-dotenv.

Also, to avoid getting [this](https://developers.google.com/maps/documentation/javascript/error-messages#retired-version) error, you need also to find [a recent version](https://developers.google.com/maps/documentation/javascript/releases) and do the following:
[code]

[2017-12-01 22:39] williamhaley commented on #1665
@toddjordan I believe I have the appropriate screenshot for the "Services and Utilities" section in this PR https://github.com/emberjs/guides/pull/2129

Please let me know if this is wrong, or if there are any other updates I can make to help out with this issue. Thanks!

[2017-12-04 09:07] locks opened #2140 "Document Router service"

[2017-12-05 16:21] MelSumner commented on #2122
I can't reproduce this issue. @skitterm is this still an issue for you?

[2017-12-05 17:48] skitterm commented on #2122
It is right now... hasn't been for a few days, until now. I can't see netlify site either.

Feel free to close if I'm the only one seeing this :)

[2017-12-06 05:24] #2091 closed

[2017-12-06 05:25] jenweber commented on #2091
closed with https://github.com/emberjs/guides/pull/2139#pullrequestreview-81418793 and https://github.com/ember-learn/super-rentals/pull/84

[2017-12-06 05:49] jenweber opened #2142 "Need a better color scheme for coderay blocks"
_It burns us, precious._

There are three background colors needed: standard, removed code, and added code. The end result should have accessible contrast between each color and with the text, which I suspect will also require changing the syntax highlighting.

Anyone who wants to help, consider starting with playing around in dev tools css and posting screenshots, as a first step, before opening

[2017-12-06 14:08] MelSumner commented on #2142
@jenweber I'd like to resolve this in the styleguide and then create a new issue to implement that would be good for new contributors. Does that sound okay?

[2017-12-06 14:58] jenweber commented on #2142
@MelSumner sounds great! Feel free to close this or edit my post. I'll remove the labels for now

[2017-12-08 06:00] acorncom commented on #2122
@skitterm one last question, but then yes, we may end up needing to close this. Are you running into this at your work? Do you happen to see the same issues elsewhere?  Is it just one desktop you're seeing it on or do you find it's a problem with multiple machines you use regularly in different places?  Sounds like it could be a network / corporate environment issue of some kind ...

[2017-12-08 12:01] gossi opened #2143 "Guide for developing addons"
Hey,

I'm in the midst of developing my first addon. When searching for resources that help you get the job done, it is mostly the section on https://ember-cli.com/extending/#developing-addons-and-blueprints that helps you get started... somehow. First, it is a bit chaotic, I must say. It could be a sectioned a bit better and probably included on ember guides instead of ember-cli documentation? Se

[2017-12-08 17:14] skitterm commented on #2122
I am seeing this at work. Once when it was down on my work workstation, I looked at the guides on my phone and they showed up. Presumably I was on a different network.

Looks like it's a combination of Netlify and the internal network (I've never noticed this issue accessing other sites from work).

[2017-12-11 04:19] acorncom commented on #2097
hey @6button9, was running over issues and noticed we hadn't responded to this one. Do you have more info on where you were having trouble?  Were you having issues putting mock/fixture data in for tests or was this more for developing your setup initially?

We generally recommend that folks use Ember-CLI-Mirage (which is why it is in the tutorial) as it makes setting up fixture data pretty easy wi

[2017-12-11 04:43] jenweber commented on #2143
Hey @gossi, thanks for writing up your thoughts! We've discussed some similar ideas in the past. I will bring it up at the next learning team meeting and get some feedback.

If we did move forward, is this something you'd be interested in helping with? The limiting factor is likely volunteer time.

Congrats on writing your first addon!

[2017-12-11 04:44] jenweber commented on #2143
Also I should add that if there are small changes that would help the cli docs be clearer, that might be a good first step to PR them there.

[2017-12-11 11:32] 6button9 commented on #2097
I cannot recall and have moved on. Ember is not for me.

On review, I was trying to initialize data form a DS.store through the route model.

I do greatly appreciate someone replying.

Thank you,
John Sutton

Sent from my iPad

[2017-12-12 14:18] jenweber commented on #2143
Understood. Thanks for taking the time to write this up. It is helpful!

[2017-12-14 18:14] acorncom commented on #2097
Noted on the DS.Store stuff. Sorry to hear Ember wasn't for you, we'd always love to have you give it another try! 😉

I'll close this issue for now

[2017-12-14 18:14] #2097 closed

[2017-12-17 08:30] dopin opened #2144 "Planning Your App page url seems wrong"
Acceptance test 🤔
https://guides.emberjs.com/v2.17.0/tutorial/acceptance-test/

[2017-12-17 08:50] dopin commented on #2144
Oops, it seems OK since the page contains acceptance test.

[2017-12-17 08:50] #2144 closed

[2017-12-23 14:10] codypearce opened #2151 "Code highlighting either extends past codeblock or doesn't cover code"
The code highlighting width either extends past the code block

![extending-past](https://user-images.githubusercontent.com/12564956/34320142-e1ae38e6-e7c0-11e7-8c6b-0280fa996302.png)

![extending-past-2](https://user-images.githubusercontent.com/12564956/34320143-e42bde70-e7c0-11e7-86bf-e6d04fbe489e.png)

or doesn't cover the code it should

![not-covering](https://user-images.githubusercontent.c

[2017-12-26 01:15] jenweber opened #2152 "a11y improvements to the super-rentals tutorial"
I am proposing some a11y-inspired styling changes and additions to the super-rentals app, and need to propagate the changes to the tutorial.

Sister issue to super-rentals https://github.com/ember-learn/super-rentals/issues/86
Related PR in super-rentals https://github.com/ember-learn/super-rentals/pull/87

[2017-12-26 03:27] jenweber commented on #2152
Discussed w/Mel and Locks: including a11y testing in the tutorial itself is maybe too much until we have dedicated beginner/intermediate tutorials. In the interest of not confusing new devs, I'm walking some changes back.

[2017-12-26 20:57] jenweber commented on #2151
@codypearce thanks for reporting!

Looks like `width: 98%` might fix it.

[2017-12-29 11:50] susannakosic opened #2154 "Error "registry error parsing json" creating new quickstart app"
Hi! I m kicking off a pet project using Ember. I m following guidelines described in [getting started](https://guides.emberjs.com/v2.17.0/getting-started/quick-start/).

Dependencies are ok according to [installing ember](https://guides.emberjs.com/v2.17.0/getting-started/):
node v6.12.2
npm v3.10.10
ember-cli: 2.17.2

When I run:
`ember new ember-quickstart`
I get the following error:
`Error crea

[2017-12-30 05:29] jenweber commented on #2154
Hi @susannakosic, sorry to hear you are having trouble. That is not a known issue. Would you try updating your npm installation and let me know if it persists? Thank you!

Also I want to let you know about the Ember Community Slack. You can drop by the #help channel for immediate Q&A if you run into any issues in the future (not just bugs). https://ember-community-slackin.herokuapp.com/

[2017-12-31 05:47] michaelfich commented on #2151
@jenweber I'll take a shot at this one

[2018-01-04 21:04] susannakosic commented on #2154
Hi @jenweber - After installing bower globally the issue disappeared.    :7

[2018-01-05 12:34] jenweber commented on #2154
Glad it's fixed! Thanks for the update.

[2018-01-05 12:34] #2154 closed

[2018-01-05 22:55] Gaurav0 opened #2164 "Tell user to (and how to) remove ember-welcome-page addon"
https://guides.emberjs.com/v2.18.0/tutorial/ember-cli/#toc_the-development-server

talks about removing the welcome page component. We should to tell the user to (and how to) remove the ember-welcome-page addon as well.

[2018-01-05 22:59] Gaurav0 commented on #2009
@rtablada Is having attributes already set in `init` documented anywhere else? It may not be public api.

[2018-01-05 23:54] rtablada commented on #2009
@Gaurav0 thanks for pinging me on this one. This PR has gotten way out of date, but is still needed.

Yeah component initialization is like calling `MyComponent.create(attrs)` in a way.

We shouldn't assume that people reading the component docs know how Ember.Object works.

[2018-01-06 10:16] dopin opened #2166 "Extract the 3 styles of calling helpers from Conditionals"
I think it's hard to expect that the 3 styles of calling helpers is explained in Conditionals page.
So I propose two ideas:

1. Extract the explanation from Conditionals and create a new page.
2. Change the title of Conditionals to show it includes calling helper styles and add headers on each style section.
  - Inline Helper
  - Nested Helper
  - Block Helper

[2018-01-07 13:49] locks commented on #2164
@Gaurav0 the welcome page itself contains instructions how to do it, is that not enough?

[2018-01-07 13:50] locks commented on #2164
We also instruct people on how to remove the component from the template. The addon will be inert if the component is not used, so you're not getting things you don't need in the build.

[2018-01-07 22:55] dopin commented on #2164
I want it be written too. For translation purpose.
Or should the welcome addon be i18n-ed?

[2018-01-08 16:03] Gaurav0 commented on #2164
@locks Am I blind? I don't see any mention of the addon here: https://github.com/ember-cli/ember-welcome-page/blob/master/addon/templates/components/welcome-page.hbs

[2018-01-08 16:07] locks commented on #2164
Ah, we updated the message when we made the addon not include its assets for production builds.

[2018-01-08 16:10] locks opened #2167 "Need to update `welcome-page` screenshots"
The instructions on how to remove the addon have changes since the screenshot:

https://guides.emberjs.com/v2.18.0/tutorial/ember-cli/#toc_the-development-server
https://github.com/ember-cli/ember-welcome-page/blob/master/addon/templates/components/welcome-page.hbs#L18

[2018-01-10 03:44] williamhaley commented on #2167
@locks I created a with a screenshot reflecting the latest text from the welcome component using ember-cli@2.18.0

[2018-01-10 11:30] #2167 closed

[2018-01-10 15:16] myartsev opened #2170 "Reference to Bower in the tutorial's "Creating Your App""
https://guides.emberjs.com/v2.18.0/tutorial/ember-cli/

[2018-01-10 17:42] myartsev opened #2173 "Tutorial: all acceptance tests fail once we use Mirage instead of hardcoded model data"
After the switch to [using Mirage](https://guides.emberjs.com/v2.18.0/tutorial/ember-data/) is complete, all the acceptance tests fail.

![failed_acceptance](https://user-images.githubusercontent.com/4885345/34786895-750b919c-f603-11e7-9078-80fa4575b20c.png)

It appears that there is an extra step required to get Mirage to work in a test environment: http://www.ember-cli-mirage.com/docs/v0.3.x/man

[2018-01-12 04:09] #2170 closed

[2018-01-12 04:09] acorncom commented on #2170
Closed by #2175

[2018-01-15 04:48] jenweber opened #2177 "Update url to the API docs throughout the Guides/Tutorial"
This issue has been solved and is ready for someone to work on!

**Problem:**
Right now, most links in the Guides that point to the API docs have a hard-coded version number in them, like `https://emberjs.com/api/ember/2.16/classes/@ember%2Fapplication/methods/getOwner?anchor=getOwner`. We need to update this, especially while getting ready for 3.0

**Solution:**
Thanks to some recent work in the

[2018-01-16 12:58] locks opened #2178 "Remove test files from tutorial (Ember 3.0)"
From https://github.com/emberjs/guides/pull/2171#issuecomment-357480271:

[2018-01-16 13:01] #531 closed

[2018-01-16 13:02] #944 closed

[2018-01-16 13:05] #1814 closed

[2018-01-16 13:11] locks commented on #1952
I am declaring bankruptcy on this bug 😂  It should be addressed when we move to guides-app, which we are aiming to be soon.
Thank you for reporting!

[2018-01-16 13:11] #1952 closed

[2018-01-16 13:13] locks commented on #2122
I am sorry that you are having this problem, but I am not sure what we could do besides moving to another host :/ I hope you are still able to access the documentation using another browser or similar!

[2018-01-16 13:13] #2122 closed

[2018-01-16 13:18] locks commented on #2009
@rtablada yinz submitting a PR?

[2018-01-16 22:39] myartsev commented on #2173
I understand now. Add-ons need the Ember server to be restarted to include a recently added add-on to the build.

The documentation mentions this and tells you to restart the main ember server `ember s`  but doesn't mention restarting `ember test --serve`.

After this, all the expected acceptance tests pass.

[2018-01-17 16:14] #2173 closed

[2018-01-18 21:19] locks opened #2181 "Introduce top-level Helpers section"
I suggest the current nomenclature:

- Function helpers
- Class helpers

I think there's an interesting parallel to React's components?

[2018-01-21 15:01] MelSumner opened #2185 "Version select element: missing child elements"
**Context:**
Certain ARIA roles are required to have specific child elements, or be contained in specific parent elements.
If the role of "combobox" is present, then other child elements must be present (see screenshot).

**Reference:**
https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/combobox/aria1.1pattern/listbox-combo.html

**Screenshot:**
![image](https://user-images.g

[2018-01-28 19:54] jenweber opened #2194 "simplify tutorial service stubbing example"
The test found [here](https://guides.emberjs.com/v2.18.0/tutorial/service/#toc_stubbing-services-in-acceptance-tests) could be simplified to

[code]

If anyone wants to take this on, they also need to open an issue and PR on the [super-rentals](https://github.com/ember-learn/super-rentals) demo app before a PR to the Guides could be merged. It's probably a good idea to just try it out in Super Ren

[2018-01-28 23:51] jenweber opened #2195 "Update the navbar to match the main website"
See diffs at https://github.com/emberjs/website/pull/3157/files
Can't import all of bootstrap or the styling explodes :(

Current work can be found in `feature/new-header`
![screen shot 2018-01-28 at 6 38 42 pm](https://user-images.githubusercontent.com/16627268/35488804-47aa86ba-045c-11e8-8b92-1a0c9c59b45d.png)

[2018-01-30 20:07] skaterdav85 commented on #2177
anyone working on this? would love to help :)

[2018-02-01 20:24] DavidIValencia opened #2211 "the old guides are not hosted, breaking tons of pages"
please link to the guides for older versions of ember, or at least do something besides providing a 404 for everything that isn't currently online

[2018-02-02 00:31] locks commented on #2211
I am not sure what you are referring to @DavidIValencia, can you provide some examples?

[2018-02-02 00:39] DavidIValencia commented on #2211
Absolutely,

https://guides.emberjs.com/v1.10.0/components/the-component-lifecycle/
^^ coming from the select on this page https://guides.emberjs.com/v2.11.0/components/the-component-lifecycle/

This is the first one off the top of my head, but they definitely exist with some regularity on the site.  I am on an old version in production for my company, so it's a real roadblock when the guides are

[2018-02-02 04:49] jenweber commented on #2211
Hi David, thanks for sharing some details. The guides content has evolved across the years, so some pages that exist for recent versions (like "component lifecycle") simply did not exist in older versions of the guides. Likewise, some pages you'll find in older versions are not present later down the road.

The search bar results are versioned, so I recommend choosing 1.10 from the dropdown and us

[2018-02-02 04:50] jenweber commented on #2195
closed with https://github.com/emberjs/guides/pull/2198

[2018-02-02 04:50] #2195 closed

[2018-02-02 05:42] jenweber commented on #2211
Actually, one more clarifying question. Are you saying that you would prefer that you get redirected to the home page of 1.10 instead of a 404, for example? @DavidIValencia

[2018-02-02 21:16] DavidIValencia commented on #2211
Hi Jen,

Yeah, that's what I was referring to more so than some sort of backfill of the old guides.  I find it pretty jarring and not that helpful to be redirected to a 404 from a select that gives me the option of viewing the 1.10 version of the guides.  A message and a redirect to the 1.10 guides seems like a good in between to me, something like "this part of the guides does not clearly exist i

[2018-02-04 23:58] jenweber opened #2215 "stack level too deep on `bundle exec middleman`"
[code]

Replicated locally (mac) and on a cloud9 instance. Using `rbenv`.

[2018-02-10 18:43] #2194 closed

[2018-02-14 14:16] villander opened #2223 "How do I import an npm module whatever"
how do I import an npm module whatever (AMD, commonJS, UMD) in ember-cli?

We should better document this, and ensure the community's ergonomics by putting a third-party library in your app, and adding that into an addon (which is even more painful)

[2018-02-14 20:13] Turbo87 opened #2226 ""Custom Test Helpers" sections is outdated"
https://guides.emberjs.com/v3.0.0/testing/acceptance/#toc_custom-test-helpers should be removed and/or replaced with a guide on how to write an async function that combines several of the other existing helpers like `fillIn()` and `click()`

we should also check if the list in the "Synchronous Helpers" section is still up-to-date.

[2018-02-15 18:45] Turbo87 commented on #2226
/cc @jessica-jordan

[2018-02-17 11:08] Meshimages opened #2233 "404 on `Application Tests`"
currently a visit on https://guides.emberjs.com/v3.0.0/acceptance – found as **Application Tests** on https://guides.emberjs.com/v3.0.0/testing/ returns as a 404

[2018-02-17 11:08] #2233 closed

[2018-02-17 11:09] chris-aeviator opened #2234 "404 on Application Tests"
currently a visit on https://guides.emberjs.com/v3.0.0/acceptance – found as **Application Tests** on https://guides.emberjs.com/v3.0.0/testing/ returns as a 404

[2018-02-18 02:46] jenweber commented on #2234
Thanks for reporting, Chris!

If any contributors want to help out, the link to fix is on [this page in the guides](https://guides.emberjs.com/v3.0.0/testing/) and [this file in the GitHub repo](https://github.com/emberjs/guides/blob/master/source/testing/index.md):

It should be changed to `https://guides.emberjs.com/current/testing/acceptance/` (not sure about the trailing slash - check to see h

[2018-02-19 08:27] acorncom commented on #2215
@jenweber if you shift to Ruby 2.2 do you still hit this problem? It's working fine on my end when doing so ...

[2018-02-20 08:04] #2234 closed

[2018-02-21 05:34] coreycondardo opened #2239 "Tutorial tests are inaccurate with 3.x release"
I've just started learning ember and am currently going through the guides. The testing sections have a lot of inaccuracies with the move to 3.x and the changes with tests. I believe it would be worth going through all of them in the tutorial and updating to align to the changes made.

[2018-02-21 05:35] coreycondardo commented on #2239
If this is true (I think it's true, I'm so new I could be completely wrong!), once I finish going through the tutorial I can try to put up a PR to correct the issues I've found.

[2018-02-25 04:24] jenweber commented on #2239
Hi @coreycondardo can you share a link or two to parts that you think are outdated? A new testing API landed in Ember 3.x, so we almost certainly still have some cleanup to do. Thanks for dropping by to report! Also as you're learning Ember, if you need any help, check out the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) #help channel. You can find the Guides contributor

[2018-02-25 05:39] jenweber commented on #2215
@acorncom yes it seems to work for 2.2.2. Did you have issues with 2.4.3 as well or is it just me? If it worked, can you or @locks do bundle install, try to run it, and post your specs if it works? I'm wondering if you have older versions of dependencies hanging around, old-school-npm-style.

I removed all gems, reinstalled, then tried 2.4.3 and still got the same error.

Specs:
- Mac OS 10
- rben

[2018-02-25 05:40] jenweber commented on #2215
Also I don't know why I didn't post this earlier, but I get an infinite loop of this error:

[2018-02-25 06:10] jenweber commented on #2215
I blindly updated a bunch of dependencies and it seems to work now. Will PR. Disclaimer, I have no idea what I'm doing.

[2018-02-25 18:55] pbishop16 commented on #2223
@villander For now, this section in the ember-cli guides should provide you most of what you are looking for:
 [ember-cli User-guide: Managing Dependencies](https://ember-cli.com/user-guide/#managing-dependencies)

[2018-02-25 18:58] villander commented on #2223
No! You are mistaken. It is not very clear how to import npm modules be they AMD, CMJ and etc in ember apps. And even modules made in TS.

We had a long discussion on slack and then we decided to open this issue with the @Turbo87

[2018-02-25 23:16] pbishop16 commented on #2223
@villander Ah, okay understood. Thanks for the feedback. I will standby for further insight.

[2018-02-25 23:41] jtrees commented on #2239
This is just one example of many but the code fragment [here](https://github.com/emberjs/guides/blob/a9719c03e58125c095940856c7ef84965428e305/source/tutorial/service.md) (roughly line 267) has some issues:

* Uses `moduleFor` instead of `module` (unlike the default generator output)
* Doesn't use the nested test structure (with the second argument to `module`)
* `this.subject` doesn't work anymore

[2018-03-03 12:22] alecha commented on #2239
Agree. Another thing that we can update is the use of async/await

[2018-03-03 21:56] #2226 closed

[2018-03-06 06:18] ef4 opened #2255 "Broken link to search icon"
The search icon that is supposed to appear in the header has a broken link.

Right now it points at https://guides.emberjs.com/images/search-icon.svg

Instead, the real image is available at https://guides.emberjs.com/v3.0.0/images/search-icon.svg (and other versioned paths).

This may be a good new contributor issue.

[2018-03-06 19:50] KevinK1507 opened #2256 "Examples for creating Records"
written at https://guides.emberjs.com/v3.0.0/models/relationships/ this is not working:

[code]

the following example also didnt work for me also when the record is saved:
[code]

I think that there should be at least an .save() at the end for a full example and for users who want to copy and paste and try it out.

I also find out that the following doesn't work

[code]

=========================

[2018-03-06 21:47] #2256 closed

[2018-03-07 16:08] toddjordan commented on #2239
Fixed.

[2018-03-07 16:08] #2239 closed

[2018-03-08 00:20] JacobMimsy commented on #2255
Hey, I'd love to do this for you!

[2018-03-08 04:35] jenweber commented on #2215
closed with #2249

[2018-03-08 04:35] #2215 closed

[2018-03-08 04:37] jenweber opened #2259 "Components page doesn't say what a component is for"
Currently, the [component section of the Guides](https://guides.emberjs.com/v3.0.0/components/defining-a-component/) does not fully express what a component is or is used for.

A very short (3 sentences or less) description of what a component is should be added to the beginning of the above section of the Guides.

Check through the [Super Rentals Tutorial](https://guides.emberjs.com/v3.0.0/tutori

[2018-03-08 04:47] jenweber opened #2260 "Tutorial should mention Ember Observer"
In places like the deploying section, we should be mentioning looking at Ember Observer to find addons that help. There may be multiple places that it should be mentioned.

Note, this issue is set aside for the EmberConf contributors workshop on 3/12. If it's not claimed by the end of that day, feel free to grab it!

[2018-03-08 04:50] jenweber opened #2261 "Need to explain what a hook is"
In the Guides, we talk about `hooks` [here](https://guides.emberjs.com/v3.0.0/routing/specifying-a-routes-model/), [here](https://guides.emberjs.com/v3.0.0/tutorial/model-hook/) and [here](https://guides.emberjs.com/v3.0.0/components/the-component-lifecycle/), but new developers are often not familiar with this term.

Find where `hook` is mentioned in the Guides and Super Rentals tutorial, pick th

[2018-03-08 04:52] jenweber opened #2262 "Give example of generating nested/dynamic segment using Ember CLI"
https://guides.emberjs.com/v3.0.0/routing/defining-your-routes/#toc_dynamic-segments

Here, we talk about dynamic segments but don't say how to create the necessary files and router entry. If you try to do it by hand, it's a bad time. Add an example ember cli command to this section of the guides.

_Note, this issue is set aside for the EmberConf contributors workshop on 3/12. If it's not claimed

[2018-03-08 04:55] jenweber opened #2263 "Computed properties need a clearer warning about when they get updated"
https://guides.emberjs.com/v3.0.0/object-model/computed-properties/

Computed properties need a clearer warning that they only get updated when you call them or when they are being used in the markdown of an active template. This has probably bitten every Ember developer. Check this section over and see if it needs something stronger/clearer.

_Note, this issue is set aside for the EmberConf contr

[2018-03-08 05:00] jenweber opened #2264 "Add a section on promises to the JS primer"
https://guides.emberjs.com/v3.0.0/getting-started/js-primer/

Promises are an important part of Ember, but they aren't a "beginner" JS concept. We need to add a section that explains how to use them in the context of Ember. You can't get too in the weeds - a dev needs to do their own research into JS basics - but we can't just assume that people will catch on quickly. The explanation should be sim

[2018-03-10 14:55] jenweber opened #2266 "Give an example for controller usage"
There's not much on https://guides.emberjs.com/v3.0.0/controllers/

Consider adding something about query params and a reference to the documentation. Make it explicit that the variables/attributes declared on a controller are available to the route template. Try to help someone new understand, where and when should I use a Controller?

[2018-03-10 15:01] jenweber opened #2267 "Make first paragraph of custom adapters more beginner friendly"
The most common beginner use for a custom adapter is specifying namespace and host. Make that clear.

Also this paragraph could be restated in plainer language, like "If you create an adapter named application with `ember generate adapter application`, it will be used as the default adapter for the entire app. If a model in your application needs different configuration...."

[code]

[2018-03-12 02:09] algo74 opened #2272 "In ember tutorials: acceptance tests now fail after Mirage is added"
Mirage does not start by default during tests.

I had to add `setupMirage(hooks);` to make it work again

some helpful info: https://stackoverflow.com/questions/49215315/mirage-responds-404-on-acceptances-tests

[2018-03-12 04:54] toddjordan commented on #2272
Good catch... The tutorial was made with 0.4.1, which worked as is, but it looks like 0.4.2 requires the extra call.

[2018-03-12 16:57] locks opened #2273 "Explain `.[]` before `.@each` in "Computed Properties and Aggregate Data""
Guide: https://guides.emberjs.com/v3.0.0/object-model/computed-properties-and-aggregate-data/

This guide explains `@each`, and then compares it to `[]` but there is no explanation of what `[]` is, making the property confusing.
There are also many cases where `[]` is the appropriate API to use, but people only know about `@each`.

[2018-03-12 17:38] AshlenPrice commented on #2259
I think I'll take a stab at this.

[2018-03-13 01:02] Bestra commented on #2273
I'll plan on picking this up some time this week, but if anyone else is burning to take it from me let me know!

[2018-03-13 01:02] Bestra commented on #2263
I'll pick this up.

[2018-03-13 01:37] #2267 closed

[2018-03-13 18:40] acorncom opened #2278 "[Tutorial] autocomplete component example documentation bug"
From https://github.com/emberjs/ember.js/issues/16369

[2018-03-13 18:44] acorncom opened #2279 "[Tutorial] this.on referent does not exist"
From https://github.com/emberjs/ember.js/issues/16370
/cc @rayascott

[2018-03-13 18:47] acorncom opened #2280 "[Tutorial] Tests Fail With 404 on /api/rentals after Ember Data step"
Migrated from https://github.com/emberjs/ember.js/issues/16368

I've been following the official Ember tutorial and have been writing the recommended tests along with the app code. After completing the Ember Data step I noticed that all of my acceptance tests were failing with a 404 on the GET request to /api/rentals. I am not seeing this issue with the app code however. The rentals display correc

[2018-03-13 18:48] acorncom opened #2281 "[Tutorial] Integration test fails on triggerKeyEvent()"
Migrating from https://github.com/emberjs/ember.js/issues/16371

[2018-03-13 18:52] acorncom commented on #2280
@rayascott This sounds like you may not have made the changes to `mirage/config.js` mentioned in this section? https://guides.emberjs.com/v3.0.0/tutorial/installing-addons/#toc_ember-cli-mirage

That setup should indeed work ...

If you find you're still hitting snags, we'd love to get you unstuck. We find that it's sometimes more satisfying to get these snags worked out in realtime. If that'd be

[2018-03-13 23:11] jenweber commented on #2255
Hi @JacobMimsy and @azanbertre, looks like you both might be working on this issue separately. Heads up in case you'd like to work together. There's a PR here: https://github.com/emberjs/guides/pull/2265

[2018-03-13 23:12] jenweber commented on #2259
closed via PR #2275

[2018-03-13 23:12] #2259 closed

[2018-03-14 07:40] sivakumar-kailasam opened #2284 "Link to lookup API"
In our guides for [testing controllers](https://guides.emberjs.com/v3.0.0/testing/testing-controllers/), we mention the lookup API but it might leave the user with the sense of not knowing what it is. Also this is probably the first time users are reading about this while going through the guides. It'd probably be helpful to link to https://emberjs.com/api/ember/release/classes/ApplicationInstance

[2018-03-14 08:33] rayascott commented on #2280
@acorncom I have indeed made the changes to `mirage/config.js`, in the add-ons step, so not sure why this is happening. I'll join in the Slack community, when I can. Thanks!

[2018-03-14 23:37] toddjordan commented on #2281
I think this may have been fixed by #2269 and #2271 .
@rayascott can you confirm?

[2018-03-14 23:46] toddjordan commented on #2280
Hi @rayascott one thing I find useful is looking at the official super rentals repo here: https://github.com/emberjs/guides/pull/2269

One known issue is that mirage came out with version 0.4.2 requiring you to call setupMirage in your test. https://github.com/samselikoff/ember-cli-mirage/releases/tag/v0.4.2

See #2272. We will fix this as soon as we can, but until then you can work around by inst

[2018-03-17 00:15] toddjordan commented on #2280
Issued a PR to update the text around mirage setup: #2290

[2018-03-17 01:14] acorncom commented on #2272
Fixed by #2290

[2018-03-17 01:14] #2272 closed

[2018-03-17 01:14] acorncom commented on #2280
Fixed by #2290

[2018-03-17 01:14] #2280 closed

[2018-03-17 01:21] jasonworden commented on #2261
@jenweber @locks Can we close this issue now that the PR is merged? :)))

[2018-03-17 03:33] acorncom commented on #2261
@jasonworden sure can, thanks! 😀

[2018-03-17 03:33] #2261 closed

[2018-03-17 17:58] sbatson5 opened #2291 "Brace expansion on non-nested properties?"
I was looking at the guides for computed properties and saw the section talking about brace expansion for dependent keys.  The example shown is:

[code]

I had always thought it was bad practice to do brace expansion on `this`.  I.e.
`person.{firstName,lastName}` would be fine but `{firstName,lastName}` isn't.  I feel like otherwise, you would never _not_ use brace expansion.  You could do things

[2018-03-17 21:55] acorncom commented on #2291
@sbatson5 I would tend to concur. Would you mind sending in a PR and we’ll fix it?

[2018-03-17 21:56] acorncom commented on #2279
Closed by #2286

[2018-03-17 21:56] #2279 closed

[2018-03-17 21:56] acorncom commented on #2273
Closed by #2282

[2018-03-17 21:56] #2273 closed

[2018-03-17 21:58] acorncom opened #2293 "Update core concepts diagram"
It might be worth improving the high level diagram shown on the core concepts page to explain more clearly the greater Ember app lifecycle. Details on some confusion on this can be seen here ... https://stackoverflow.com/q/48887818/334913

[2018-03-17 22:00] #2263 closed

[2018-03-17 23:15] sbatson5 commented on #2291
PR here: https://github.com/emberjs/guides/pull/2294 @acorncom

[2018-03-19 09:46] #2291 closed

[2018-03-20 04:18] rickypowell opened #2297 "More clear polymorphism example code"
As I was reading through [Models: Relationships Polymorphism](https://guides.emberjs.com/v3.0.0/models/relationships/#toc_polymorphism) section, I noticed that the `app/models/payment-method-cc.js` is missing the `last4: DS.attr()` declaration. The immediate following example, `app/models/payment-method-paypal.js`, there is the `linkedEmail: DS.attr()`. This is an error in the code example because

[2018-03-21 03:41] jenweber commented on #2297
Closed with #2298

Thanks!!!

[2018-03-21 03:41] #2297 closed

[2018-03-22 12:23] locks opened #2303 "Update the guides to remove usage of `.get`"
In Ember v3.1.0, you can now omit `.get` to retrieve computed properties.

## Tasks
- [ ] Update code samples to remove `.get` where that is possible
- [ ] Explain the situations where `.get` is still required in "The Object Model"
- [ ] Run the codemod in https://github.com/ember-learn/super-rentals and make sure code snippets in the Guides match

[2018-03-22 12:29] locks opened #2304 "Document "Optional Features""
With the release of Ember v3.1.0, we will be able to use optional features, as explained in https://emberjs.com/blog/2018/02/16/ember-3-1-beta-released.html#toc_introducing-optional-features.
A new "Optional Features" guide should be added after "Configuring Ember.js > Feature Flags", so developers know how to toggle these features on and off.

[2018-03-23 03:55] jenweber opened #2306 "Make it clearer where actions can be passed & used"
[This page](https://guides.emberjs.com/v3.0.0/templates/actions/) in the guides talks about actions, but doesn't cover some major gotchas around where actions should be put and where they can be passed.

Examples:
- An action defined in a controller _can_ be passed to a route's child components
- An action in the route's js _can't_ be passed to a child component
- An action in a route js can be us

[2018-03-23 03:57] jenweber opened #2307 "creating records with relationships needs more detail"
The explanation for creating belongsTo/HasMany records is [a bit sparse](https://guides.emberjs.com/v3.0.0/models/relationships/#toc_creating-records). Could use more detail about the order the records need to be created in and how they're being associated.

[2018-03-23 18:30] locks opened #2308 "Document {{let}} helper as a built-in helper"

[2018-03-27 17:11] #2017 closed

[2018-04-03 13:24] karan-pathak commented on #2264
Hi @jenweber, here's the first draft https://github.com/emberjs/guides/pull/2317. I would love to know your thoughts on it :)

[2018-04-03 14:58] chrisrng commented on #2284
@sivakumar-kailasam I added a link to the testing index under https://github.com/emberjs/guides/pull/2316 – not sure if thats good enough to close this?

[2018-04-04 15:25] karan-pathak commented on #2307
@jenweber I restructured the documentation and added some things in https://github.com/emberjs/guides/pull/2318, dont know for sure if this is what you wanted.

[2018-04-05 15:36] jal90 opened #2319 "Off by 1 error in object-model/computed-properties-and-aggregate-data/"
The following block of code suggests that Ember starts indexing at 1, which isn't the case:

[code]

The string interpolation should have index+1, or hamster.get('excitingChores') should log CHORE 0: CLEAN!

[2018-04-05 19:40] karan-pathak commented on #2104
@MelSumner, I have updated the footer in https://github.com/emberjs/guides/pull/2320. Please take a look.

[2018-04-08 19:47] sbatson5 commented on #2306
Hi @jenweber 👋 .  I wouldn't mind taking a stab at this.  There is a lot to unpack when it comes to actions, however.  Would it make sense to split some of this up? For instance, perhaps moving some controller specific pieces to the controllers section?  There should also be some room for explaining what the action helper is doing for us (i.e. setting the context of the function).  It just feels l

[2018-04-08 20:08] jenweber commented on #2306
@sbatson I agree that it’s a bigger issue than one section. I recommend separate PRs so that changes are easier to review. But you can drop some ideas here in this issue for brainstorming

[2018-04-10 14:03] payne-chris-r commented on #2009
+1

[2018-04-13 20:06] curgery commented on #1554
Thank you Mr. Jordan......
RLG

[2018-04-15 20:33] #2307 closed

[2018-04-15 20:34] jenweber commented on #2307
Closed with #2318 😄

[2018-04-18 03:32] runspired commented on #2023
Seems like this is still needed.

[2018-04-21 11:53] yawboakye commented on #2319
@jal90 You got that spot on. It's also your opportunity to contribute to Ember :grinning: Do you want to follow it up with a PR?

[2018-04-23 19:13] jal90 commented on #2319
Submitted my pull request, awaiting review

[2018-04-23 19:13] #2319 closed

[2018-04-24 11:04] kennethlarsen commented on #2308
@locks I can help out with this. Should it just be added to this section https://guides.emberjs.com/v3.1.0/templates/built-in-helpers/ ?

[2018-05-11 03:05] jenweber opened #2343 "NOTICE - THIS REPOSITORY IS DEPRECATED"
From the README:

# **Notice:** This repository is deprecated

We have been working hard to make it much easier to contribute to the Ember Guides over the last 6 months. As part of this process we have re-architected the Ember Guides so they are now a fully-fledged Ember application 🎉

What does this mean right now? At the time of writing we have not swapped over to the new structure but we want t

[2018-05-15 11:56] acorncom commented on #2151
Closed by #2159

[2018-05-15 11:56] #2151 closed

[2018-05-15 11:59] acorncom commented on #1561
Handled by the shift to the new guides Ember app

[2018-05-15 11:59] #1561 closed

[2018-05-15 12:00] acorncom commented on #2092
Closed by #2134

[2018-05-23 08:27] locks commented on #2308
Addressed by https://github.com/ember-learn/guides-source/pull/49.

[2018-05-23 08:27] #2308 closed